<mat-card class="m-card">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Manage Billing</div>
        <span class="spacer"></span>
        <button mat-mini-fab [routerLink]="['/subscriber/new-billing/']" routerLinkActive="router-link-active"
            [ngClass]="{'hide-mobile': !isMobile, 'floating-btn': isMobile}" class="add-user">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-t-3 m-b-0">
        <div class="table-filter">
            <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterValue"
                placeholder="Search by name, number">
        </div>
        <span class="spacer"></span>
        <button mat-icon-button class="filter-icon p-t-0 m-t-10" [matMenuTriggerFor]="filter">
            <mat-icon mat-icon-button aria-hidden="false" material-icons aria-label="home icon">filter_list</mat-icon>
        </button>
        <mat-menu #filter="matMenu">
            <mat-list>
                <mat-list-item>
                    <mat-checkbox>All</mat-checkbox>
                </mat-list-item>
                <mat-list-item>
                    <mat-checkbox>Paid</mat-checkbox>
                </mat-list-item>

                <mat-list-item>
                    <mat-checkbox>Partially Paid</mat-checkbox>
                </mat-list-item>

                <mat-list-item>
                    <mat-checkbox>Rejected</mat-checkbox>
                </mat-list-item>
            </mat-list>
        </mat-menu>
        <div class="basic-table billing_list">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- bill_no Column -->
                <ng-container matColumnDef="bill_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill # </th>
                    <td mat-cell *matCellDef="let row"> {{row.bill_no}} </td>
                </ng-container>

                <!-- claim_no Column -->
                <ng-container matColumnDef="claim_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim # </th>
                    <td mat-cell *matCellDef="let row"> {{row.claim_id}} </td>
                </ng-container>

                <!-- claimant_name Column -->
                <ng-container matColumnDef="claimant_first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Claimant Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.claimant_first_name}} </td>
                </ng-container>

                <!-- examinar Column -->
                <ng-container matColumnDef="examiner_first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Examinar </th>
                    <td mat-cell *matCellDef="let row"> {{row.examiner_first_name}} </td>
                </ng-container>

                <ng-container matColumnDef="paid_amt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bill Total </th>
                    <td mat-cell *matCellDef="let row"> {{row.paid_amt}} </td>
                </ng-container>

                <ng-container matColumnDef="bill_paid_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row"> <span [ngClass]="{
                        'paid': row.bill_paid_status === 'Paid',
                        'par_paid': row.bill_paid_status === 'Partially Paid',
                        'rejected': row.bill_paid_status === 'Rejected'
                      }">{{row.status}}</span> </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-icon class="edit-user" matTooltip="Edit {{row.claimant_first_name}} "
                            matTooltipPosition="right">
                            edit</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [routerLink]="['/subscriber/edit-billing/']">
                </tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </mat-card-content>
</mat-card>