<mat-card class="m-card">
    <!-- <mat-card-header>
        <div class="content-wrapper-main-title p-t-10">Service Location</div>
        <span class="spacer"></span>
        <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary"
            [routerLink]="['/subscriber/location/new-location']" routerLinkActive="router-link-active">
            <mat-icon>add</mat-icon>
        </button>
        <div class="add-new">
            <button mat-stroked-button class="outline-success" [routerLink]="[router.url +'/add-location']"
                routerLinkActive="router-link-active">
                Add New Location
            </button>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider> -->
    <mat-card-content>

        <div class="table-filter">
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="Search by Location Name, address, etc.">
            <mat-icon>search</mat-icon>
        </div>
        <span class="custom-info regulation gap" (click)="openPopup(regulation?.regulationsForServiceLocation?.title, regulation?.regulationsForServiceLocation?.codes)"><i class="material-icons-outlined">info</i><sup>Regulations</sup></span>
        <span class="spacer"></span>
        <button mat-stroked-button class="outline-success float-right" [routerLink]="[router.url +'/add-location']"
            routerLinkActive="router-link-active">
            Add New Location
        </button>
        <div class="user-detail">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table"
                matSort>
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">
                        {{columnName[i]}} </th>
                    <td mat-cell *matCellDef="let element" (click)="!isMobile ? editAddress(element) : ''">
                        <span *ngIf="i == 0 && isMobile">
                            <mat-icon (click)="openElement(element)" mat-raised-button
                                [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                            </mat-icon>
                        </span>
                        <span *ngIf="column == 'service_location_name'">{{element.service_location_name}}</span>
                        <span *ngIf="column == 'street1'">{{element.street1}} {{element.street2}} {{element.city}}
                            {{element.state_code}} - {{element.zip_code}}</span>
                        <span *ngIf="column == 'service'">{{element?.service_code}}{{element?.service_name ? ' -
                            '+element?.service_name : ''}}</span>
                        <span *ngIf="column == 'primary_contact_phone'" class="no-wrap-td">{{element?.primary_contact_phone ?
                            (element?.primary_contact_phone | mask:'(000) 000-0000') : '' }} {{element?.phone_ext1 ?
                            "Ext: "+element?.phone_ext1 : "" }}</span>
                        <span *ngIf="column == 'examiner_name'">
                            <span
                                *ngIf="element?.examiner && element?.examiner?.length == 1">{{element?.examiner_name}}</span>
                            <span
                                *ngIf="element?.examiner && element?.examiner?.length != 1">{{element?.examiner_name}}<small>,
                                    (+{{element?.examiner?.length - 1}} more)</small></span>
                            <!-- <small> (+2 more)</small> -->
                        </span>
                        <span *ngIf="column == 'status'">{{element?.is_active == true ? 'Active' : 'Inactive'}}</span>


                        <!-- <span *ngIf="column == 'disabled'">
                        <div class="no-wrap-td" *ngIf="element.address_type_id != 3 && element.service_name != 'Other Examiner Primary'">
                            <button mat-icon-button class="edit" (click)="editAddress(element)" matTooltip="Edit"
                                matTooltipPosition="before">
                                <span class="fa fa-pencil-alt"></span>
                            </button>
                            <button mat-icon-button color="warn" matTooltip="Remove" (click)="deleteAddress(element,i)"
                                matTooltipPosition="after">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                        <div class="no-wrap-td" *ngIf="element.address_type_id == 3 || element.service_name == 'Other Examiner Primary'">
                            <button mat-icon-button  matTooltip="Primary address not editable"
                            matTooltipPosition="before">
                            <mat-icon>info</mat-icon>
                        </button>
                        </div>
                    </span> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length"
                        (click)="editAddress(element)">
                        <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                            <div class="responsive-table">
                                <div><span>Location Name</span><span>{{element.service_location_name}}</span></div>
                                <div><span>Address</span><span>{{element.street1}} {{element.street2}} {{element.city}}
                                        {{element.state_code}} - {{element.zip_code}}</span></div>
                                <div><span>Service Type</span><span>{{element?.service_code}}{{element?.service_name ? '
                                        - '+element?.service_name : ''}}</span></div>
                                <div><span>Phone</span><span>{{element?.primary_contact_phone ?
                                        (element?.primary_contact_phone | mask:'(000) 000-0000') : '' }}
                                        {{element?.phone_ext1 ?
                                        "Ext: "+element?.phone_ext1 : "" }}</span></div>
                                <!-- <div><span>Date Of Birth</span><span> {{element.date_of_birth | date: 'MM-dd-yyyy'}} </span></div> -->
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                    [class.row]="expandedElement === element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>