<mat-card class="m-card">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Add Location</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="multiple-address">

        <div class="search-container p-t-10">
            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <form fxFlex="100">
                        <mat-form-field fxFlex="100" fxFlex.md="100" fxFlex.lg="100" appearance="fill">
                            <mat-label>Select Examiner</mat-label>
                            <input type="text" matInput [formControl]="examinerSearch"
                                [matAutocomplete]="examinerAutocomplete">
                            <mat-autocomplete #examinerAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let option of (examinerFilteredOptions | async)"
                                    [value]="option.full_name" (click)="examinerOnChange(option)">
                                    {{option.first_name}} {{option.middle_name}} {{option.last_name}}
                                </mat-option>
                                <mat-option *ngIf="(examinerFilteredOptions | async)?.length == 0">No Result Found
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div fxLayout="row wrap" *ngIf="examinerId">
                <div fxFlex="100">
                    <mat-tab-group class="user-list">
                        <!-- ######~~~~~ Searching and assign Existing Location ~~~~~##### -->
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="p-r-5"> assignment_ind </mat-icon>
                                <span> Searching and assign Existing Location</span>
                            </ng-template>
                            <div fxLayout="row wrap">

                                <div fxLayout="row wrap" fxFlex="100">
                                    <div class="advanced_search_expand  m-r-0 p-r-0" matPrefix fxFlex="100"
                                        fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" fxFlex.sm="15"
                                        (click)="advancedSearch = !advancedSearch ">
                                        <span>Advanced Search</span>
                                        <mat-icon class="expand-icon icons">
                                            {{!advancedSearch ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                                        </mat-icon>
                                    </div>
                                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.md="85" fxFlex.lg="85"
                                        fxFlex.xl="85" fxFlex.sm="85" hideRequiredMarker="hideRequiredControl.auto"
                                        floatLabel="floatLabelControl.auto" class="advanced_search w-100"
                                        style="padding-left: 0px !important;">

                                        <input matInput placeholder="Search Existing Address"
                                            [matAutocomplete]="addressAutocomplete" #trigger="matAutocompleteTrigger"
                                            [formControl]="addresssearch" class="p-l-10">
                                        <mat-autocomplete #addressAutocomplete="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions?.data"
                                                (click)="addressOnChange(option)" [value]="option.city">
                                                {{option?.street1 }} {{option?.street2 }} {{option?.city}}
                                                {{option?.state }} {{option?.zip_code }}
                                            </mat-option>
                                            <mat-option *ngIf="filteredOptions?.data?.length == 0">Not found
                                            </mat-option>
                                        </mat-autocomplete>
                                        <span matSuffix class="search-icon icons">
                                            <mat-icon>search</mat-icon>
                                        </span>
                                    </mat-form-field>
                                </div>
                                <!-- <mat-form-field appearance="fill" fxFlex="100"
                                    hideRequiredMarker="hideRequiredControl.auto" floatLabel="floatLabelControl.auto"
                                    class="advanced_search w-100">
                                    <div matPrefix (click)="advancedSearch = !advancedSearch ">
                                        <span>Advanced Search</span>
                                        <mat-icon class="expand-icon icons">
                                            {{!advancedSearch ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                                        </mat-icon>
                                    </div>
                                    <input matInput placeholder="Search Existing Address"
                                        [matAutocomplete]="addressAutocomplete" #trigger="matAutocompleteTrigger" [formControl]="addresssearch">
                                    <mat-autocomplete #addressAutocomplete="matAutocomplete">
                                        <mat-option *ngFor="let option of (filteredOptions | async)?.data"
                                            (click)="addressOnChange(option)" [value]="option.city">
                                            {{option?.street1 }} {{option?.street2 }} {{option?.city}}
                                            {{option?.state }} {{option?.zip_code }}
                                        </mat-option>
                                        <mat-option *ngIf="(filteredOptions | async)?.data?.length == 0">Not found
                                        </mat-option>
                                    </mat-autocomplete>
                                    <span matSuffix class="search-icon icons">
                                        <mat-icon>search</mat-icon>
                                    </span>
                                </mat-form-field> -->
                                <form class="w-100" [formGroup]="advanceSearch"
                                    (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                    <div class="advance_search" *ngIf="advancedSearch">
                                        <div fxLayout="row wrap" fxFlex="100">
                                            <div class="sub-title p-t-15  p-l-10" fxFlex="100">Advanced Search</div>

                                            <mat-form-field appearance="outline" fxFlex="33.3" fxFlex.md="33.3"
                                                fxFlex.sm="50" fxFlex.xs="100">
                                                <mat-label>City</mat-label>
                                                <input matInput placeholder="City" formControlName="city"
                                                    autocomplete="off">
                                                <mat-error>error msg here</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="33.3"
                                                fxFlex.sm="50" fxFlex.lg="33.3" fxFlex.xs="100">
                                                <mat-label>State</mat-label>
                                                <input matInput placeholder="State" formControlName="state"
                                                    autocomplete="off">
                                                <!-- <mat-select formControlName="state">
                                                    <mat-option *ngFor="let state of states" [value]="state.state">
                                                        {{state.state}}
                                                    </mat-option>
                                                </mat-select> -->
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="33.3"
                                                fxFlex.sm="50" fxFlex.lg="33.3" fxFlex.xs="100">
                                                <mat-label>ZIP Code</mat-label>
                                                <input matInput placeholder="ZIP Code" formControlName="zip_code"
                                                    autocomplete="off">
                                                <mat-error>Enter valid city</mat-error>
                                            </mat-form-field>

                                            <div class="text-center w-100 m-t-10 m-b-10">
                                                <button mat-raised-button type="button" color="primary"
                                                    class="m-r-15 btn_success rounded-corner"
                                                    (click)="getSearchAddress(trigger);$event.stopPropagation()">Search</button>
                                                <button mat-raised-button color="warn" type="button"
                                                    class="m-r-10 rounded-corner"
                                                    (click)="advanceSearch.reset();advancedSearch = false">
                                                    Cancel </button>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <mat-card-content class="address-list">
                                <mat-list *ngFor="let address of searchAddressDetails;let i = index">
                                    <mat-list-item>
                                        <div class="name" mat-line>
                                            <div><strong>
                                                    <i
                                                        class="fa fa-building-o"></i>{{address?.address_type_id == 3 ? address?.address_type_name : address?.service_name}}
                                                </strong></div>
                                            <span *ngIf="address?.mobile1"><i class="fa fa-phone-alt"></i>
                                                {{address?.mobile1}}</span>
                                        </div>
                                        <div class="address" mat-line>{{address?.street1}} {{address?.street2}}
                                            {{address?.city}} {{address?.state}} - {{address?.zip_code}}</div>
                                        <span class="spacer"></span>
                                        <!-- <button mat-icon-button class="edit" matTooltip="Edit"
                                            matTooltipPosition="before" (click)="editAddress(address)">
                                           <span class="fa fa-pencil-alt"></span>
                                        </button> -->
                                        <button mat-icon-button color="warn" matTooltip="Remove"
                                            matTooltipPosition="after" (click)="searchDeleteAddress(i)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </mat-card-content>
                            <div class="text-center w-100 m-t-10 m-b-10" *ngIf="searchAddressDetails?.length > 0">
                                <button mat-raised-button color="warn" class="m-r-10 " (click)="_location.back()">
                                    Cancel </button>
                                <button mat-raised-button color="primary" class="m-r-15 btn_success"
                                    (click)="existAddressBlukSubmit()">Save</button>
                            </div>

                        </mat-tab>
                        <!-- ######~~~~~ Add a New Location ~~~~~##### -->
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="p-r-5"> person_add </mat-icon>
                                <span> Add a New Location </span>
                            </ng-template>
                            <div class="manage-address-form">
                                <form [formGroup]="addressForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                    <div fxLayout="row wrap" fxFlex="100">

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Examiner Name</mat-label>
                                            <input matInput placeholder="Examiner Name" [value]="examinerName"
                                                autocomplete="off" disabled>
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid phone number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Service Type*</mat-label>
                                            <mat-select formControlName="service_code_id">
                                                <mat-option *ngFor="let address of addressType" [value]="address.id">
                                                    {{address?.service_code}} - {{address?.service_name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="addressIsSubmitted">Select valid service location type
                                            </mat-error>
                                        </mat-form-field>


                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Address 1*</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1"
                                                placeholder="Address 1"></textarea>
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid address</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Address 2</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2"
                                                placeholder="Address 2"></textarea>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>City*</mat-label>
                                            <input matInput formControlName="city" placeholder="City"
                                                autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid city</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>State*</mat-label>
                                            <mat-select formControlName="state">
                                                <mat-option *ngFor="let state of states" [value]="state.state">
                                                    {{state.state}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid state</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Zip code*</mat-label>
                                            <input matInput formControlName="zip_code" placeholder="Zip code"
                                                autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid zip code</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100"
                                            fxFlex.sm="100" fxFlex.xs="100">
                                            <mat-label>Location Contact Person</mat-label>
                                            <input matInput formControlName="contact_person"
                                                placeholder="Location Contact Person" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid notes</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Land Line 1</mat-label>
                                            <input matInput formControlName="phone1" mask="(000) 000-0000"
                                                placeholder="Land Line 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid land line number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Land Line 2</mat-label>
                                            <input matInput formControlName="phone2" mask="(000) 000-0000"
                                                placeholder="Land Line 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid land line number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Mobile 1</mat-label>
                                            <input matInput formControlName="mobile1" mask="(000) 000-0000"
                                                placeholder="Mobile 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid mobile number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Mobile 2</mat-label>
                                            <input matInput formControlName="mobile2" mask="(000) 000-0000"
                                                placeholder="Mobile 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid mobile number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Fax 1</mat-label>
                                            <input matInput formControlName="fax1" mask="000-000-0000"
                                                placeholder="Fax 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid fax number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Fax 2</mat-label>
                                            <input matInput formControlName="fax2" mask="000-000-0000"
                                                placeholder="Fax 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid fax number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                            fxFlex.sm="50" fxFlex.xs="100">
                                            <mat-label>Email ID 1</mat-label>
                                            <input matInput placeholder="Email ID 1" formControlName="email1">
                                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                            fxFlex.sm="50" fxFlex.xs="100">
                                            <mat-label>Email ID 2</mat-label>
                                            <input matInput placeholder="Email ID 2" formControlName="email2">
                                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                        </mat-form-field>



                                        <mat-form-field appearance="outline" hintLabel="Max 2400 characters" fxFlex="100" fxFlex.md="100"
                                            fxFlex.sm="100" fxFlex.xs="100">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput #textarea formControlName="notes" maxlength="2400" placeholder="Notes" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                                            <mat-hint align="end">{{textarea.value?.length || 0}}/2400</mat-hint>
                                            <mat-error *ngIf="addressIsSubmitted">Enter valid notes</mat-error>
                                        </mat-form-field>
                                        <div class="text-center w-100 m-t-10 m-b-10">
                                            <button mat-raised-button type="button" (click)="addressformSubmit()"
                                                color="primary"
                                                class="m-r-15 btn_success rounded-corner">Save</button>
                                            <button type="button" mat-raised-button color="warn"
                                                class="m-r-10 rounded-corner" (click)="_location.back()">
                                                Cancel </button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- <mat-card-content class="address-list">
                                <mat-list *ngFor="let address of addAddressDetails;let i = index">
                                    <mat-list-item>
                                        <div class="name" mat-line>
                                            <div><strong>
                                                    <i class="fa fa-building-o"></i>{{sevice_name[i]}}
                                                </strong></div>
                                            <span *ngIf="address?.mobile1"><i class="fa fa-phone-alt"></i>
                                                {{address?.mobile1}}</span>
                                        </div>
                                        <div class="address" mat-line>{{address?.street1}} {{address?.street2}}
                                            {{address?.city}} {{address?.state}} - {{address?.zip_code}}</div>
                                        <span class="spacer"></span>
                                        <button mat-icon-button class="edit" matTooltip="Edit"
                                            matTooltipPosition="before" (click)="editAddress(address)">
                                            <span class="fa fa-pencil-alt"></span>
                                        </button>
                                        <button mat-icon-button color="warn" matTooltip="Remove"
                                            matTooltipPosition="after" (click)="deleteAddress(i)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </mat-card-content>
                            <div class="text-center w-100 m-t-10 m-b-10" *ngIf="addAddressDetails?.length > 0">
                                <button mat-raised-button color="warn" class="m-r-10 " (click)="_location.back()">
                                    Cancel </button>
                                <button mat-raised-button color="primary" class="m-r-15 btn_success"
                                    (click)="newAddressBlukSubmit()">Submit</button>
                            </div> -->
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>

        </div>


    </mat-card-content>
</mat-card>