<mat-card class="m-card new-location m-b-20">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Search Existing Service Locations</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="row wrap">
            <mat-form-field appearance="fill" fxFlex="100" hideRequiredMarker="hideRequiredControl.auto"
                floatLabel="floatLabelControl.auto" class="w-100 m-t-20">
                <input matInput placeholder="Search Existing Service Locations" autocomplete="off" class="p-l-10">
                <span matSuffix class="search-icon icons">
                    <mat-icon>search</mat-icon>
                </span>
                <mat-error>
                    <span>Please enter valid WCAB number</span></mat-error>
            </mat-form-field>
            <div class="address-list" fxFlex="100">
                <mat-list>
                    <mat-list-item>
                        <div class="name" mat-line>
                            <div>
                                <strong>
                                    <i class="fa fa-building-o"></i>Indian Health Service Free-standing Facility
                                </strong>
                            </div>
                        </div>
                        <div class="address" mat-line>30A,Thirumoorthy Layout, Thadagam Main Rd, R S Puram West, C
                            30A,Thirumoorthy Layout, Thadagam Main Rd, R S Puram West, C Coimbatore</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
                <div fxLayout="row wrap" class="p-l-10">
                    <div class="content-wrapper-main-title m-t-20 m-b-0" fxFlex="100">National Provider Identifier (NPI)
                        Number</div>
                    <p fxFlex="100" class="m-t-5">Once the location is selected it can be given an examiner specific NPI
                        Number.</p>
                    <div class="sub-title" fxFlex="100">CMS 1500 Box 32 a</div>
                    <mat-form-field fxFlex="100" class="m-t-20">
                        <mat-label>National Provider Identifier (NPI) Number</mat-label>
                        <input matInput placeholder="National Provider Identifier (NPI) Number">
                        <mat-error>error msg here</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="text-center w-100 m-t-10 m-b-10">
                <button mat-stroked-button type="button" class="outline-danger">Cancel</button>
                <button mat-stroked-button class="m-l-10 outline-success">Save </button>
            </div>

        </div>
    </mat-card-content>
</mat-card>





<mat-card class="m-card new-location">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Add New Service Location</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="" fxLayout="row wrap">
            <form action="" fxLayout="row wrap" fxFlex="100">

                <div class="sub-title p-l-10 m-t-20 m-b-20" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    CMS 1500 Box 32
                    <mat-divider class="m-t-10"></mat-divider>
                </div>

                <div fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Location Name</mat-label>
                        <input matInput placeholder="Location Name" autocomplete="off">
                        <mat-error>error msg here..</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Street Address 1 </mat-label>
                    <input matInput placeholder="Street Address 1" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Street Address 2 </mat-label>
                    <input matInput placeholder="Street Address 2" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>State </mat-label>
                    <mat-select placeholder="State">
                        <mat-option value="option">Option here</mat-option>
                    </mat-select>
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Zip Code </mat-label>
                    <input matInput placeholder="Zip Code" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <div class="sub-title p-l-10 m-t-20 m-b-20" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    CMS 1500 Box 24 b
                    <mat-divider class="m-t-10"></mat-divider>
                </div>


                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Service Type </mat-label>
                    <mat-select placeholder="Service Type ">
                        <mat-option value="option">Option here</mat-option>
                    </mat-select>
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Phone </mat-label>
                    <input matInput placeholder="Phone" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Fax </mat-label>
                    <input matInput placeholder="Fax" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Email </mat-label>
                    <input matInput placeholder="Email" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>


                <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
                    class="p-l-10 m-b-20">
                    <mat-label class="m-t-10 p-b-10 display-block">Location status</mat-label>
                    <mat-radio-group class="" formControlName="provider_status">
                        <mat-radio-button value="true" checked>Active</mat-radio-button>
                        <mat-radio-button value="false" class="p-l-10">In Active</mat-radio-button>
                    </mat-radio-group>
                </div>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Location Contact Person </mat-label>
                    <input matInput placeholder="Location Contact Person" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Notes </mat-label>
                    <input matInput placeholder="Notes" autocomplete="off">
                    <mat-error>error msg here..</mat-error>
                </mat-form-field>

                <div class="text-center w-100 m-t-10 m-b-10">
                    <button mat-stroked-button type="button" class="outline-danger">Cancel</button>
                    <button mat-stroked-button class="m-l-10 outline-success">Save </button>
                </div>

            </form>
        </div>
    </mat-card-content>
</mat-card>







<!-- <mat-card class="m-card">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Add Location</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="multiple-address">
        <div class="search-container p-t-10">
            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <form fxFlex="100">
                        <mat-form-field fxFlex="100" fxFlex.md="100" fxFlex.lg="100" appearance="fill">
                            <mat-label>Select Examiner</mat-label>
                            <input type="text" matInput [formControl]="examinerSearch"
                                [matAutocomplete]="examinerAutocomplete">
                            <mat-autocomplete #examinerAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let option of (examinerFilteredOptions | async)"
                                    [value]="option.full_name" (click)="examinerOnChange(option)">
                                    {{option.first_name}} {{option.middle_name}} {{option.last_name}}
                                </mat-option>
                                <mat-option *ngIf="(examinerFilteredOptions | async)?.length == 0">No Result Found
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <div fxLayout="row wrap" *ngIf="examinerId">
                <div fxFlex="100">
                    <mat-tab-group class="user-list">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="p-r-5"> assignment_ind </mat-icon>
                                <span> Searching and assign Existing Location</span>
                            </ng-template>
                            <div fxLayout="row wrap">

                                <div fxLayout="row wrap" fxFlex="100">
                                    <div class="advanced_search_expand  m-r-0 p-r-0" matPrefix fxFlex="100"
                                        fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15" fxFlex.sm="15"
                                        (click)="advancedSearch = !advancedSearch ">
                                        <span>Advanced Search</span>
                                        <mat-icon class="expand-icon icons">
                                            {{!advancedSearch ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                                        </mat-icon>
                                    </div>
                                    <mat-form-field appearance="fill" fxFlex="100" fxFlex.md="85" fxFlex.lg="85"
                                        fxFlex.xl="85" fxFlex.sm="85" hideRequiredMarker="hideRequiredControl.auto"
                                        floatLabel="floatLabelControl.auto" class="advanced_search w-100"
                                        style="padding-left: 0px !important;">

                                        <input matInput placeholder="Search Existing Address"
                                            [matAutocomplete]="addressAutocomplete" #trigger="matAutocompleteTrigger"
                                            [formControl]="addresssearch" class="p-l-10">
                                        <mat-autocomplete #addressAutocomplete="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions?.data"
                                                (click)="addressOnChange(option)" [value]="option.city">
                                                {{option?.street1 }} {{option?.street2 }} {{option?.city}}
                                                {{option?.state }} {{option?.zip_code }}
                                            </mat-option>
                                            <mat-option *ngIf="filteredOptions?.data?.length == 0">Not found
                                            </mat-option>
                                        </mat-autocomplete>
                                        <span matSuffix class="search-icon icons">
                                            <mat-icon>search</mat-icon>
                                        </span>
                                    </mat-form-field>
                                </div>
                                <form class="w-100" [formGroup]="advanceSearch"
                                    (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                    <div class="advance_search" *ngIf="advancedSearch">
                                        <div fxLayout="row wrap" fxFlex="100">
                                            <div class="sub-title p-t-15  p-l-10" fxFlex="100">Advanced Search</div>

                                            <mat-form-field appearance="outline" fxFlex="33.3" fxFlex.lg="33.3"
                                                fxFlex.xl="33.3" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                                <mat-label>City</mat-label>
                                                <input matInput placeholder="City" formControlName="city"
                                                    autocomplete="off">
                                                <mat-error>error msg here</mat-error>
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="33.3" fxFlex.lg="33.3"
                                                fxFlex.xl="33.3" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                                <mat-label>State</mat-label>
                                                <input matInput placeholder="State" formControlName="state"
                                                    autocomplete="off">
                                            </mat-form-field>

                                            <mat-form-field appearance="outline" fxFlex="33.3" fxFlex.lg="33.3"
                                                fxFlex.xl="33.3" fxFlex.md="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                                <mat-label>ZIP Code</mat-label>
                                                <input matInput placeholder="ZIP Code" mask="9{10}"
                                                    [dropSpecialCharacters]="false" formControlName="zip_code"
                                                    autocomplete="off">
                                                <mat-error>Please enter valid city</mat-error>
                                            </mat-form-field>

                                            <div class="text-center w-100 m-t-10 m-b-10">
                                                <button mat-raised-button type="button" color="primary"
                                                    class="m-r-15 btn_success rounded-corner"
                                                    (click)="getSearchAddress(trigger);$event.stopPropagation()">Search</button>
                                                <button mat-raised-button color="warn" type="button"
                                                    class="m-r-10 rounded-corner"
                                                    (click)="advanceSearch.reset();advancedSearch = false">
                                                    Cancel </button>

                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <mat-card-content class="address-list">
                                <mat-list *ngFor="let address of searchAddressDetails;let i = index">
                                    <mat-list-item>
                                        <div class="name" mat-line>
                                            <div><strong>
                                                    <i
                                                        class="fa fa-building-o"></i>{{address?.address_type_id == 3 ? address?.address_type_name : address?.service_name}}
                                                </strong></div>
                                            <span *ngIf="address?.mobile1"><i class="fa fa-phone-alt"></i>
                                                {{address?.mobile1}}</span>
                                        </div>
                                        <div class="address" mat-line>{{address?.street1}} {{address?.street2}}
                                            {{address?.city}} {{address?.state}} - {{address?.zip_code}}</div>
                                        <span class="spacer"></span>
                                        <button mat-icon-button color="warn" matTooltip="Remove"
                                            matTooltipPosition="after" (click)="searchDeleteAddress(i)">
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </mat-card-content>
                            <div class="text-center w-100 m-t-10 m-b-10" *ngIf="searchAddressDetails?.length > 0">
                                <button mat-raised-button color="primary" class="m-r-15 btn_success rounded-corner"
                                    (click)="existAddressBlukSubmit()">Save</button>
                                <button mat-raised-button color="warn" class="m-r-10  rounded-corner"
                                    (click)="_location.back()">
                                    Cancel </button>
                            </div>

                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="p-r-5"> person_add </mat-icon>
                                <span> Add a New Location </span>
                            </ng-template>
                            <div class="manage-address-form">
                                <form [formGroup]="addressForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                    <div fxLayout="row wrap" fxFlex="100">

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Examiner Name</mat-label>
                                            <input matInput placeholder="Examiner Name" [value]="examinerName"
                                                autocomplete="off" disabled>
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid phone number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Service Type*</mat-label>
                                            <mat-select formControlName="service_code_id">
                                                <mat-option *ngFor="let address of addressType" [value]="address.id">
                                                    {{address?.service_code}} - {{address?.service_name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="addressIsSubmitted">Please select valid service location
                                                type
                                            </mat-error>
                                        </mat-form-field>


                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Address 1*</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
                                                cdkAutosizeMaxRows="2" formControlName="street1"
                                                placeholder="Address 1"></textarea>
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid address</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Address 2</mat-label>
                                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
                                                cdkAutosizeMaxRows="2" formControlName="street2"
                                                placeholder="Address 2"></textarea>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>City*</mat-label>
                                            <input matInput formControlName="city" placeholder="City"
                                                autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid city</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>State*</mat-label>
                                            <mat-select formControlName="state">
                                                <mat-option *ngFor="let state of states" [value]="state.state">
                                                    {{state.state}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid state</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Zip code*</mat-label>
                                            <input matInput mask="9{10}" [dropSpecialCharacters]="false"
                                                formControlName="zip_code" placeholder="Zip code" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid zip code
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100"
                                            fxFlex.sm="100" fxFlex.xs="100">
                                            <mat-label>Location Contact Person</mat-label>
                                            <input matInput formControlName="contact_person"
                                                placeholder="Location Contact Person" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid notes</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Land Line 1</mat-label>
                                            <input matInput (keypress)="numberOnly($event)" formControlName="phone1"
                                                mask="(000) 000-0000" placeholder="Land Line 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid land line number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Land Line 2</mat-label>
                                            <input matInput (keypress)="numberOnly($event)" formControlName="phone2"
                                                mask="(000) 000-0000" placeholder="Land Line 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid land line number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Mobile 1</mat-label>
                                            <input matInput (keypress)="numberOnly($event)" formControlName="mobile1"
                                                mask="(000) 000-0000" placeholder="Mobile 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid mobile number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Mobile 2</mat-label>
                                            <input matInput (keypress)="numberOnly($event)" formControlName="mobile2"
                                                mask="(000) 000-0000" placeholder="Mobile 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid mobile number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Fax 1</mat-label>
                                            <input matInput formControlName="fax1" mask="000-000-0000"
                                                placeholder="Fax 1" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid fax number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                            fxFlex.xs="100">
                                            <mat-label>Fax 2</mat-label>
                                            <input matInput formControlName="fax2" mask="000-000-0000"
                                                placeholder="Fax 2" autocomplete="off">
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid fax number
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50"
                                            fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                                            <mat-label>Email ID 1</mat-label>
                                            <input matInput placeholder="Email ID 1" formControlName="email1">
                                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50"
                                            fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                                            <mat-label>Email ID 2</mat-label>
                                            <input matInput placeholder="Email ID 2" formControlName="email2">
                                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                        </mat-form-field>



                                        <mat-form-field appearance="outline" hintLabel="Max 2400 characters"
                                            fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput #textarea formControlName="notes" maxlength="2400"
                                                placeholder="Notes" cdkTextareaAutosize cdkAutosizeMinRows="5"
                                                cdkAutosizeMaxRows="5"></textarea>
                                            <mat-hint align="end">{{textarea.value?.length || 0}}/2400</mat-hint>
                                            <mat-error *ngIf="addressIsSubmitted">Please enter valid notes</mat-error>
                                        </mat-form-field>
                                        <div class="text-center w-100 m-t-10 m-b-10">
                                            <button mat-raised-button type="button" (click)="addressformSubmit()"
                                                color="primary" class="m-r-15 btn_success rounded-corner">Save</button>
                                            <button type="button" mat-raised-button color="warn"
                                                class="m-r-10 rounded-corner" (click)="_location.back()">
                                                Cancel </button>
                                        </div>
                                    </div>
                                </form>
                            </div>                           
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card> -->