@import "variables";

.mat-card-details {
  padding: 10px;
  box-shadow: $box-shadow-1 !important;
  min-height: 80px;
  max-height: 100px !important;
  cursor: pointer;
  outline: none;
  mat-card-content {
    mat-icon {

      font-size: $font-size-17;
      padding-top: 10px;
      opacity: 0.6;
      color: $primarycolor;
    }   
    h4 {
      font-size: $font-size-10;
      margin-top: 10px !important;
    }
  }
}
.br-top {
  border-top: 3px solid;
  border-color: $primarycolor;
}
.p-5 {
  padding: 5px;
}