<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap" class="d-cards">
        <!-- loop over the cardList and show the cards -->
        <!-- <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <mat-card class="profile">
                <mat-card-header matRipple>
                    <mat-card-title class="m-0">{{user?.first_name}} {{user?.last_name}}</mat-card-title>
                    <mat-card-subtitle>Dental Public Health</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="profile_bg" alt="Profile photo">
                <mat-card-content class="p-t-50 text-center p-b-50">
                    <div class="p-l-5 p-r-5"><i class="fas fa-map-marker-alt"></i> 3141 Doctors Drive,<br /> Los
                        Angeles,
                        California, 90017</div>
                    <div class="p-t-10 p-l-5 p-r-5"><i class="fas fa-phone-alt"></i> (+00) 00000000000</div>
                </mat-card-content>
            </mat-card>
        </div> -->

        <!-- loop over the cardList and show the cards -->
        <div fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column">
            <mat-card class="shadow p-t-15">

                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> security </mat-icon>
                            Security Settings
                        </ng-template>
                        <!-- cards here -->
                        <div class="edit-profile  m-t-10">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" [formGroup]="userPasswrdForm" (ngSubmit)="changePassword()">
                                    <mat-form-field class="m-t-5" appearance="standard" fxFlex="100">
                                        <mat-label>Current Password*</mat-label>
                                        <input type="password" matInput placeholder="Current Password"
                                            autocomplete="off" formControlName="current_password">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                        <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.required">Password field does not empty</mat-error> -->
                                        <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.pattern">Password field does not valid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50" class="m-t-5">
                                        <mat-label>New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="New Password" autocomplete="off"
                                            formControlName="new_password">
                                        <mat-icon matSuffix
                                            matTooltip="Password must contain at least 8 characters, including UPPER/lowercase, special character and numbers."
                                            matTooltipPosition="above">error_outline</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>

                                    </mat-form-field>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50" class="m-t-5">
                                        <mat-label>Confirm New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="Confirm New Password" autocomplete="off"
                                            formControlName="confirmPassword">
                                        <mat-icon matSuffix (click)="changeInputType()">
                                            {{isTypePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                    </mat-form-field>

                                    <button mat-raised-button color="primary" class="m-t-5">Save Changes </button>
                                </form>
                            </mat-card-content>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> account_box </mat-icon>
                            Account Settings
                        </ng-template>
                        <!-- Edit profile -->
                        <div class="edit-profile m-t-10" *ngIf="user?.role_id != 2">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" [formGroup]="userForm" (ngSubmit)="userformSubmit()">

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Middle Name" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" class=" m-t-5 p-r-10">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput placeholder="Company Name" formControlName="company_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" class="m-t-5  p-r-10">
                                        <mat-label>Email ID*</mat-label>
                                        <input matInput placeholder="Email ID" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <button mat-raised-button color="primary" class="m-t-5">Save Changes</button>
                                </form>
                            </mat-card-content>
                        </div>




                        <div class="edit-profile m-t-10" *ngIf="user?.role_id == 2">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" [formGroup]="userForm" (ngSubmit)="userformSubmit()">
                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">User Details
                                    </div>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Middle Name" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" class="m-t-5  p-r-10">
                                        <mat-label>Email ID*</mat-label>
                                        <input matInput placeholder="Email ID" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <div fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-radio-group formControlName="individual_w9_number_type"
                                            aria-label="Select an option" fxFlex="30" class="p-t-30 p-l-10"
                                            (change)="userForm.controls['individual_w9_number'].setValue('')">
                                            <mat-radio-button value="EIN">EIN</mat-radio-button>
                                            <mat-radio-button value="SSN" class="p-l-10">SSN</mat-radio-button>
                                        </mat-radio-group>
                                        <mat-form-field *ngIf="userForm.value.individual_w9_number_type == 'EIN'"
                                            appearance="standard" fxFlex="70">
                                            <mat-label>W9 number</mat-label>
                                            <input matInput [dropSpecialCharacters]="false" mask="00-0000000"
                                                placeholder="W9 number" formControlName="individual_w9_number">
                                            <mat-error>Enter vaild W9 number</mat-error>
                                        </mat-form-field>

                                        <mat-form-field *ngIf="userForm.value.individual_w9_number_type == 'SSN'"
                                            appearance="standard" fxFlex="70">
                                            <mat-label>W9 number</mat-label>
                                            <input matInput [dropSpecialCharacters]="false" mask="000-00-0000"
                                                placeholder="W9 number" formControlName="individual_w9_number">
                                            <mat-error>Enter vaild W9 number</mat-error>
                                        </mat-form-field>
                                    </div>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Individual NPI Number</mat-label>
                                        <input matInput formControlName="individual_npi_number"
                                            placeholder="Individual W9 Number" autocomplete="off">
                                        <mat-error>Enter vaild NPI number</mat-error>
                                    </mat-form-field>

                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Company Details
                                    </div>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput formControlName="company_name" placeholder="Company Name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company NPI Number</mat-label>
                                        <input matInput formControlName="company_npi_number" mask="0000000000"
                                            placeholder="Company NPI Number" autocomplete="off">
                                        <mat-error>Enter vaild NPI number</mat-error>
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company W9 Number</mat-label>
                                        <input matInput formControlName="company_w9_number"
                                            placeholder="Company W9 Number" autocomplete="off">
                                        <mat-error>Enter vaild W9 number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company Taxonomy Code</mat-label>
                                        <mat-select formControlName="company_taxonomy_id">
                                            <mat-option *ngFor="let taxonomy of taxonomyList" [value]="taxonomy.id">
                                                {{taxonomy.taxonomy_code}}-{{taxonomy.taxonomy_name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>error msg here</mat-error>
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" class="m-t-5">Save Changes</button>
                                </form>
                            </mat-card-content>
                        </div>




                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>