@import "variables";

.profile {
  padding: 0px;
  border-radius: 2px;
  width: 100%;
  box-shadow: $box-shadow-5;
  mat-card-header {
    background-color: $ternary-color;
    position: relative;
    text-align: center !important;
    display: block;
    padding: 20px 0px 30px 0px;
    mat-card-title {
      font-size: $font-size-h6 !important;
      color: $white;
      margin-bottom: 5px !important;
    }
    mat-card-subtitle {
      color: $light-gray;
    }
  }
  img {
    position: absolute;
    top: 90px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    left: 44%;
    box-shadow: $box-shadow-3;
    padding: 2px;
  }
  mat-card-content {
    @include text;
  }
}

mat-form-field {
  padding: 10px !important;
}

.sub-title {
  color: $primarycolor;
  font-size: $font-size-1;
  font-weight: $font-weight-medium;
  border-bottom: 1px solid $border-light;
  padding: 10px 0;
}

.billing-address {
  .checkbox {
    background-color: $bg-light-blue;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: max-content;
    display: block;
    border: 1px solid $border-light;
    float: left;
    margin-right: 10px;
    &:hover {
      box-shadow: $box-shadow-4;
    }
  }
  .new-address {
    float: left;
    padding: 5px 10px;
  }
}

.sign-upload {
  mat-form-field {
    .upload_btn {
      color: $primarydarkcolor;
      background-color: $btn-light-color;
      padding: 0px 10px;
      height: 35px;
      font-size: $font-size-7;
      outline: none;
      cursor: pointer;
    }
  }
  .empty-image {
    background-color: #ececec;
    padding: 20px;
    width: 200px;
    text-align: center;
    color: $light-gray;
    border: 1px solid $light-gray;
    cursor: not-allowed;
  }
  .sign-img {
    padding: 3px;
    width: 200px;
    text-align: center;
    border: 1px solid $light-gray;
    cursor: not-allowed;
    img {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}
