@import "variables";
@import "table";

mat-card {
  padding: 10px;
  box-shadow: $shadow-style-one !important;
  &:hover {
    box-shadow: $shadow-style-one-hover;
  }
}
.profile {
  padding: 0px;
  border-radius: 2px;
  width: 100%;
  box-shadow: $box-shadow-5;
  mat-card-header {
    background-color: $ternary-color;
    position: relative;
    text-align: center !important;
    display: block;
    padding: 20px 0px 30px 0px;
    mat-card-title {
      font-size: $font-size-h6 !important;
      color: $white;
      margin-bottom: 5px !important;
    }
    mat-card-subtitle {
      color: $light-gray;
    }
  }
  img {
    position: absolute;
    top: 90px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    left: 44%;
    box-shadow: $box-shadow-3;
    padding: 2px;
  }
  mat-card-content {
    @include text;
  }
}

mat-form-field {
  padding: 10px 10px 0px 10px !important;
}

.billing-address {
  .checkbox {
    background-color: $bg-light-blue;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: max-content;
    display: block;
    border: 1px solid $border-light;
    float: left;
    margin-right: 10px;
    &:hover {
      box-shadow: $box-shadow-4;
    }
  }
  .new-address {
    float: left;
    padding: 5px 10px;
  }
}

.sign-upload {
  .mat-form-field {
    width: calc(100% - 145px) !important;
    .upload_btn {
      padding: 0px 10px;
      height: 35px;
      font-size: $font-size-7;
      outline: none;
      cursor: pointer;
      margin-left: 0px;
    }
  }

  .empty-image {
    background-color: #ececec;
    padding: 20px;
    width: 200px;
    float: left;
    text-align: center;
    color: $light-gray;
    border: 1px solid $light-gray;
    cursor: not-allowed;
  }

  .sign-img {
    button {
      margin-left: 155px;
      font-size: $font-size-22;
      cursor: pointer;
      border-radius: 50px;
      border-color: $text-gray;
      background-color: $light-color;
      padding: 0 10px;
      line-height: 2;
      i {
        // color: $danger;
        font-size: $font-size-7;
      }
    }
    .sign {
      padding: 3px;
      width: 200px;
      text-align: center;
      border: 1px solid $light-gray;
      cursor: not-allowed;
      float: left;
      img {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

.sub-title {
  small {
    font-weight: $font-weight-base !important;
  }
}

.payment-setting {
  .float-right {
    float: right;
    margin-top: 25px;
  }
}
.w-150 {
  width: 150px;
}

#pay-paymentRequest {
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

// .example.pay fieldset {
//   border: 1px solid #ccc;
//   padding: 15px;
//   border-radius: 6px;
// }

// .example.pay fieldset legend {
//   margin: 0 auto;
//   padding: 0 10px;
//   text-align: center;
//   font-size: 14px;
//   font-weight: 500;
//   color: #cdd0f8;
//   background-color: #000;
// }
fieldset {
  border: none;
}
.pay-type.pay fieldset legend + * {
  clear: both;
}

.pay-type.pay .card-only {
  display: block;
}
.pay-type.pay .payment-request-available {
  display: none;
}

.pay-type.pay .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px;
}

.pay-type.pay .field {
  // position: relative;
  width: 100%;
  margin-top: 20px;
  // padding: 5px;
}

// .pay-type.pay .field + .field {
//   // margin-left: 10px;
// }

// .pay-type.pay label {
//   width: 100%;
//   color: $text-gray;
//   font-size: 13px;
//   font-weight: 500;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .pay-type.pay .input {
//   width: 100%;
//   color: 000;
//   background: transparent;
//   padding: 5px 0 6px 0;
//   border-bottom: 1px solid $menu-light;
//   transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .pay-type input {
//   width: 100%;
//   color: 000;
//   background: transparent;
//   padding: 5px 0 6px 0;
//   border-bottom: 1px solid $menu-light;
//   transition: border-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .pay-type.pay .input::-webkit-input-placeholder {
//   color: $menu-light;
// }

// .pay-type.pay .input::-moz-placeholder {
//   color: $menu-light;
// }

// .pay-type.pay .input:-ms-input-placeholder {
//   color: $menu-light;
// }

// .pay-type.pay .input.StripeElement--focus,
// .pay-type.pay .input:focus {
//   border-color: #000;
// }
// .pay-type.pay .input.StripeElement--invalid {
//   border-color: #000;
// }

// .pay-type.pay input:-webkit-autofill,
// .pay-type.pay select:-webkit-autofill {
//   -webkit-text-fill-color: $black;
//   transition: background-color 100000000s;
//   -webkit-animation: 1ms void-animation-out;
// }

// .pay-type.pay .StripeElement--webkit-autofill {
//   background: transparent !important;
// }

// .pay-type.pay input,
// // .pay-type.pay button,
// .pay-type.pay select {
//   -webkit-animation: 1ms void-animation-out;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   outline: none;
//   border-style: none;
//   border-radius: 0;
// }


// .pay-type.pay select.input,
// .pay-type.pay select:-webkit-autofill {
//   background-image: url('data:image/svg+xml;utf8,<svg width="10px" height="5px" viewBox="0 0 10 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="#fff" d="M5.35355339,4.64644661 L9.14644661,0.853553391 L9.14644661,0.853553391 C9.34170876,0.658291245 9.34170876,0.341708755 9.14644661,0.146446609 C9.05267842,0.0526784202 8.92550146,-2.43597394e-17 8.79289322,0 L1.20710678,0 L1.20710678,0 C0.930964406,5.07265313e-17 0.707106781,0.223857625 0.707106781,0.5 C0.707106781,0.632608245 0.759785201,0.759785201 0.853553391,0.853553391 L4.64644661,4.64644661 L4.64644661,4.64644661 C4.84170876,4.84170876 5.15829124,4.84170876 5.35355339,4.64644661 Z" id="shape"></path></svg>');
//   background-position: 100%;
//   background-size: 10px 5px;
//   background-repeat: no-repeat;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   padding-right: 20px;
// }

// .pay-type.pay button {
//   display: block;
//   width: 100%;
//   height: 40px;
//   margin: 20px 0 0;
//   background-color: #fff;
//   border-radius: 6px;
//   color: #9169d8;
//   font-weight: 500;
//   cursor: pointer;
// }

// .pay-type.pay button:active {
//   background-color: #cdd0f8;
// }

// .pay-type.pay .error svg .base {
//   fill: #fff;
// }

// .pay-type.pay .error .message {
//   color: #fff;
// }

// .pay-type.pay .success .icon .border {
//   stroke: #bfaef6;
// }

// .pay-type.pay .success .icon .checkmark {
//   stroke: #fff;
// }

// .pay-type.pay .success .title {
//   color: #fff;
// }

// .pay-type.pay .success .message {
//   color: #cdd0f8;
// }

// .pay-type.pay .success .reset path {
//   fill: #fff;
// }

.StripeElement {
  width: 98%;
  padding: 11px 15px 11px 5px;
  border: 1px solid $ternary;
  border-radius: 3px;
}
mat-tab-group {
  .payment-history {
    .charges {
      mat-form-field {
        padding-left: 0;
      }
    }
    .estimation {
      .divider {
        content: "";
        display: block;
        background-color: $lightgray;
        height: 1px;
        width: 100%;
        margin: 0;
      }
      .note {
        font-size: $font-size-7;
        margin-top: 0;
      }
    }
    .details {
      .divider {
        content: "";
        display: block;
        background-color: $lightgray;
        height: 1px;
        width: 100%;
        margin: 0;
      }
    }
  }
}
