<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap" class="d-cards">
        <div fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column">
            <mat-card class="shadow p-t-15">
                <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <!-- <mat-icon class="example-tab-icon p-r-5"> security </mat-icon> -->
                            Security Settings
                        </ng-template>
                        <div class="edit-profile m-t-10">
                            <mat-card-content>
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                                    [formGroup]="userPasswrdForm" (ngSubmit)="changePassword()">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Current Password*</mat-label>
                                        <input type="password" matInput placeholder="Current Password"
                                            autocomplete="off" formControlName="current_password">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50">
                                        <mat-label>New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="New Password" autocomplete="off"
                                            formControlName="new_password">
                                        <mat-icon matSuffix
                                            matTooltip="Password must contain at least 8 characters, including UPPER, lowercase, special character and numbers."
                                            matTooltipPosition="above">error_outline</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>

                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50">
                                        <mat-label>Confirm New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="Confirm New Password" autocomplete="off"
                                            formControlName="confirmPassword">
                                        <mat-icon matSuffix (click)="changeInputType()">
                                            {{isTypePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                    </mat-form-field>

                                    <div class="text-center w-100">
                                        <button mat-stroked-button (click)="cancel()" type="button"
                                            class="outline-danger">Cancel</button>
                                        <button mat-stroked-button class="m-l-10 outline-success">
                                            Save </button>
                                    </div>
                                </form>
                            </mat-card-content>
                        </div>
                    </mat-tab>


                    <mat-tab>
                        <ng-template mat-tab-label>
                            Account Settings
                        </ng-template>
                        <div class="edit-profile m-t-10" *ngIf="user?.role_id == 2">
                            <mat-card-content>
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                                    [formGroup]="userForm" (ngSubmit)="userformSubmit()">
                                    <div class="sub-title p-l-10" fxFlex="100">Account Number:
                                        {{user?.account_no | mask: '0000-0000-0000'}}
                                    </div>

                                    <mat-form-field appearance="outline" fxFlex="100" class="m-t-5">
                                        <mat-label>Company Name{{user?.organization_type != 'INDV' ? '*' : ''}}
                                        </mat-label>
                                        <input matInput placeholder="Company Name" formControlName="company_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Middle Name/MI</mat-label>
                                        <input matInput placeholder="Middle Name/MI" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="50" fxFlex.xs="70">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="10" fxFlex.lg="10"
                                        fxFlex.xl="10" fxFlex.sm="50" fxFlex.xs="30">
                                        <mat-label>Suffix</mat-label>
                                        <input matInput placeholder="Suffix" formControlName="suffix"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidsuffix}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Signin Email*</mat-label>
                                        <input matInput placeholder="Signin Email" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>
                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Signature
                                        <br /> <small>
                                            Supported File Formats are JPEG/JPG/PNG with 4:1 Aspect Ratio, 600*150
                                            pixels & Maximum File Size: 500 KB
                                        </small>
                                    </div>
                                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100" class="sign-upload">
                                        <div fxLayout="row wrap" fxFlex="100">
                                            <mat-form-field appearance="standard"
                                                hideRequiredMarker="hideRequiredControl.auto"
                                                floatLabel="floatLabelControl.auto">
                                                <input matInput [title]="selectedFile" readonly
                                                    [value]="selectedFile | ellipsis:50" placeholder="No file chosen"
                                                    value="12345">
                                                <input type="file" #uploader accept=".png, .jpg, .jpeg" hidden
                                                    (change)="fileChangeEvent($event)" id="uploadFile">

                                            </mat-form-field>

                                            <button matSuffix type="button" (click)="uploader.click()"
                                                mat-stroked-button class="upload_btn outline-success m-t-3">Upload
                                            </button>

                                            <div fxFlex="100" *ngIf="!signData" class="m-t-20">
                                                <div class="empty-image m-l-10">
                                                    No image uploaded
                                                </div>
                                            </div>
                                            <div fxFlex="100" *ngIf="signData" class="m-t-20 sign-img">
                                                <button type="button" class="m-b-5" (click)="removeSign()"
                                                    mat-stroked-button>Remove </button><br />
                                                <div class="sign m-l-10">
                                                    <img [src]="signData">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="sub-title p-l-10 m-t-20" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Payment Information
                                    </div>

                                    <mat-form-field appearance="outline" fxFlex="100" class="m-t-10">
                                        <mat-label>Accounting Name*</mat-label>
                                        <input matInput placeholder="Accounting Name" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.xl="50" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Accounting Phone </mat-label>
                                        <input matInput placeholder="Accounting Phone" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.xl="50" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Accounting Email</mat-label>
                                        <input matInput placeholder="Accounting Email" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>City*</mat-label>
                                        <input matInput placeholder="City" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>State*</mat-label>
                                        <input matInput placeholder="State" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Zip Code*</mat-label>
                                        <input matInput placeholder="Zip Code" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Credit Card Information
                                    </div>
                                    <mat-form-field appearance="outline" fxFlex="100" class="m-t-10">
                                        <mat-label>Name on card*</mat-label>
                                        <input matInput placeholder="Name on card" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Credit Card Number*</mat-label>
                                        <input matInput placeholder="Credit Card Number" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Expiration Date*</mat-label>
                                        <input matInput placeholder="Expiration Date" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.xl="33.3" fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>CCV Code</mat-label>
                                        <input matInput placeholder="CCV Code" autocomplete="off">
                                        <mat-error>error msg here..</mat-error>
                                    </mat-form-field>

                                    <div class="text-center w-100 m-t-10 m-b-10">
                                        <button (click)="cancel()" mat-stroked-button type="button"
                                            class="outline-danger">Cancel</button>
                                        <button mat-stroked-button class="m-l-10 outline-success">Save </button>
                                    </div>
                                </form>
                            </mat-card-content>
                        </div>
                        <div class="edit-profile m-t-10" *ngIf="user?.role_id != 2">
                            <mat-card-content>
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                                    [formGroup]="userForm" (ngSubmit)="userformSubmit()">

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="50" fxFlex.xs="100" class="">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="50" fxFlex.xs="100" class=" ">
                                        <mat-label>Middle Name/MI</mat-label>
                                        <input matInput placeholder="Middle Name/MI" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.xl="30" fxFlex.sm="80" fxFlex.xs="80" class=" ">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="10" fxFlex.lg="10"
                                        fxFlex.xl="10" fxFlex.sm="20" fxFlex.xs="20" class="">
                                        <mat-label>Suffix</mat-label>
                                        <input matInput placeholder="Suffix" formControlName="suffix"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidsuffix}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.lg="100"
                                        fxFlex.xl="100" fxFlex.sm="100" class="p-r-10">
                                        <mat-label>Signin Email*</mat-label>
                                        <input matInput placeholder="Signin Email" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Signature

                                        <br /><small>
                                            Supported File Formats are JPEG/JPG/PNG with 4:1 Aspect Ratio, 600*150
                                            pixels & Maximum File Size: 500 KB
                                        </small>
                                    </div>
                                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100" class="sign-upload">
                                        <div fxLayout="row wrap">
                                            <mat-form-field appearance="standard"
                                                hideRequiredMarker="hideRequiredControl.auto"
                                                floatLabel="floatLabelControl.auto" class="w-100">
                                                <input matInput [title]="selectedFile" readonly
                                                    [value]="selectedFile | ellipsis:50" placeholder="No file chosen"
                                                    value="12345">
                                                <input type="file" #uploader accept=".png, .jpg, .jpeg" hidden
                                                    (change)="fileChangeEvent($event)" id="uploadFile">

                                            </mat-form-field>
                                            <button matSuffix type="button" (click)="uploader.click()"
                                                mat-stroked-button class="upload_btn outline-success">Upload
                                                <!-- <span class="fa fa-upload"></span> -->
                                            </button>

                                            <div fxFlex="100" *ngIf="!signData" class="m-t-20">
                                                <div class="empty-image m-l-10">
                                                    No image uploaded
                                                </div>
                                            </div>
                                            <div fxFlex="100" *ngIf="signData" class="m-t-20 sign-img">
                                                <button type="button" class="m-b-5" (click)="removeSign()"
                                                    mat-stroked-button>Remove </button><br />
                                                <div class="sign m-l-10">
                                                    <img [src]="signData">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center w-100 m-t-10 m-b-10">
                                        <button mat-stroked-button type="button" class="outline-danger"
                                            (click)="cancel()">Cancel</button>
                                        <button mat-stroked-button class="m-l-10 outline-success">Save </button>
                                    </div>
                                </form>
                            </mat-card-content>
                        </div>
                    </mat-tab>

                    <mat-tab *ngIf="user?.role_id == 2">
                        <ng-template mat-tab-label>
                            Invoice History
                        </ng-template>
                        <div class="edit-profile m-t-10">
                            <mat-card-content>
                                <div class="user-detail">
                                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows
                                        class="mat-elevation-z8 user-table" matSort>
                                        <ng-container matColumnDef="{{column}}"
                                            *ngFor="let column of columnsToDisplay; let i=index">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                [disabled]="columnName[i] == 'Action'">
                                                {{columnName[i]}} </th>
                                            <td mat-cell *matCellDef="let element">
                                                <span *ngIf="i == 0 && isMobile">
                                                    <mat-icon mat-raised-button
                                                        [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                                        {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                                                    </mat-icon>
                                                </span>
                                                <div>
                                                    <span *ngIf="column == 'invoice_number'">
                                                        {{element?.invoice_number}}
                                                    </span>
                                                    <span *ngIf="column == 'amount'">{{element?.amount}}</span>
                                                    <span *ngIf="column == 'status'">{{element?.status}}</span>
                                                    <span *ngIf="column == 'date'">{{element?.date}}</span>
                                                    <span *ngIf="column == 'action'"><a
                                                            class="text-success">{{element?.action}}</a></span>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="expandedDetail">
                                            <td mat-cell *matCellDef="let element"
                                                [attr.colspan]="columnsToDisplay.length">
                                                <div class="detail"
                                                    [@detailExpand]="expandId === element.id ? 'expanded' : 'collapsed'">
                                                    <div class="responsive-table">
                                                        <div><span>Invoice Number</span><span>
                                                                {{element?.invoice_number}}
                                                            </span></div>
                                                        <div><span>Amount</span><span> {{element?.amount}} </span></div>
                                                        <div><span>Status</span><span> {{element?.status}} </span></div>
                                                        <div><span>Date</span><span> {{element?.date}} </span></div>
                                                        <div><span>Action</span><span><a class="text-success">
                                                                    {{element?.action}} </a></span></div>
                                                    </div>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                                            [class.row]="expandedElement === element" (click)="openElement(element)">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                            class="detail-row"></tr>
                                    </table>
                                    <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
                                </div>

                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </mat-card-content>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            Payment Settings
                        </ng-template>
                        <div class="edit-profile m-t-10 payment-setting">
                            <mat-card-content>
                                <form fxLayout="row wrap">
                                    <mat-form-field class="example-full-width" fxFlex="50" appearance="outline">
                                        <input type="text" placeholder="Default payment preference" aria-label="Number"
                                            matInput [formControl]="myControl" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of options" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <div fxFlex="50">
                                        <button mat-raised-button (click)="addCard()" class="float-right filled-gray"><i
                                                class="fa fa-file-medical"></i> Add Card</button>
                                    </div>
                                </form>
                                <div fxLayout="row wrap" *ngIf="!isAddCreditCard">
                                    <div class="user-table p-l-10" fxFlex="100">
                                        <table mat-table [dataSource]="dataSource1" class="w-100">

                                            <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->

                                            <!-- Position Column -->
                                            <ng-container matColumnDef="card_img">
                                                <th mat-header-cell *matHeaderCellDef></th>
                                                <td mat-cell *matCellDef="let element" class="w-150"> <img
                                                        [src]="visa_card" alt=""> </td>
                                            </ng-container>


                                            <ng-container matColumnDef="credit_card">
                                                <th mat-header-cell *matHeaderCellDef> Credit Card </th>
                                                <td mat-cell *matCellDef="let element"> {{element.credit_card}} </td>
                                            </ng-container>


                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef class="text-center"> Action</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <a class="text-success">
                                                        Edit
                                                    </a>
                                                    <a class="text-danger m-l-10">
                                                        Remove
                                                    </a>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                    </div>
                                </div>
                            </mat-card-content>
                        </div>


                        <mat-card class="m-t-25">
                            <!--Example 5-->
                            <div class="cell example example5" id="example-5">
                                <!-- <form> -->
                                <div id="example5-paymentRequest">
                                    <!--Stripe paymentRequestButton Element inserted here-->
                                </div>
                                <fieldset *ngIf="isAddCreditCard">
                                    <!-- <legend class="card-only" data-tid="elements_examples.form.pay_with_card">Pay
                                            with card</legend>
                                        <legend class="payment-request-available"
                                            data-tid="elements_examples.form.enter_card_manually">Or enter card details
                                        </legend> -->
                                    <div class="row">
                                        <div class="field">
                                            <label for="name" data-tid="elements_examples.form.name_label">Name on
                                                Card*</label>
                                            <input id="name" data-tid="elements_examples.form.name_placeholder"
                                                class="input" type="text" placeholder="Full Name"
                                                [(ngModel)]="billing.name" required="" autocomplete="name">
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                            <div class="field">
                                                <label for="email"
                                                    data-tid="elements_examples.form.email_label">Email</label>
                                                <input id="email"
                                                    data-tid="elements_examples.form.email_placeholder" class="input"
                                                    type="text" placeholder="janedoe@gmail.com" required=""
                                                    autocomplete="email">
                                            </div>
                                            <div class="field">
                                                <label for="example5-phone"
                                                    data-tid="elements_examples.form.phone_label">Phone</label>
                                                <input id="example5-phone"
                                                    data-tid="elements_examples.form.phone_placeholder" class="input"
                                                    type="text" placeholder="(941) 555-0123" required=""
                                                    autocomplete="tel">
                                            </div>
                                        </div> -->
                                    <div data-locale-reversible>
                                        <div class="row" fxLayout="row wrap">

                                            <div class="field" fxFlex="50">
                                                <label for="phone"
                                                    data-tid="elements_examples.form.address_label">Phone</label>
                                                <input id="phone" data-tid="elements_examples.form.address_placeholder"
                                                    class="input" type="text" placeholder="Phone"
                                                    [(ngModel)]="billing.phone" required=""
                                                    autocomplete="address-line1">
                                            </div>
                                            <div class="field" fxFlex="50">
                                                <label for="email"
                                                    data-tid="elements_examples.form.address_label">Email</label>
                                                <input id="email" data-tid="elements_examples.form.address_placeholder"
                                                    class="input" type="text" [(ngModel)]="billing.email"
                                                    placeholder="Email" required="" autocomplete="address-line1">
                                            </div>
                                            <div class="field" fxFlex="50">
                                                <label for="street_address_1"
                                                    data-tid="elements_examples.form.address_label">Street Address
                                                    1</label>
                                                <input id="street_address_1"
                                                    data-tid="elements_examples.form.address_placeholder" class="input"
                                                    type="text" placeholder="Street Address 1" required=""
                                                    [(ngModel)]="billing.address.line1" autocomplete="address-line1">
                                            </div>
                                            <div class="field" fxFlex="50">
                                                <label for="street_address_2"
                                                    data-tid="elements_examples.form.address_label">Street Address
                                                    2</label>
                                                <input id="street_address_2"
                                                    data-tid="elements_examples.form.address_placeholder" class="input"
                                                    type="text" placeholder="Street Address 2" required=""
                                                    [(ngModel)]="billing.address.line2" autocomplete="address-line1">
                                            </div>
                                        </div>
                                        <div class="row" data-locale-reversible fxLayout="row wrap">
                                            <div class="field" fxFlex="50">
                                                <label for="example5-city"
                                                    data-tid="elements_examples.form.city_label">City</label>
                                                <input id="example5-city"
                                                    data-tid="elements_examples.form.city_placeholder" class="input"
                                                    type="text" placeholder="City" [(ngModel)]="billing.address.city"
                                                    required="" autocomplete="address-level2">
                                            </div>
                                            <div class="field" fxFlex="50">
                                                <label for="example5-state"
                                                    data-tid="elements_examples.form.state_label">State</label>
                                                <input id="example5-state"
                                                    data-tid="elements_examples.form.state_placeholder"
                                                    class="input empty" type="text" [(ngModel)]="billing.address.state"
                                                    placeholder="State" required="" autocomplete="address-level1">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="field">
                                        <label for="example5-card"
                                            data-tid="elements_examples.form.card_label">Card</label>
                                        <div id="card-info" #cardInfo></div>
                                    </div>
                                </div>
                                <button type="submit" mat-raised-button class="filled-success"
                                    (click)="createStripeToken()">Save
                                    Card</button>

                                <!-- </form> -->
                            </div>
                        </mat-card>

                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>