<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap" class="d-cards">
        <!-- loop over the cardList and show the cards -->
        <!-- <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 5px;">
            <mat-card class="profile">
                <mat-card-header matRipple>
                    <mat-card-title class="m-0">{{user?.first_name}} {{user?.last_name}}</mat-card-title>
                    <mat-card-subtitle>Dental Public Health</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="profile_bg" alt="Profile photo">
                <mat-card-content class="p-t-50 text-center p-b-50">
                    <div class="p-l-5 p-r-5"><i class="fas fa-map-marker-alt"></i> 3141 Doctors Drive,<br /> Los
                        Angeles,
                        California, 90017</div>
                    <div class="p-t-10 p-l-5 p-r-5"><i class="fas fa-phone-alt"></i> (+00) 00000000000</div>
                </mat-card-content>
            </mat-card>
        </div> -->

        <!-- loop over the cardList and show the cards -->
        <div fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column">
            <mat-card class="shadow p-t-15">

                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> security </mat-icon>
                            Security Settings
                        </ng-template>
                        <!-- cards here -->
                        <div class="edit-profile  m-t-10">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userPasswrdForm" (ngSubmit)="changePassword()">
                                    <mat-form-field class="m-t-5" appearance="standard" fxFlex="100">
                                        <mat-label>Current Password*</mat-label>
                                        <input type="password" matInput placeholder="Current Password"
                                            autocomplete="off" formControlName="current_password">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                        <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.required">Password field does not empty</mat-error> -->
                                        <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.pattern">Password field does not valid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50" class="m-t-5">
                                        <mat-label>New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="New Password" autocomplete="off"
                                            formControlName="new_password">
                                        <mat-icon matSuffix
                                            matTooltip="Password must contain at least 8 characters, including UPPER, lowercase, special character and numbers."
                                            matTooltipPosition="above">error_outline</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>

                                    </mat-form-field>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="50" class="m-t-5">
                                        <mat-label>Confirm New Password*</mat-label>
                                        <input [type]="isTypePassword ? 'password': 'text'" matInput
                                            placeholder="Confirm New Password" autocomplete="off"
                                            formControlName="confirmPassword">
                                        <mat-icon matSuffix (click)="changeInputType()">
                                            {{isTypePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                                    </mat-form-field>

                                    <div class="text-center w-100 m-t-10 m-b-10">
                                        <button mat-raised-button color="primary"
                                            class="m-r-10 rounded-corner btn_success">
                                            Save </button>
                                        <button mat-raised-button (click)="cancel()" type="button" class="rounded-corner"
                                            color="warn">Cancel</button>
                                    </div>
                                    <!-- <button mat-raised-button color="primary" class="m-t-5">Save Changes </button> -->
                                </form>
                            </mat-card-content>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> account_box </mat-icon>
                            Account Settings
                        </ng-template>
                        <!-- Edit profile -->
                        <div class="edit-profile m-t-10" *ngIf="user?.role_id != 2">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userForm" (ngSubmit)="userformSubmit()">

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Middle Name" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" class=" m-t-5 p-r-10">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput placeholder="Company Name" formControlName="company_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="100" class=" m-t-5 p-r-10">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput placeholder="Account Number"
                                            value="{{this.user?.account_no | mask: '0000-0000-0000'}}"
                                            autocomplete="off" disabled>
                                        <mat-error>error msg here</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="100" class="m-t-5  p-r-10">
                                        <mat-label>Signin Email ID*</mat-label>
                                        <input matInput placeholder="Signin Email ID" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <div class="text-center w-100 m-t-10 m-b-10">
                                        <button mat-raised-button color="primary"
                                            class="m-r-10 rounded-corner btn_success">
                                            Save </button>
                                        <button mat-raised-button type="button" class="rounded-corner"
                                            color="warn">Cancel</button>
                                    </div>
                                    <!-- <button mat-raised-button color="primary" class="m-t-5">Save Changes</button> -->
                                </form>
                            </mat-card-content>
                        </div>
                        <div class="edit-profile m-t-10" *ngIf="user?.role_id == 2">
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userForm" (ngSubmit)="userformSubmit()">
                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">User Details
                                    </div>
                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>First Name*</mat-label>
                                        <input matInput placeholder="First Name" formControlName="first_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput placeholder="Middle Name" formControlName="middle_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Last Name*</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="last_name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" class="m-t-5  p-r-10">
                                        <mat-label>Signin Email ID*</mat-label>
                                        <input matInput placeholder="Signin Email ID" formControlName="sign_in_email_id"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <div fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                                        <div fxLayout="row wrap">
                                            <mat-radio-group formControlName="individual_w9_number_type"
                                                aria-label="Select an option" fxFlex="40" fxFlex.md="30" fxFlex.lg="30"
                                                fxFlex.sm="40" fxFlex.xl="30" fxFlex.xs="100" class="p-t-35 p-l-10"
                                                style="white-space:nowrap;"
                                                (change)="userForm.controls['individual_w9_number'].setValue('')">
                                                <mat-radio-button value="EIN">EIN</mat-radio-button>
                                                <mat-radio-button value="SSN" class="p-l-10">SSN</mat-radio-button>
                                            </mat-radio-group>
                                            <mat-form-field appearance="standard" fxFlex="60" fxFlex.md="70"
                                                fxFlex.lg="70" fxFlex.sm="60" fxFlex.xs="100" fxFlex.xl="70">
                                                <mat-label>Tax ID</mat-label>
                                                <input matInput [dropSpecialCharacters]="false"
                                                    [mask]="userForm.value.individual_w9_number_type == 'SSN' ? '000-00-0000' : '00-0000000'"
                                                    placeholder="Tax ID" formControlName="individual_w9_number">
                                                <mat-error>Please enter valid Tax ID</mat-error>
                                            </mat-form-field>
                                        </div>

                                    </div>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Individual NPI Number</mat-label>
                                        <input matInput formControlName="individual_npi_number"
                                            placeholder="Individual NPI Number" autocomplete="off">
                                        <mat-error>Please enter valid NPI number</mat-error>
                                    </mat-form-field>

                                    <div class="sub-title p-l-10" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">Company Details
                                    </div>

                                    <mat-form-field appearance="standard" fxFlex="100" class=" m-t-5 p-r-10">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput placeholder="Account Number"
                                            value="{{this.user?.account_no | mask: '0000-0000-0000'}}"
                                            autocomplete="off" disabled>
                                        <mat-error>error msg here</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company Name</mat-label>
                                        <input matInput formControlName="company_name" placeholder="Company Name"
                                            autocomplete="off">
                                        <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company NPI Number</mat-label>
                                        <input matInput formControlName="company_npi_number"
                                            placeholder="Company NPI Number" autocomplete="off">
                                        <mat-error>Please enter valid NPI number</mat-error>
                                    </mat-form-field>


                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company Tax ID</mat-label>
                                        <input matInput formControlName="company_w9_number" placeholder="Company Tax ID"
                                            [dropSpecialCharacters]="false" mask="00-0000000" autocomplete="off">
                                        <mat-error>Please enter valid Tax ID</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                                        <mat-label>Company Taxonomy Code</mat-label>
                                        <input matInput placeholder="Select Company Taxonomy Code"
                                            aria-label="Office Name" [matAutocomplete]="texAuto"
                                            [formControl]="texoCtrl">
                                        <mat-autocomplete #texAuto="matAutocomplete">
                                            <mat-option (click)="texChange(taxonomy)"
                                                *ngFor="let taxonomy of (filteredTexonamy | async)"
                                                [value]="taxonomy.taxonomy_name" title="{{taxonomy?.taxonomy_code}} - {{taxonomy?.taxonomy_name}}">
                                                <span>{{taxonomy?.taxonomy_code}} - {{taxonomy?.taxonomy_name}}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>

                                    <div fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"
                                    class="sign-upload">
                                    <div fxLayout="row wrap">
                                        <mat-form-field fxFlex="100" class="w-100">
                                            <input matInput  [title]="selectedFile" readonly
                                            [value]="selectedFile | ellipsis:30" placeholder="No file chosen">
                                            <input type="file" #uploader accept="image/*" hidden (change)="fileChangeEvent($event)" id="uploadFile"
                                            >
                                            <button matSuffix type="button"  (click)="uploader.click()" mat-stroked-button color="primary" class="upload_btn">Upload <span
                                                    class="fa fa-upload"></span></button>
                                        </mat-form-field>
        
                                        <div fxFlex="100" *ngIf="!signData">
                                            <div class="empty-image m-l-10">
                                                no image uploaded
                                            </div>
                                        </div>
                                        <div fxFlex="100" *ngIf="signData">
                                            <div class="empty-image m-l-10">
                                               <img [src]="signData">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                    <div class="text-center w-100 m-t-10 m-b-10">
                                        <button mat-raised-button color="primary"
                                            class="m-r-10 rounded-corner btn_success">
                                            Save </button>
                                        <button (click)="cancel()" mat-raised-button type="button"
                                            class="rounded-corner" color="warn">Cancel</button>
                                    </div>

                                    <!-- <button mat-raised-button color="primary" class="m-t-5">Save Changes</button> -->
                                </form>


                             




                                <!-- <input type="file" accept="image/*" (change)="fileChangeEvent($event)" />
                                <br /> -->
                               
                            </mat-card-content>
                        </div>
                    </mat-tab>
                    <mat-tab *ngIf="user?.role_id == 2 || user?.role_id == 11">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> gps_fixed </mat-icon>
                            Primary Address
                        </ng-template>
                        <div class="primary-address">
                            <form [formGroup]="addressForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                <div fxLayout="row wrap" fxFlex="100">

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Address 1</mat-label>
                                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1" placeholder="Address 1"></textarea>
                                        <mat-error>Please enter valid address</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Address 2</mat-label>
                                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2" placeholder="Address 2"></textarea>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city" placeholder="City" autocomplete="off">
                                        <mat-error>Please enter valid city</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state">
                                            <mat-option *ngFor="let state of states" [value]="state.state">
                                                {{state.state}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Please enter valid state</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>Zip code</mat-label>
                                        <input matInput  mask="9{10}" [dropSpecialCharacters]="false" formControlName="zip_code" placeholder="Zip code"
                                            autocomplete="off">
                                        <mat-error>Please enter valid zip code</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">
                                        <mat-label>Location Contact Person</mat-label>
                                        <input matInput formControlName="contact_person"
                                            placeholder="Location Contact Person" autocomplete="off">
                                        <mat-error>Please enter valid notes</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Land Line 1</mat-label>
                                        <input matInput (keypress)="numberOnly($event)" formControlName="phone1" mask="(000) 000-0000"
                                            placeholder="Land Line 1" autocomplete="off">
                                        <mat-error>Please enter valid land line number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Land Line 2</mat-label>
                                        <input matInput (keypress)="numberOnly($event)" formControlName="phone2" mask="(000) 000-0000"
                                            placeholder="Land Line 2" autocomplete="off">
                                        <mat-error>Please enter valid land line number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Mobile 1</mat-label>
                                        <input matInput (keypress)="numberOnly($event)" formControlName="mobile1" mask="(000) 000-0000"
                                            placeholder="Mobile 1" autocomplete="off">
                                        <mat-error>Please enter valid mobile number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Mobile 2</mat-label>
                                        <input matInput (keypress)="numberOnly($event)" formControlName="mobile2" mask="(000) 000-0000"
                                            placeholder="Mobile 2" autocomplete="off">
                                        <mat-error>Please enter valid mobile number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Fax 1</mat-label>
                                        <input matInput formControlName="fax1" mask="000-000-0000" placeholder="Fax 1"
                                            autocomplete="off">
                                        <mat-error>Please enter valid fax number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Fax 2</mat-label>
                                        <input matInput formControlName="fax2" mask="000-000-0000" placeholder="Fax 2"
                                            autocomplete="off">
                                        <mat-error>Please enter valid fax number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Email ID 1</mat-label>
                                        <input matInput formControlName="email1" placeholder="Email ID 1">
                                        <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Email ID 2</mat-label>
                                        <input matInput formControlName="email2" placeholder="Email ID 2">
                                        <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" hintLabel="Max 2400 characters"  fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">
                                        <mat-label>Notes</mat-label>
                                        <textarea matInput #textarea1 maxlength="2400" formControlName="notes" placeholder="Notes"   cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                                        <mat-hint align="end">{{textarea1.value?.length || 0}}/2400</mat-hint>
                                        <mat-error>Please enter valid notes</mat-error>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>

                        <div class="m-0 sub-title p-l-10 p-t-25">Billing Address</div>
                        <div class="billing-address">
                            <div fxLayout="row wrap">
                                <div fxFlex="100">
                                    <mat-checkbox [(ngModel)]="isBillingStatus" (change)="primaryAsBill()"
                                        class="checkbox">Same as primary address</mat-checkbox>
                                    <!-- <button mat-stroked-button class="new-address m-t-10 m-l-10" color="primary"
                                        (click)="billing_address = !billing_address ">
                                        <mat-icon>add_circle</mat-icon> Add new billing address
                                    </button> -->
                                </div>

                            </div>
                            <form [formGroup]="billingForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                                <div fxLayout="row wrap" fxFlex="100">

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Address 1</mat-label>
                                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1" placeholder="Address 1"></textarea>
                                        <mat-error>Please enter valid address</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Address 2</mat-label>
                                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2" placeholder="Address 2"></textarea>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city" placeholder="City" autocomplete="off">
                                        <mat-error>Please enter valid city</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state">
                                            <mat-option *ngFor="let state of states" [value]="state.state">
                                                {{state.state}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Please enter valid state</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3"
                                        fxFlex.sm="33.3" fxFlex.xs="100">
                                        <mat-label>Zip code</mat-label>
                                        <input matInput  mask="9{10}" [dropSpecialCharacters]="false" formControlName="zip_code" placeholder="Zip code"
                                            autocomplete="off">
                                        <mat-error>Please enter valid zip code</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">
                                        <mat-label>Location Contact Person</mat-label>
                                        <input matInput formControlName="contact_person"
                                            placeholder="Location Contact Person" autocomplete="off">
                                        <mat-error>Please enter valid notes</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Land Line 1</mat-label>
                                        <input matInput formControlName="phone1" mask="(000) 000-0000"
                                            placeholder="Land Line 1" autocomplete="off">
                                        <mat-error>Please enter valid land line number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Land Line 2</mat-label>
                                        <input matInput formControlName="phone2" mask="(000) 000-0000"
                                            placeholder="Land Line 2" autocomplete="off">
                                        <mat-error>Please enter valid land line number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Mobile 1</mat-label>
                                        <input matInput formControlName="mobile1" mask="(000) 000-0000"
                                            placeholder="Mobile 1" autocomplete="off">
                                        <mat-error>Please enter valid mobile number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Mobile 2</mat-label>
                                        <input matInput formControlName="mobile2" mask="(000) 000-0000"
                                            placeholder="Mobile 2" autocomplete="off">
                                        <mat-error>Please enter valid mobile number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Fax 1</mat-label>
                                        <input matInput formControlName="fax1" mask="000-000-0000" placeholder="Fax 1"
                                            autocomplete="off">
                                        <mat-error>Please enter valid fax number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Fax 2</mat-label>
                                        <input matInput formControlName="fax2" mask="000-000-0000" placeholder="Fax 2"
                                            autocomplete="off">
                                        <mat-error>Please enter valid fax number</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Email ID 1</mat-label>
                                        <input matInput formControlName="email1" placeholder="Email ID 1">
                                        <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label>Email ID 2</mat-label>
                                        <input matInput formControlName="email2" placeholder="Email ID 2">
                                        <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                                    </mat-form-field>

                                    <!-- <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">
                                        <mat-label>Notes</mat-label>
                                        <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
                                        <mat-error>Please enter valid notes</mat-error>
                                    </mat-form-field> -->
                                    <mat-form-field appearance="outline" hintLabel="Max 2400 characters"  fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                    fxFlex.xs="100">
                                    <mat-label>Notes</mat-label>
                                    <textarea matInput #textarea maxlength="2400" formControlName="notes" placeholder="Notes"   cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                                    <mat-hint align="end">{{textarea.value?.length || 0}}/2400</mat-hint>
                                    <mat-error>Please enter valid notes</mat-error>
                                </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <div class="text-center w-100 m-t-30 m-b-10">
                            <button mat-raised-button color="primary" class="m-r-10 btn_success rounded-corner"
                                (click)="addressFormSubmit()">Save</button>
                            <button mat-raised-button color="warn" (click)="_location.back()"
                                class="rounded-corner m-l-10">
                                Cancel </button>

                        </div>

                    </mat-tab>
                    <mat-tab *ngIf="user?.role_id == 2 || user?.role_id == 11">
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon p-r-5"> credit_card </mat-icon>
                            Payment Settings
                        </ng-template>
                        <div class="edit-profile">
                            <div class="m-0 sub-title p-l-10 p-t-25">Card Holder Details</div>
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap">
                                    <mat-form-field appearance="standard" fxFlex="100" class="m-t-5">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Name as on Credit Card" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Email ID*</mat-label>
                                        <input matInput placeholder="Email ID" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                        fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                                        <mat-label>Phone Number</mat-label>
                                        <input matInput placeholder="Phone Number" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                        fxFlex.xs="100">
                                        <mat-label>Address </mat-label>
                                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" placeholder="Address "></textarea>
                                        <mat-error>Please enter valid address</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>City</mat-label>
                                        <input matInput placeholder="City" autocomplete="off">
                                        <mat-error>Please enter valid city</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>State</mat-label>
                                        <mat-select>
                                            <mat-option>
                                                option here
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Please enter valid state</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                        fxFlex.xs="100">
                                        <mat-label>Zip code</mat-label>
                                        <input matInput placeholder="Zip code" autocomplete="off">
                                        <mat-error>Please enter valid zip code</mat-error>
                                    </mat-form-field>

                                </form>
                            </mat-card-content>
                        </div>
                        <div class="edit-profile">
                            <div class="m-0 sub-title p-l-10 p-t-10">Card Details</div>
                            <mat-card-content>
                                <!--Form start-->
                                <form fxLayout="row wrap">
                                    <mat-radio-group fxFlex="100" class="m-t-20">
                                        <mat-radio-button value="1" class="p-l-10">One Time Payment</mat-radio-button>
                                        <mat-radio-button value="2" class="p-l-20">Recurring Payment</mat-radio-button>
                                    </mat-radio-group>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="60" fxFlex.lg="60"
                                        fxFlex.sm="60" class="m-t-5">
                                        <mat-icon matPrefix class="p-t-3">credit_card</mat-icon>
                                        <mat-label>Credit Card Number*</mat-label>
                                        <input matInput placeholder="EX : 0000 0000 0000 0000" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="30" fxFlex.lg="30"
                                        fxFlex.sm="30" class=" m-t-5">
                                        <mat-label>Expiration Date</mat-label>
                                        <input matInput placeholder="EX : 01-Jan / 2020" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="10" fxFlex.lg="10"
                                        fxFlex.sm="10" class=" m-t-5">
                                        <mat-label>CCV Code <mat-icon>info</mat-icon>
                                        </mat-label>
                                        <input matInput placeholder="CCV Code" autocomplete="off">
                                        <mat-error>error msg here></mat-error>
                                    </mat-form-field>
                                </form>
                            </mat-card-content>
                        </div>
                        <div class="text-center w-100 m-t-30 m-b-10">
                            <button mat-raised-button color="primary" class="m-r-10 btn_success rounded-corner"
                                (click)="addressFormSubmit()">Save</button>
                            <button mat-raised-button color="warn" (click)="_location.back()"
                                class="rounded-corner m-l-10">
                                Cancel </button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>