// Layout
$gutter: 16px !default;

// Sidenav
$sidenav-width: 240px !default;
$sidenav-collapsed-width: 50px !default;
$sidenav-width-mobile: 280px !default;

// Toolbar
$toolbar-height-desktop: 64px !default;
$toolbar-height-mobile: 56px !default;

//Alignment
$float-left: left;
$float-right: right;
$float-none: none;
//
// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$breakpoints: (
  xsmall: 0,
  small: 600px,
  medium: 960px,
  large: 1280px,
  xlarge: 1920px,
) !default;

//Width
$width-10: 10%;
$width-20: 20%;
$width-30: 30%;
$width-40: 40%;
$width-50: 50%;
$width-60: 60%;
$width-70: 70%;
$width-80: 80%;
$width-90: 90%;
$width-95: 95%;
$width-100: 100%;

// Font-weight
.font-weight-600 {
  font-weight: $font-weight-bold !important;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.display-block {
  display: block !important;
}
.pointer {
  cursor: pointer;
}
//Width
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.icon-16 {
  width: 16px;
}