@import "variables";
.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
    li {
        float: left;

        a {
            color: $white;
            width: auto;
            font-size: $font-size-7;
            min-width: 85px;
            text-decoration: none;
            display: inline-flex !important;
            padding: 10px 10px 10px 45px;
            display: block;
            background: #f2f7fe;
            background: transparent linear-gradient(135deg, #f2f7fe 0%, #f2f7fe 80%) 0% 0% no-repeat padding-box;
            position: relative;
            display: block;
            float: left;
            &::after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid #f2f7fe;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }
            &::before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }
            i {
                padding-top: 17px;
                padding-right: 10px;
            }
            span.p-b-11 {
                padding-bottom: 11px;
            }
        }
        &:first-child a {
            padding-left: 10px;
        }
    }
}

.breadcrumb li:nth-child(1) a {
    background: transparent linear-gradient(136deg, #a0e3af 0%, #275535 80%) 0% 0% no-repeat padding-box;
    &::after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ffffff;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
    }
    &::before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ffffff;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 0px;
        left: 0%;
        z-index: 1;
    }
}
.breadcrumb li:nth-child(1) a:after {
    border-left-color: #275535;
}
.breadcrumb li:nth-child(2) a {
    background: transparent linear-gradient(140deg, #f8d0b7 0%, #d06625 80%) 0% 0% no-repeat padding-box;
}
.breadcrumb li:nth-child(2) a:after {
    border-left-color: #d06625;
}
.breadcrumb li:nth-child(3) a {
    background: transparent linear-gradient(140deg, #91baff 0%, #224580 80%) 0% 0% no-repeat padding-box;
}
.breadcrumb li:nth-child(3) a:after {
    border-left-color: #224580;
}
.breadcrumb li:nth-child(4) a {
    background: transparent linear-gradient(126deg, #ffa7bd 0%, #801a33 80%) 0% 0% no-repeat padding-box;
}
.breadcrumb li:nth-child(4) a:after {
    border-left-color: #801a33;
}
.breadcrumb li:nth-child(5) a {
    color: $black;
}
.breadcrumb li:nth-child(6) a {
    color: $black;
}
.breadcrumb li:nth-child(7) a {
    color: $black;
}

// Style -1

.bill-status {
    list-style: none;
    overflow: hidden;
    padding: 0;
    li {
        float: left;

        a {
            color: $black;
            width: auto;
            font-size: $font-size-7;
            min-width: 85px;
            text-align: center;
            text-decoration: none;
            display: inline-flex !important;
            padding: 10px 10px 10px 45px;
            display: block;
            background: #f2f7fe;
            background: transparent linear-gradient(135deg, #f2f7fe 0%, #f2f7fe 80%) 0% 0% no-repeat padding-box;
            position: relative;
            display: block;
            float: left;
            &::after {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid #f2f7fe;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                left: 100%;
                z-index: 2;
            }
            &::before {
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: 50px solid transparent;
                border-left: 30px solid white;
                position: absolute;
                top: 50%;
                margin-top: -50px;
                margin-left: 1px;
                left: 100%;
                z-index: 1;
            }
            i {
                padding-top: 17px;
                padding-right: 10px;
            }
            span.p-b-11 {
                padding-bottom: 11px;
            }
        }
        &:first-child a {
            padding-left: 10px;
        }
    }
}
.bill-status li:nth-child(1) a:after {
    border-left-color: #ffffff;
}

.bill-status li:nth-child(1) a {
    background: #fff;
}
.bill-status li:nth-child(2) a:after {
    border-left-color: $primarycolor;
}

.bill-status li:nth-child(2) a {
    background: $primarycolor;
    color: $white;
}
.bill-status li:nth-child(3) a:after {
    border-left-color: #ffffff;
}

.bill-status li:nth-child(3) a {
    background: #fff;
}













.steps {
    margin: 40px 0px;
    padding: 0;
    display: block;
    overflow: hidden;
    a {
        color: white;
        text-decoration: none;
        display: flex;
    }
    em {
        display: block;
        font-size: 13px;
        font-style: normal;
        padding-top: 7px;
        @media screen and (max-width: 1024px) and (min-width: 768px) {            
            font-size: 12px;
          }
    }
    i {
        padding-top: 17px;
        padding-right: 10px;
        @media screen and (max-width: 1024px) and (min-width: 768px) {            
           padding-left: 0px !important;
          }
    }
    li {
        float: left;
        margin-left: 0;
        width: 105px; /* 100 / number of steps */
        height: 50px; /* total height */
        list-style-type: none;
        padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
        border-right: 3px solid #e0ebfb; /* width: gap between arrows, color: background of document */
        position: relative;
        border-top: 3px solid #e0ebfb;
        border-bottom: 3px solid #e0ebfb;
        @media screen and (max-width: 1024px) and (min-width: 768px) {
            width: 55px ;
            font-size: 12px;
            &:nth-child(4) {
                width: 75px;
            }
            &:nth-child(5) {
                width: 85px;
            }
          }
    }
}

/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
    padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n + 2)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 25px solid #e0ebfb; /* width: arrow width, color: background of document */
    border-top: 30px solid transparent; /* width: half height */
    border-bottom: 30px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
}
/* colored arrow to the right */
.steps li::after {
    z-index: 1; /* need to bring this above the next item */
    position: absolute;
    top: 0;
    right: -25px; /* arrow width (negated) */
    display: block;
    border-left: 25px solid #7c8437; /* width: arrow width */
    border-top: 30px solid transparent; /* width: half height */
    border-bottom: 30px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li.forms {
    background: transparent linear-gradient(136deg, #a0e3af -10%, #275535 70%) 0% 0% no-repeat padding-box;
}
.steps li.forms::after {
    border-left-color: #275535;
}

.steps li.history {
    background: transparent linear-gradient(140deg, #f8d0b7 0%, #d06625 68%) 0% 0% no-repeat padding-box;
}
.steps li.history::after {
    border-left-color: #d06625;
}

.steps li.records {
    background: transparent linear-gradient(140deg, #91baff 0%, #224580 70%) 0% 0% no-repeat padding-box;
}
.steps li.records::after {
    border-left-color: #224580;
}

.steps li.exam {
    background: transparent linear-gradient(126deg, #ffa7bd 0%, #801a33 80%) 0% 0% no-repeat padding-box;
}
.steps li.exam::after {
    border-left-color: #801a33;
}

.steps li.inprogress {
    background: transparent linear-gradient(140deg, #ffffff 0%, #ffffff 80%) 0% 0% no-repeat padding-box;
    &::after {
        border-left-color: #ffffff;
    }
    a {
        color: $black;
    }
}
