@import "variables";

.user-table {
  width: $width-100;
  // border: 1px solid $table-solid;
  tr {
    &:nth-child(4n + 3) {
      background-color: $table-solid;
    }
    th {
      padding: 0px 6px !important;
      color: $white !important;
      font-size: $font-size-1;
      background-color: $active;
      white-space: pre;
    }
    td {
      color: $dark-gray;
      padding: 0px 10px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    &:hover {
      background-color: $table-solid;
      cursor: pointer;
    }
  }
  .mat-header-row {
    height: 50px !important;
  }
}

// ==================================
// Table Responsive styles   ========
// ==================================

tr.detail-row {
  height: 0;
}
.detail {
  overflow: hidden;
  display: flex;
  .responsive-table {
    min-width: $width-100;
    background-color: $table-solid;
    padding: 8px;
    font-weight: lighter;
    margin: 5px 0;
    div {
      width: 100%;
      display: flex;
      span {
        padding: 0;
        align-self: baseline;
        word-break: break-word;
        &:first-child {
          min-width: 120px;
          width: 100%;
          max-width: 120px;
          font-weight: $font-weight-bold;
          font-size: $font-size-1;
          color: $text-gray;
          &::after {
            content: ":";
            display: inline-flex;
            float: right;
            padding-right: 5px;
          }
        }
        &:nth-child(2) {
          font-weight: $font-weight-base;
        }
      }
    }
  }
}

.table-expand {
  padding-top: 8px;
  color: $text-error;
  font-size: $font-size-4;
}
.expand-close {
  padding-top: 8px;
  color: $btn_success;
  font-size: $font-size-4;
}

// ==================================
// Basic Details   ========
// ==================================

.basic-table.document_list,
.billing_list {
  padding: 0px !important;
  table {
    width: $width-100;
    tr {
      &:nth-child(4n + 3) {
        background-color: $table-solid;
      }
      th {
        padding: 0px 10px !important;
        color: $white !important;
        font-size: $font-size-1;
        background-color: $active;
        white-space: pre;
        &:first-child {
          width: 25px;
        }
      }
      td {
        color: $dark-gray;
        padding: 0px 10px !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        &:first-child {
          img {
            width: 23px;
          }
        }
      }
      &:hover {
        background-color: $table-solid;
        cursor: pointer;
      }
    }
    .mat-header-row {
      height: 50px !important;
    }
  }
}

// ==================================
// Table data no wrap scss   ========
// ==================================

.no-wrap-td {
  white-space: pre;
}

.width-150 {
  min-width: 150px;
}

.empty-data {
  top: 45%;
  width: 100%;
  text-align: center;
  position: absolute;
  h3 {
    color: $light-gray;
  }
}

.table-empty-data {
  width: 100%;
  text-align: center;
}

.user-detail,
.billing_list {
  min-height: 55vh; //table empty space
  width: 100%; //table harizontal scroll
  display: block;
  overflow-x: auto;
}

.edit {
  color: $btn_success;
}

.title-center {
  th {
    text-align: center !important;
  }
}

.user-table tbody tr:nth-child(even) {
  background-color: $table-solid;
}
.striped_ {
  tbody {
    tr {
      &:nth-child(even) {
        background-color: $table-solid;
      }
      &:nth-child(odd) {
        background-color: $white !important;
      }
    }
  }
}
.height-auto {
  min-height: auto !important;
}

// Fixed height
.vertical-fixed {
  min-height: 290px;
  max-height: 290px;
  overflow: auto;
  box-shadow: $shadow-style-one;
  @media only screen and (max-width: 568px) {
    min-height: 150px;
    max-height: 500px;
  }
}

.footer-fixed {
  //   table {
  //     tbody {
  //       min-height: 290px;
  //       min-width: 100%;
  //       display: inline-table;
  //       overflow-y: auto;
  //       tr {
  //         width: 100%;
  //       }
  //     }
  tfoot {
    tr {
      td {
        // box-shadow: $shadow-style-one;
        border-top: 1px solid $light-color;
        font-size: $font-size-2 !important;
        font-weight: $font-weight-medium;
        color: $black !important;
        background-color: $light-color;
      }
    }
  }
  //   }
}

.file_type_icon {
  width: 20px;
  img {
    width: 20px;
  }
}

// Bill line item table custom css

.billing-table {
  width: $width-100;
  border-collapse: collapse;
  table-layout: fixed;
  // position: relative;
  // height: 350px;
  thead {
    th {
      padding: 12px 10px !important;
      color: $white !important;
      font-size: $font-size-1;
      background-color: $active;
      white-space: pre;
      text-align: left;
    }
  }
  tbody {
    // height: 500px;
    // position: relative;
    // width: 100%;
    // z-index: 1;
    // margin: auto;
    // overflow: auto;
    tr {
      &:nth-child(even) {
        background-color: $table-solid;
      }
      &:nth-child(odd) {
        background-color: $white !important;
      }
      td {
        color: $dark-gray;
        padding: 0px 10px !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        &:first-child {
          width: 100px;
        }
        .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
          padding: 5px 0 10px 0;
        }
        mat-form-field {
          width: 100%;
          .mat-form-field-wrapper {
            padding-bottom: 5px !important;
          }
        }
        a {
          cursor: pointer;
        }
      }
      td.bill-modifier {
        // display: contents;
        // mat-form-field {
        //   width: 26px !important;
        //   margin-left: 4px;
        //   &:first-child {
        //     margin-left: 4px;
        //   }
        //   .mat-form-field-flex {
        //     padding: 0 6px !important;
        //   }
        // }
        .chip-list {
          width: 100%;
          line-height: 2.5;
          .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
            padding: inherit;
          }
          .mat-form-field-flex {
            padding: 0 0px !important;
          }
          .mat-standard-chip.mat-chip-with-trailing-icon {
            padding: 0 4px 0 10px;
            min-height: 25px;
          }
          .mat-chip-list-wrapper .mat-standard-chip,
          .mat-chip-list-wrapper input.mat-input-element {
            margin: 2px;
          }
          .mat-standard-chip .mat-chip-remove.mat-icon {
            margin-left: 4px;
          }
        }
      }
      td.no-wrap-td {
        @media screen and (max-width: 1024px) and (min-width: 768px) {
          white-space: normal;
          text-align: center;
        }
      }
    }
    tr.bill-value {
      td {
        padding: 12px 10px !important;
      }
      td.no-wrap-td {
        @media screen and (max-width: 1024px) and (min-width: 768px) {
          white-space: normal;
          text-align: center;
        }
      }
    }
    tr#static-footer {
      font-weight: $font-weight-bold;
      position: sticky;
    }
  }
  tfoot {
    border-top: 1px solid $light-gray;
    tr {
      td {
        position: -webkit-sticky;
        position: sticky;
        padding: 12px 10px !important;
        bottom: 0;
        z-index: 4;
        background-color: $white;
      }
    }
  }
}
.billing-table tr th,
.billing-table tr td {
  border: 1px solid $light-color;
}

.bill-line-mobile {
  table {
    width: 100%;
    tbody {
      // max-height: 300px;
      // overflow: auto;
      tr {
        &:nth-child(odd) {
          background-color: $light-color;
        }
        td {
          .mat-accordion {
            .mat-expansion-panel {
              .mat-expansion-panel-header {
                padding-left: 5px !important;
              }
            }
          }
          mat-card {
            padding: 5px;
            div.flex {
              display: flex;
              div.bill-property {
                padding: 5px 2px;
                width: 35%;
                font-weight: bold;
                &::after {
                  content: ":";
                  text-align: right;
                }
              }
              div.value {
                padding: 5px 2px;
                width: 65%;
              }
            }
          }
        }
      }
    }
  }
}

.bill-line-mobile {
  .editable-bill {
    td {
      mat-card {
        padding: 5px;
        div.flex {
          display: flex;
          div.bill-property {
            padding: 5px 2px;
            width: 35%;
            font-weight: bold;
            &::after {
              content: ":";
              text-align: right;
            }
          }
          div.editable {
            padding: 5px 2px;
            .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
              padding: 5px 0 10px 3px !important;
            }
            mat-form-field {
              width: 98%;
              .mat-form-field-wrapper {
                padding-bottom: 5px !important;
              }
            }
            a {
              cursor: pointer;
            }
            .chip-list {
              width: 100%;
              line-height: 2.5;
              .mat-form-field.mat-form-field-appearance-outline .mat-form-field-infix {
                padding: inherit;
              }
              .mat-form-field-flex {
                padding: 0 0px !important;
              }
              .mat-standard-chip.mat-chip-with-trailing-icon {
                padding: 0 4px 0 10px;
                min-height: 25px;
              }
              .mat-chip-list-wrapper .mat-standard-chip,
              .mat-chip-list-wrapper input.mat-input-element {
                margin: 2px;
              }
              .mat-standard-chip .mat-chip-remove.mat-icon {
                margin-left: 4px;
              }
              .mat-select-trigger {
                display: table-cell !important;
              }

              .mat-select-value {
                display: table !important;
              }
            }
          }
        }
      }
    }
  }
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}
