@import "variables";

.mat-tab-group .mat-tab-label-active {
  background-color: $light-color !important;
  opacity: 1 !important;
}
.user-list,.doc-list {
  min-height: 50px;
}
 .tab-background-color {
  .mat-tab-header {
      background-color: $tab-bg-1 !important;
    }
  
}
.mat-ink-bar {
  background-color: $primary-dark !important;
}