@import "variables";

.mat-tab-group .mat-tab-label-active {
  background-color: $tab-active !important;
  opacity: 1 !important;
}
.user-list {
  min-height: 50px;
}
.user-count {
  color: $text-success;
}
