@import 'variables';

table {
  width: $width-100;
  tr {
    th {
      padding: 0px 10px !important;
      color: $white !important;
      font-size: $font-size-1;
      background-color: $ternary-color;
    }
    td {
      color: $dark-gray;
      padding: 0px 10px !important;
    }
    &:hover {
      background-color: $bg-light-blue;
          }
  }
  .mat-header-row {
    height: 50px !important;
  }
}