:root {
  --cropper-outline-color: rgba(0, 0, 0, 0.3);
}

$primary: #e21b8e;
$secondary: #96358d;
$ternary: hsl(193, 100%, 44%);

$primary-dark: #1b1c1d;
$primary-light: #383838;
$menu-light: #b3b3b3;
$navbar-light: #f4f4f4;
$light-color: #f4f4f4;
$progres-light-gray: #e6e6e6;

$active: #767676;

//===================================
//===== alert-color =================
//===================================

// INFORMATION
$info: #018aaf;
$info-bg: #f2fbfe;
$info-border: #bedfe6;

// ERROR
$error: #db2828;
$error-bg: #fcebeb;
$error-border: #db2828;

// WARNING
$warning: #a3501c;
$warning-bg: #fcddca;
$warning-border: #a3501c;

// SUCCESS
$success: #1e561f;
$success-bg: #dbf5d2;
$success-border: #a8c599;

//colors
$bg-light-blue: #f2f7ff;
//Primary background colors
$primarycolor: #3c3cff;
$primarylightcolor: #8369ff;
$primarydarkcolor: #000eca;

//Secondary background colors
$secondarycolor: #65ff88;
$secondarylightcolor: #9effb9;
$secondaryarkcolor: #19cb59;

// progress error
$progress-error: #f27120;

//ternary color
$ternary-color: #6464fa;

//Extra colors
// $green: #65ff88;
$green: #4fcc24;
$white: #ffffff;
$black: #000000;
$gray: #ccc;
$text-gray: #5b626b;
// $text-gray: #767676;
$lightgray: #e0e1e2;
$dark-gray: #4d4f5c;
// $light-gray: #a2a1a1;
$light-gray: #a2a1a1;
$text-dark: #45515f;
$menu-active: #383838; //Menu active background
$tab-active: #3c3cff1f; //Tab active background
$transparent: transparent;
$border-light: #efefef;
$yellow: #f2cf3c;
$light_green: #b5cc18;
$icon-gray: #a7a7a7;
$text-light: #707070;

//alert colors
$text-success: rgb(3, 90, 6);
$text-error: rgb(197, 1, 1);
$text-warning: rgb(206, 123, 0);
$bg-success: rgb(76, 175, 80);
$bg-error: rgba(255, 54, 54, 0.05);
$bg-warning: rgba(255, 178, 54, 0.4);
$bg-error-style-one: #ff8f8f;
$btn_success: #4fcc24 !default;
$btn_close: #ebebf2;
$accent: #ff4081;
$disabled: rgba(0, 0, 0, 0.12);

// Tab background color
$tab-bg-1: #3c3cff1f;

//btn light color
$btn-light-color: #e3e3fa;

//
$warning-light: #ffc400;
// $danger: #ff3366;
$danger: #db2828;

//table odd row color
$table-solid: #f8f8f8;
//class
// Matero Variables
//
// Layout
$gutter: 16px !default;

// Sidenav
$sidenav-width: 240px !default;
$sidenav-collapsed-width: 50px !default;
$sidenav-width-mobile: 280px !default;

// Toolbar
$toolbar-height-desktop: 64px !default;
$toolbar-height-mobile: 56px !default;

// Typography
$font-size-base: 14px !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 40px !default;
$font-size-h2: 32px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;

//Font-size
$font-size-1: 0.875rem; // font-size: 14px
$font-size-2: 1rem; // font-size: 16px;
$font-size-3: 0.75rem; // font-size: 12px;
$font-size-4: 1.375rem; // font-size: 22px;
$font-size-5: 0.6875rem; // font-size: 11px;
$font-size-6: 1.0625rem; // font-size: 17px;
$font-size-7: 0.8125rem; // font-size: 13px;
$font-size-8: 0.5625rem; // font-size: 9px;
$font-size-9: 1.25rem; // font-size: 20px;
$font-size-10: 1.125rem; // font-size: 18px;
$font-size-11: 0.938rem; // font-size: 15px;
$font-size-12: 0.625rem; // font-size: 10px;
$font-size-13: 1.5rem; // font-size: 24px;
$font-size-14: 2.25rem; // font-size: 36px;
$font-size-15: 3rem; //font-size: 48px;
$font-size-16: 5.5rem; // font-size: 88px;
$font-size-17: 1.875rem; // font-size: 30px;
$font-size-18: 5.625rem; // font-size: 90px;
$font-size-19: 2.5rem; // font-size: 40px;
$font-size-20: 0.7em;
$font-size-21: 1.1875rem; // font-size: 19px;
$font-size-22: 0.656rem; //font-size: 10.5px;
$font-size-23: 2em;

//Font-family

$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Lato ";
$font-family-source-san-serif: "Lato";

//Alignment
$float-left: left;
$float-right: right;
$float-none: none;
//
// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$breakpoints: (
  xsmall: 0,
  small: 600px,
  medium: 960px,
  large: 1280px,
  xlarge: 1920px,
) !default;

//Width
$width-10: 10%;
$width-20: 20%;
$width-30: 30%;
$width-40: 40%;
$width-50: 50%;
$width-60: 60%;
$width-70: 70%;
$width-80: 80%;
$width-90: 90%;
$width-95: 95%;
$width-100: 100%;
//box Shadow
$nav-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$shadow-style-one: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
$shadow-style-one-hover: 0 0 25px -5px #9e9c9e;

$box-shadow-none: none !important;
$box-shadow-1: 5px 5px 25px #b3c5de9c;
$box-shadow-2: 3px 0 10px 0 rgba(183, 192, 206, 0.2); // Using navebar
$box-shadow-3: 0px 3px 6px #00000029;
$box-shadow-4: 0px 3px 6px #00000029; // Using logo toolbar
$box-shadow-7: 0px 1px 10px #00000029; // Using logo toolbar
$box-shadow-5: 0px 3px 6px #448aff38; //using table header
$box-shadow-6: 0px 7px 25px rgba(18, 38, 63, 0.1);

//button Shadow
$btn-primary-shadow: 0px 3px 5px #2e5eaf;

//table shadow
$box-shadow: 0px 0px 5px #b3c5de9c;

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.display-block {
  display: block !important;
}

//Width
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}

.icon-16 {
  width: 16px;
}
// mixins scss

// ==================================
// Authentication styles     ========
// ==================================

@mixin content-wrapper {
  padding: 20px;
  background-color: $white;
  @media only screen and (max-width: 568px) {
    padding: 10px;
  }
}
@mixin main-title {
  padding-left: 10px !important;
  margin-bottom: 3px;
}

@mixin mat-card-title {
  font-size: $font-size-2;
  font-weight: $font-weight-bold;
  button {
    float: $float-right;
  }
}

@mixin switched-link {
  padding-top: 22px;
  text-align: left;
  font-size: $font-size-2;
  color: $active;
  font-weight: $font-weight-base;
  outline: none;
  &:focus,
  &:active {
    outline: none;
  }

  span {
    color: $ternary;
    border-bottom: 1px solid $ternary;
    outline: none;
    cursor: pointer;
  }
}

@mixin text {
  color: $dark-gray;
  letter-spacing: 0.5;
}
@mixin card-main-title {
  font-size: $font-size-10 !important;
  font-weight: $font-weight-base;
  color: $text-gray;
}

.logo {
  // width: 75%;
  width: 300px;
  margin: 0px auto;
  display: block;
  max-width: 100%;
  border-radius: 0px !important;
}
.logo-white {
  width: auto;
  margin: 0px !important;
}
.auth-header {
  min-height: 140px;
  @media only screen and (max-width: 568px) {
    min-height: 165px;
  }
}
.auth-header-login {
  min-height: 65px;
  @media only screen and (max-width: 568px) {
    min-height: 60px;
  }
}
.auth-header-1 {
  min-height: 115px;
  @media only screen and (max-width: 568px) {
    min-height: 140px;
  }
}
.auth-tilte {
  font-family: $font-family-source-san-serif;
  letter-spacing: 0;
  color: $active;
  opacity: 1;
  font-size: $font-size-17;
  font-weight: $font-weight-bold;
  text-align: center;
}
.authentication-btn {
  // background: transparent linear-gradient(100deg, #3c3cff 0%, #224580 100%) 0% 0% no-repeat padding-box;
  background: $ternary;
  // box-shadow: $btn-primary-shadow;
  border-radius: 2px;
  font-size: $font-size-9;
  font-weight: $font-weight-base;
  opacity: 1;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin-top: 30px;

  i {
    float: right;
    padding: 12px 10px 2px 0px;
  }
}

.check-password {
  cursor: pointer;
  padding-top: 15px;
  padding-left: 5px;
}
.bottom-icon {
  width: 30%;
  margin: 0px auto;
  display: block;
}
// ==================================
// Page heading styles       ========
// ==================================

.page-heading {
  color: $text-dark;
  font-size: $font-size-4;
  font-weight: $font-weight-bold;
  @media only screen and (max-width: 568px) {
    font-size: $font-size-10;
    white-space: normal;
  }
}
.mat-card-header-text {
  margin: 0px !important;
}

.content-wrapper-main-title {
  margin-bottom: 15px;
  display: block;
  font-size: $font-size-2;
  color: $black;
}
.m-card {
  padding: 10px;
  box-shadow: $shadow-style-one !important;
  &:hover {
    box-shadow: $shadow-style-one-hover;
  }
  min-height: calc(100vh - 240px);
  @media screen and (max-width: 1024px) and (min-width: 481px) {
    min-height: calc(100vh - 350px);
  }
}

// ==================================
// Table Filter styles       ========
// ==================================

.table-filter {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  float: left;
  @media only screen and (max-width: 568px) {
    width: $width-100;
    display: flex;
  }
  input {
    padding: 10px 35px 10px 10px;
    border: 1px solid $transparent;
    font-size: $font-size-1;
    outline: none;
    border-radius: 50px;
    width: 320px;
    box-shadow: $box-shadow-3;
    @media only screen and (max-width: 568px) {
      width: 85%;
    }
    &:focus,
    &:hover,
    &:active {
      outline: none;
    }
  }
  mat-icon {
    position: absolute;
    left: 335px;
    padding: 10px 0 0 8px;
    color: $light-gray;
    @media only screen and (max-width: 568px) {
      left: 85%;
    }
  }
}

.filter-icon {
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

// ==================================
// Add new user styles       ========
// ==================================

.add-user {
  background-color: $ternary-color;
  float: right;
  z-index: 2;
  margin-top: -5px;
  margin-bottom: -50px;
}
.floating-btn {
  position: fixed;
  top: 85vh;
  bottom: 20px;
  right: 30px;
  z-index: 99999;
  display: none;
  @media only screen and (max-width: 568px) {
    display: block;
  }
}
.user-disable-enable {
  color: $primarycolor;
  cursor: pointer;
  display: block;
  // text-align: center;
}

.edit-user {
  color: $secondaryarkcolor;
  font-size: $font-size-9;
  padding: 5px;
  border: 1px solid $transparent;
  vertical-align: middle;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    border: 1px solid $secondaryarkcolor;
    background-color: $secondaryarkcolor;
    color: $white;
  }
}
.delete-user {
  color: $danger;
  font-size: $font-size-9;
  padding: 5px;
  border: 1px solid $transparent;
  vertical-align: middle;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    border: 1px solid $danger;
    background-color: $danger;
    color: $white;
  }
}

.mat-grid-form {
  mat-form-field {
    padding: 10px;
  }
}

.mat-sort-header-arrow {
  color: $white !important;
}

.mat-table {
  box-shadow: $box-shadow;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    background: transparent;
  }
}

// ==================================
// vertical scrolls          ========
// ==================================

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

// ==================================
// selection custom css      ========
// ==================================

// ::-moz-selection { /* Code for Firefox */
//   background: transparent; //background transparent color
//   }

//   ::selection {
//   background: transparent; //background transparent color

//   }
// ==================================
// Button styles             ========
// ==================================

.rounded-corner {
  border-radius: 50px !important;
  box-shadow: $box-shadow-2 !important;
  padding: 0px 30px !important;
  &:hover {
    box-shadow: $box-shadow-1 !important;
  }
}
.btn_success {
  background-color: $btn_success !important;
  color: $white !important;
}
.model-header {
  .content-wrapper-main-title {
    color: $primarycolor;
    font-weight: $font-weight-bold;
  }
  .close-model {
    background-color: $border-light;
    color: $text-dark;
    border: 1px solid $light-gray;
    font-weight: $font-weight-bold;
    padding: 4px 10px;
    border-radius: 50px;
    height: 25px !important;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    &:hover,
    &:focus {
      outline: none;
    }
    i {
      padding: 2px 5px 0 0;
    }
  }
}
.close-model {
  @extend .close-model;
}

// ADVANCE SEARCH

.advance_search {
  max-width: 98%;
  margin: 0px auto;
  box-shadow: $box-shadow-3;
  margin-bottom: 20px;
  .mat-form-field-wrapper {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
}

.fixed_search {
  .mat-form-field-flex {
    padding: 0 0 0 10px !important;
  }
}
// Upload Button
.upload_btn {
  border-radius: 2px;
  box-shadow: $box-shadow-2;
  margin-top: 23px !important;
  padding: 0px 10px;
  span {
    padding: 8px 8px 8px 8px;
  }
  &:hover {
    box-shadow: $box-shadow-5;
  }
}

// details section
.pro_details {
  width: $width-100;
  tr {
    td {
      padding: 5px 3px;
      text-align: left;
      width: $width-50;
      vertical-align: top;
      &:first-child {
        font-weight: $font-weight-bold;
        font-size: $font-size-1;
        color: $text-gray;
        &::after {
          content: ":";
          display: inline-block;
          float: right;
        }
      }
    }
  }
}
.grid-list {
  width: 100%;
  display: flex;
  div,
  span {
    padding: 5px;
    align-self: flex-end;

    &:first-child {
      min-width: 120px;
      width: 100%;
      max-width: 120px;
      font-weight: $font-weight-bold;
      font-size: $font-size-1;
      color: $text-gray;
      &::after {
        content: ":";
        display: inline-flex;
        float: right;
      }
    }
  }
}

.data-max-width {
  min-width: $width-60;
  max-width: $width-60;
  width: $width-60;
}
// ==================================
// Forms overide scss        ========
// ==================================

.mat-dialog-container {
  padding: 18px !important;
}

.mat-form-field {
  line-height: 1.15;
}

// Form fields disabled label color
.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: rgba(0, 0, 0, 0.7) !important;
}
.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-suffix {
  color: rgba(0, 0, 0, 0.7) !important;
}
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled,
.mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.7) !important;
}
.mat-select-disabled .mat-select-value,
.mat-checkbox-disabled .mat-checkbox-label {
  color: rgba(0, 0, 0, 0.7) !important;
}

.cdk-overlay-pane {
  @media only screen and (max-width: 568px) {
    max-width: 90vw !important;
  }
}

.searchable-dropdown {
  font-size: $font-size-1;
  background-color: $white;
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.5em 0 0.8em 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0px;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0px;
      mat-icon {
        color: $text-dark;
        // font-size: $font-size-1;
        cursor: pointer;
      }
      .mat-input-element {
        color: $text-dark;
      }
    }
  }
}
// Safari browser Form fields disabled label color

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .mat-select-disabled .mat-select-value,
    .mat-checkbox-disabled .mat-checkbox-label {
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }
}
::ng-deep {
  // mat-input carent color
  .mat-input-element {
    caret-color: #d5aed2 !important;
  }
  // outline Form fields custom color
  /* Border */
  //mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #d5aed2 !important;
  }

  // mat-input label color
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #96358d !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #d5aed2 !important;
  }

  .mat-datepicker-toggle-active {
    color: #96358d !important;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #96358d !important;
  }

  // .mat-form-field-appearance-outline .mat-form-field-label {
  //   margin-top: -0.46em;
  // }
}
// Tooltip font-size
.mat-tooltip {
  font-size: 14px !important;
  max-width: 600px !important;
}

// OUTLINE BUTTON CSS
.mat-button-focus-overlay {
  transition: none !important;
  opacity: 0 !important;
}
// button {
//   &:disabled {
//     opacity: .5;
//   }
// }

.btn_ {
  height: 40px;
  min-width: 100px;
  // &:disabled {
  //   background-color: inherit !important;
  //   color: $disabled;
  //   border: 1px solid $disabled;
  //   cursor: not-allowed;
  // }
}
// button[disabled] {
//   &:hover {
//     background-color: inherit !important;
//     color: $disabled;
//     border: 1px solid $disabled;
//   }
// }
.huge-btn {
  font-size: $font-size-9;
  height: 50px;
}
.mini-btn {
  font-size: $font-size-12;
  font-weight: $font-weight-bold !important;
  height: 26px;
  line-height: initial;
}
.outline-success {
  @extend .btn_;
  color: $btn_success;
  border-color: $btn_success;
  &:hover {
    color: $white;
    background-color: $btn_success;
  }
}
.outline-secondary {
  @extend .btn_;
  color: $secondary;
  border-color: $secondary;
  &:hover {
    color: $white;
    background-color: $secondary;
  }
}

.filled-success {
  @extend .btn_;
  color: $white;
  background-color: $btn_success;
  border-color: $btn_success;
  &:disabled {
    opacity: 0.5;
  }
}
.filled-lightgray {
  @extend .btn_;
  color: $text-gray;
  background-color: $light-color;
  border-color: $light-color;
}

.filled-lightgray-1 {
  @extend .btn_;
  color: $text-gray;
  background-color: $lightgray;
  border-color: $light-color;
}
.filled-secondary {
  @extend .btn_;
  color: $white;
  background-color: $secondary;
  border-color: $secondary;
}

.filled-ternary {
  @extend .btn_;
  color: $white;
  background-color: $ternary;
  border-color: $ternary;
}
.outline-danger {
  @extend .btn_;
  color: $danger;
  border-color: $danger;
  &:hover {
    color: $white;
    background-color: $danger;
  }
}
.outline-accent {
  @extend .btn_;
  color: $accent;
  border-color: $accent;
  &:hover {
    color: $white;
    background-color: $accent;
  }
}
.outline-primary {
  @extend .btn_;
  color: $primarycolor;
  border-color: $primarycolor;
  &:hover {
    color: $white;
    background-color: $primarycolor;
  }
}
.outline-warning {
  @extend .btn_;
  color: $yellow;
  border-color: $yellow;
  &:hover {
    color: $white;
    background-color: $yellow;
  }
}
.outline-light_green {
  @extend .btn_;
  color: $light_green;
  border-color: $light_green;
  &:hover {
    color: $white;
    background-color: $light_green;
  }
}
.filled-gray {
  @extend .btn_;
  color: $white;
  border-color: $active;
  background-color: $active;
  &:hover {
    color: $white;
    background-color: $active;
  }
  &:disabled {
    background-color: $disabled !important;
    color: $text-gray;
    cursor: not-allowed;
  }
}
.underline {
  text-decoration: underline;
}

.text-success {
  color: $btn_success;
}
.text-danger {
  color: $danger;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}
.text-ternary {
  color: $ternary;
}
// Information note
.note {
  margin-top: 10px;
  padding: 5px;
  mat-icon {
    font-size: $font-size-9;
    vertical-align: middle;
  }
}

// Common font family
.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font-family: Lato !important;
}

// step overide css
.mat-step-header .mat-step-icon-state-edit {
  background-color: $secondary !important;
}
// ==================================
//  DIALOG STYLES           =========
// ==================================
.custom-dialog {
  .model-header {
    display: flex;
  }
  mat-card-content {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 568px) {
      max-height: 60vh;
    }
    button.filled-gray {
      @extend .filled-gray;
    }
    button.mini-btn {
      @extend .mini-btn;
      height: 26px !important;
      min-width: 60px !important;
    }
    button.outline-danger {
      @extend .outline-danger;
    }
    .upload-file {
      .mat-form-field {
        padding-left: 5px !important;
        width: calc(100% - 125px);
      }
      .filled-gray {
        margin-top: 21px !important;
        vertical-align: top !important;
      }
    }
    .add-file-btn {
      margin-top: 21px !important;
      vertical-align: top !important;
    }
  }
  .note {
    @extend .note;
  }
  .float-right {
    float: right;
  }
  .res-table {
    width: 99%;
  }
  .eor-file {
    background-color: $light-color;
    padding: 6px 10px;
    border: 1px solid $gray;
    border-radius: 3px;
    margin: 5px 0;
    i.fas {
      float: right;
      padding-top: 3px;
      cursor: pointer;
      color: $danger;
    }
  }
  .bill-line-mobile {
    @extend .bill-line-mobile;
    mat-form-field {
      width: 45%;
    }
  }
  .cuctom-document-upload {
    .info-alert {
      padding: 10px 15px;
      color: $info;
      background-color: $info-bg;
      border: 1px solid $info-border;
      width: fit-content;
      border-radius: 5px;
    }
    mat-form-field {
      mat-hint {
        width: 100%;
        mat-error {
          float: right;
        }
      }
    }
  }
}
.dialog {
  mat-card-header {
    .content-wrapper-main-title {
      color: $text-gray;
    }
  }
  mat-card-content {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media only screen and (max-width: 568px) {
      max-height: 60vh;
    }
    mat-form-field {
      padding: 10px 10px 0px 0px !important;
    }
    button.outline-success {
      @extend .outline-success;
    }
    button.outline-danger {
      @extend .outline-danger;
    }
  }
  // .mat-form-field-appearance-outline .mat-form-field-label {
  //   margin-top: -0.25em;
  // }
}

.event-detail {
  mat-card-header {
    .lv {
      color: #ffc400;
    }
    .con {
      color: #009688;
    }
    .not_con {
      color: #ff3366;
    }
    .content-wrapper-main-title {
      margin-bottom: 0px !important;
      font-size: $font-size-10;
      width: 100%;
      overflow-wrap: anywhere;
    }
  }
  .small-value {
    color: $text-light;
    font-size: $font-size-1;
    strong {
      color: $text-gray;
    }
  }
  .divider {
    background-color: $light-color;
    height: 2px;
    width: 100%;
    margin: 10px auto;
    display: block;
  }
  .float-right {
    float: right;
    margin-right: 10px;
  }
  .mini-btn {
    @extend .mini-btn;
    height: 26px !important;
    min-width: 60px !important;
  }
  .filled-gray {
    @extend .filled-gray;
  }
  .filled-success {
    @extend .filled-success;
  }

  .grid-list-event {
    width: 100%;
    display: flex;
    div.value {
      padding: 10px 0 0 5px;
      width: 100%;
      color: $text-light;
      white-space: normal;
      word-break: break-word;
      mat-form-field {
        padding: 0px 10px 0px 0px !important;
      }
      i.fa {
        padding-left: 10px;
        color: $ternary;
        cursor: pointer;
      }
    }
    div.property {
      padding-top: 10px;
      min-width: 150px;
      width: 100%;
      max-width: 150px;
      font-weight: $font-weight-bold;
      font-size: $font-size-1;
      color: $text-gray;
      position: relative;
      @media only screen and (max-width: 568px) {
        min-width: 110px;
        width: 100%;
        max-width: 110px;
      }
      &::after {
        content: ":";
        display: inline-flex;
        float: right;
        position: absolute;
        top: 10px;
        right: 0;
      }
    }
  }
  .default-section {
    position: relative;
    .action {
      position: absolute;
      top: 50%;
      right: 4%;
      .cancel {
        color: $danger;
        cursor: pointer;
      }
      .save {
        color: $btn_success;
        cursor: pointer;
      }
    }
  }

  div {
    a {
      color: $ternary;
      text-decoration: underline;
    }
  }
  mat-card-actions {
    button.filled-ternary {
      @extend .filled-ternary;
    }
  }
}

.fixed-dialog {
  mat-card-content {
    mat-form-field {
      padding: 10px 10px 0px 0px !important;
    }
    .upload-file {
      .filled-gray {
        @extend .filled-gray;
      }
      .mat-form-field {
        width: calc(100% - 125px) !important;
        padding: 0 0 0 10px !important;
      }
    }
  }
}
// ==================================
// message style            =========
// ==================================
.alert-title {
  font-size: $font-size-10;
  span {
    font-weight: $font-weight-bold;
  }
}
.info-message {
  padding: 5px;
  border: 1px solid $info-border;
  background-color: $info-bg;
  color: $info;
}

// ==================================
// COMMON CLSSS             =========
// ==================================

//Manage user add new button
.add-new-user {
  z-index: 4;
  position: absolute;
  right: 0;
  margin-right: 10px;
  @media only screen and (max-width: 1024px) {
    position: inherit;
    float: right;
    margin-bottom: 10px;
  }
}
.user-list {
  width: $width-100;
  z-index: 0;
}
.p-5 {
  padding: 5px;
}

// Landing page card
.mat-card-details {
  padding: 10px 10px;
  box-shadow: $shadow-style-one !important;
  cursor: pointer;
  outline: none;
  height: 30px;
  background-color: #767676;
  vertical-align: middle;
  width: 90%;
  margin: 0px auto;
  &:hover {
    box-shadow: $shadow-style-one-hover !important;
  }
  mat-card-content {
    h4 {
      font-size: $font-size-10;
      font-weight: normal;
      color: $white;
    }
  }
}

// page sub title css

.sub-title {
  // color: $text-gray;
  color: $black;
  font-size: $font-size-1;
  font-weight: $font-weight-bold;
  // border-bottom: 1px solid $border-light;
  padding: 10px 0;
}

//border-dashed-blue

.border-dashed-blue {
  border: 1px dashed $ternary;
  display: block;
  margin: 10px 0;
}

//border-red
.border-red {
  border-color: $danger;
  display: block;
}

// On Demand Pages Information Icon
.ondemand-info {
  border-radius: 50px;
  border: 2px solid $black;
  width: 15px;
  height: 15px;
  line-height: 0.5;
  vertical-align: middle;
  text-align: center;
  display: inline-table;
  cursor: pointer;
  i {
    font-size: $font-size-12 !important;
    line-height: 0;
  }
}

// ==================================
// POPUP CUSTOM CSS         =========
// ==================================

.disable-actions {
  text-align: center;
  margin: 0px auto;
  display: block !important;
  .btn_ {
    border-radius: 3px;
    border: 1px solid;
    font-size: $font-size-1;
    box-shadow: $box-shadow-3;
    font-weight: $font-weight-bold;
    line-height: 0;
    height: 35px;
    cursor: pointer;
    &:focus,
    &::-moz-focus-inner {
      outline: none !important;
      border: none !important;
    }
  }
  .no {
    background-color: $white;
    color: $danger;
    border-color: $danger;
    @extend .btn_;
    &:hover {
      background-color: $danger;
      color: $white;
    }
    &:focus,
    &::-moz-focus-inner {
      outline: none !important;
      border: 1px solid $danger !important;
    }
  }

  .yes {
    background-color: $white;
    color: $btn-success;
    border-color: $btn-success !important;
    @extend .btn_;
    &:hover {
      background-color: $btn-success;
      color: $white;
    }
  }
}
// Breadcrumb Common CSS
#titleCase {
  nav {
    ol {
      li {
        a,
        .xng-breadcrumb-trail {
          padding: 0 3px;
          font-weight: normal;
          font-size: $font-size-2;
          color: $text-gray;
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
        .xng-breadcrumb-trail {
          color: $black;
        }
        .bread-home {
          padding-right: 3px;
          font-size: $font-size-4;
        }
      }
    }
  }
}
// Cropper border custom color
.cropper {
  &::after {
    border: 2px dashed !important;
    border-color: $primary !important;
  }
  // .move {
  //   border: 5px dashed !important;
  //   border-color:$primary !important;
  // }
}

// incomplete inforamation
.incomplete-info {
  margin-top: 20px;
  mat-card {
    box-shadow: $shadow-style-one !important;
    &:hover {
      box-shadow: $shadow-style-one-hover;
    }
    mat-card-header {
      .content-wrapper-main-title {
        font-weight: $font-weight-bold;
      }
      mat-divider {
        border-color: $error;
      }
    }
    mat-card-content {
      .incomplete-modules {
        ul {
          margin: 0;
          padding-left: 22px;
          width: 100%;
          li {
            list-style: disc;
            width: 50%;
            float: left;
            // color: $error;
            color: $text-gray;
            padding-top: 10px;
            @media only screen and (max-width: 568px) {
              width: 100%;
              padding-top: 10px;
            }
            &:first-child,
            &:nth-child(2) {
              padding-top: 0;
              @media only screen and (max-width: 568px) {
                padding-top: 10px;
              }
            }
            mat-icon {
              vertical-align: sub;
              width: auto;
              height: auto;
              padding-right: 5px;
              font-size: $font-size-9;
            }
          }
        }
        mat-accordion {
          mat-expansion-panel-header {
            mat-panel-title {
              mat-icon {
                font-size: $font-size-9 ;
              }
            }
          }
        }
      }
    }
  }
}


// .incomplete-details {
//   padding: 0 10px 0 10px;
//   .title {
//     color: $text-dark;
//     font-weight: $font-weight-bold;
//     font-size: $font-size-1;
//     padding-bottom: 10px;
//   }
//   mat-divider {
//     padding-bottom: 10px;
//   }
//   .list {
//     color: $text-dark;
//     font-size: $font-size-7;
//     mat-icon {
//       vertical-align: middle;
//       font-size: $font-size-7;
//     }
//   }
// }