@import "variables";

.mat-card-details {
  padding: 10px 10px;
  box-shadow: $shadow-style-one !important;
  cursor: pointer;
  outline: none;
  height: 30px;
  background-color: #767676;
  vertical-align: middle;
  width: 80%;
  margin: 0px auto;
  &:hover {
    box-shadow: $shadow-style-one-hover !important;
  }
  mat-card-content { 
    h4 {
      font-size: $font-size-10;font-weight: normal;
      color: $white;
    }
  }
}
// .br-top {
//   border-top: 3px solid;
//   border-color: $light-gray;
// }
.p-5 {
  padding: 5px;
}