@import "variables";
@import "table";

.dashboard-card {
    div {
        div {
            mat-card {
                height: 50px;
                border: 1px solid $light-gray;
                box-shadow: none;
                cursor: pointer;
                &:hover {
                    .simple-card {
                        i,
                        h4 {
                            color: $secondary;
                        }
                    }
                }
                .simple-card {
                    display: flex;
                    i {
                        font-size: 40px;
                        color: $menu-light;
                    }
                    h4 {
                        margin-top: 0px;
                        font-size: $font-size-10;
                        color: $black;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}

// .dashboard-list {}
    

