@import "variables";
@import "table";

.dashboard-card {
    margin-bottom: 20px;
    div {
        div {
            mat-card {
                height: 50px;
                border: 2px solid $menu-light;
                box-shadow: none;
                cursor: pointer;
                &:hover {
                    background-color: $light-color;
                    .simple-card {
                        h4 {
                            color: $ternary;
                        }
                    }
                }
                .simple-card {
                    display: flex;
                    i {
                        font-size: 40px;
                        color: $menu-light;
                    }
                    h4 {
                        margin-top: 0px;
                        font-size: $font-size-10;
                        color: $black;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.filter-card {
    margin-bottom: 20px;
    div {
        div {
            mat-card.simple-card {
                padding: 10px 15px;
                min-height: 186px;
                max-height: 186px;
                text-align: center;
                border: 2px solid $black;
                box-shadow: $box-shadow-7;
                cursor: pointer;
                height: auto;
                @media screen and (max-width: 1024px) and (min-width: 320px) {
                    min-height: 120px;
                    max-height: 120px;
                }
                &:hover {
                    background: $light-color;
                    box-shadow: $shadow-style-one;
                    h4 {
                        color: $ternary;
                    }
                }
                mat-card-content {
                    h4 {
                        min-height: 75px;
                        margin-bottom: 0;
                        font-size: $font-size-2;
                        @media screen and (max-width: 1024px) and (min-width: 320px) {
                            min-height: auto;
                        }
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            list-style-type: none;
                            text-align: center;
                            font-size: $font-size-13;
                            font-weight: bold;
                            padding-bottom: 3px;
                            line-height:1.3;
                            @media screen and (max-width: 1200px) and (min-width: 1028px) {
                                font-size: $font-size-9;
                            }
                            &:first-child {
                                color: $primary;
                            }
                            &:nth-child(2) {
                                border-bottom: 2px dotted $gray;
                            }
                            &:last-child {
                                color: $secondary;
                            }
                            div {
                                font-size: $font-size-7;
                                display: block;
                            }
                        }
                    }
                }
            }
            mat-card.simple-card.active {
                background: $light-color;
                h4 {
                    color: $ternary;
                }
            }
        }
    }
}
.dashboard-list {
    box-shadow: $shadow-style-one;
    .user-detail {
        overflow-y:hidden ;
        .row-background {
            tr {
                &:nth-child(even) {
                    td {
                        padding: 0px !important;
                    }
                }
                td {
                    background: $light-color;
                }
            }
            .detail {
                .responsive-table {
                    margin: 0px !important;
                }
            }
        }
        table {
            tr {
                td {
                    background-color: $white;
                    .responsive-table {
                        background-color: $white;
                        .navigation {
                            width: 100%;
                            .box-layout {
                                width: 50%;
                                float: left;
                                @media screen and (max-width: 568px) {
                                    width: 100%;
                                    float: none;
                                }
                                div {
                                    border: 2px solid $table-border;
                                    padding: 5px 10px;
                                    border-radius: 3px;
                                    min-width: 330px;
                                    display: flex;
                                    // @media screen and (max-width: 568px) {
                                    //     width: 100%;
                                    //     margin: 10px 0 0 0;
                                    // }
                                    @media screen and (min-width: 1024px) {
                                        margin: 5px 0 5px 40px;
                                    }
                                    @media screen and (max-width: 1024px) and (min-width: 481px) {
                                        margin: 5px 0 5px 20px;
                                    }

                                    @media screen and (max-width: 568px) {
                                        max-width: 84%;
                                        min-width: 84%;
                                        margin: 10px 0 0 0;
                                    }
                                    &:hover {
                                        background-color: $table-solid;
                                    }
                                    span {
                                        width: auto;
                                        min-width: 180px;
                                        display: inline-block;
                                        position: relative;
                                        @media screen and (max-width: 568px) {
                                            min-width: 120px;
                                        }
                                        &::after {
                                            position: absolute;
                                            top: 0;
                                            right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
