<mat-card class="m-card">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Services Request Details</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="!isLoading">
        <div fxLayout="row wrap">
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Subscriber Name</div>
                <div>{{serviceRequestDetails?.subscriber_first_name}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Subscriber Account</div>
                <div>{{serviceRequestDetails?.subscriber_account_no}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Requester Name</div>
                <div>{{serviceRequestDetails?.requester_first_name}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Claim Reference</div>
                <div>{{serviceRequestDetails?.claim_number}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Service Type </div>
                <div>{{serviceRequestDetails?.service_request_type}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Request Reference</div>
                <div>{{serviceRequestDetails?.request_reference_id}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Request Date & Time</div>
                <div>{{serviceRequestDetails?.date_of_request}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Due Date</div>
                <div>{{serviceRequestDetails?.due_date}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Status</div>
                <div>{{serviceRequestDetails?.service_request_transmit_status}}</div>
            </div>
            <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                <div>Completion Date </div>
                <div>{{serviceRequestDetails?.date_of_service_completion}}</div>
            </div>
        </div>
        <!-- <form fxLayout="row wrap" class="p-t-10">

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Subscriber Name</mat-label>
                <input matInput name="subscriber_first_name" placeholder="Subscriber Name"
                    [(ngModel)]="serviceRequestDetails.subscriber_first_name" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Subscriber Account</mat-label>
                <input matInput placeholder="Subscriber Account" name="subscriber_account_no"
                    [(ngModel)]="serviceRequestDetails.subscriber_account_no" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Requester Name</mat-label>
                <input matInput placeholder="Requester Name" name="requester_first_name"
                    [(ngModel)]="serviceRequestDetails.requester_first_name" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Claim Reference</mat-label>
                <input matInput name="claim_number" placeholder="Claim Reference"
                    [(ngModel)]="serviceRequestDetails.claim_number" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Service Type</mat-label>
                <input matInput placeholder="Service Type" name="service_request_type"
                    [(ngModel)]="serviceRequestDetails.service_request_type" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Request Reference</mat-label>
                <input matInput placeholder="Request Reference" name="request_reference_id"
                    [(ngModel)]="serviceRequestDetails.request_reference_id" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Request Date & time</mat-label>
                <input matInput placeholder="Request Date & time" name="date_of_request"
                    [(ngModel)]="serviceRequestDetails.date_of_request" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Due Date </mat-label>
                <input matInput placeholder="Due Date " name="due_date" [(ngModel)]="serviceRequestDetails.due_date"
                    autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Status</mat-label>
                <input matInput placeholder="Status" name="service_request_transmit_status"
                    [(ngModel)]="serviceRequestDetails.service_request_transmit_status" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                fxFlex.sm="50">
                <mat-label>Completion Date</mat-label>
                <input matInput placeholder="Completion Date " name="date_of_service_completion"
                    [(ngModel)]="serviceRequestDetails.date_of_service_completion" autocomplete="off">
            </mat-form-field>
        </form> -->
    </mat-card-content>
</mat-card>

<mat-card class="m-card m-t-25" *ngIf="!isLoading">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Request Documents</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-5">
        <div fxLayout="row wrap">
            <div class="card" fxFlex="48" fxFlex.xs="100">
                <span>Zip FileName</span>
                {{serviceRequestDetails.transmitted_zip_file_name}}
            </div>
            <div class="card" fxFlex="48" fxFlex.xs="100" *ngIf="serviceRequestDetails.is_metadata_required">
                <span>Metadata Filename</span>
                8880090_1021001685_transcription_01_to_03_20200630_181855_717_NO.csv
            </div>
        </div>
        <!-- <div class="table-filter">
            <input matInput placeholder="Search by Document Name">
            <mat-icon>search</mat-icon>
        </div> -->
        <div class="w-100" *ngIf="!isLoading">
            <table mat-table [dataSource]="dataSource" class="user-table striped_ w-100">
                <!-- Document Name Column -->
                <ng-container matColumnDef="file_name">
                    <th mat-header-cell *matHeaderCellDef>Document Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                </ng-container>

                <!-- Sent Document Name Column -->
                <ng-container matColumnDef="transmitted_file_name">
                    <th mat-header-cell *matHeaderCellDef> Sent Document Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.transmitted_file_name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="m-card m-t-25">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Transmission Status</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-5">
        <!-- <div class="table-filter">
            <input matInput placeholder="Search by date, status, etc.">
            <mat-icon>search</mat-icon>
        </div> -->
        <div class="w-100 " *ngIf="!isLoading">
            <table mat-table [dataSource]="dataSource1" class="user-table striped_ w-100">
                <!-- Transmission Mode Column -->
                <ng-container matColumnDef="document_transmission_type">
                    <th mat-header-cell *matHeaderCellDef>Transmission Mode
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.document_transmission_type}} </td>
                </ng-container>

                <!-- Date & Time Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'MM-dd-yyyy hh:mm a'}} </td>
                </ng-container>
                <!-- Status Column -->
                <ng-container matColumnDef="transmission_status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.transmission_status}} </td>
                </ng-container>
                <!-- Log Column -->
                <ng-container matColumnDef="transmission_message">
                    <th mat-header-cell *matHeaderCellDef> Log </th>
                    <td mat-cell *matCellDef="let element"> {{element.transmission_message}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="m-card m-t-25">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Received Documents</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-5">
        <div class="w-100">
            <table mat-table [dataSource]="dataSource3" class="user-table striped_ w-100">
                <!-- Document Name Column -->
                <ng-container matColumnDef="document_name">
                    <th mat-header-cell *matHeaderCellDef>Document Name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
                </ng-container>

                <!-- Received Document Name Column -->
                <ng-container matColumnDef="received_doc_name">
                    <th mat-header-cell *matHeaderCellDef> Received Document Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.received_doc_name}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="m-card m-t-25">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Follow up Call</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-5">
        <div fxLayout="row wrap" fxFlex="100" class="w-100">
            <div fxFlex="100" class="w-100 m-b-10">
                <div fxLayout="row wrap" *ngIf="!isLoading">
                    <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                        <div>Service Provider Name</div>
                        <div>{{serviceRequestDetails?.service_provider}}</div>
                    </div>
                    <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                        <div>Service Provider Contact Name</div>
                        <div>{{serviceRequestDetails?.service_provider}}</div>
                    </div>
                    <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                        <div>Service Provider Phone</div>
                        <div>{{serviceRequestDetails.phone_no_1}}</div>
                    </div>
                    <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                        <div>Service Provider Account Number</div>
                        <div>{{serviceRequestDetails?.service_provider_account_no}}</div>
                    </div>
                    <div class="grid-list" fxFlex="50" fxFlex.xs="100">
                        <div>Service Provider Email </div>
                        <div>{{serviceRequestDetails?.email}}</div>
                    </div>
                </div>
            </div>
            <div fxFlex="100" class="m-t-5">
                <!-- <div class="table-filter">
                    <input matInput placeholder="Search by name, date, etc.">
                    <mat-icon>search</mat-icon>
                </div> -->
                <span class="spacer"></span>
                <button mat-stroked-button class="add-btn outline-success" (click)="openDialog()">
                    Add Notes
                </button>
                <div class="" *ngIf="!isLoading">
                    <table mat-table [dataSource]="dataSource2" class="user-table striped_ scroll_ w-100">
                        <!-- Call DateTime Column -->
                        <ng-container matColumnDef="date_of_call">
                            <th mat-header-cell *matHeaderCellDef>Call Date & Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.date_of_call | date:'MM-dd-yyyy hh:mm a'}}
                            </td>
                        </ng-container>

                        <!-- Caller(PPMC Platform Admin User name) Column -->
                        <ng-container matColumnDef="first_name">
                            <th mat-header-cell *matHeaderCellDef> Caller</th>
                            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                        </ng-container>

                        <!-- Callee Column -->
                        <ng-container matColumnDef="service_provider_contact_person">
                            <th mat-header-cell *matHeaderCellDef>Callee </th>
                            <td mat-cell *matCellDef="let element"> {{element.service_provider_contact_person}} </td>
                        </ng-container>

                        <!-- Caller(PPMC Platform Admin User name) Column -->
                        <ng-container matColumnDef="service_provider_contact_number">
                            <th mat-header-cell *matHeaderCellDef>Called Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.service_provider_contact_number}} </td>
                        </ng-container>

                        <!-- Caller(PPMC Platform Admin User name) Column -->
                        <ng-container matColumnDef="notes">
                            <th mat-header-cell *matHeaderCellDef>Notes </th>
                            <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>