@import "variables";

.change-password-form {
  background-color: $primary-dark;
  min-height: calc(100% - 66px);
  width: 100%;
  .p-t-100 {
    @media only screen and (max-width: 568px) {
      padding-top: 30px !important;
    }
  }
  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $shadow-style-one;
    border-radius: 10px ;
    mat-card-subtitle {
      text-align: center;
      color: $text-gray;
      font-size: $font-size-1;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
        .check-password {
          cursor: pointer;
        }
      }
      .forgot-password {
        text-align: right;
        letter-spacing: 0;
        color: $text-gray;
        opacity: 1;
        width: 100%;
        font-size: $font-size-1;
        padding: 3px;
        cursor: pointer;
        &:hover {
          color: $primarycolor;
        }
      }
    }
  }
}
