<div class="lucy-login-form">
    <div class="p-t-100" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap">
            <div class="m-auto" fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxFlex.xl="25"
                fxLayout="column">
                <mat-card class="p-5">
                    <!--Form Title-->
                    <img mat-card-image [src]="logo" alt="Lucy logo" class="logo m-t-0">
                    <div class="auth-header-1 p-t-10">
                        <mat-card-title class="auth-tilte">Change Password</mat-card-title>
                        <app-error *ngIf="error" [data]="error"></app-error>
                    </div>
                    <!--Form subTitle-->
                    <mat-card-content>
                        <!--Form start-->
                        <form fxLayout="row wrap" [formGroup]="changePaswordForm" (ngSubmit)="changePasswordSubmit()">
                            <mat-form-field class="p-r-5" appearance="outline" fxFlex="100" fxFlex.md="100"
                                fxFlex.lg="100" fxFlex.sm="100" fxFlex.xl="100">
                                <mat-label>New Password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'" placeholder="Password"
                                    formControlName="password">
                                <mat-icon matSuffix
                                    matTooltip="Password must contain at least 8 characters, including UPPER/lowercase, special character and numbers."
                                    matTooltipPosition="above">error_outline</mat-icon>
                                    <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidpassword}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.lg="100"
                                fxFlex.sm="100" fxFlex.xl="100">
                                <mat-label>Confirm password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'"
                                    placeholder="Confirm password" formControlName="confirmPassword">
                                <mat-icon matSuffix class="check-password p-t-15 p-l-5"
                                    (click)="togglePasswordFieldType()">
                                    {{passwordFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidpassword}}</mat-error>
                            </mat-form-field>

                            <button mat-raised-button color="primary" type="submit" class="authentication-btn">Submit<i
                                    class="fa fa-arrow-right"></i></button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>