<div class="lucy-login-form">
    <div class="p-t-100" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap">
            <div class="m-auto" fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxFlex.xl="25"
                fxLayout="column">
                <mat-card class="p-5">
                    <!--Form Title-->
                    <img mat-card-image [src]="logo" alt="Lucy logo" class="logo">
                    <mat-card-title>Change Password</mat-card-title>
                    <!--Form subTitle-->
                    <!-- <mat-card-subtitle class="m-t-5 m-b-50">We've send a code to your registered email id</mat-card-subtitle> -->
                    <mat-card-content>
                        <!--Form start-->
                        <form fxLayout="row wrap" [formGroup]="changePaswordForm" (ngSubmit)="changePasswordSubmit()">
                            <mat-form-field appearance="outline" fxFlex="100"
                                [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                                <mat-label>Email</mat-label>
                                <input matInput name="email" placeholder="Email" formControlName="email"
                                    autocomplete="off">
                                <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field class="p-r-5" appearance="outline" fxFlex="100">
                                <mat-label>Old Password*</mat-label>
                                <input matInput type="password" placeholder="Password" formControlName="oldPassword">
                            </mat-form-field> -->
                            <mat-form-field class="p-r-5" appearance="outline" fxFlex="100" fxFlex.md="50"
                                fxFlex.lg="50" fxFlex.sm="50" fxFlex.xl="50">
                                <mat-label>New Password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'" placeholder="Password"
                                    formControlName="password">
                                <mat-icon matSuffix
                                    matTooltip="Password must contain at least 8 characters, including UPPER/lowercase, special character and numbers."
                                    matTooltipPosition="above">error_outline</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                                fxFlex.sm="50" fxFlex.xl="50">
                                <mat-label>Confirm password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'"
                                    placeholder="Confirm password" formControlName="confirmPassword">
                                <mat-icon matSuffix class="check-password" (click)="togglePasswordFieldType()">
                                    {{passwordFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>
                            <button mat-raised-button color="primary" type="submit">Submit<i
                                    class="fa fa-arrow-right"></i></button>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>