<section class="example-section">
    <mat-progress-bar class="example-margin" [color]="color1" [mode]="mode" [value]="value1"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
    <i class="fa fa-circle lv" [ngStyle]="{'color': checked1 ? selectedEventColor: ''}"></i>
    <mat-progress-bar class="example-margin" [color]="color2" [mode]="mode" [value]="value2"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
    <i class="fa fa-circle lv" [ngStyle]="{'color': checked2 ? selectedEventColor: ''}"></i>
    <mat-progress-bar class="example-margin" [color]="color3" [mode]="mode" [value]="value3"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
    <i class="fa fa-circle lv" [ngStyle]="{'color': checked3 ? selectedEventColor: ''}"></i>
    <mat-progress-bar class="example-margin" [color]="color4" mode="buffer" [value]="value4" [bufferValue]="0">
    </mat-progress-bar>
    <i class="fa fa-circle lv" [ngStyle]="{'color': checked4 ? selectedEventColor: ''}"></i>
    <mat-progress-bar class="example-margin" [color]="color5" mode="buffer" [value]="value5" [bufferValue]="0">
    </mat-progress-bar>
    <i class="fa fa-circle lv" [ngStyle]="{'color': checked5 ? selectedEventColor: ''}"></i>
</section>
<!-- <section class="billing-progress-status">
    <div class="progress">
        <div class="billing-progress-status">
            <ul>
                <li>
                    <p class="selected">Submitted to Clearinghouse</p>
                    <p> 07-03-2021 <br />12:04 PM</p>
                </li>
                <li>
                    <p class="selected">Accepted by Clearinghouse</p>
                    <p> 07-03-2021 <br />12:04 PM</p>
                </li>
                <li>
                    <p class="selected">Approved by Clearinghouse</p>
                    <p> 07-03-2021 <br />12:04 PM</p>
                </li>
                <li>
                    <p class="selected">Sent to Claims Administrator</p>
                    <p> 07-03-2021 <br />12:04 PM</p>
                </li>
            </ul>
        </div>
    </div>
</section> -->