@import "variables";

.confirm-dialog {
    .mat-card-title {
        .inline {
            min-width: 85%;
            @media only screen and (max-width: 568px) {
                max-width: 100% !important;
            }
            .mat-card-description {
                min-width: 100%;
                .incomplete-modules {
                    ul {
                        margin: 5px 0 0 0;
                        padding: 0;
                        width: 100%;
                        li {
                            list-style: none;
                            display: inline-block;
                            width: 100%;
                            padding-bottom: 10px;
                            // float: left;
                            span {
                                color: $error;
                                width: 98%;
                                // padding: 5px 0 5px 0;
                                display: inline-flex;
                                position: relative;
                                i {
                                    // vertical-align: sub;
                                    width: auto;
                                    height: auto;
                                    padding: 4px 5px 0 0;
                                    // font-size: $font-size-9;
                                }
                                i.fas {
                                    padding: 5px 0 0 0;
                                    cursor: pointer;
                                    color: $text-light;
                                    position: absolute;
                                    right: -5px;
                                }
                            }
                            div {
                                background: $warning-bg;
                                /* border: 1px solid red; */
                                display: inline-block;
                                border-radius: 3px;
                                margin-top: 5px;
                                padding: 8px 0;
                                ol {
                                    li {
                                        width: 50%;
                                        float: left;
                                        padding-bottom: 5px;
                                        list-style: disc;
                                        display: list-item;
                                        color: $warning;
                                        @media only screen and (max-width: 568px) {
                                            width: 100%;
                                            float: inherit;
                                        }
                                    }
                                }
                                .no-data {
                                    padding: 10px 0;
                                    color: $text-gray !important;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .billing-alert {
        margin-top: 10px;
        background-color: $warning-bg;
        font-size: $font-size-1;
        color: $warning;
        border: 1px solid $warning-border;
        padding: 5px 10px;
        border-radius: 3px;
        display: flex;
        i {
            padding: 5px 5px 0 0;
        }
    }
}
