<!-- <div class="user-disable">
  <div mat-dialog-title class="mat-card-title">{{data?.title}}</div>
  <div class="note" *ngIf="data?.subTitle">{{data.subTitle}}</div>
  <div mat-dialog-actions class="disable-actions text-center p-t-25">
    <button mat-raised-button (click)="onNoClick()" class="no m-r-5">OK</button>
  </div>
</div> -->

<div class="confirm-dialog error-alert">
  <div mat-dialog-title class="mat-card-title m-b-0">
    <img [src]="error" alt="alert" class="text-center hide-mobile">
    <div class="inline">
      <div class="p-l-10">{{data?.title}}</div>
      <div class="mat-card-description p-l-10">
        <div class="incomplete-modules">
          <ul>
            <li *ngFor="let incompleteInfo of data?.incompleteInformation">
              <span>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{incompleteInfo?.name}}
                <i class="fas" *ngIf="incompleteInfo?.value.length != 0"
                  [ngClass]="{'fa-angle-down': expandDetailName != incompleteInfo?.name,'fa-angle-up': expandDetailName == incompleteInfo?.name}"
                  (click)="onExpandClick(incompleteInfo?.name)"></i>
              </span>
              <div *ngIf="expandDetailName == incompleteInfo?.name">
                <ol *ngFor="let value of incompleteInfo?.value">
                  <li>{{value}}</li>
                </ol>
                <!-- <div *ngIf="incompleteInfo?.value.length == 0" class="no-data">
                  No Data Found
                </div> -->
              </div>
            </li>
            <br />
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="billing-alert" *ngIf="data?.warning">
    <i class="fas fa-exclamation-triangle"></i>{{data?.message}}
  </div>
  <div mat-dialog-actions class="disable-actions text-center p-t-15" fxFlex="80">
    <button mat-stroked-button (click)="onNoClick()" *ngIf="data?.warning" class="filled-lightgray m-r-5">Close</button>
    <button mat-stroked-button (click)="onNoClick()" *ngIf="data?.ok" class="yes m-r-5">OK</button>
    <button mat-stroked-button (click)="onNoClick()" *ngIf="data?.cancel" class="no m-r-5">Cancel</button>
    <button mat-stroked-button (click)="onProceedClick()" *ngIf="data?.proceed" class="yes m-r-5">Proceed
      Anyway</button>
  </div>
</div>


<!-- <div class="error-message">
  <div mat-dialog-title class="mat-card-title">{{data?.title}}</div>
  <div class="note">{{data?.title}} <br/> {{data?.subTitle}}</div>
</div>
<div mat-dialog-actions class="disable-actions text-center p-t-25">
  <button mat-stroked-button (click)="onNoClick()" class="cancel m-r-5">OK</button>
</div> -->