<mat-card-header class="model-header">
    <div class="content-wrapper-main-title">Add New Line Item</div>
    <span class="spacer"></span>
    <button class="close-model" mat-dialog-close color="warn"> <i class="fa fa-close"></i> close </button>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content>
    <div fxLayout="row wrap" fxFlex="100" class="add_injury">
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Bill Item</mat-label>
            <input matInput placeholder="Ex: Report pages " value="Report page">
            <mat-error>Error msg here</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Units</mat-label>
            <input matInput placeholder="1" value="1">
            <mat-error>Error msg here</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Charge</mat-label>
            <input matInput placeholder="$2000" value="$2000" disabled>
            <mat-error>Error msg here</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label> Expected fee schedule</mat-label>
            <input matInput placeholder="$2000" value="$2000" disabled>
            <mat-error>Error msg here</mat-error>
        </mat-form-field>

        <div fxFlex="100" class="p-t-20 text-center">
            <button mat-raised-button type="button" class="rounded-corner btn_success text-center m-r-5">Save</button>
            <button mat-raised-button type="button" mat-dialog-close class="rounded-corner" color="warn">Cancel</button>
        </div>

    </div>
</mat-card-content>