<mat-card class="m-card">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Select a Claim Number</div>
        <span class="spacer"></span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="row wrap" fxFlex="100" class="p-t-20">
            <div fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.xl="50">
                <form fxFlex="100">
                    <mat-form-field fxFlex="100" class="select-user">
                        <input type="text" placeholder="Select a Claim Number" aria-label="Number" matInput
                            [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                <span class="cn_"><b> Claim Number:</b> {{option}} </span> <span class="cl_"><b>Claimant
                                        :</b>{{option}}</span> <span class="ex_"> <b>Examiner :</b> {{option}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div fxLayout="row" class="w-100 billing_status">
    <div fxLayout="100">
        <ul class="bill-status p-l-0 m-l-0">
            <li><a href="#">Bill Submissions <br /></a></li>
        </ul>
    </div>
</div>


<!-- ###~~~~~ Examiner Details ~~~~~###-->
<mat-card class="m-card m-t-20 examiner_details">
    <mat-card-header>
        <div fxLayout="row wrap" fxFlex="100">
            <div class="p-t-5" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100" fxFlex.xs="100"
                fxFlex.xl="50">
                <span><b>Examiner :</b> </span> Eugene Levy M.D.
            </div>
            <div class="p-r-5 p-t-5" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100" fxFlex.xs="100"
                fxFlex.xl="50">
                <span><b>Place of service address:</b> 897 Avenue st., Suite 4, Los Angeles, CA 99999-7777 </span>
            </div>
        </div>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
</mat-card>

<mat-card class="m-card billing-provider m-t-20">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Billing Provider</div>
        <span class="spacer"></span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="row wrap" fxFlex="100" class="p-t-20">
            <div fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100" fxFlex.xs="100" fxFlex.xl="50">
                <form fxFlex="100">
                    <mat-form-field fxFlex="100" class="select-user">
                        <input type="text" placeholder="Select a Billing Provider" aria-label="Number" matInput
                            [matAutocomplete]="auto1">
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option>
                                Option here
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap" class="m-t-20 service_">
    <!-- ###~~~~~ Service Information  ~~~~~###-->
    <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
        <mat-card class="m-r-10">
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-5">Service</div>

            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-20">
                <div fxLayout="row wrap" fxFlex="100">
                    <div class="grid-list">
                        <div>Date of service</div>
                        <div>5/14/2020</div>
                    </div>
                    <div class="grid-list">
                        <div>Charge</div>
                        <div>$ 2200.00</div>
                    </div>
                    <div class="grid-list">
                        <div>Procedure codes</div>
                        <div>ML 101</div>
                    </div>
                    <div class="grid-list">
                        <div>Modifiers</div>
                        <div>-</div>
                    </div>
                    <div class="grid-list">
                        <div>Psychiatric</div>
                        <div>-</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- ###~~~~~ Claimant Demographics Information  ~~~~~###-->
    <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
        <mat-card class="m-r-10">
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-5">Claimant Demographics</div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-20">
                <div fxLayout="row wrap" fxFlex="100">
                    <div class="grid-list">
                        <div>Name</div>
                        <div>Steve S. Steveson </div>
                    </div>

                    <div class="grid-list">
                        <div>Date of birth</div>
                        <div>3/3/1991 </div>
                    </div>

                    <div class="grid-list">
                        <div>SSN</div>
                        <div>575-89-1234</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- ###~~~~~ Claim Information Information  ~~~~~###-->
    <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-5">Claim Information - #567839</div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-20">
                <div fxLayout="row wrap" fxFlex="100">
                    <div class="grid-list">
                        <div>Injury</div>
                        <div>R Arm fracture</div>
                    </div>

                    <div class="grid-list">
                        <div>Date of injury</div>
                        <div>4/21/2017</div>
                    </div>

                    <div class="grid-list">
                        <div>Claims administrator</div>
                        <div>Corvel</div>
                    </div>

                    <div class="grid-list">
                        <div>Claim status</div>
                        <div>-</div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~ Claim Information Information  ~~~~~###-->
<div class="p-5 diagnosis-section" fxLayout="row wrap">
    <mat-card class="m-t-10 m-r-10" fxFlex="100">
        <mat-card-header>
            <div class="content-wrapper-main-title p-t-5">Diagnosis Codes</div>

        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="p-b-20">
            <form fxLayout="row wrap" fxFlex="100" class="m-t-15">
                <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="15" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
                    <button mat-stroked-button class="m-b-3" color="primary" class="version">ICD version : 10</button>
                </div>
                <mat-form-field fxFlex="100" fxFlex.xs="100" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85"
                    appearance="fill" class="fixed_search">
                    <input type="text" placeholder="Search Diagnosis Codes" aria-label="Number" matInput
                        [formControl]="diaCodes" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let code of codes" [value]="code">
                            {{code}}
                        </mat-option>
                    </mat-autocomplete>
                    <span matSuffix class="search-icon icons">
                        <mat-icon>search</mat-icon>
                    </span>
                </mat-form-field>

                <div class="billing_list w-100" fxFlex="100">
                    <table mat-table [dataSource]="dataSource3" matSort>

                        <!-- Diagnosis code Column -->
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                            <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.name}} </td>
                        </ng-container>

                        <!-- Procedure code Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                            <td mat-cell *matCellDef="let element" class="no-wrap-td">
                                <button mat-icon-button color="warn">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                    </table>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>



<mat-card class="service-line m-t-20">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title">Bill Line Items</div>
        <span class="spacer"></span>
        <button mat-stroked-button color="primary" class="m-b-5"> <span class="fa fa-plus"> </span> Add New
            Line</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-10 p-b-20">
        <div class="billing_list">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Item Column -->
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                    <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.item}} </td>
                </ng-container>

                <!-- Procedure code Column -->
                <ng-container matColumnDef="procedure_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Procedure code </th>
                    <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.procedure_code}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="modifer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifer </th>
                    <td mat-cell *matCellDef="let element"> {{element.modifer}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="units">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
                    <td mat-cell *matCellDef="let element">
                        <input type="text" name="" id="">
                    </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Charge </th>
                    <td mat-cell *matCellDef="let element"> {{element.charge}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="fee_schedule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected fee schedule </th>
                    <td mat-cell *matCellDef="let element"> {{element.fee_schedule}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<div fxLayout="row wrap" class="m-t-20 cms_btn">
    <button mat-stroked-button color="primary" class="roundered-corner"> <span class="fa fa-eye"></span> View CMS
        1500</button>
</div>
<mat-card class="document-section m-t-20">
    <mat-card-header>
        <div class="m-0 p-t-5 content-wrapper-main-title">Documents</div>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-10 p-b-20">
        <div fxLayout="row wrap" fxFlex="100" class="w-100">
            <div class="doc_status" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50"
                fxFlex.xl="50">
                <a matRipple class="active">Documents<br />
                    Submitted</a>
                <a matRipple>Documents<br />
                    Received</a>
            </div>
            <div class="doc_type" fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50"
                fxFlex.xl="50">
                <a matRipple>Add Document</a>
            </div>
            <div fxFlex="100" class="m-t-10 m-b-10">
                <div class="m-0 m-b-0 content-wrapper-main-title p-b-0 p-l-5">Bill Documents</div>
                <div class="text">Documents needed for a complete QME bill</div>
            </div>
            <div class="billing_list w-100 m-t-5" fxFlex="100">
                <table mat-table [dataSource]="dataSource1" matSort>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let element" class="doc_name"> <img [src]="docx"
                                alt="{{element.name}}" class="p-r-10"> {{element.name}} </td>
                    </ng-container>

                    <!-- Type code Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
                        <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.type}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                </table>
            </div>
        </div>

    </mat-card-content>
</mat-card>

<div fxLayout="row wrap" class="m-t-20">
    <div class=" action_buttons">
        <button mat-stroked-button color="primary" class="btn_success"> Submit</button>
        <button mat-stroked-button color="primary" class="m-l-10" disabled> Bill on demand</button>
    </div>
</div>
<mat-card class="payment-section m-t-20">
    <mat-card-header>
        <div class="m-0 p-t-5 content-wrapper-main-title">Payment</div>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-t-10 p-b-20">
        <div class="billing_list">
            <table mat-table [dataSource]="dataSource2" matSort>

                <!-- Item Column -->
                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
                    <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.item}} </td>
                </ng-container>

                <!-- Procedure code Column -->
                <ng-container matColumnDef="procedure_code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Procedure code </th>
                    <td mat-cell *matCellDef="let element" class="no-wrap-td"> {{element.procedure_code}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="modifer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modifer </th>
                    <td mat-cell *matCellDef="let element"> {{element.modifer}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="units">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
                    <td mat-cell *matCellDef="let element"> {{element.units}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Charge </th>
                    <td mat-cell *matCellDef="let element"> {{element.charge}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="fee_schedule">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expected fee schedule </th>
                    <td mat-cell *matCellDef="let element"> {{element.fee_schedule}} </td>
                </ng-container>


                <!-- Units Column -->
                <ng-container matColumnDef="payment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment </th>
                    <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
                </ng-container>

                <!-- Units Column -->
                <ng-container matColumnDef="balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance </th>
                    <td mat-cell *matCellDef="let element" class="bal_"> {{element.balance}} </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>