<mat-card-header>
    <mat-card-title class="m-0">Admin</mat-card-title>
    <span class="spacer"></span>
    <button (click)="navigate()" mat-mini-fab class="add-user">
        <mat-icon>add</mat-icon>
    </button>

</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content class="p-t-3">
    <div class="table-filter">
        <input (keyup)="applyFilter($event.target.value)" placeholder="Search by name, email, role">
    </div>
    <span class="spacer"></span>
    <button mat-icon-button class="filter-icon" (click)="exportData()">
        <i class="fas fa-file-excel"></i>
    </button>
    <table mat-table [dataSource]="dataSource" matSort class="mat-table">
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>
        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
        <ng-container matColumnDef="sign_in_email_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.sign_in_email_id}} </td>
        </ng-container>
        <ng-container matColumnDef="role_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" (click)="gotoEdit(element)">
                <mat-icon class="edit-user" mat-raised-button matTooltip="Edit {{element.first_name}} Account" matTooltipPosition="right">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"  class="table-heading"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]"></mat-paginator>

</mat-card-content>