@import "variables";
.forgot-password-form {
  background-color: $primary-dark;
  min-height: calc(100% - 66px);
  width: 100%;
  .p-t-100 {
    @media only screen and (max-width: 568px) {
      padding-top: 30px !important;
    }
  }
  .p-b-50 {
    @media only screen and (max-width: 568px) {
      padding-bottom: 30px !important;
    }
  }
  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $shadow-style-one;
    .info-text {
      @include text;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
      }
    }
    .switched-link {
      @include switched-link;
    }
  }
}
