<div class="forgot-password-form">
    <div class="p-t-100 p-b-50" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap">
            <div class="m-auto" fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxFlex.xl="25"
                fxLayout="column">
                <mat-card class="p-5">
                    <!--Form Title-->
                    <img mat-card-image [src]="logo" alt="Lucy logo" class="logo">
                    <mat-card-title class="p-t-10 auth-tilte">Forgot password</mat-card-title>
                    <div class="info-text text-center p-b-20">Please enter your email ID below to reset your password!</div>
                        <app-error *ngIf="error" [data]="error"></app-error>
                    <mat-card-content>
                        <!--Form start-->
                        <form fxLayout="row wrap" class="p-t-20" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Email ID*</mat-label>
                                <input matInput name="email" placeholder="Enter Email ID*" formControlName="email" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="primary" type="submit" class="authentication-btn"> Send <i
                                    class="fa fa-arrow-right"></i></button>
                        </form>
                        <div class="switched-link"><span routerLink="/login">Back to Login</span></div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>