<div class="m-0 content-wrapper-main-title">Page Status :</div>
<!-- ###~~~~~ Claimant section  ~~~~~###-->
<div class="claimant_info" fxLayout="row wrap">
    <div fxFlex="100">
        <app-claimant-details *ngIf="!isLoading" [state]="states" [claimant]="claimantDetail"></app-claimant-details>
    </div>
</div>


<!-- ###~~~~~ Claim section  ~~~~~###-->
<div class="claim_info m-t-10" fxLayout="row wrap">
    <div fxFlex="100">
        <app-claim *ngIf="!isLoading" [state]="states" [claim]="claimDetail"></app-claim>
    </div>
</div>

<!-- ###~~~~~ Create Billing section  ~~~~~###-->
<div class="Bill_info m-t-10 m-b-10" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10">Billable Items </div>
                <span class="spacer"></span>
                <button mat-raised-button color="primary" class="m-b-5">
                    New Billable item
                </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-update-billable-item *ngIf="!isLoading" [state]="states"></app-update-billable-item>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<mat-accordion class="m-t-20">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Injury
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <app-injury *ngIf="!isLoading" [injury]="injuryDetails" [state]="states"></app-injury>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 1">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Correspondence
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 1" mat-raised-button color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <app-correspondance *ngIf="!isLoading" [claimId]="claimId" [state]="states"></app-correspondance>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 2">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Claims Administrator
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 2" mat-raised-button
                    (click)="$event.stopPropagation();claimAdminEdit=!claimAdminEdit" color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <app-claim-admin *ngIf="!isLoading" [state]="states" [claim_admin]="claimAdminDetail" [edit]="claimAdminEdit">
        </app-claim-admin>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 3">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Employer
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 3" mat-raised-button
                    (click)="$event.stopPropagation();employerEdit = !employerEdit" color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <app-employer *ngIf="!isLoading" [state]="states" [employer]="employeDetail" [edit]="employerEdit">
        </app-employer>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 4">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Applicant Attorney
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 4" mat-raised-button
                    (click)="$event.stopPropagation();aaEdit = !aaEdit" color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-application-attorney *ngIf="!isLoading" [state]="states" [aattorney]="aAttorneyDetail" [edit]="aaEdit">
        </app-application-attorney>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 5">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Defense Attorney
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 5" mat-raised-button
                    (click)="$event.stopPropagation();daEdit = !daEdit" color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-defense-attorney *ngIf="!isLoading" [state]="states" [dattroney]="dAttorneyDetail" [edit]="daEdit">
        </app-defense-attorney>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="expandedSection = 6">
        <mat-expansion-panel-header>
            <mat-panel-title>
                DEU Office
            </mat-panel-title>
            <mat-panel-description>
                <button *ngIf="expandedSection == 6" mat-raised-button
                    (click)="$event.stopPropagation();deoEdit = !deoEdit" color="primary" class="m-b-5">
                    Edit
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-deo *ngIf="!isLoading" [state]="states" [deu]="deuDetail" [edit]="deoEdit"></app-deo>
    </mat-expansion-panel>

</mat-accordion>