<div class="m-0 content-wrapper-main-title">Page Status :</div>
<!-- ###~~~~~ Claimant section  ~~~~~###-->
<div class="claimant_info" fxLayout="row wrap">
    <div fxFlex="100">
        <app-claimant-details *ngIf="!isLoading" [state]="states" [claimant]="claimantDetail"></app-claimant-details>
    </div>
</div>


<!-- ###~~~~~ Claim section  ~~~~~###-->
<div class="claim_info m-t-20" fxLayout="row wrap">
    <div fxFlex="100">
        <app-claim *ngIf="!isLoading" [state]="states" [claim]="claimDetail"></app-claim>
    </div>
</div>

<!-- ###~~~~~ Create Billing section  ~~~~~###-->
<div class="Bill_info m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10">Billable Items </div>
                <span class="spacer"></span>
                <button mat-stroked-button (click)="navigateBillable()" class="m-b-5 outline-success">
                    New Billable item
                </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-update-billable-item *ngIf="!isLoading" [claim_id]="claimId" [claimant_id]="claimantDetail?.id"
                    [state]="states"></app-update-billable-item>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<!-- ###~~~~~  injury  ~~~~~###-->
<div class="injury m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <app-injury *ngIf="!isLoading" [date_of_birth]="dateOfBirth" [body_part]="bodyParts" [claim_id]="claimId"
            [state]="states"></app-injury>
    </div>
</div>

<!-- ###~~~~~  correspondence  ~~~~~###-->
<div class="correspondence m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10">Communication Documents</div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-correspondance *ngIf="!isLoading" [claimId]="claimId" [state]="states"></app-correspondance>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~  Claims Administrator  ~~~~~###-->
<div class="claim_admin m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10">Claims Administrator </div>
                <span class="spacer"></span>
                <div>
                    <button mat-stroked-button *ngIf="!claimAdminEdit"
                        (click)="$event.stopPropagation();claimAdminEdit=!claimAdminEdit;saveClick.claimAdmin = false"
                        class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button mat-stroked-button *ngIf="claimAdminEdit"
                        (click)="$event.stopPropagation();claimAdminEdit=!claimAdminEdit;saveClick.claimAdmin = true"
                        class="m-b-5 filled-success">
                        Save
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-claim-admin *ngIf="!isLoading" (isEditComplete)="isEditChange($event, 'ca')"
                    [save]="saveClick.claimAdmin" [state]="states" [claim_admin]="claimAdminDetail"
                    [edit]="claimAdminEdit">
                </app-claim-admin>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~  Employer  ~~~~~###-->
<div class="employer m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10">Employer </div>
                <span class="spacer"></span>
                <div>
                    <button *ngIf="!employerEdit " mat-stroked-button
                        (click)="$event.stopPropagation();employerEdit = !employerEdit;saveClick.employer = false"
                        class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button *ngIf="employerEdit" mat-stroked-button
                        (click)="$event.stopPropagation();employerEdit = !employerEdit;saveClick.employer = true"
                        class="m-b-5 filled-success">
                        Save
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-employer *ngIf="!isLoading" (isEditComplete)="isEditChange($event, 'emp')"
                    [save]="saveClick.employer" [state]="states" [employer]="employeDetail" [edit]="employerEdit">
                </app-employer>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~ Applicant Attorney   ~~~~~###-->
<div class="app_attorney m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10"> Applicant Attorney </div>
                <span class="spacer"></span>
                <div>
                    <button *ngIf="!aaEdit" mat-stroked-button (click)="$event.stopPropagation();aaEdit = !aaEdit"
                        class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button *ngIf="aaEdit" mat-stroked-button
                        (click)="$event.stopPropagation();aaEdit = !aaEdit;saveClick.aa = true"
                        class="m-b-5 filled-success">
                        Save
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-application-attorney *ngIf="!isLoading" (isEditComplete)="isEditChange($event, 'aa')"
                    [save]="saveClick.aa" [state]="states" [aattorney]="aAttorneyDetail" [edit]="aaEdit">
                </app-application-attorney>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~    ~~~~~###-->
<div class="def_attorney m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10"> Defense Attorney </div>
                <span class="spacer"></span>
                <div>
                    <button *ngIf="!daEdit" mat-stroked-button (click)="$event.stopPropagation();daEdit = !daEdit"
                        class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button *ngIf="daEdit" mat-stroked-button
                        (click)="$event.stopPropagation();daEdit = !daEdit;saveClick.da = true"
                        class="m-b-5 filled-success">
                        Save
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-defense-attorney *ngIf="!isLoading" (isEditComplete)="isEditChange($event, 'da')"
                    [save]="saveClick.da" [state]="states" [dattroney]="dAttorneyDetail" [edit]="daEdit">
                </app-defense-attorney>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- ###~~~~~ DEU Office ~~~~~###-->
<div class="deu_office m-t-25" fxLayout="row wrap">
    <div fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-10 m-b-10"> DEU Office </div>
                <span class="spacer"></span>
                <div>
                    <button *ngIf="!deoEdit" mat-stroked-button (click)="$event.stopPropagation();deoEdit = !deoEdit"
                        class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button *ngIf="deoEdit" mat-stroked-button
                        (click)="$event.stopPropagation();deoEdit = !deoEdit;saveClick.deu = true"
                        class="m-b-5 filled-success">
                        Save
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="p-b-15">
                <app-deo *ngIf="!isLoading" [save]="saveClick.deu" (isEditComplete)="isEditChange($event, 'deu')"
                    [state]="states" [deu]="deuDetail" [edit]="deoEdit">
                </app-deo>
            </mat-card-content>
        </mat-card>
    </div>
</div>