@import "variables";

div {
    mat-card {
        padding: 10px;
        box-shadow: $shadow-style-one !important;
        &:hover {
            box-shadow: $shadow-style-one-hover;
        }
        &:hover {
            box-shadow: $box-shadow-1;
        }
    }
    .Bill_info,
    .injury_info {
        mat-card {
            padding: 10px;
            box-shadow: $shadow-style-one !important;
            &:hover {
                box-shadow: $shadow-style-one-hover;
            }
        }
    }
}

.mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}
mat-accordion {
    mat-form-field {
        padding: 10px;
    }
    mat-expansion-panel {
        box-shadow: $box-shadow-2;
        margin-bottom: 10px;
        &:hover {
            box-shadow: $box-shadow-1;
        }
        mat-panel-title {
            padding-top: 10px;
            font-weight: $font-weight-medium;
        }
        button {
            padding: 0px;
        }
    }
    .float-right {
        float: right;
        margin-bottom: 10px;
    }
}

mat-form-field {
    padding: 10px 10px 0px 10px !important;
}

.deu_office,
.claim_admin,
.app_attorney,
.def_attorney {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
}
