<mat-card class="m-card">
    <mat-card-header>
        <div class="content-wrapper-main-title p-t-10">Examiners Location</div>
        <span class="spacer"></span>
        <button mat-mini-fab aria-label="Example icon-button with a heart icon" color="primary"
            [routerLink]="['/subscriber/staff/manage-address/']" routerLinkActive="router-link-active">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-t-10">

        <div class="table-filter">
            <input matInput (keyup)="applyFilter($event)"
                placeholder="Search by name, email, etc">
        </div>

        <div class="user-detail">
            <table mat-table [dataSource]="dataSource" class="user-table">
                <!-- Name Column -->
                <ng-container matColumnDef="name" sticky>
                    <th mat-header-cell *matHeaderCellDef> Examiner Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let element"> <span class="fa fa-map-marker"></span>&nbsp;
                        {{element.address}}
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element"><span class="fa fa-mobile"></span> &nbsp;
                        {{element.phone}}
                    </td>
                </ng-container>

                <!-- Star Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="edit" matTooltip="Edit" matTooltipPosition="before">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Remove" matTooltipPosition="after">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>