<mat-card>
    <mat-card-header>
        <div class="content-wrapper-main-title p-t-10 m-b-10">Claim </div>
        <span class="spacer"></span>
        <!-- <button  mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
        </button> -->
        <button mat-raised-button color="primary" (click)="editClick()" class="m-b-5">
            Edit
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-b-15 claim_info">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15" *ngIf="!isEdit">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>WCAB Number</div>
                    <div>{{claimDetail.wcab_number}}</div>
                </div>
                <div class="grid-list">
                    <div>Exam Type</div>
                    <div>{{claimDetail.exam_type_id}}</div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Claim Number</div>
                    <div>{{claimDetail.claim_number}}</div>
                </div>
                <div class="grid-list">
                    <div>Panel Number</div>
                    <div>{{claimDetail.panel_number}}</div>
                </div>
            </div>
        </div>

        <div *ngIf="isEdit">
            <form fxLayout="row wrap" fxFlex="100" class="p-t-10" [formGroup]="claim">
                <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="fixied_adj">
                    <!-- <span> &nbsp; ADJ
                &nbsp;</span> -->
                    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Claim Number*</mat-label>
                        <input matInput placeholder="Claim Number" formControlName="claim_number" autocomplete="off">
                        <mat-error *ngIf="isClaimSubmited">Enter valid claim number</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="standard">

                        <mat-label>WCAB Number*</mat-label>
                        <input type="text" matInput placeholder="Enter WCAB Number" formControlName="wcab_number"
                            autocomplete="off">
                        <mat-error *ngIf="isClaimSubmited">Enter valid WCAB number</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Exam Type*</mat-label>
                    <mat-select formControlName="exam_type_id">
                        <mat-option *ngFor="let examType of examTypes" [value]="examType.id">
                            {{examType.exam_type_code}} - {{examType.exam_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isClaimSubmited">Select exam type</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Claim Number*</mat-label>
                    <input matInput placeholder="Claim Number" formControlName="claim_number" autocomplete="off">
                    <mat-error *ngIf="isClaimSubmited">Enter valid claim number</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Panel Number </mat-label>
                    <input matInput placeholder="Panel Number" formControlName="panel_number" autocomplete="off">
                </mat-form-field>
                <div class="text-center w-100 m-t-10 m-b-10">
                    <button mat-raised-button color="primary" class="m-r-10 rounded-corner btn_success"
                        (click)="updateClaim()">
                        Update </button>
                    <button mat-raised-button type="button" (click)="isEdit = false" class="rounded-corner"
                        color="warn">Cancel</button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>