<mat-card>
    <mat-card-header>
        <div fxLayout="row wrap" class="w-100">
            <div fxFlex="33.3" fxFlex.sm="33.3" fxFlex.xs="50">
                <div class="content-wrapper-main-title p-t-10 m-b-10"> Claim Information</div>
            </div>
            <div fxFlex="33.3" fxFlex.sm="33.3" fxFlex.xs="50" class="reference_no">
                <div class="content-wrapper-main-title p-t-10 m-b-10 text-center">Ref #:
                    {{claimDetail?.internal_reference}}</div>

            </div>
            <div fxFlex="33.3" fxFlex.sm="33.3" fxFlex.xs="100" class="text-right">
                <button *ngIf="!isEdit" mat-stroked-button (click)="editClick()" class="m-b-5 outline-success float-right">
                    Edit
                </button>
                <button *ngIf="isEdit" (click)="updateClaim()" mat-stroked-button class="m-b-5 filled-success float-right">
                    Save
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-b-15 claim_info m-t-15">
        <!-- <div fxLayout="row wrap" fxFlex="100" class="p-t-15" *ngIf="!isEdit">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>WCAB Number</div>
                    <div>{{claimDetail.wcab_number}}</div>
                </div>
                <div class="grid-list">
                    <div>Exam Type</div>
                    <div>{{claimDetail.exam_type_id}}</div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Claim Number</div>
                    <div>{{claimDetail.claim_number}}</div>
                </div>
                <div class="grid-list">
                    <div>Panel Number</div>
                    <div>{{claimDetail.panel_number}}</div>
                </div>
            </div>
        </div> -->

        <div>
            <form fxLayout="row wrap" fxFlex="100" class="p-t-10" [formGroup]="claim"
                (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Claim Number</mat-label>
                    <input matInput placeholder="Claim Number" formControlName="claim_number" autocomplete="off">
                    <mat-error *ngIf="isClaimSubmited">Please enter valid claim number</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">

                    <mat-label>WCAB Number</mat-label>
                    <input type="text" matInput placeholder="Enter WCAB Number" formControlName="wcab_number"
                        autocomplete="off">
                    <mat-error *ngIf="isClaimSubmited">Please enter valid WCAB number</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Exam Type*</mat-label>
                    <mat-select formControlName="exam_type_id">
                        <mat-option *ngFor="let examType of examTypes" [value]="examType.id">
                            {{examType.exam_type_code}} - {{examType.exam_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isClaimSubmited">Select exam type</mat-error>
                    <mat-hint *ngIf="is_billable_item_available">Once Billable Item is created, Exam Type cannot be modified.</mat-hint>
                </mat-form-field>

                <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-form-field appearance="outline" fxFlex="70" class="phone">
                        <mat-label>Panel Number </mat-label>
                        <input matInput placeholder="Panel Number" formControlName="panel_number" autocomplete="off">
                        <mat-error *ngIf="isClaimSubmited">Please enter valid Panel number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                        <mat-label>Ext</mat-label>
                        <input matInput type="text" placeholder="Ext" autocomplete="off">
                        <mat-error>Please enter valid Extension</mat-error>
                    </mat-form-field>

                </div>

                <div class="text-center w-100 m-t-10" *ngIf="isEdit">

                    <button mat-stroked-button type="button" (click)="cancel();isEdit = false"
                        class="m-r-10 outline-danger" color="warn">Cancel</button>
                    <button mat-stroked-button class="outline-success" (click)="updateClaim()">
                        Save </button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>