@import "variables";

mat-card {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
    mat-card-header {
        button {
            @media only screen and (max-width: 568px) {
                height: 35px;
                margin-top: 10px;
            }
        }
        .reference_no {
            .text-center {
                @media only screen and (max-width: 568px) {
                    text-align: right;
                }
            }
        }
    }
    .claim_info {
        mat-form-field {
            padding: 10px 10px 0px 10px !important;
        }
        .fixied_adj {
            span {
                width: 60px;
            }
            mat-form-field {
                width: calc(100% - 50px);
                padding-left: 0px !important;
            }
        }
    }
}
