<mat-toolbar class="p-l-0">
    <mat-toolbar-row class="p-l-0 p-r-0">
        <!-- <span class="page-heading" *ngIf="!isname">{{(menu$ | async)?.active_title}}</span> -->
        <app-breadcrumb></app-breadcrumb>
        <!-- <span class="page-heading" *ngIf="isname == 'true'">{{exam_type != 'undefined' ? exam_type : ""}} - Claim
            Number {{claim_number != 'null' ? claim_number : "Not Yet Entered"}}</span>
        <span class="spacer"></span> -->
        <!-- <app-breadcrumb class="hide-mobile"></app-breadcrumb> -->
    </mat-toolbar-row>
</mat-toolbar>