@import "variables";
.breadcrumb-home {
  list-style: none;
  display: inline;
  padding: 0px;
  li {
    float: left;
    padding: 3px;
    font-weight: normal;
    font-size: $font-size-2;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $primarycolor;
    }
  }
}
.breadcrumb {
  list-style: none;
  display: inline;
  padding: 0px;
  li {
    float: left;
    padding: 0px 5px;
    font-weight: normal;
    font-size: $font-size-2;
    cursor: pointer;
    &:before {
      display: inline-block;
      padding-right: 0.5rem;
      color: #6c757d;
      content: "/";
    }
    &:focus {
      outline: none;
    }
    &:hover {
      color: $primarycolor;
    }
  }
}
