<!-- <ul class="breadcrumb-home">
    <li (click)="breadCrumbMain()">
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>Home
    </li>
</ul>
<ul class="breadcrumb" *ngFor="let menu of (menu$ | async)?.menu; let indx = index">
    <li *ngIf="menu.title != 'Dashboard'">
        <span (click)="breadCrumb(menu, indx)">{{menu.title | ellipsis:40}}</span>
        
    </li>
</ul> -->
<xng-breadcrumb separator=">" id="titleCase">
    <ng-container *xngBreadcrumbItem="let breadcrumb; let info; let first = first">
        <mat-icon aria-hidden="false" *ngIf="info && first" aria-label="home icon">home</mat-icon>
        <ng-container>{{ breadcrumb.replace("-", " ") | titlecase }}</ng-container>
    </ng-container>
</xng-breadcrumb>