<div class="user-disable" >
  <div mat-dialog-title class="mat-card-title" *ngIf="!data.address">Are you sure you want to {{data.name}} this user?</div>
  <div mat-dialog-title class="mat-card-title" *ngIf="data.address">Are you sure you want to {{data.name}}?</div>
  <div mat-dialog-actions class="disable-actions text-center p-t-25">
    <button mat-stroked-button  (click)="onNoClick()" class="no m-r-5">No</button>
    <button mat-stroked-button (click)="onYesClick()"  class="yes">Yes</button>
  </div>
</div>




