@import "variables";

.user-disable {
  .mat-card-title {
    text-align: center;
  }
  .disable-acctions {
    text-align: center;
    .btn {
      padding: 7px 30px;
      border-radius: 50px;
      font-size: $font-size-1;
      box-shadow: $box-shadow-3;
      font-weight: $font-weight-bold;
      cursor: pointer;
      &:hover {
          box-shadow: $box-shadow-1;
      }
    }
    .no {
      background-color: $white;
      color: $black;
      &:hover {
          background-color: $bg-light-blue;
      }
      @extend .btn;
    }

    .yes {
      background-color: $bg-success;      
      color: $white;
      @extend .btn;
    }
  }
}
