<div fxLayout="row wrap">
    <div class="header" fxFlex="100">
        Simplexam.com Terms of Service
    </div>
    <div class="container" fxFlex="100" fxFlex.sm="100" fxFlex.md="100">
        <div class="published-date">
            Effective Date: 1 August 2021
        </div>
        <p>
            THESE GENERAL TERMS OF SERVICE (<b>“Terms”</b>), together with all documents and policies incorporated by
            reference in
            these Terms, constitute an agreement (<b>“Agreement”</b>) by and between IME Institute, LLC doing business
            as Simplexam, a
            Delaware limited liability company (<b>“Simplexam”</b>), and you (<b>“You,” “Your,” or “Yourself”</b>), made
            effective as of the
            date You electronically accept these Terms (<b>“Effective Date”</b>). Simplexam and You are sometimes
            referred to
            collectively in these Terms as the “Parties” and singularly as a “Party.” This Agreement governs Your use of
            Simplexam’s Services, the Simplexam IP, Simplexam Materials, and Simplexam Systems, as defined herein.</p>
        <p>
            By electronically accepting this Agreement, You acknowledge that you have read these Terms and agree to
            comply with
            the provisions set forth herein. You acknowledge and agree that You are accepting this Agreement on behalf
            of
            Yourself and any Authorized User, to the extent provided herein.</p>

        <div class="title">
            1. Access and Use.
        </div>
        <ul>
            <li>
                <span>1.1. Provision of Access.</span> Subject to and conditioned on Your payment of Fees and compliance
                with this Agreement,
                Simplexam hereby grants You a non-exclusive, non-transferable right to access and use the Services
                during the Term,
                solely for use by Authorized Users in accordance with this Agreement. Such use is limited to Your
                internal use.
                Simplexam will provide to You the necessary passwords and network links or connections to allow You to
                access the
                Services. The total number of Authorized Users will not exceed the number agreed between You and
                Simplexam from time
                to time. You may increase or decrease the total number of Authorized Users at any time during the Term,
                subject to
                an appropriate adjustment of the Fees payable hereunder.
            </li>
            <li>

                <span> 1.2. Use Restrictions.</span> You shall not use the Services for any purposes beyond the scope of
                the access granted in
                this Agreement. You shall not at any time, directly or indirectly, and shall not permit any Authorized
                Users to: (i)
                copy, modify, or create derivative works of the Services, in whole or in part; (ii) rent, lease, lend,
                sell,
                license, sublicense, assign, distribute, publish, transfer, or otherwise make available the Services;
                (iii) reverse
                engineer, disassemble, decompile, decode, adapt, or otherwise attempt to derive or gain access to any
                software
                component of the Services, in whole or in part; (iv) remove any proprietary notices from the Services;
                or (v) use
                the Services in any manner or for any purpose that infringes, misappropriates, or otherwise violates any
                intellectual property right or other right of any person, or that violates any applicable law.
            </li>
            <li>

                <span>1.3. Service and System Control.</span> Except as otherwise expressly provided in this Agreement,
                as between the Parties:
                (i) Simplexam has and will retain sole control over the operation, provision, maintenance, and
                management of the
                Simplexam Materials; and (ii) You have and will retain sole responsibility for all access to and use of
                the
                Simplexam Materials by any person by or through Your information technology infrastructure, including
                computers,
                software, databases, electronic systems (including database management systems), and networks, whether
                operated
                directly by You or through the use of third-party services (“Customer Systems”), or any other means
                controlled by
                You or any Authorized User. Simplexam may from time to time in its discretion engage third parties to
                perform the
                Services (each, a “Subcontractor”).
            </li>
            <li>

                <span>1.4. Reservation of Rights.</span> Simplexam reserves all rights not expressly granted to You in
                this Agreement. Except for
                the limited rights and licenses expressly granted under this Agreement, nothing in this Agreement
                grants, by
                implication, waiver, estoppel, or otherwise, to You or any third party any intellectual property rights
                or other
                right, title, or interest in or to the Simplexam IP.
            </li>
            <li>

                <span>1.5. Suspension.</span> Notwithstanding anything to the contrary in this Agreement, Simplexam may
                temporarily suspend Your
                and any Authorized User’s access to any portion or all of the Services if: (i) Simplexam reasonably
                determines that
                (A) there is a threat or attack on any of the Simplexam IP; (B) Your or any Authorized User’s use of the
                Simplexam
                IP disrupts or poses a security risk to the Simplexam IP or to any other customer or vendor of
                Simplexam; (C) You
                are, or any Authorized User is, using the Simplexam IP for fraudulent or illegal activities; (D) subject
                to
                applicable law, You have ceased to continue Your business in the ordinary course, made an assignment for
                the benefit
                of creditors or similar disposition of Your assets, or become the subject of any bankruptcy,
                reorganization,
                liquidation, dissolution, or similar proceeding; or (E) Simplexam’s provision of the Services to You or
                any
                Authorized User is prohibited by applicable law; (ii) any vendor of Simplexam has suspended or
                terminated
                Simplexam’s access to or use of any third-party services or products required to enable You to access
                the Services;
                or (iii) in accordance with Section 3(iii) (any such suspension described in subclause (i), (ii), or
                (iii), a
                “Service Suspension”). Simplexam will use commercially reasonable efforts to provide written notice of
                any Service
                Suspension to You and to provide updates regarding resumption of access to the Services following any
                Service
                Suspension. Simplexam will have no liability for any damage, liabilities, losses (including any loss of
                data or
                profits), or any other consequences that You or any Authorized User may incur as a result of a Service
                Suspension.
            </li>
            <li>
                <span>1.6. Privacy.</span> You acknowledge and agree to Simplexam’s collection, use, and protection of
                user information, as
                provided herein. Simplexam will collect all account information necessary for the operation of the
                Services,
                including Your name, address, phone number, or any other information. Simplexam agrees not to share any
                of Your
                information to third parties unless required by law.
            </li>
        </ul>
        1.7. User Data. If You upload, store, share, or otherwise process documents, information, data, and other
        content
        (“User Data”) or sync User Data from Your own personal software to the Services, You acknowledge and agree to
        Simplexam’s access and processing of User Data in accordance with this Agreement. Simplexam reserves the right,
        pursuant to its reasonable discretion, to remove or delete User Data from the Services for any reason,
        including,
        without limitation, if the User Data violates this Agreement or any applicable laws. Simplexam does not claim
        ownership of any User Data. You grant all such rights and permissions in or relating to User Data as are
        necessary
        or useful to Simplexam and its Subcontractors to enforce this Agreement and exercise Simplexam’s and its
        Subcontractors’ rights and perform Simplexam’s and its Subcontractors’ obligations hereunder.
        1.7.1. Monitoring. Simplexam has no responsibility to monitor or police Your use of the Services, including
        without
        limitation communications, information, or data transmitted through the Services, such as User Data. Simplexam
        is
        not responsible for the content of any such communications, data, or transmissions. However, Simplexam reserves
        the
        right, at all times, to review, retain, and disclose any such information as required to ensure compliance with
        this
        Agreement or as required or permitted by all applicable laws.
        1.7.2. Technical Data. Simplexam may collect and use any and all technical data and related information,
        including
        without limitation information about Your device, systems, and application software, as it relates to the
        Services
        (“Technical Data”), for purposes of providing the Services to You and in order to provide support, risk, and
        fraud
        management and other services related to the Services. Such Technical Data may be anonymous for the purposes of
        technical analysis.
        1.7.3. No Liability. Simplexam maintains no responsibility or liability with respect to any User Data that You
        process, transmit, disclose, or store in connection with the Services, including any User Data that You request
        to
        have deleted from the Services, unless otherwise required under this Agreement or under applicable laws.

        2. Your Responsibilities.
        2.1. General. You are responsible and liable for all uses of the Services resulting from access provided by You,
        directly or indirectly, whether such access or use is permitted by or in violation of this Agreement. Without
        limiting the generality of the foregoing, You are responsible for all acts and omissions of Authorized Users,
        and
        any act or omission by an Authorized User that would constitute a breach of this Agreement if taken by You will
        be
        deemed a breach of this Agreement by You. You shall use reasonable efforts to make all Authorized Users aware of
        this Agreement as applicable to such Authorized User’s use of the Services, and shall cause Authorized Users to
        comply with such provisions.
        2.2. Control and Responsibility. You have and will retain sole responsibility for: (i) all User Data, including
        their content and use; (ii) all information, instructions, and materials provided by or on behalf of You or any
        Authorized User in connection with the Services; (iii) Customer Systems; (iv) the security and use of the Access
        Credentials of Yourself and Your Authorized Users; and (v) all access to and use of the Services and Simplexam
        Materials directly or indirectly by or through the Customer Systems or Access Credentials, with or without Your
        knowledge or consent, including all results obtained from, and all conclusions, decisions, and actions based on,
        such access or use.
        2.3. Effect of Failure or Delay. Simplexam is not responsible or liable for any delay or failure of performance
        caused in whole or in part by Your delay in performing, or failure to perform, any of Your obligations under
        this
        Agreement.
        2.4. Access and Security. You shall employ all physical, administrative, and technical controls, screening, and
        security procedures and other safeguards necessary to securely administer the distribution and use of all Access
        Credentials and protect against any unauthorized access to or use of the Services, and control the content and
        use
        of User Data.

        3. Fees. You agree to pay Simplexam the fees (“Fees”) set forth by Simplexam. You shall make all payments in US
        dollars on or before the time reasonably established by Simplexam. If You fail to make any payment when due,
        without
        limiting Simplexam’s other rights and remedies: (i) Simplexam may charge interest on the past due amount at the
        highest rate permitted under applicable law; (ii) You shall reimburse Simplexam for all costs incurred by
        Simplexam
        in collecting any late payments or interest, including attorneys’ fees, court costs, and collection agency fees;
        and
        (iii) if such failure continues for ten (10) days or more, Simplexam may suspend Your and Your Authorized Users’
        access to any portion or all of the Services until such amounts are paid in full. All amounts payable to
        Simplexam
        under this Agreement shall be paid by You to Simplexam in full without any setoff, recoupment, counterclaim,
        deduction, debit, or withholding for any reason (other than any deduction or withholding of tax as may be
        required
        by applicable law). All Fees and other amounts payable by You under this Agreement are exclusive of taxes and
        similar assessments. You are responsible for all sales, use, and excise taxes, and any other similar taxes,
        duties,
        and charges of any kind imposed by any federal, state, or local governmental or regulatory authority on any
        amounts
        payable by You hereunder, other than any taxes imposed on Simplexam’s income. Simplexam reserves the right to
        change
        the Fees from time to time, in its sole discretion. Simplexam will provide advance notice of any material
        increase
        of a change in Fees.  If the increase in Fees is not acceptable to You, Your sole and exclusive remedy will be
        to
        terminate Your use of the Services. By continuing to use the Services after notice of the new Fees, You
        acknowledge
        and agree to all changes in the Fees. All Fees are non-refundable, except in the sole discretion of Simplexam.

        4. Service Levels and Credits.
        4.1. Service Levels. Subject to the terms and conditions of this Agreement, Simplexam will use commercially
        reasonable efforts to make the Services Available at least ninety-nine and ninety-five hundredths percent
        (99.95%)
        of the time as measured over the course of each calendar month during the Term (each such calendar month, a
        “Service
        Period”), excluding unavailability as a result of any of the Exceptions described below in this Section 4.1 (the
        “Availability Requirement”). “Service Level Failure” means a material failure of the Services to meet the
        Availability Requirement. “Available” means the Services are available for access and use by You and Your
        Authorized
        Users over the Internet. For purposes of calculating the Availability Requirement, the following are
        “Exceptions” to
        the Availability Requirement, and neither the Services will be considered un-Available nor any Service Level
        Failure
        be deemed to occur in connection with any failure to meet the Availability Requirement or impaired ability of
        Yourself or Your Authorized Users to access or use the Services that is due, in whole or in part, to any: (i)
        act or
        omission by Yourself or any Authorized User; (ii) delay or failure of performance caused in whole or in part by
        Your
        delay in performing, or failure to perform, any of Your obligations under this Agreement; (iii) Your or Your
        Authorized User’s Internet connectivity; (iv) Force Majeure Event; (v) failure, interruption, outage, or other
        problem with any software, hardware, system, network, facility, or other matter not supplied by Simplexam
        pursuant
        to this Agreement; (vi) Scheduled Downtime; or (vii) disabling, suspension, or termination of the Services
        pursuant
        to Section 10.
        4.2. Service Level Failures and Remedies. In the event of a Service Level Failure, Simplexam will issue a credit
        to
        You equal to the proportion of the Service Level Failure duration to the Service Period multiplied by the Fees
        for
        the Services due for the Service Period in which the Service Level Failure occurred (each a “Service Credit”),
        subject to the following: (a) Simplexam has no obligation to issue any Service Credit unless: (i) You report the
        Service Level Failure to Simplexam immediately on becoming aware of it; and (ii) You request such Service Credit
        in
        writing within ten (10) days of the Service Level Failure; and in no event will a Service Level Credit for any
        Service Period exceed ten percent (10%) of the total Fees that would be payable for that Service Period if no
        Service Level Failure had occurred. Any Service Credit payable to You under this Agreement will be issued to You
        in
        the calendar month following the Service Period in which the Service Level Failure occurred. This Section 4.2
        sets
        forth Simplexam’s sole obligation and liability and Your sole remedy for any Service Level Failure.
        4.3. Scheduled Downtime. Simplexam will use commercially reasonable efforts to: (a) schedule downtime for
        routine
        maintenance of the Services between the hours of 8:00 p.m. and 6:00 a.m. Pacific; and (b) give You at least
        seventy-two (72) hours prior notice of all scheduled outages of the Services (“Scheduled Downtime”).
        4.4. Service Support. The Services include Simplexam’s standard customer support services (“Support Services”)
        in
        accordance with the Simplexam service support schedule then in effect, a current copy of which is available at
        __________________ (or a successor website address) (the “Support Exhibit”). Simplexam may amend the Support
        Exhibit
        from time to time in its sole discretion.

        5. Confidential Information. From time to time during the Term, either Party may disclose or make available to
        the
        other Party information about its business affairs, products, confidential intellectual property, trade secrets,
        third-party confidential information, and other sensitive or proprietary information, whether orally or in
        written,
        electronic, or other form or media/in written or electronic form or media, and whether or not marked,
        designated, or
        otherwise identified as “confidential” (collectively, “Confidential Information”). Confidential Information does
        not
        include information that, at the time of disclosure is: (i) in the public domain; (ii) known to the receiving
        Party
        at the time of disclosure; (iii) rightfully obtained by the receiving Party on a non-confidential basis from a
        third
        party; or (iv) independently developed by the receiving Party. The receiving Party shall not disclose the
        disclosing
        Party’s Confidential Information to any person or entity, except to the receiving Party’s employees who have a
        need
        to know the Confidential Information for the receiving Party to exercise its rights or perform its obligations
        hereunder. Notwithstanding the foregoing, each Party may disclose Confidential Information to the limited extent
        required (i) in order to comply with the order of a court or other governmental body, or as otherwise necessary
        to
        comply with applicable law, provided that the Party making the disclosure pursuant to the order shall first have
        given written notice to the other Party and made a reasonable effort to obtain a protective order; or (ii) to
        establish a Party’s rights under this Agreement, including to make required court filings. On the expiration or
        termination of the Agreement, the receiving Party shall promptly return to the disclosing Party all copies,
        whether
        in written, electronic, or other form or media, of the disclosing Party’s Confidential Information, or destroy
        all
        such copies and certify in writing to the disclosing Party that such Confidential Information has been
        destroyed.
        Each Party’s obligations of non-disclosure with regard to Confidential Information are effective as of the
        Effective
        Date and will expire five (5) years from the date first disclosed to the receiving Party; provided, however,
        with
        respect to any Confidential Information that constitutes a trade secret (as determined under applicable law),
        such
        obligations of non-disclosure will survive the termination or expiration of this Agreement for as long as such
        Confidential Information remains subject to trade secret protection under applicable law.

        6. Intellectual Property Ownership. You acknowledge that, as between Yourself and Simplexam, Simplexam owns all
        right, title, and interest, including all intellectual property rights, in and to the Simplexam IP. Simplexam
        acknowledges that, as between Simplexam and You, You own all right, title, and interest, including all
        intellectual
        property rights, in and to the User Data. You hereby grant to Simplexam a non-exclusive, royalty-free, worldwide
        license to reproduce, distribute, and otherwise use and display the User Data and perform all acts with respect
        to
        the User Data as may be necessary for Simplexam to provide the Services to You. If You or any of Your employees
        or
        contractors sends or transmits any communications or materials to Simplexam by mail, email, telephone, or
        otherwise,
        suggesting or recommending changes to the Simplexam IP, including without limitation, new features or
        functionality
        relating thereto, or any comments, questions, suggestions, or the like (“Feedback”), Simplexam is free to use
        such
        Feedback irrespective of any other obligation or limitation between the Parties governing such Feedback. You
        hereby
        assign to Simplexam on Your behalf, and on behalf of Your employees, contractors, and/or agents, all right,
        title,
        and interest in, and Simplexam is free to use, without any attribution or compensation to any party, any ideas,
        know-how, concepts, techniques, or other intellectual property rights contained in the Feedback, for any purpose
        whatsoever, although Simplexam is not required to use any Feedback.

        7. Warranty Disclaimer. ALL SERVICES AND SIMPLEXAM MATERIALS ARE PROVIDED ON AN “AS IS, AS AVAILABLE” BASIS.
        SIMPLEXAM EXPRESSLY DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
        TITLE,
        AND NON-INFRINGEMENT, AND ALL WARRANTIES ARISING FROM COURSE OF DEALING, USAGE, OR TRADE PRACTICE. WITHOUT
        LIMITING
        THE FOREGOING, SIMPLEXAM MAKES NO WARRANTY OF ANY KIND THAT THE SERVICES OR SIMPLEXAM MATERIALS, OR ANY PRODUCTS
        OR
        RESULTS OF THE USE THEREOF, WILL: MEET THE REQUIREMENTS OF YOU OR ANY OTHER PERSON; OPERATE WITHOUT
        INTERRUPTION;
        ACHIEVE ANY INTENDED RESULT; BE COMPATIBLE OR WORK WITH ANY SOFTWARE, SYSTEM, OR OTHER SERVICES; OR BE SECURE,
        ACCURATE, COMPLETE, FREE OF HARMFUL CODE, OR ERROR FREE.

        8. Indemnification. To the fullest extent permitted by applicable law, You agree to indemnify, hold harmless,
        and,
        at Simplexam’s option, defend Simplexam and its Subcontractors and affiliates, and each of its and their
        respective
        directors, managers, officers, shareholders, members, employees, agents, successors, and assigns (each, a
        “Simplexam
        Indemnitee”), from and against any and all losses, damages, deficiencies, claims, actions, judgments,
        settlements,
        interest, awards, penalties, fines, costs, or expenses of whatever kind, including reasonable attorneys’ fees
        (“Losses”), incurred by any Simplexam Indemnitee resulting from any claim, action, cause of action, demand,
        lawsuit,
        arbitration, inquiry, audit, notice of violation, proceeding, litigation, citation, summons, subpoena, or
        investigation of any nature, civil, criminal, administrative, regulatory, or other, whether at law, in equity,
        or
        otherwise by a third party (other than an affiliate of a Simplexam Indemnitee), that arise out of or result
        from, or
        are alleged to arise out of or result from: (i) User Data, including any processing of User Data by or on behalf
        of
        Simplexam in accordance with this Agreement; (ii) any other materials or information (including any documents,
        data,
        specifications, software, content, or technology) provided by or on behalf of You or any Authorized User; (iii)
        allegation of facts that, if true, would constitute Your breach of any of Your representations, warranties,
        covenants, or obligations under this Agreement; (iv) any act or omission by You, any Authorized User, or any
        third
        party on behalf of You or any Authorized User, in connection with this Agreement or the Services; or (v) any act
        or
        omission by Simplexam on behalf of You or any Authorized User in connection with the Services, including but not
        limited to electronic billing pursuant to Sections 2.1.2 and 2.10 of the California Division of Workers’
        Compensation Electronic Medical Billing and Payment Companion Guide, Cal. Code Regs., tit. 8, § 9792.5.1,
        subdivision (b).

        9. Limitations of Liability. IN NO EVENT WILL SIMPLEXAM BE LIABLE UNDER OR IN CONNECTION WITH THIS AGREEMENT
        UNDER
        ANY LEGAL OR EQUITABLE THEORY, INCLUDING BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, AND
        OTHERWISE, FOR ANY: (a) CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL, ENHANCED, OR PUNITIVE DAMAGES;
        (b)
        INCREASED COSTS, DIMINUTION IN VALUE OR LOST BUSINESS, PRODUCTION, REVENUES, OR PROFITS; (c) LOSS OF GOODWILL OR
        REPUTATION; (d) USE, INABILITY TO USE, LOSS, INTERRUPTION, DELAY, OR RECOVERY OF ANY DATA, OR BREACH OF DATA OR
        SYSTEM SECURITY; OR (e) COST OF REPLACEMENT GOODS OR SERVICES, IN EACH CASE REGARDLESS OF WHETHER SIMPLEXAM WAS
        ADVISED OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES OR SUCH LOSSES OR DAMAGES WERE OTHERWISE FORESEEABLE. IN NO
        EVENT WILL THE AGGREGATE LIABILITY OF SIMPLEXAM ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER ARISING
        UNDER
        OR RELATED TO BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, OR ANY OTHER LEGAL OR EQUITABLE
        THEORY, EXCEED THE TOTAL AMOUNTS ACTUALLY PAID TO SIMPLEXAM BY YOU UNDER THIS AGREEMENT. THE FOREGOING
        LIMITATIONS
        APPLY EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.
        9.1. Simplexam Not Liable for Your Use. The Services are being made available to You for use by the Authorized
        Users
        in accordance with this Agreement. You are solely responsible for any use or dissemination of the Services (or
        any
        information therefrom) by Authorized Users. Decisions based upon information contained in or distributed through
        the
        Services are the sole responsibility of You and Your Authorized Users, and Simplexam and its affiliates are not
        responsible for any use of user output from the Services. All disclosures required for Authorized User client
        interaction or presentation are Your sole responsibility.
        9.2. Simplexam Not Liable for Third-Party Providers. Simplexam or third-party providers may make available,
        through
        the Services or otherwise, various third-party products or services, including but not limited to mailing,
        history
        of injury, record summarization, and/or transcription services. Your ordering of such third-party products or
        services, and any exchange of data between You and any third-party provider, product, or service is solely
        between
        You and the applicable third-party provider. Simplexam does not warrant or support such third-party products or
        services. Simplexam is not responsible for any disclosure, modification, or deletion of User Data resulting from
        access by such third-party provider. The Services may contain features designed to interoperate with third-party
        products or services. Simplexam cannot guarantee the continued availability of such Services features, and may
        cease
        providing them without entitling You to any refund, credit, or other compensation, if for example and without
        limitation, a third-party provider ceases to make the third-party product or service available for
        interoperation
        with the corresponding Services features in a manner acceptable to Simplexam.

        10. Term and Termination.
        10.1. Term. This Agreement is effective on the Effective Date and will continue in effect for as long as You use
        the
        Services in accordance with this Agreement, unless terminated earlier pursuant to this Agreement.
        10.2. Termination. You may request to terminate this Agreement at any time by written notice to Simplexam.
        Simplexam
        reserves the right to require up to sixty (60) days’ prior notice of termination.
        10.3. Termination for Breach. In addition to any other express termination right set forth in this Agreement,
        Simplexam may terminate this Agreement and Your use of the Services, effective on written notice to You, if You:
        (a)
        fail to pay any amount when due hereunder; or (b) breach any of Your obligations under this Agreement, and such
        failure/breach: (y) is incapable of cure; or (z) being capable of cure, remains uncured more than fifteen (15)
        days
        after Simplexam’s delivery of written notice of the failure/breach.
        10.4. Effect of Expiration or Termination. Upon expiration or earlier termination of this Agreement, You shall
        immediately discontinue use of the Simplexam IP and, without limiting Your confidentiality obligations under
        this
        Agreement, You shall delete or destroy any Simplexam IP from Your Customer Systems. No expiration or termination
        will affect Your obligation to pay all Fees that may have become due before such expiration or termination or
        entitle You to any refund.
        10.5. Survival. This Section (Survival) and Sections 1.2 (Use Restrictions), 5 (Confidential Information), 7
        (Warranty Disclaimer), 8 (Indemnification), 9 (Limitations of Liability), 10.4 (Effect of Expiration or
        Termination), and 11 (Miscellaneous) survive any termination or expiration of this Agreement. No other
        provisions of
        this Agreement survive the expiration or earlier termination of this Agreement.

        11. Miscellaneous.
        11.1. Definitions.
        11.1.1. “Access Credentials” means any username, identification number, password, or other security code,
        method,
        technology, or device used, alone or in combination, to verify an individual’s identity and authorization to
        access
        and use the Services.
        11.1.2. “Authorized User” means Your employees, consultants, contractors, and agents (i) who are authorized by
        You
        to access and use the Services under the rights granted to You pursuant to this Agreement and (ii) for whom
        access
        to the Services has been purchased hereunder.
        11.1.4. “Services” means the following software-as-a-service offerings: (a) Medical History Questionnaire On
        Demand;
        (b) Record Summary On Demand; (c) Telehealth On Demand; and (d) any other software-as-a-service offered by
        Simplexam
        to You during the Term.
        11.1.5. “Simplexam IP” means the Services and any and all intellectual property provided to You or any
        Authorized
        User in connection with the foregoing. For the avoidance of doubt, Simplexam IP does not include User Data.
        11.1.6. “Simplexam Materials” means the Services, Simplexam Systems, and any and all other information, data,
        documents, materials, works, and other content, devices, methods, processes, hardware, software, and other
        technologies and inventions, including any deliverables, technical or functional descriptions, requirements,
        plans,
        or reports, that are provided or used by Simplexam or any subcontractor in connection with the Services or
        otherwise
        comprise or relate to the Services or Simplexam Systems.
        11.1.7. “Simplexam Systems” means the information technology infrastructure used by or on behalf of Simplexam in
        performing, maintaining, or providing the Services, including all computers, software, hardware, databases,
        electronic systems (including database management systems), and networks, whether operated directly by Simplexam
        or
        through the use of third-party services.
        11.1.8. “User Data” means information, data, and other content, in any form or medium, that is submitted,
        posted, or
        otherwise transmitted by or on behalf of Yourself or an Authorized User through the Services.
        11.2. Entire Agreement. This Agreement, together with any other documents incorporated herein by reference and
        all
        related Exhibits, constitutes the sole and entire agreement of the Parties with respect to the subject matter of
        this Agreement and supersedes all prior and contemporaneous understandings, agreements, and representations and
        warranties, both written and oral, with respect to such subject matter.
        11.3. Notices. All notices, requests, consents, claims, demands, waivers, and other communications hereunder
        (each,
        a “Notice”) must be in writing and addressed: (a) as to Simplexam, to Simplexam’s addresses of record set forth
        on
        www.simplexam.com; and (b) as to You, to Your address provided at initial registration or to such other address
        that
        You may designate by giving Notice from time to time in accordance with this Section. All Notices must be
        delivered
        by personal delivery, nationally recognized overnight courier (with all fees pre-paid), facsimile or email (with
        confirmation of transmission), or certified or registered mail (in each case, return receipt requested, postage
        pre-paid). Except as otherwise provided in this Agreement, a Notice is effective only: (i) upon receipt by the
        receiving Party; and (ii) if the Party giving the Notice has complied with the requirements of this Section.
        11.4. Force Majeure. In no event shall Simplexam be liable to You, or be deemed to have breached this Agreement,
        for
        any failure or delay in performing its obligations under this Agreement, if and to the extent such failure or
        delay
        is caused by any circumstances beyond Simplexam’s reasonable control, including but not limited to acts of God,
        disease, pandemic, epidemic, flood, fire, earthquake, explosion, war, terrorism, invasion, riot or other civil
        unrest, strikes, labor stoppages or slowdowns or other industrial disturbances, or passage of law or any action
        taken by a governmental or public authority, including imposing an embargo (each, a “Force Majeure Event”).
        11.5. Amendment and Modification. Simplexam reserves the right to modify or change this Agreement, as well as
        its
        policies relating to the Services, at any time, in its sole discretion. Simplexam will post revised Terms or
        policies on its website, and will provide notice to You of material changes to this Agreement. You will be
        deemed to
        have accepted and agreed to any revisions or changes to this Agreement at the time of (i) Your electronic
        acceptance
        of the revised, changed, or new Agreement; or (ii) Your use of the Services after the effective date of the
        revised,
        changed, or new Agreement. If the revised, changed, or new Agreement is not acceptable to You, Your sole and
        exclusive remedy will be to stop using the Services and/or to cancel Your account.
        11.6. Waiver. No waiver by any Party of any of the provisions hereof will be effective unless explicitly set
        forth
        in writing and signed by the Party so waiving. Except as otherwise set forth in this Agreement, (i) no failure
        to
        exercise, or delay in exercising, any rights, remedy, power, or privilege arising from this Agreement will
        operate
        or be construed as a waiver thereof, and (ii) no single or partial exercise of any right, remedy, power, or
        privilege hereunder will preclude any other or further exercise thereof or the exercise of any other right,
        remedy,
        power, or privilege.
        11.7. Severability. If any provision of this Agreement is invalid, illegal, or unenforceable in any
        jurisdiction,
        such invalidity, illegality, or unenforceability will not affect any other term or provision of this Agreement
        or
        invalidate or render unenforceable such term or provision in any other jurisdiction. Upon such determination
        that
        any term or other provision is invalid, illegal, or unenforceable, the Parties shall negotiate in good faith to
        modify this Agreement so as to effect their original intent as closely as possible in a mutually acceptable
        manner
        in order that the transactions contemplated hereby be consummated as originally contemplated to the greatest
        extent
        possible.
        11.8. Governing Law. This Agreement is governed by and construed in accordance with the internal laws of the
        State
        of California without giving effect to any choice or conflict of law provision or rule that would require or
        permit
        the application of the laws of any jurisdiction other than those of the State of California.
        11.9. Venue, Jurisdiction, and Arbitration.
        11.9.1. Any legal suit, action, or proceeding arising out of or related to this Agreement or the licenses
        granted
        hereunder will be instituted exclusively in the federal courts or state courts located in the County of
        Riverside,
        California, and each Party irrevocably submits to the exclusive jurisdiction of such courts in any such suit,
        action, or proceeding.
        11.9.2. Notwithstanding Section 11.9.1, at the request of Simplexam, any controversy, dispute, or claim arising
        out
        of the interpretation, performance, or breach of this Agreement (including disputes as to the jurisdiction of
        the
        arbitrator) shall be resolved by a binding arbitration in Riverside County, California (“Arbitration”),
        administered
        by JAMS and conducted by a single arbitrator (“Arbitrator”) in accordance with the JAMS Comprehensive
        Arbitration
        Rules & Procedures (unless the total amount in dispute is less than $250,000.00, in which case the JAMS
        Streamlined
        Arbitration Rules & Procedures shall apply). The Arbitrator will prepare and provide to the parties a written
        decision (“Decision”) on all matters which are the subject of the Arbitration, including factual findings and
        the
        reasons which form the basis of the Decision of the Arbitrator. The Decision will be conclusive and final and
        shall
        have the effect and be enforceable in the manner provided by the California Code of Civil Procedure.
        11.10. Attorneys’ Fees. In the event that any action, suit, arbitration, or other legal or administrative
        proceeding
        is instituted or commenced by either Party against the other Party arising out of or related to this Agreement,
        the
        prevailing party is entitled to recover its reasonable attorneys’ fees and costs from the non-prevailing party,
        in
        addition to any other appropriate relief.
        11.11. Assignment. You may not assign any of Your rights or delegate any of Your obligations hereunder, in each
        case
        whether voluntarily, involuntarily, by operation of law or otherwise, without the prior written consent of
        Simplexam. Any purported assignment or delegation in violation of this Section will be null and void. This
        Agreement
        is binding upon and inures to the benefit of the Parties and their respective permitted successors and assigns.
        11.12. Equitable Relief. Each Party acknowledges and agrees that a breach or threatened breach by such Party of
        any
        of its obligations under Section 5 (Confidential Information) or, in the case of You, Sections 1.2 (Use
        Restrictions) or 2.2 (Control and Responsibility), would cause the other Party irreparable harm for which
        monetary
        damages would not be an adequate remedy and agrees that, in the event of such breach or threatened breach, the
        other
        Party will be entitled to equitable relief, including a restraining order, an injunction, specific performance,
        and
        any other relief that may be available from any court, without any requirement to post a bond or other security,
        or
        to prove actual damages or that monetary damages are not an adequate remedy. Such remedies are not exclusive and
        are
        in addition to all other remedies that may be available at law, in equity, or otherwise.
    </div>
</div>