@import "variables";

div {
    .header {
        background: rgb(226, 27, 142);
        background: linear-gradient(
            90deg,
            rgba(226, 27, 142, 1) 0%,
            rgba(150, 53, 141, 1) 35%,
            rgba(0, 178, 226, 1) 100%
        );
        padding: 25px 0;
        text-align: center;
        width: 100%;
        color: $white;
        font-size: $font-size-13;
        font-weight: $font-weight-bold;
        padding: 50px 0;
    }
    .container {
        max-width: 1000px !important;
        width: 100%;
        padding: 50px 0 25px 0;
        margin: 0px auto;
        color: $text-gray;
        font-size: $font-size-11;
        line-height: 28px;
        .published-date {
            font-style: italic;
            padding: 20px 0;
        }
        p {
            padding: 15px 0;
        }
        .title,
        ul li span {
            font-weight: $font-weight-bold;
            text-decoration: underline;
            color: $black;
        }
        b {
            color: $black;
        }
        ul {
            list-style-type: none;
            li {
                padding-bottom: 25px;
            }
        }
    }
}
