@import "variables";

.login-form {
  background-color: $primary-dark;
  min-height: calc(100% - 66px);
  width: 100%;
  .p-t-100 {
    @media only screen and (max-width: 568px) {
      padding-top: 30px !important;
    }
  }
  .p-b-30 {
    @media only screen and (max-width: 568px) {
      padding-bottom: 0px !important;
    }
  }
  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $shadow-style-one;
    border-radius: 10px ;

    form {
      mat-form-field {
        mat-icon {
          color: $active !important;
        }
        .check-password {
          cursor: pointer;
        }
      }
      .forgot-password {
        text-align: right;
        letter-spacing: 0;
        color: $active;
        opacity: 1;
        width: 100%;
        font-size: $font-size-1;
        &:hover {
          color: $ternary;
        }
        span {
          outline: none;
          cursor: pointer;
        }
      }
    }
    .new-account {
      @include switched-link;
    }
  }
}
