@import "variables";

.lucy-login-form {
  background-color: $bg-light-blue;
  min-height: calc(100% - 65px);
  width: 100%;
  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow:$box-shadow-1;
    .logo {
      @include logo;
    }
    mat-card-title {
      font-family: Source Sans Pro;
      letter-spacing: 0;
      color:  $primarycolor;
      opacity: 1;
      font-size: $font-size-14;
      text-align: center;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
        .check-password {
          cursor: pointer;
        }
        mat-error {
          padding-top: 3px;
        }
      }
      .forgot-password {
        text-align: right;
        letter-spacing: 0;
        color: $text-gray;
        opacity: 1;
        width: 100%;
        font-size: $font-size-1;
        padding: 3px;
        cursor: pointer;

        &:hover {
          color: $primarycolor;
        }
      }
      button {
        @include auth-btn;
        margin-top: 30px;
      }
    }
    .lucy-new-account {
      @include switched-link;
    }
  }
}




