@import "variables";

.error-message {
  padding: 10px;
  border-radius: 4px;
  background-color: $error-bg;
  border: 1px solid $error-border;
  .mat-card-title {
    text-align: center;
    font-size: $font-size-10;
    color: $error;
  }

  .note {
    font-size: $font-size-1;
    font-weight: $font-weight-medium;
    text-align: center;
    color: $error;
  }
}

.disable-acctions {
  text-align: center;
  .btn {
    padding: 7px 30px;
    border-radius: 50px;
    font-size: $font-size-1;
    box-shadow: $box-shadow-3;
    font-weight: $font-weight-bold;
    cursor: pointer;
    &:hover {
      box-shadow: $box-shadow-1;
    }
    &:focus,
    &::-moz-focus-inner {
      outline: none !important;
      border: none !important;
    }
  }
  .cancel {
    background-color: $white;
    color: $black;
    border: 0;
    &:hover {
      background-color: $white;
    }
    @extend .btn;
  }
}
