<ngx-spinner type="ball-clip-rotate" size="medium"></ngx-spinner>
<div fxLayout="row wrap">
    <div fxFlex="100" class="payment-dialog dialog custom-dialog">
        <mat-card-header class="model-header">
            <div class="content-wrapper-main-title p-t-3">Post Payment </div>
            <span class="spacer"></span>
            <button class="close-model" (click)="onNoClick()" color="warn"> <i class="fa fa-close"></i> close </button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div fxLayout="row wrap" class="scroll_">
                <div class="sub-title" fxFlex="100">Payment Information</div>
                <form fxLayout="row wrap" fxFlex="100" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                    [formGroup]="postPaymentForm">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Payment Amount*</mat-label>
                        <input matInput type="number" min="0" placeholder="Payment Amount"
                            (change)="setTwoNumberDecimal($event)" formControlName="payment_amount" autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid Payment Amount</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Reference Number*</mat-label>
                        <input matInput placeholder="Reference Number" formControlName="reference_no"
                            autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid Reference Number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Effective Date*</mat-label>
                        <input matInput placeholder="MM-DD-YYYY" [min]="minimumDate" formControlName="effective_date"
                            autocomplete="off" [matDatepicker]="effective">
                        <mat-datepicker-toggle matSuffix [for]="effective"></mat-datepicker-toggle>
                        <mat-datepicker #effective></mat-datepicker>
                        <mat-error *ngIf="postIsSubmit">Please enter valid Effective Date</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Payment Method*</mat-label>
                        <mat-select formControlName="payment_method">
                            <mat-option *ngFor="let payment of paymentTypes" [value]="payment">
                                {{payment}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="postIsSubmit">Please select valid Payment Method</mat-error>
                    </mat-form-field>
                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <div fxLayout="row wrap" class="p-t-30">
                            <mat-label fxFlex="50"> Deposited</mat-label>
                            <mat-radio-group aria-label="Select an option" fxFlex="50"
                                (change)="!postPaymentForm.value?.is_deposited ? postPaymentForm.get('deposit_date').disable() : postPaymentForm.get('deposit_date').enable();postPaymentForm.get('deposit_date').reset()"
                                formControlName="is_deposited">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false" class="p-l-20">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Deposited Date</mat-label>
                        <input matInput placeholder="MM-DD-YYYY" [min]="minimumDate" [max]="currentDate"
                            formControlName="deposit_date" autocomplete="off" [matDatepicker]="deposited">
                        <mat-datepicker-toggle matSuffix [for]="deposited"></mat-datepicker-toggle>
                        <mat-datepicker #deposited></mat-datepicker>
                        <mat-error *ngIf="postIsSubmit">Please enter valid Deposited Date</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Payer Claim Control Number</mat-label>
                        <input matInput placeholder="Payer Claim Control Number"
                            formControlName="payor_control_claim_no" autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid Payer Claim Control Number</mat-error>
                    </mat-form-field>
                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100"></div>

                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <div fxLayout="row wrap" class="p-t-30">
                            <mat-label fxFlex="50">Penalty</mat-label>
                            <mat-radio-group aria-label="Select an option"
                                (change)="!postPaymentForm.value?.is_penalty ? postPaymentForm.get('penalty_amount').disable() : postPaymentForm.get('penalty_amount').enable();postPaymentForm.get('penalty_amount').reset();"
                                formControlName="is_penalty" fxFlex="50">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false" class="p-l-20">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Penalty Amount</mat-label>
                        <input matInput type="number" min="0" (change)="setTwoNumberDecimal($event)"
                            placeholder="Penalty Amount" formControlName="penalty_amount" autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid Penalty Amount</mat-error>
                    </mat-form-field>

                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <div fxLayout="row wrap" class="p-t-30">
                            <mat-label fxFlex="50"> Interest Paid</mat-label>
                            <mat-radio-group aria-label="Select an option"
                                (change)="!postPaymentForm.value?.is_interest_paid ? postPaymentForm.get('interest_paid').disable() : postPaymentForm.get('interest_paid').enable();postPaymentForm.get('interest_paid').reset()"
                                formControlName="is_interest_paid" fxFlex="50">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false" class="p-l-20">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Interest Paid</mat-label>
                        <input matInput type="number" min="0" (change)="setTwoNumberDecimal($event)"
                            placeholder="Interest Amount" formControlName="interest_paid" autocomplete="off">
                        <mat-error>Please enter valid Interest Paid</mat-error>
                    </mat-form-field>
                    <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100" class="note">
                        <mat-icon>info</mat-icon> Note : Supported file formats: .pdf, .jpg, .jpeg, .png
                    </div>

                    <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100" class="m-t-10">
                        <button type="button" mat-raised-button class="filled-gray float-right m-b-5 m-r-5"
                            (click)="openFileUpload()"> <i class="fa fa-file-medical"></i> Add EOR </button>
                        <input type="file" #uploader multiple hidden (change)="addEOR($event)"
                            accept=".pdf, .jpg, .jpeg, .png" required>
                    </div>

                    <div fxFlex="100">
                        <form [formGroup]="userTable">
                            <table class="table table-border res-table hide-mobile">
                                <thead class="text-nowrap">
                                    <th>File Name </th>
                                    <th>Write Off Reason</th>
                                    <th>EOR Allowance</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <ng-container formArrayName="tableRows"
                                        *ngFor="let group of getFormControls.controls ; let i=index">

                                        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                                            <td><a class="text-ternary"
                                                    (click)="download(group)">{{group.get('file_name').value}}</a>
                                                <button mat-raised-button type="button" (click)="uploader.click()"
                                                    class="mini-btn filled-gray m-b-5"> Reupload <i
                                                        class="fa fa-upload m-l-3"></i></button>
                                                <input type="file" #uploader multiple hidden
                                                    (change)="addEOR($event,true,group)"
                                                    accept=".pdf, .jpg, .jpeg, .png" required>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Write Off Reason</mat-label>
                                                    <mat-select formControlName="write_off_reason_id">
                                                        <mat-option *ngFor="let writeoff of writeoffReason"
                                                            [value]="writeoff.id" placeholder="Write Off Reason"
                                                            (click)="setRequired(group)">
                                                            {{writeoff.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <!-- <input matInput formControlName="write_off_reason"
                                                        placeholder="Write Off Reason" type="text" autocomplete="off"> -->
                                                </mat-form-field>
                                                <mat-form-field appearance="outline" class="w-100 p-t-0"
                                                    *ngIf="group.value.write_off_reason_id ==4">
                                                    <input matInput placeholder="Other write off reason" pattern="^(?=.*[a-zA-Z_ ])[a-zA-Z0-9_ ]+$"
                                                        formControlName="write_off_other_reason" autocomplete="off">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <input matInput formControlName="eor_allowance" min="0"
                                                        type="number" placeholder="EOR Allowance" autocomplete="off">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <a class="text-success m-r-10" (click)="saveRow(group,i)">Save</a>
                                                <a class="text-danger" (click)="cancelEOR(group,i)">Cancel</a>
                                            </td>
                                        </tr>

                                        <tr *ngIf="!group.get('isEditable').value">
                                            <td><a (click)="download(group)"
                                                    class="text-ternary">{{group.get('file_name').value}}</a>
                                            </td>
                                            <td>
                                                {{writeoff(group.value)}}
                                            </td>
                                            <td>
                                                {{group.get('eor_allowance').value}}
                                            </td>
                                            <td>
                                                <a class="text-success m-r-10" (click)="editRow(group)">Edit</a>
                                                <a class="text-danger" (click)="removeEOR(group,i)">Remove</a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <app-nodata *ngIf="getFormControls?.controls?.length == 0"></app-nodata>
                        </form>
                    </div>



                    <div class="bill-line-mobile show-mobile">
                        <form [formGroup]="userTable">
                            <table>
                                <tbody>
                                    <ng-container formArrayName="tableRows"
                                        *ngFor="let group of getFormControls.controls ; let i=index">
                                        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i"
                                            class="editable-bill">
                                            <td>
                                                <mat-card>
                                                    <div class="flex">
                                                        <div class="bill-property">File Name </div>
                                                        <div class="editable">
                                                            <a class="text-ternary"
                                                                (click)="download(group)">{{group.get('file_name').value}}</a>
                                                            <button mat-raised-button type="button"
                                                                (click)="uploader.click()"
                                                                class="mini-btn filled-gray m-b-5"> Reupload <i
                                                                    class="fa fa-upload m-l-3"></i></button>
                                                            <input type="file" #uploader multiple hidden
                                                                (change)="addEOR($event,true,group)"
                                                                accept=".pdf, .jpg, .jpeg, .png" required>
                                                        </div>
                                                    </div>
                                                    <div class="flex">
                                                        <div class="bill-property">Write Off Reason</div>
                                                        <div class="editable">
                                                            <mat-form-field appearance="outline" class="w-100">
                                                                <input matInput formControlName="write_off_reason_id"
                                                                    placeholder="Write Off Reason" type="text"
                                                                    autocomplete="off">
                                                            </mat-form-field>
                                                            <mat-form-field appearance="outline" class="w-100 p-t-0">
                                                                <input matInput placeholder="Other write off reason"
                                                                    autocomplete="off">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="flex">
                                                        <div class="bill-property">EOR Allowance</div>
                                                        <div class="editable">
                                                            <mat-form-field appearance="outline" class="w-100">
                                                                <input matInput formControlName="eor_allowance" min="0"
                                                                    type="number" placeholder="EOR Allowance"
                                                                    autocomplete="off">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>

                                                    <div class="flex">
                                                        <div class="bill-property">Action </div>
                                                        <div class="editable">
                                                            <a class="text-success m-r-10"
                                                                (click)="saveRow(group,i)">Save</a>
                                                            <a class="text-danger"
                                                                (click)="cancelEOR(group,i)">Cancel</a>
                                                        </div>
                                                    </div>
                                                </mat-card>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td *ngIf="!group.get('isEditable').value">

                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                <mat-icon class="expand-close p-t-0">add_circle
                                                                </mat-icon>
                                                                <b>File Name :</b> <a (click)="download(group)"
                                                                    class="text-ternary">{{group.get('file_name').value}}</a>
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-card>
                                                            <!-- <div class="flex">
                                                                <div class="bill-property">File Name</div>
                                                                <div class="value">
                                                                    <a (click)="download(group)"
                                                                    class="text-ternary">{{group.get('file_name').value}}</a>
                                                                </div>
                                                            </div> -->
                                                            <div class="flex">
                                                                <div class="bill-property">Write Off Reason</div>
                                                                <div class="value">
                                                                    {{writeoff(group.value)}}
                                                                    <!-- {{group.get('write_off_other_reason').value}} -->
                                                                </div>
                                                            </div>
                                                            <div class="flex">
                                                                <div class="bill-property">EOR Allowance</div>
                                                                <div class="value"> {{group.get('eor_allowance').value}}
                                                                </div>
                                                            </div>
                                                            <div class="flex">
                                                                <div class="bill-property">Action </div>
                                                                <div class="value"> <a class="text-success m-r-10"
                                                                        (click)="editRow(group)">Edit</a>
                                                                    <a class="text-danger"
                                                                        (click)="removeEOR(group,i)">Remove</a></div>
                                                            </div>
                                                        </mat-card>

                                                    </mat-expansion-panel>
                                                </mat-accordion>

                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                <!-- <tfoot *ngIf="getFormControls.controls.length > 0">
                                    <tr class="bill-value" id="static-footer">
                                        <td>
                                            <mat-card>
                                                <div class="grid-list">
                                                    <div><b>Total Charge </b></div>
                                                    <div>{{calculateTotal() | number : '1.2-2'}}</div>
                                                </div>

                                                <div class="grid-list">
                                                    <div><b>Total Payment</b></div>
                                                    <div>{{calculateTotalPayment() | number : '1.2-2' }}</div>
                                                </div>

                                                <div class="grid-list">
                                                    <div><b>Total Balance: </b></div>
                                                    <div class="text-danger">
                                                        {{calculateTotalBal() | number : '1.2-2'}} </div>
                                                </div>
                                            </mat-card>
                                        </td>

                                    </tr>
                                </tfoot> -->
                            </table>
                        </form>
                    </div>









                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <div fxLayout="row wrap" class="p-t-10">
                            <mat-label fxFlex="50">Close Bill</mat-label>
                            <mat-radio-group aria-label="Select an option" formControlName="is_bill_closed" fxFlex="50">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false" class="p-l-20">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <!-- <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <button type="button" mat-raised-button class="outline-danger float-right m-r-5" (click)="openVoidDialog()">Void Payment</button>
                    </div> -->
                    <!-- <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Write Off Reason</mat-label>
                        <input matInput placeholder="Write Off Reason" formControlName="write_off_reason"
                            autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid Write Off Reason</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>EOR Allowance</mat-label>
                        <input matInput type="number" min="0" (change)="setTwoNumberDecimal($event)"
                            placeholder="EOR Allowance" formControlName="eor_allowance" autocomplete="off">
                        <mat-error *ngIf="postIsSubmit">Please enter valid EOR Allowance</mat-error>
                    </mat-form-field>
                    <div fxFlex="100">
                        <div fxLayout="row wrap">
                            <div class="sub-tile" fxFlex="100">Upload Paper EOR</div>
                            <div fxFlex="50" class="upload-file" fxFlex.sm="100" fxFlex.xs="100">
                                <button type="button" mat-raised-button (click)="uploader.click()"
                                    class="filled-gray">Select
                                    File</button>
                                <mat-form-field appearance="standard" class="m-l-10">
                                    <input matInput value="{{listOfFiles}}" readonly
                                        placeholder="EOR Paper thing that was scanned">
                                    <input type="file" #uploader multiple hidden (change)="addFile($event)"
                                        accept=".pdf, .jpg, .jpeg, .png" required>
                                 </mat-form-field>
                                <div class="eor-file"
                                    *ngFor="let fl of paymentDetails?.exam_report_file_url;let i = index"><a routerLink
                                        (click)="fileDownload(fl)">{{fl.file_name}}</a><i (click)="removeFileEdit(i,fl)"
                                        class="fas fa-trash-alt"></i></div>
                                <div class="eor-file" *ngFor="let fl of listOfFiles;let i = index">{{fl}}<i
                                        (click)="removeFile(i)" class="fas fa-trash-alt"></i></div>
                                
                            </div>
                        </div>

                    </div> -->
                    <div fxFlex="100" class="m-t-20 text-center">
                        <button mat-stroked-button type="button" (click)="onNoClick()"
                            class="outline-danger">Cancel</button>
                        <button mat-stroked-button class="outline-success text-center m-l-10"
                            (click)="PaymentFormSubmit()">Save</button>
                    </div>
                </form>
            </div>
        </mat-card-content>

    </div>
</div>