<div class="billing">
    <mat-tab-group class="m-t-10" [(selectedIndex)]="tabIndex" (selectedTabChange)="tabchange($event.index)">
        <mat-tab label="First Bill Submission">
        </mat-tab>
        <mat-tab label="Second Bill Review"
            [disabled]="!(sbrPaymentStatus?.bill_paid_status?.toLowerCase() == 'partially paid' || sbrPaymentStatus?.bill_paid_status?.toLowerCase() == 'rejected' || secondBillId)">

        </mat-tab>
        <mat-tab label="Independent Bill Review"
            [disabled]="!(ibrPaymentStatus?.bill_paid_status?.toLowerCase() == 'partially paid' || ibrPaymentStatus?.bill_paid_status?.toLowerCase() == 'rejected' || independentBillId)">
            <!-- ===== Independent Bill Submission ===== -->
        </mat-tab>
    </mat-tab-group>

    <div *ngIf="billingData">
        <app-billing-info [review]="review" [paramsId]="paramsId" [billingData]="billingData"
            [isMobile]="isMobile">
        </app-billing-info>

        <app-diagnosis-code [paramsId]="paramsId" [billingData]="billingData" [isMobile]="isMobile">
        </app-diagnosis-code>

        <app-bill-line-item [review]="review" [billType]="tabIndex + 1" [paramsId]="paramsId"
            [billingData]="billingData" [isMobile]="isMobile">
        </app-bill-line-item>

        <mat-card class="fbr-pay-response" *ngIf="billingData">
            <mat-tab-group>
                <mat-tab label="Payment response">
                    <mat-card class="fbr-mat-card">
                        <app-payment-response [paramsId]="paramsId" [billingData]="billingData"
                            (getPaymentStatus)="getPaymentStatus($event)" [voidType]="voidType"
                            [paidStatusData]="paidStatusData">
                        </app-payment-response>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Late response">
                    <app-late-response [paramsId]="paramsId" [billingData]="billingData" [billType]="tabIndex + 1"
                        [isMobile]="isMobile">
                    </app-late-response>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <app-submission [review]="review" [billType]="tabIndex + 1" [paramsId]="paramsId" [billingData]="billingData"
            [states]="states" (getBillingDetails)="getBillingDetails($event)" [isIME]="isIME">
        </app-submission>

        <div class="completed-documents m-t-30">
            <app-billing-document [billType]="tabIndex + 1" [paramsId]="paramsId" [billingData]="billingData"
                [isMobile]="isMobile"></app-billing-document>
        </div>
    </div>

    <!-- ===== Second Bill Review ===== -->
    <!-- <div *ngIf="secondBillId && tabIndex == 1 && billingData">
        <app-billing-info *ngIf="billingData" [review]="'Second'" [paramsId]="paramsId" [billingData]="billingData"
            [isMobile]="isMobile">
        </app-billing-info>

        <app-diagnosis-code *ngIf="billingData" [paramsId]="paramsId" [billingData]="billingData" [isMobile]="isMobile">
        </app-diagnosis-code>

        <app-bill-line-item *ngIf="billingData" [review]="'Second'" [paramsId]="paramsId" [billingData]="billingData"
            [isMobile]="isMobile">
        </app-bill-line-item>

        <mat-card class="sbr-pay-response" *ngIf="billingData">
            <mat-tab-group>
                <mat-tab label="Payment response">
                    <mat-card>
                        <app-payment-response *ngIf="billingData" [paramsId]="paramsId" [billingData]="billingData"  (getPaymentStatus)="getPaymentStatus($event)">
                        </app-payment-response>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Late response">
                    <app-late-response *ngIf="billingData" [paramsId]="paramsId" [billingData]="billingData" [billType]="tabIndex + 1" [isMobile]="isMobile">
                    </app-late-response>
                </mat-tab>
            </mat-tab-group>
        </mat-card>

        <app-submission *ngIf="billingData" [review]="'Second'"  [billType]="tabIndex + 1" [paramsId]="paramsId" [billingData]="billingData"
            [states]="states">
        </app-submission>

        <div class="completed-documents m-t-30">
            <app-billing-document *ngIf="billingData" [billType]="tabIndex + 1" [paramsId]="paramsId" [billingData]="billingData"
                [isMobile]="isMobile"></app-billing-document>
        </div>
    </div> -->
</div>