<mat-card class="m-card all_user_form">
    <!-- <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Subscriber</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Mailing Address</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group> -->

    <mat-card-content class="m-b-25">
        <!--Form start-->
        <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userForm"
            class="mat-grid-form m-t-10">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>First Name*</mat-label>
                <input matInput placeholder="First Name" formControlName="first_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidfirstname}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Middle Name/MI</mat-label>
                <input matInput placeholder="Middle Name/MI" formControlName="middle_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidmiddlename}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="80" fxFlex.xs="80">
                <mat-label>Last Name*</mat-label>
                <input matInput placeholder="Last Name" formControlName="last_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidlastname}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10"
                fxFlex.sm="20" fxFlex.xs="20">
                <mat-label>Suffix</mat-label>
                <input matInput placeholder="Suffix" formControlName="suffix" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidsuffix}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50" fxFlex.sm="50"
                fxFlex.xs="100" class="m-b-10">
                <mat-label>Email ID*</mat-label>
                <input matInput placeholder="Email" formControlName="sign_in_email_id" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
                <mat-hint>Note : This email id has been registered for login and cannot be changed.
                </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50" fxFlex.sm="50"
                fxFlex.xs="100">
                <mat-label>Select a Role*</mat-label>
                <mat-select formControlName="role_id" (selectionChange)="clearChangeValue($event)">
                    <mat-option *ngFor="let role of roles" [value]="role?.id">{{role?.role_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="isSubmitted">{{errorMessages?.selectrole}}</mat-error>
            </mat-form-field>


            <div class="text-center w-100 m-t-10">
                <button mat-stroked-button type="button" (click)="cancel()" class="outline-danger">Cancel</button>
                <button mat-stroked-button class="m-l-10 outline-success"
                    [disabled]="user.role_id != 2 &&  userForm.value.role_id == 2 || (isUserDisabled)"
                    (click)="userSubmit()">Save </button>
            </div>
        </form>
    </mat-card-content>
    <!-- <mat-card-content>
        <form fxLayout="row wrap" class="m-t-10">
            <div fxFlex="100">
                <div class="info-alert m-b-10 m-t-10">
                    <i class="fa fa-info-circle p-r-5"></i> Please ensure to fill the following fields as it
                    is required to print the mailing
                    address in the forms.
                </div>
            </div>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Street Address 1</mat-label>
                <input matInput placeholder="Street Address 1" autocomplete="off">
                <mat-error>Please enter valid address</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Street Address 2</mat-label>
                <input matInput placeholder="Street Address 2" autocomplete="off">
                <mat-error>Please enter valid address</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>City</mat-label>
                <input matInput placeholder="City" autocomplete="off">
                <mat-error>Please enter valid city</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>State</mat-label>
                <mat-select>
                    <mat-select-trigger>
                       state list here
                    </mat-select-trigger>
                    <mat-option>State Code - State</mat-option>
                </mat-select>
                <mat-error>Please enter valid state</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Zip Code</mat-label>
                <input matInput placeholder="Zip Code" autocomplete="off">
                <mat-error>Please enter valid zip code</mat-error>
            </mat-form-field>

            <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-form-field appearance="outline" fxFlex="70" class="phone">
                    <mat-label>Phone 1</mat-label>
                    <input matInput placeholder="Phone 1" autocomplete="off">
                    <mat-error>Please enter valid phone</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                    <mat-label>Ext</mat-label>
                    <input matInput type="text" placeholder="Ext" autocomplete="off">
                    <mat-error>Please enter valid Extension</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-form-field appearance="outline" fxFlex="70" class="phone">
                    <mat-label>Phone 2</mat-label>
                    <input matInput placeholder="Phone 2" autocomplete="off">
                    <mat-error>Please enter valid phone</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                    <mat-label>Ext</mat-label>
                    <input matInput type="text" placeholder="Ext" autocomplete="off">
                    <mat-error>Please enter valid Extension</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Fax</mat-label>
                <input matInput placeholder="Fax" autocomplete="off">
                <mat-error>Please enter valid fax</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Contact Email</mat-label>
                <input matInput placeholder="Contact Email" autocomplete="off">
                <mat-error>Please enter valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Contact Person</mat-label>
                <input matInput placeholder="Contact Person" autocomplete="off">
                <mat-error>Please enter valid contact person</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="100" fxFlex.xl="50" fxFlex.md="100"
                fxFlex.sm="100" fxFlex.xs="100">
                <mat-label>Notes</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"
                    placeholder="Notes" autocomplete="off"></textarea>
                <mat-error>Please enter valid notes</mat-error>
            </mat-form-field>

            <div class="text-center w-100 m-t-10">
                <button mat-stroked-button type="button" class="outline-danger">Cancel</button>
                <button mat-stroked-button class="m-l-10 outline-success">Save </button>
            </div>
        </form>
    </mat-card-content> -->
</mat-card>