<mat-card class="m-card">
  <mat-card-header>
    <mat-card-title class="m-0">User Information</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!--Form start-->
    <form fxLayout="row wrap" [formGroup]="userForm" (ngSubmit)="userSubmit()" class="mat-grid-form">
      <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
        fxFlex.xs="100">
        <mat-label>First name*</mat-label>
        <input matInput placeholder="First name" formControlName="first_name" autocomplete="off">
        <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidfirstname}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
        fxFlex.xs="100">
        <mat-label>Middle name / MI</mat-label>
        <input matInput placeholder="Middle name" formControlName="middle_name" autocomplete="off">
        <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidmiddlename}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
        fxFlex.xs="100">
        <mat-label>Last name*</mat-label>
        <input matInput placeholder="Last name" formControlName="last_name" autocomplete="off">
        <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidlastname}}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
        <mat-label>Company name</mat-label>
        <input matInput placeholder="Company name" formControlName="company_name" autocomplete="off">
        <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidcompanyname}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Email ID*</mat-label>
        <input matInput placeholder="Email ID" formControlName="sign_in_email_id">
        <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Select a Role</mat-label>
        <mat-select formControlName="role_id">
          <mat-option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isSubmitted">{{errorMessages?.selectrole}}</mat-error>
      </mat-form-field>




      <div class="edit-profile m-t-10 " fxFlex="100">
        <mat-card-header>
          <div fxLayout="row wrap">
            <div fxFlex="100">
              <div class="p-t-10 content-wrapper-main-title">Manage address </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="manage-btn" (click)="addAddress = !addAddress "> <span class="fa fa-plus"></span> ADD A NEW
            ADDRESS</div>
          <div class="manage-address-form" *ngIf="addAddress">
            <form>
              <div fxLayout="row wrap" fxFlex="100">

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>Service Location Type</mat-label>
                  <mat-select>
                    <mat-option value="Service">Service</mat-option>
                    <mat-option value="Primary">Primary</mat-option>
                    <mat-option value="Office">Office</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone Number" autocomplete="off">
                  <mat-error>error msg here</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>Address </mat-label>
                  <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>Address 1</mat-label>
                  <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>
                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="City" autocomplete="off">
                  <mat-error>error msg here</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="State" autocomplete="off">
                  <mat-error>error msg here</mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                  <mat-label>Zip code</mat-label>
                  <input matInput placeholder="Zip code" autocomplete="off">
                  <mat-error>error msg here</mat-error>
                </mat-form-field>



                <div class="text-center w-100 m-t-10 m-b-10">
                  <button mat-raised-button type="button" class="m-r-15 rounded-corner btn_success">Add</button>
                  <button mat-raised-button color="warn" type="button" class="m-r-10 rounded-corner">
                    Cancel </button>
                </div>
              </div>
            </form>
          </div>
          <div class="manage-address">
            <mat-card *ngFor="let address of addresss" class="address-list">
              <mat-card-header>
                <div class="label">{{address.type}}</div>
                <div class="spacer"></div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>location_on</mat-icon>
                    <span>Set primary</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </mat-card-header>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div class="name"><strong>{{address.name}}</strong> </div>
                <div class="address"> {{address.address }} </div>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card-content>
      </div>

      <div class="text-center w-100 m-t-10">
        <button mat-raised-button type="submit" class="m-r-10 rounded-corner btn_success">
          Submit </button>
        <button mat-raised-button type="button" (click)="cancel()" color="warn" class="rounded-corner">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>