@import "variables";

.all_user_form {
  min-height: auto !important;
  mat-card-content {
    mat-form-field {
      padding: 10px 10px 0px 10px !important;
    }
  }
  .multiple-address {
    .search-container {
      .advanced_search {
        div {
          padding: 22px 12px 7px 12px;
          display: inline-flex;
          cursor: pointer;
          border-right: 1px solid $light-gray;
          background-color: $bg-light-blue;
          margin-right: 10px;
          mat-icon {
            margin-top: -4px !important;
          }
        }
        .search-icon {
          background-color: $primarycolor;
          color: $white;
          padding: 12px;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
