<mat-card class="m-card all_user_form">
    <mat-card-header>
        <div class="content-wrapper-main-title p-l-10">Add Staff / Staff Manager</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-b-25">
        <!--Form start-->
        <form fxLayout="row wrap" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userForm"
            class="mat-grid-form m-t-10">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>First name*</mat-label>
                <input matInput placeholder="First name" formControlName="first_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidfirstname}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Middle name / MI</mat-label>
                <input matInput placeholder="Middle name" formControlName="middle_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidmiddlename}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                fxFlex.sm="80" fxFlex.xs="80">
                <mat-label>Last name*</mat-label>
                <input matInput placeholder="Last name" formControlName="last_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidlastname}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10"
                fxFlex.sm="20" fxFlex.xs="20">
                <mat-label>Suffix</mat-label>
                <input matInput placeholder="Suffix" formControlName="suffix" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidsuffix}}</mat-error>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
            fxFlex.sm="100" fxFlex.xs="100">
                <mat-label>Company name</mat-label>
                <input matInput placeholder="Company name" formControlName="company_name" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidcompanyname}}</mat-error>
            </mat-form-field> -->
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50" fxFlex.sm="50"
                fxFlex.xs="100">
                <mat-label>Email*</mat-label>
                <input matInput placeholder="Email" formControlName="sign_in_email_id">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50" fxFlex.sm="50"
                fxFlex.xs="100">
                <mat-label>Select a Role*</mat-label>
                <mat-select formControlName="role_id" (selectionChange)="clearChangeValue($event)">
                    <mat-option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="isSubmitted">{{errorMessages?.selectrole}}</mat-error>
            </mat-form-field>

            <!-- <div fxLayout="row wrap" fxFlex="100" *ngIf="isExaminer">
                <form fxLayout="row wrap" fxFlex="100" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                    [formGroup]="userExaminerForm" class="mat-grid-form" (ngSubmit)="userSubmit()">
                    <div fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                        <mat-radio-group formControlName="w9_number_type" aria-label="Select an option" fxFlex="40"
                            fxFlex.md="30" fxFlex.lg="30" fxFlex.sm="40" fxFlex.xl="30" fxFlex.xs="100"
                            class="p-t-35 p-l-10" (change)="userExaminerForm.controls['w9_number'].setValue('')">
                            <mat-radio-button value="EIN">EIN</mat-radio-button>
                            <mat-radio-button value="SSN" class="p-l-10">SSN</mat-radio-button>
                        </mat-radio-group>
                        <mat-form-field appearance="outline" fxFlex="60" fxFlex.md="70" fxFlex.lg="70" fxFlex.sm="60"
                            fxFlex.xs="100" fxFlex.xl="70">
                            <mat-label>Tax ID</mat-label>
                            <input matInput [dropSpecialCharacters]="false"
                                [mask]="userExaminerForm.value.w9_number_type == 'SSN' ? '000-00-0000' : '00-0000000'"
                                placeholder="Tax ID" formControlName="w9_number">
                            <mat-error *ngIf="isSubmitted">Please enter valid Tax ID</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>National Provider Identifier (NPI) number*</mat-label>
                        <input matInput type="text" [dropSpecialCharacters]="false" mask="9{15}"
                            formControlName="national_provider_identifier"
                            placeholder="National Provider Identifier (NPI) number">
                        <mat-error *ngIf="isSubmitted">Please enter valid NPI number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Specialty</mat-label>
                        <mat-select formControlName="specialty" multiple>
                            <mat-option *ngFor="let specialty of specialtyList" [value]="specialty.id">
                                {{specialty?.specialty_code}}-{{specialty?.specialty}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isSubmitted">Error Message here</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>License Number</mat-label>
                        <input matInput mask="9A{15}" [dropSpecialCharacters]="false"
                            formControlName="state_license_number" placeholder="License Number">
                        <mat-error *ngIf="isSubmitted">Please enter valid License Number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>License State</mat-label>
                        <mat-select formControlName="state_of_license_id">
                            <mat-option *ngFor="let state of states" [value]="state.id">
                                {{state.state}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isSubmitted">Please select valid License State</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="50" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Taxonomy code</mat-label>
                        <mat-select formControlName="taxonomy_id" multiple>
                          
                            <mat-option *ngFor="let taxonomy of taxonomyList" [value]="taxonomy.id">
                                {{taxonomy.taxonomy_code}}-{{taxonomy.taxonomy_name}}
                            </mat-option>

                        </mat-select>
                        <mat-error *ngIf="isSubmitted">Error Message here</mat-error>
                    </mat-form-field>
                </form>

                <div class="m-0 content-wrapper-main-title p-l-10 p-t-10 w-100"><strong>Examiner's Primary
                        Address</strong>
                </div>

                <div class="multiple-address">
                    <form [formGroup]="addressForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                        <div fxLayout="row wrap" fxFlex="100">

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Address 1 </mat-label>
                                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2"
                                    formControlName="street1" placeholder="Address 1"></textarea>
                                <mat-error *ngIf="isSubmitted">Please enter valid address</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Address 2</mat-label>
                                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2"
                                    formControlName="street2" placeholder="Address 2"></textarea>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="city" placeholder="City" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid city</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state">
                                    <mat-option *ngFor="let state of states" [value]="state.state">
                                        {{state.state}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="isSubmitted">Please enter valid state</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Zip code</mat-label>
                                <input matInput mask="9{10}" [dropSpecialCharacters]="false" formControlName="zip_code"
                                    placeholder="Zip code" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid zip code</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                                fxFlex.xs="100">
                                <mat-label>Location Contact Person</mat-label>
                                <input matInput formControlName="contact_person" placeholder="Location Contact Person"
                                    autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid notes</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Land Line 1</mat-label>
                                <input matInput (keypress)="numberOnly($event)" formControlName="phone1"
                                    mask="(000) 000-0000" placeholder="Land Line 1" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid land line number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Land Line 2</mat-label>
                                <input matInput (keypress)="numberOnly($event)" formControlName="phone2"
                                    mask="(000) 000-0000" placeholder="Land Line 2" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid land line number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Mobile 1</mat-label>
                                <input matInput (keypress)="numberOnly($event)" formControlName="mobile1"
                                    mask="(000) 000-0000" placeholder="Mobile 1" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid mobile number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Mobile 2</mat-label>
                                <input matInput (keypress)="numberOnly($event)" formControlName="mobile2"
                                    mask="(000) 000-0000" placeholder="Mobile 2" autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid mobile number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Fax 1</mat-label>
                                <input matInput formControlName="fax1" mask="(000) 000-0000" placeholder="Fax 1"
                                    autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid fax number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
                                fxFlex.xs="100">
                                <mat-label>Fax 2</mat-label>
                                <input matInput formControlName="fax2" mask="(000) 000-0000" placeholder="Fax 2"
                                    autocomplete="off">
                                <mat-error *ngIf="isSubmitted">Please enter valid fax number</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                                fxFlex.sm="50" fxFlex.xs="100">
                                <mat-label>Email ID 1</mat-label>
                                <input matInput placeholder="Email ID 1" formControlName="email1">
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                                fxFlex.sm="50" fxFlex.xs="100">
                                <mat-label>Email ID 2</mat-label>
                                <input matInput placeholder="Email ID 2" formControlName="email2">
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" hintLabel="Max 2400 characters" fxFlex="100"
                                fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                                <mat-label>Notes</mat-label>
                                <textarea matInput #textarea maxlength="2400" formControlName="notes"
                                    placeholder="Notes" cdkTextareaAutosize cdkAutosizeMinRows="5"
                                    cdkAutosizeMaxRows="5"></textarea>
                                <mat-hint align="end">{{textarea.value?.length || 0}}/2400</mat-hint>
                                <mat-error>Please enter valid notes</mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </div> -->

            <div class="text-center w-100 m-t-10">
                <button mat-stroked-button type="button" (click)="cancel()" class="outline-danger">Cancel</button>
                <button mat-stroked-button class="m-l-10 outline-success" (click)="userSubmit()">Save </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>


