<mat-toolbar class="nav-bar navbar-fixed-header">
    <mat-toolbar-row>
        <button [ngClass]="{'opened': isOpened, 'closed': !isOpened}" type="button" aria-label="Toggle sidenav"
            mat-icon-button (click)="openSidenav()" class="toggle_">
            <mat-icon aria-label="Side nav menu_open icon">menu_open</mat-icon>
        </button>

        <!-- <mat-card-title class="p-t-15 show-mobile"> Simplexam</mat-card-title> -->
        <img [src]="nav_logo" alt="logo" class="p-l-5 hide-mobile">
        <span flex class="spacer"></span>
        <mat-card-actions>
            <div fxLayout="row">
                <!-- <button (click)="fullScreen()" mat-icon-button class="hide-mobile">
                    <mat-icon> {{toggleClass }}</mat-icon>
                </button>
                <button mat-icon-button class="hide-mobile">
                    <mat-icon matBadgeColor="warn">notifications_none</mat-icon>
                </button>
                <button mat-icon-button class="show-mobile">
                    <mat-icon matBadgeColor="warn">notifications_none
                    </mat-icon>
                </button>
                -->
               <div class="support-btn"><a href="javaScript:void(0)">Help</a>|<a (click)="logout()">Log Out</a></div>
                <div *ngIf="user">
                    <button mat-icon-button [title]="user?.first_name" [matMenuTriggerFor]="settings">
                        <div class="welcome_t">
                            <!-- <span  class="hide-mobile"><small>Welcome, </small><br />{{user?.first_name | ellipsis:15}}</span> -->
                            <img [src]="profile" alt="Welcome" />
                        </div>
                    </button>
                </div>


            </div>
        </mat-card-actions>
        <mat-menu #settings="matMenu">
            <div class="company_profile" *ngIf="user?.role_id != 1">
                <div class="ca_">Account Number</div>
                <div class="cn_">{{user?.account_no | mask: '0000-0000-0000'}}</div>
            </div>
            <div class="user_profile">
                <div class="ua_">{{role}}</div>
                <div class="un_">{{user?.sign_in_email_id}}</div>
            </div>
            <mat-divider></mat-divider>
            <button (click)="gotoSettings()" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>