<mat-toolbar class="nav-bar navbar-fixed-header">
    <mat-toolbar-row>
        <button [ngClass]="{'opened': isOpen, 'closed': !isOpen}" type="button" aria-label="Toggle sidenav"
            mat-icon-button (click)="openSidenav()" class="toggle_ show-mobile">
            <mat-icon aria-label="Side nav menu icon" [matTooltip]="isOpen ? 'Collapse' : 'Expand'" matTooltipPosition="right">menu</mat-icon>
        </button>
        <div [ngClass]="{'opened': isOpen, 'closed': !isOpen}" class="hide-mobile"></div>
        <img [src]="nav_logo" alt="logo" class="p-l-5">
        <div class="searchable-dropdown m-t-5 m-l-15 hide-mobile">
            <form class="example-form">
                <mat-form-field appearance="outline" hideRequiredMarker="hideRequiredControl.auto"
                    floatLabel="floatLabelControl.auto" style="width: 500px;">
                    <input matInput placeholder="Search for Claimant" aria-label="Search for Claimant"
                        [matAutocomplete]="auto" [formControl]="claimantCtrl">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let claimant of filteredClaimants" (click)="searchClick(claimant)" [value]="claimant._source?.clmd_lname"
                            class="custom-option">
                            <ul>
                                <li>
                                    <div class="cn">{{claimant?._source?.clmd_lname}} {{claimant?._source?.clmd_fname}}</div>
                                </li>
                                <li>
                                    <p>
                                       <span class="ex_na">{{claimant?._source?.ex_last_name}} {{claimant?._source?.ex_first_name}}{{claimant?._source?.suffix ? ', '+ claimant?._source?.suffix : ''}}</span>
                                       <span>
                                        <strong class="mw">Claim #</strong>: {{claimant?._source?.claim_number}}
                                      </span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span title="{{claimant?._source?.exam_procedure_name}}">{{claimant?._source?.exam_procedure_name}}</span>
                                        <span>
                                            <strong class="mw">DOS &nbsp;&nbsp;&nbsp;&nbsp; </strong>: {{claimant?._source?.date_of_service | date:'MM-dd-yyyy'}}
                                        </span>
                                    </p>
                                </li>
                            </ul>
                        </mat-option>
                        <mat-option disabled *ngIf="claimantCtrl?.value?.length > 2 && filteredClaimants?.length == 0">
                            Claimant Data Not Available
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>
        <span flex class="spacer"></span>
        <mat-card-actions>
            <div fxLayout="row">
                <!-- <button (click)="fullScreen()" mat-icon-button class="hide-mobile">
                    <mat-icon> {{toggleClass }}</mat-icon>
                </button>
                <button mat-icon-button class="hide-mobile">
                    <mat-icon matBadgeColor="warn">notifications_none</mat-icon>
                </button>
                <button mat-icon-button class="show-mobile">
                    <mat-icon matBadgeColor="warn">notifications_none
                    </mat-icon>
                </button>
                -->
                <div class="support-btn hide-mobile p-r-20"><a href="javaScript:void(0)">Help</a>|<a
                        (click)="logout()">Log-Out</a></div>
                <div *ngIf="user">
                    <button mat-icon-button [title]="user?.first_name" [matMenuTriggerFor]="settings">
                        <div class="welcome_t">
                            <!-- <span  class="hide-mobile"><small>Welcome, </small><br />{{user?.first_name | ellipsis:15}}</span> -->
                            <img [src]="profile" alt="Welcome" />
                        </div>
                    </button>
                </div>


            </div>
        </mat-card-actions>
        <mat-menu #settings="matMenu">
            <div class="company_profile" *ngIf="user?.role_id != 1">
                <div class="ca_">Account Number</div>
                <div class="cn_">{{user?.account_no | mask: '0000-0000-0000'}}</div>
            </div>
            <div class="user_profile">
                <div class="ua_">{{role}}</div>
                <div class="un_">{{user?.sign_in_email_id}}</div>
            </div>
            <mat-divider></mat-divider>
            <button (click)="gotoSettings()" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <mat-divider class="show-mobile"></mat-divider>
            <button mat-menu-item class="show-mobile">
                <mat-icon>help_outline</mat-icon>
                <span>Help</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>