<mat-toolbar class="nav-bar navbar-fixed-header">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSidenav()">
            <mat-icon aria-label="Side nav menu_open icon">menu_open</mat-icon>
        </button>

        <span flex class="spacer"></span>
        <mat-card-actions>
            <div fxLayout="row">
                <button (click)="fullScreen()" mat-icon-button class="hide-mobile">
                    <mat-icon> {{isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="notification">
                    <mat-icon matBadge="5" matBadgeColor="warn">notifications_none
                    </mat-icon>
                </button>
                <!--  Notification section -->
                <mat-menu #notification="matMenu" class="">
                    <div class="p-t-0 notification">
                        <mat-card-header class="text-center">
                            <mat-card-title class="m-b-2">NOTIFICATIONS</mat-card-title>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <mat-list *ngFor="let notification of notifications">
                                <mat-list-item>
                                    <img mat-list-icon [src]="notification_user" alt="Welcome" class="text-left" />
                                    <h4 mat-line>{{notification.name}}<br /> <small class="text-right"><i
                                                class="fa fa-clock-o"></i> {{ notification.date | date}}</small></h4>
                                    <p mat-line> {{notification.message}}</p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-footer class="text-center">
                            <div>View All Notifications</div>
                        </mat-card-footer>

                    </div>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="settings" class="welcome">
                    <span class="hide-mobile"><small>Welcome,</small><br />
                        {{user?.first_name}}
                    </span>
                    <img [src]="profile" alt="Welcome" class="" />
                </button>
                <button mat-icon-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>

                </button>
            </div>
        </mat-card-actions>
        <mat-menu #settings="matMenu">
            <button routerLink="profile" mat-menu-item>
                <mat-icon>perm_identity</mat-icon>
                <span>Profile</span>
            </button>
            <button routerLink="settings" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </mat-toolbar-row>
</mat-toolbar>