@import "variables";

mat-toolbar {
  background-color: $white;
  color: $ternary-color;
  font-size: $font-size-4;
  height: 40px;
  // position:fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 1;
  // display: block;
}
mat-toolbar-row {
  box-shadow: $box-shadow-2;

  mat-card-actions {
    button {
      margin-top: 15px;
      margin-right: 10px;
      @media only screen and (max-width: 568px) {        
      margin-right: 0px;
      }
      // &::after {
      //   content: '';
      //   border-right: 2px solid $primarycolor;
      //   height: 80px;
      //   vertical-align: middle;
      //   margin-left: 12px;
      // }
    }
    .welcome {
      line-height: 0px !important;
      margin: auto 0 0 0;
      text-align: left;
      padding-right: 5px;
      span {
        top: 12px;
        position: relative;
      }
      img {
        padding-left: 20px;
        @media only screen and (max-width: 568px) {        
          padding-left: 0px ;
           }
      }
    }
    
  }
}


// .navbar-fixed-header {
//   .Side {
//     left: 500px;
//     &:active {
//        left: 0;
//     }
//   }

// }