@import "variables";
.opened {
  margin-left: 240px;
  transition-delay: 0.1s;
  @media only screen and (max-width: 568px) {
    margin-left: 0;
  }
}
.closed {
  margin-left: 0;
}
mat-toolbar {
  background-color: $white;
  color: $ternary-color;
  font-size: $font-size-4;
  height: 40px;
}
mat-toolbar.navbar-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: block;
}
mat-toolbar-row {
  box-shadow: $box-shadow-2;

  mat-card-actions {
    button {
      margin-top: 15px;
      margin-right: 10px;
      @media only screen and (max-width: 568px) {
        margin-right: 0px;
      }
    }
    .welcome_t {
      display: inline-flex;
      text-align: left;
      span {
        line-height: 1.5;
      }
    }
  }
}
.gravatar {
  width: 100px;
  height: 90px;
}
.gravatar-title {
  width: 500px;
  padding: 10px;
  height: 80px;
}

.company_profile {
  margin: 10px;
  display: block;
  border-top: 2px solid $primarycolor;
  background-color: $btn-light-color;
  padding: 5px 10px;
  cursor: pointer;

  .ca_ {
    font-size: $font-size-7;
    font-weight: $font-weight-base;
    text-align: center;
  }
  .cn_ {
    font-size: $font-size-7;
    font-weight: $font-weight-bold;
    text-align: center;
  }
}
