@import "variables";

mat-toolbar {
  background-color: $white;
  color: $ternary;
  font-size: $font-size-4;
  height: 40px;
}
mat-toolbar-row {
  box-shadow: $box-shadow-2;
  mat-card-actions {
    button {
      margin-top: 15px;
      // &::after {
      //   content: '';
      //   border-right: 2px solid $primarycolor;
      //   height: 80px;
      //   vertical-align: middle;
      //   margin-left: 12px;
      // }
    }

    .welcome {
      line-height: 0px !important;
      margin: auto 0 0 0;
      text-align: left;
      padding-right: 5px;
      span {
        top: 12px;
        position: relative;
      }
    }
  }
}
