@import "variables";
@import "table";
@import "tabs";

.new-location {
  mat-card-content {
    form {
      mat-form-field {
        padding: 10px 10px 0px 10px ;
      }
      .checkbox_ {
        background-color: $light-color;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 10px;
        width: max-content;
        display: block;
        float: left;
        margin-right: 10px;
      }
    }
  }
}
