<mat-card class="m-card new-location">
    <mat-card-header>
        <div class="m-0 content-wrapper-main-title" *ngIf="!examinerId">
            {{locationId ? 'Service Location' : 'Add New Service Location'}}</div>
        <div class="m-0 content-wrapper-main-title" *ngIf="examinerId">Service Location for {{examinerName}}</div>
        <span class="spacer"></span>

        <button mat-stroked-button *ngIf="!editStatus && locationId" class="m-b-5 outline-success" (click)="edit()">
            Edit
        </button>
        <button mat-stroked-button class="filled-success edit-btn m-b-5" *ngIf="editStatus && locationId"
            (click)="locationFromSubmit()">
            Save
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="" fxLayout="row wrap">
            <form action="" fxLayout="row wrap" fxFlex="100" [formGroup]="locationForm"
                (keydown.enter)="$event.target.tagName == 'TEXTAREA'">

                <div class="sub-title p-l-10 m-t-20 m-b-20" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    CMS 1500 Box 32
                    <mat-divider class="m-t-10"></mat-divider>
                </div>

                <div fxFlex="100">
                    <div fxLayout="row wrap">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                            fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Location Name*</mat-label>
                            <input matInput placeholder="Location Name" formControlName="service_location_name"
                                autocomplete="off">
                            <mat-error *ngIf="locationSubmit">Please enter valid location name</mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="this.pageStatus == 2" appearance="outline" fxFlex="100" fxFlex.lg="50"
                            fxFlex.xl="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>National Provider Identifier (NPI) Number</mat-label>
                            <input matInput placeholder="National Provider Identifier (NPI) Number" autocomplete="off"
                                [dropSpecialCharacters]="false" mask="9{15}"
                                formControlName="national_provider_identifier">
                            <mat-error *ngIf="locationSubmit">Please enter valid NPI number</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex="100">
                    <mat-checkbox class="checkbox_ m-t-0" (change)="sameAsSubscriber($event, 'billing');" class="checkbox_ m-t-0"
                    [(ngModel)]="addressesCheck.billing_as_subsciber" [ngModelOptions]="{standalone: true}">Same as Subscriber Address</mat-checkbox>
                </div>
                <div fxFlex="100" *ngIf="this.pageStatus == 2">
                    <mat-checkbox [disabled]="!isMailingAddressPresent" class="checkbox_ m-t-10"
                        (change)="sameAsMailling($event)" [(ngModel)]="addressesCheck.billing_as_mailing" [ngModelOptions]="{standalone: true}">
                        <!--  -->
                        Same as Mailing Address
                    </mat-checkbox>
                </div>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Street Address 1* </mat-label>
                    <input matInput id="street-input" [matAutocomplete]="streetAutocomplete"
                        #trigger="matAutocompleteTrigger" formControlName="street1" placeholder="Street Address 1">
                    <mat-autocomplete #streetAutocomplete="matAutocomplete">
                        <mat-option *ngFor="let address of streetAddressList" [value]="address.street_line"
                            (click)="selectAddress(address)" (onSelectionChange)="selectAddress(address)">
                            {{address?.street_line}} {{address?.secondary}} {{address?.city}}
                            {{address?.state}}
                            {{address?.zipcode}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-hint *ngIf="isAddressError"><i class="fas fa-info-circle"></i> The address
                        autocomplete service is temporarily unavailable. Our team is working to fix it.
                    </mat-hint>
                    <!-- <input matInput placeholder="Street Address 1" formControlName="street1" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid street address</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Street Address 2 </mat-label>
                    <input matInput placeholder="Street Address 2" formControlName="street2" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid street address</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>City*</mat-label>
                    <input matInput placeholder="City" formControlName="city" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid city</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>State*</mat-label>
                    <mat-select formControlName="state" (selectionChange)="changeState($event.value)">
                        <mat-select-trigger>
                            {{serviceState}}
                        </mat-select-trigger>
                        <mat-option *ngFor="let state of states" [value]="state.id">
                            {{state.state_code}} - {{state.state}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationSubmit">Please select valid state</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Zip Code*</mat-label>
                    <input matInput placeholder="Zip Code" mask="9{10}" [dropSpecialCharacters]="false"
                        formControlName="zip_code" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid zip code</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Phone </mat-label>
                    <input matInput placeholder="Phone" (keypress)="numberOnly($event)" mask="(000) 000-0000"
                        formControlName="phone_no" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid phone</mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Fax </mat-label>
                    <input matInput placeholder="Fax" (keypress)="numberOnly($event)" mask="(000) 000-0000"
                        formControlName="fax_no" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid fax</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Email </mat-label>
                    <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid email</mat-error>
                </mat-form-field>

                <div class="sub-title p-l-10 m-t-20 m-b-20" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                    fxFlex.xs="100">
                    CMS 1500 Box 24 b
                    <mat-divider class="m-t-10"></mat-divider>
                </div>

                <div fxFlex="100">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Service Type*</mat-label>
                        <mat-select formControlName="service_code_id">
                            <mat-option *ngFor="let address of addressType" [value]="address.id">
                                {{address?.service_code}} - {{address?.service_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="locationSubmit">Please select valid service type
                        </mat-error>
                    </mat-form-field>
                </div>



                <div fxFlex="100" fxFlex.lg="100" fxFlex.xl="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100"
                    class="p-l-10 m-b-20" *ngIf="locationId">
                    <mat-label class="m-t-10 p-b-10 display-block">Location status</mat-label>
                    <mat-radio-group class="" formControlName="is_active" (change)="locationStatus($event)">
                        <mat-radio-button value="true" checked>Active</mat-radio-button>
                        <mat-radio-button value="false" class="p-l-10">Inactive</mat-radio-button>
                    </mat-radio-group>
                </div>
                <!-- <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"
                    fxFlex.sm="100" fxFlex.xs="100">
                    <mat-label>Location Contact Person </mat-label>
                    <input matInput placeholder="Location Contact Person" formControlName="contact_person"
                        autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid location contact person</mat-error>
                </mat-form-field> -->

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Primary Contact</mat-label>
                    <input matInput placeholder="Primary Contact" formControlName="primary_contact" autocomplete="off">
                    <!-- <mat-error *ngIf="locationSubmit">Please enter valid location contact person</mat-error> -->
                </mat-form-field>

                <div fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-form-field appearance="outline" class="phone" fxFlex="70">
                        <mat-label>Primary Contact Phone</mat-label>
                        <input matInput placeholder="Primary Contact Phone" (keypress)="numberOnly($event)"
                            mask="(000) 000-0000" formControlName="primary_contact_phone" autocomplete="off">
                        <mat-error *ngIf="locationSubmit">Please enter valid phone number </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                        <mat-label>Ext</mat-label>
                        <input matInput type="text" placeholder="Ext" autocomplete="off" (keypress)="numberOnly($event)"
                            formControlName="phone_ext1">
                        <mat-error>Please enter valid Extension</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Alternate Contact 1</mat-label>
                    <input matInput placeholder="Alternate Contact 1" formControlName="alternate_contact_1"
                        autocomplete="off">
                    <!-- <mat-error *ngIf="locationSubmit">Please enter valid Alternate contact person</mat-error> -->
                </mat-form-field>

                <div fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-form-field appearance="outline" class="phone" fxFlex="70">
                        <mat-label>Alternate Contact Phone 1</mat-label>
                        <input matInput placeholder="Alternate Contact Phone 1" (keypress)="numberOnly($event)"
                            mask="(000) 000-0000" formControlName="alternate_contact_1_phone" autocomplete="off">
                        <mat-error *ngIf="locationSubmit">Please enter valid phone number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                        <mat-label>Ext</mat-label>
                        <input matInput type="text" placeholder="Ext" autocomplete="off" (keypress)="numberOnly($event)"
                            formControlName="phone_ext2">
                        <mat-error>Please enter valid Extension</mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50"
                    fxFlex.sm="50" fxFlex.xs="100">
                    <mat-label>Alternate Contact 2</mat-label>
                    <input matInput placeholder="Alternate Contact 2" formControlName="alternate_contact_2"
                        autocomplete="off">
                    <!-- <mat-error *ngIf="locationSubmit">Please enter valid location contact person</mat-error> -->
                </mat-form-field>

                <div fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.sm="50" fxFlex.xs="100">
                    <mat-form-field appearance="outline" class="phone" fxFlex="70">
                        <mat-label>Alternate Contact Phone 2</mat-label>
                        <input matInput placeholder="Alternate Contact Phone 2" (keypress)="numberOnly($event)"
                            mask="(000) 000-0000" formControlName="alternate_contact_2_phone" autocomplete="off">
                        <mat-error *ngIf="locationSubmit">Please enter valid phone number</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="30" class="phone-ext">
                        <mat-label>Ext</mat-label>
                        <input matInput type="text" placeholder="Ext" autocomplete="off" (keypress)="numberOnly($event)"
                            formControlName="phone_ext3">
                        <mat-error>Please enter valid Extension</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Notes </mat-label>
                    <input matInput placeholder="Notes" formControlName="notes" autocomplete="off">
                    <mat-error *ngIf="locationSubmit">Please enter valid notes</mat-error>
                </mat-form-field>

                <div class="text-center w-100 m-t-10 m-b-10" *ngIf="editStatus">
                    <button mat-stroked-button type="button" class="outline-danger" (click)="cancel()">Cancel</button>
                    <button mat-stroked-button class="m-l-10 outline-success" (click)="locationFromSubmit()">Save
                    </button>
                </div>

            </form>
        </div>
        <div class="default-cursor">
            <table mat-table [dataSource]="dataSource" class="user-table striped_ w-100" *ngIf="locationId">

                <ng-container matColumnDef="examiner">
                    <th mat-header-cell *matHeaderCellDef>Examiner</th>
                    <td mat-cell *matCellDef="let element">{{element?.last_name}}
                        {{element?.first_name}}{{element?.suffix ? ', '+element?.suffix : ''}}</td>
                </ng-container>

                <ng-container matColumnDef="date_added">
                    <th mat-header-cell *matHeaderCellDef>Date Added</th>
                    <td mat-cell *matCellDef="let element">{{element.date_added | date:'MM-dd-yyyy'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let element"
                    (click)="nevigateExaminer(element)">
                </tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>
    </mat-card-content>
</mat-card>