<!-- <div class="user-disable" >
    <div mat-dialog-title class="mat-card-title"></div>
    <div mat-dialog-actions class="disable-acctions text-center p-t-25">
      <button mat-raised-button  (click)="onNoClick()" class="no m-r-5">No</button>
      <button mat-button (click)="onYesClick()"  class="yes">Yes</button>
    </div>
  </div>
   -->



<div class="error-message">
  <div class="alert-title text-center">Service Location is already Assigned to <br/>
    <!-- <span>'Venkatesan Mariyappan <small>(+3more)</small> '. -->
      <span>'{{examiner[0].last_name}}  {{examiner[0].first_name}}{{examiner[0].suffix ? ', '+examiner[0].suffix : ''}} <small *ngIf="examiner?.length > 1">(+{{examiner?.length - 1}}more)</small> '.
      
  </span></div>
  <div mat-dialog-title class="mat-card-title m-t-10 text-center">Do you want to Proceed this?</div>
  <div class="note info-message"><b>Note:</b> If you want re-assign to your Service Location, Please contact Platform Administrator
  </div>
</div>
<div mat-dialog-actions class="disable-acctions text-center p-t-25">
  <button mat-raised-button (click)="onNoClick()" class="no m-r-5">No</button>
  <button mat-button (click)="onYesClick()" class="yes">Yes</button>
</div>