<mat-divider></mat-divider>
<div fxLayout="row wrap" *ngIf="!isEdit">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address 1</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>City</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>State</div>
                    <div></div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Zip Code</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Phone</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Email</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Fax</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap" fxFlex="100" *ngIf="isEdit">
    <form [formGroup]="employer">
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Employer Name</mat-label>
            <mat-select formControlName="name">
                <mat-option (click)="appEmployer(employer)" *ngFor="let employer of employerList"
                    [value]="employer.name">
                    {{employer.name}}
                </mat-option>
            </mat-select>
            <mat-error>Enter valid attroney</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="street1"></textarea>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address 1</mat-label>
            <textarea matInput formControlName="street2"></textarea>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" autocomplete="off">
        </mat-form-field>


        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.state">{{state.state}}
                </mat-option>
            </mat-select>
            <mat-error>Enter valid state</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Zip Code</mat-label>
            <input matInput mask="00000" placeholder="Zip" formControlName="zip_code" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" type="text" mask="(000) 000-0000" formControlName="phone"
                autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Fax</mat-label>
            <input matInput mask="000-000-0000" placeholder="Fax" formControlName="fax" autocomplete="off">
        </mat-form-field>
    </form>
</div>