<mat-divider></mat-divider>
<!-- <div fxLayout="row wrap" *ngIf="!isEdit">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Name</div>
                    <div>{{employerDetail.name}}</div>
                </div>
                <div class="grid-list">
                    <div>Address 1</div>
                    <div>{{employerDetail.street1}}</div>
                </div>
                <div class="grid-list">
                    <div>Address 2</div>
                    <div>{{employerDetail.street2}}</div>
                </div>
                <div class="grid-list">
                    <div>City</div>
                    <div>{{employerDetail.city}}</div>
                </div>
                <div class="grid-list">
                    <div>State</div>
                    <div>{{employerDetail.state}}</div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Zip Code</div>
                    <div>{{employerDetail.zip_code}}</div>
                </div>
                <div class="grid-list">
                    <div>Phone</div>
                    <div>{{employerDetail.phone}}</div>
                </div>
                <div class="grid-list">
                    <div>Email</div>
                    <div>{{employerDetail.email}}</div>
                </div>
                <div class="grid-list">
                    <div>Fax</div>
                    <div>{{employerDetail.fax}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap" fxFlex="100" *ngIf="isEdit" class="employer_info"> -->
    <div fxLayout="row wrap" fxFlex="100" class="employer_info">
    <form fxLayout="row wrap" fxFlex="100" [formGroup]="employer" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address 1</mat-label>
            <textarea matInput placeholder="Address 1" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1"></textarea>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address 2</mat-label>
            <textarea matInput placeholder="Address 2" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2"></textarea>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" autocomplete="off">
        </mat-form-field>


        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.state">{{state.state}}
                </mat-option>
            </mat-select>
            <mat-error>Please enter valid state</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Zip Code</mat-label>
            <input matInput  placeholder="Zip" formControlName="zip_code" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" (keypress)="numberOnly($event)" type="text" mask="(000) 000-0000" formControlName="phone"
                autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Fax</mat-label>
            <input matInput mask="000-000-0000" placeholder="Fax" formControlName="fax" autocomplete="off">
        </mat-form-field>
        <div *ngIf="isEdit" class="text-center w-100 m-t-10 m-b-10">
            <button mat-raised-button color="primary" class="m-r-10 rounded-corner btn_success"
                (click)="updateEmployer()">
                Save </button>
            <button mat-raised-button type="button" (click)="cancel();isEdit = false" class="rounded-corner"
                color="warn">Cancel</button>
        </div>
    </form>
</div>