@import "variables";

mat-sidenav-container {
  mat-sidenav {
    width: $sidenav-width;
    background-color: $primarycolor;
    background: $primarycolor;
    color: $white;
    mat-toolbar {
      background-color: $primarycolor;
      color: $white;
      box-shadow: $box-shadow-3;
    }
    .switched_account {
      font-size: $font-size-7;
      margin:15px 0 0px 10px;
      width: $width-90;
      text-align: center;
      mat-icon {
        font-size: $font-size-9;
      }
    
    }
    mat-nav-list {
      .menu-card-title {
        margin-top: 10px;
        padding: 10px;
        display: block;
        color: $green;
        &::after {
          content: "";
          background: rgba(255, 255, 255, 0.26);
          height: 2px;
          display: inherit;
          width: 40%;
          margin-left: auto;
          margin-top: -8px;
        }
      }
      .mat-list-item {
        color: $white;
        height: 42px;
        font-size: $font-size-11;
        width: 94%;
        margin: 0px auto;
        margin-top: 5px;
        border-radius: 3px;
        border-left: 3px solid transparent;
        &:hover,
        &:active {
          cursor: pointer;
          // background-color: $secondarycolor;
          background-color: #5c77ff;
          width: 94%;
          margin: 0px auto;
          // color: $menu-active;
          color: $white;
          margin-top: 5px;
          mat-icon {
            // color: $black;
            color: $white;
          }
        }
        mat-icon {
          font-size: $font-size-10;
          margin-top: 8px;
          margin-right: 5px;
          color: $white;
          opacity: 0.8;
        }
      }
    }
  } //mat-sidenav end
  mat-sidenav-content {
    min-height: calc(100vh - 150px);
    mat-toolbar {
      background-color: $white;
      color: #5c77ff;
      font-size: 22px;
      height: 40px;
    }
    mat-toolbar-row {
      box-shadow: $box-shadow-2;
      mat-card-actions {
        button {
          margin-top: 15px;
        }
      }
    }
  }
}

.content-wrapper {
  @include content-wrapper;
  min-height: calc(100vh - 139px);
  margin-top: 64px;
  @media (max-width: 599px) {
    margin-top: 56px;
  }
  .main-card {
    max-height: 100px;
    background-color: $white;
  }
}
.active-list-item {
  // background-color: $secondarycolor !important;
  // color: $black !important;
  background-color: #5c77ff !important;
  border-left: 3px solid $white !important;
  mat-icon {
    color: $white !important;
  }
}
