<mat-sidenav-container class="sidenav-container ">
    <mat-sidenav #drawer class="sidenav side-nav-icon" fixedInViewport
        [attr.role]="((isHandset$ | async) || (isTablet | async) ) ? 'dialog' : 'navigation'"
        [mode]="((isHandset$ | async) || (isTablet | async) ) ? 'over' : 'side'"
        [opened]="((isHandset$ | async) || (isTablet | async) ) === false">

        <mat-toolbar>
            <button type="button" (click)="openSidenav()" aria-label="Toggle sidenav" mat-icon-button class="toggle_">
                <mat-icon aria-label="Side nav menu icon" [matTooltip]="isOpen ? 'Collapse' : 'Expand'" matTooltipPosition="right">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <!-- <img [src]="icon_logo" alt="Simplexam Logo" class="icon-logo expanded_" (click)="mainPage()"> -->
            <!-- <img mat-card-image [src]="simplexam_logo" alt="Lucy logo" class="logo logo-white">
            <span class="p-l-4 expanded_"> Simplexam</span> -->
        </mat-toolbar>
        <span *ngIf="is_subscriber == 'true' && sameAsExaminer">
            <a mat-raised-button *ngIf="roleId == 2" (click)="changeRole()" class="text-center switched_account">
                <img [src]="switch_user" alt="Switch to Examiner" class="role_change">
                <span class="expanded_ p-l-10"> Switch to Examiner</span>
            </a>
            <a mat-raised-button *ngIf="roleId == 11" (click)="changeRole()" class="text-center switched_account">
                <img [src]="switch_user" alt="Switch to Subscriber" class="role_change">
                <span class="expanded_ p-l-10">Switch to Subscriber</span>
            </a>
        </span>
        <mat-nav-list>
            <span *ngFor="let menuItem of menuItems" >
                <a class="menu-card-title menu-group m-b-50">{{isOpen ? menuItem.group : menuItem.short_group}}</a>
                <a *ngFor="let menu of menuItem.menu" (click)="navigate()" [routerLink]="menu.path"
                    routerLinkActive="active-list-item" class="list-nav" mat-list-item [matTooltip]="!isOpen ? menu.title : ''" matTooltipPosition="right">
                    <!-- routerLinkActive="active-list-item" class="list-nav" mat-list-item [title]="menu.title"> -->
                    <!-- <mat-icon aria-hidden="false" aria-label="home icon">{{menu.icon}}</mat-icon> -->
                    <i class="fa fa-{{menu.icon}} p-r-10" ></i>
                    <span class="expanded_"> {{menu.title }}</span>
                </a>
            </span>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (isClosed)="isclosed($event)" [isOpened]="isOpen" [inputSideNav]="drawer"></app-header>
        <!-- Add Content Here -->
        <div class="content-wrapper p-t-0">
            <app-page_header></app-page_header>
            <ngx-spinner type="ball-clip-rotate" size="medium"></ngx-spinner>
            <router-outlet></router-outlet>
        </div>
        <app-footer [footerFrom]="'common'"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>