<mat-sidenav-container class="sidenav-container ">
    <mat-sidenav #drawer class="sidenav " fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

        <mat-toolbar> <img mat-card-image [src]="logo_white" alt="Lucy logo" class="logo-white"> <span
                class="p-l-4">LUCY ADMIN</span></mat-toolbar>
        <mat-nav-list>
            <span *ngFor="let menuItem of menuItems">
                <a class="menu-card-title">{{menuItem.group}}</a>
                <a *ngFor="let menu of menuItem.menu" [routerLink]="menu.path" routerLinkActive="active-list-item"
                    class="list-nav" mat-list-item>
                    <mat-icon aria-hidden="false" aria-label="home icon">{{menu.icon}}</mat-icon> {{menu.title}}
                </a>
            </span>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="nav-bar">
            <mat-toolbar-row>
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav menu_open icon">menu_open</mat-icon>
                </button>

                <span flex class="spacer"></span>
                <mat-card-actions>
                    <div fxLayout="row">
                        <button (click)="fullScreen()" mat-icon-button>
                            <mat-icon> {{isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon matBadge="5" matBadgeColor="warn">notifications_none</mat-icon>
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="settings">
                            <mat-icon>supervised_user_circle</mat-icon>
                        </button>
                        <button mat-icon-button (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>

                        </button>
                    </div>
                </mat-card-actions>
                <mat-menu #settings="matMenu">
                    <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>

            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="content-wrapper p-t-0">
            <app-page_header></app-page_header>
            <mat-card class="m-card">
                <router-outlet></router-outlet>
            </mat-card>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>