@import "variables";

mat-sidenav-container {
  mat-sidenav {
    width: $sidenav-width;
    background-color: $primarycolor;
    background: $primarycolor;
    color: $white;
    mat-toolbar {
      background-color: $primarycolor;
      color: $white;
      box-shadow: $box-shadow-3;
    }
    mat-nav-list {
      .menu-card-title {
        margin-top: 10px;
        padding: 10px;
        display: block;
        color: $green;
        &::after {
          content: "";
          background: rgba(255, 255, 255, 0.26);
          height: 2px;
          display: inherit;
          width: 50%;
          margin-left: auto;
          margin-top: -8px;
        }
      }
      .mat-list-item {
        color: $white;
        height: 42px;
        font-size: $font-size-11;
        width: 95%;
        margin: 0px auto;
        margin-top: 5px;
        border-radius: 3px;
        &:hover,
        &:active {
          cursor: pointer;
          background-color: $secondarycolor;
          width: 95%;
          margin: 0px auto;
          color: $menu-active;
          margin-top: 5px;
          mat-icon {
            color: $black;
          }
        }
        mat-icon {
          font-size: $font-size-10;
          margin-top: 8px;
          margin-right: 5px;
          color: $light-gray;
        }
      }
    }
  } //mat-sidenav end
  mat-sidenav-content {
    min-height: calc(100vh - 150px);

  }
}

.content-wrapper {
  @include content-wrapper;
  min-height: calc(100vh - 139px);
  .main-card {
    max-height: 100px;
    background-color: $white;
  }
}
.active-list-item {
  background-color: $secondarycolor !important;
  color: $black !important;
  mat-icon {
    color: $black !important;
  }
}
