<mat-sidenav-container class="sidenav-container ">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
       
        <mat-toolbar style="cursor: pointer;" (click)="mainPage()"> <img mat-card-image [src]="simplexam_logo" alt="Lucy logo" class="logo-white"> <span
                class="p-l-4"> Simplexam</span></mat-toolbar>
                <a mat-raised-button routerLink="." class="text-center switched_account" ><mat-icon>loop</mat-icon> Switch to Examiner</a>
        <mat-nav-list>
            <span *ngFor="let menuItem of menuItems">
                <a class="menu-card-title">{{menuItem.group}}</a>
                <a *ngFor="let menu of menuItem.menu" (click)="navigate()" [routerLink]="menu.path"
                    routerLinkActive="active-list-item" class="list-nav" mat-list-item>
                    <mat-icon aria-hidden="false" aria-label="home icon">{{menu.icon}}</mat-icon> {{menu.title }}
                </a>
            </span>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [inputSideNav]="drawer"></app-header>
        <!-- Add Content Here -->
        <div class="content-wrapper p-t-0">
            <app-page_header></app-page_header>
            <ngx-spinner type="ball-clip-rotate" size="medium"></ngx-spinner>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>