<div class=" dx-viewport drag-and-drop-file-upload">
    <mat-card-header class="card-header">
        <div class="content-wrapper-main-title">Upload your files here</div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onNoClick()"><i class="fa fa-close"></i></button>
    </mat-card-header>
    <div class="container widget-container flex-box">
        <!-- 
        <div fxLayout="row" class="w-100" *ngIf="data.message">
            <div class="info-alert m-t-20">
                <i class="fa fa-info-circle p-r-5"></i>{{data?.message}}
            </div>
        </div> -->
        <div class="custom-drag-and-drap flex-box" id="dropzone-external"
            [ngClass]="isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active'] : ['dx-theme-border-color']">
            <img [src]="file_upload" alt="File Upload">
            <h2>Drag and drop</h2>
            <p *ngIf="data.splMsg" [innerHtml]="data.splMsg"></p>
            <p *ngIf="!data.splMsg">( Supported file formats : {{fileType.join()}} )
                <br/><span>Max file size : {{data.fileSize}} MB</span>
            </p>
            <p class="allow-message" *ngIf="!isMultiple"><sup>*</sup>Allowed single file only.</p>
            <div>Or</div>
            <button mat-raised-button class="filled-ternary">Upload from your computer</button>

        </div>
        <dx-file-uploader #fileUploader style="display: none;" dialogTrigger="#dropzone-external"
            dropZone="#dropzone-external" [multiple]="isMultiple" [accept]="fileType.join()" uploadMode="instantly"
            [visible]="false" (onDropZoneEnter)="onDropZoneEnter($event)" (onDropZoneLeave)="onDropZoneLeave($event)"
            (onUploaded)="onUploaded($event)" (onProgress)="onProgress($event)"
            (onUploadStarted)="onUploadStarted($event)" [inputAttr]="{ id: 'input-file-upload' }"></dx-file-uploader>
        <div class="upload-error" *ngIf="error != ''" [innerHTML]="error"></div>
        <div class="uploaded-files" *ngIf="files.length !=0">
            <div class="sub-title">Attached Files</div>
            <ul>
                <li *ngFor="let file of files; let i = index">
                    <img [src]="file?.type.split('/')[1] | fileType" alt="File Upload">
                    <!-- <img [src]="pdf" alt="File Upload"> -->
                    <div class="filename">{{file.name}} </div>
                    <a class="text-danger" (click)="remove(i)">Remove</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center m-b-20">
        <button mat-stroked-button class="outline-danger" (click)="onNoClick()">Cancel</button>
        <button mat-stroked-button [disabled]="files.length ==0" class="m-l-10 outline-success"
            (click)="okProceed()">Save</button>
    </div>
</div>