<!-- <mat-card class="m-card m-t-20">
    <mat-card-header>
        <div class="content-wrapper-main-title">Payment Responses</div>
        <span class="spacer"></span>
    </mat-card-header> -->
<mat-card-content class="m-b-10">
    <form fxLayout="row wrap">
        <div class="user-detail m-t-10">
            <table class="table res-table pay-response">
                <thead>
                    <tr>
                        <th></th>
                        <th>Bill #</th>
                        <th>Submission</th>
                        <th>Date Sent</th>
                        <th>Due Date</th>
                        <th>Charge</th>
                        <th>Payment</th>
                        <th>Balance</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <td>
                            <mat-icon class="pointer"
                            [ngClass]="{'text-success': expandId != lateResData?.id, 'text-danger' : expandId == lateResData?.id}"
                            (click)="openElement(lateResData?.id)">{{expandId
                            == lateResData?.id ? 'remove_circle' : 'add_circle'}}</mat-icon>
                        </td>
                        <td>{{lateResData?.bill_no}}</td>
                        <td>{{lateResData?.bill_submission_type}}</td>
                        <td>{{lateResData?.date_sent | date:'MM-dd-yyyy'}}</td>
                        <td>{{lateResData?.bill_due_date | date:'MM-dd-yyyy'}}</td>
                        <td>{{lateResData?.charge ? '$ ' : ''}} {{lateResData?.charge}}</td>
                        <td>{{lateResData?.payment ? '$ ' : ''}} {{lateResData?.payment}}</td>
                        <td class="text-danger">{{lateResData?.balance ? '$ ' : ''}} {{lateResData?.balance}}</td>
                        <td class="text-success">{{lateResData?.bill_paid_status}}</td>
                        <td><button type="button" *ngIf="lateRes().controls?.length == 0" mat-raised-button
                              class="mini-btn filled-gray" (click)="addlateRes();openElement(lateResData?.id)">Add Response</button></td>
                    </tr>

                    <tr *ngIf="expandId == lateResData?.id">
                        <td colspan="10">
                            <div class="detail" *ngIf="lateRes().controls?.length > 0">
                                <div>
                                    <div class="expand-details-list bg-white list-level" fxLayout="row wrap">
                                        <div fxFlex="100">
                                            <div class="main-title p-l-0 p-b-10" fxFlex="100">Claims Administrator
                                                Information</div>
                                        </div>
                                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                            <div class="grid-list">
                                                <div>Insurance Name</div>
                                                <div>{{lateResData?.claims_administrator_details?.insurance_name}}</div>
                                            </div>
                                            <div class="grid-list">
                                                <div>Phone Number</div>
                                                <div>{{lateResData?.claims_administrator_details?.phone_number |
                                                    mask:'(000) 000-0000'}}</div>
                                            </div>
                                            <div class="grid-list">
                                                <div>Email Address</div>
                                                <div>{{lateResData?.claims_administrator_details?.email_address}}</div>
                                            </div>
                                        </div>
                                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                            <div class="grid-list">
                                                <div>Adjuster Name</div>
                                                <div>{{lateResData?.claims_administrator_details?.adjuster_name}}</div>
                                            </div>
                                            <div class="grid-list">
                                                <div>Fax Number</div>
                                                <div>{{lateResData?.claims_administrator_details?.fax | mask:'(000)
                                                    000-0000'}}</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <form [formGroup]="lateForm">
                                <div class="detail" formArrayName="lateRes"
                                    *ngFor="let late of lateRes().controls; let lateindex=index; let last = last">
                                    <div [formGroupName]="lateindex">
                                        <div fxLayout="row wrap" class="expand-details-list list w-100">
                                            <div fxFlex="100">
                                                <div class="main-title p-l-0 m-b-10" fxFlex="100">Bill Status</div>
                                            </div>
                                            <div *ngIf="!late.get('showStatus').value" class="w-100">
                                                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details " [ngClass]="{'strike' : !last}">
                                                    <div class="grid-list">
                                                        <div>Status</div>
                                                        <div class="text-success">{{late.get('bill_status').value}}</div>
                                                    </div>

                                                    <div class="grid-list" *ngIf="late.get('bill_status_id').value == 47 && !last">
                                                        <div>Create Support Ticket</div>
                                                        <div><a href="https://simplexam.freshdesk.com/support/tickets/new" target="_blank" class="text-ternary"><i>https://simplexam.freshdesk.com/support/tickets/new</i></a></div>
                                                    </div>
                                                    <div class="grid-list"
                                                        *ngIf="late.get('bill_status_id').value == 51">
                                                        <div>Other Reason</div>
                                                        <div>{{late.get('bill_other_status').value}}</div>
                                                    </div>
                                                    <div class="grid-list" *ngIf="late.get('bill_status_id').value != 47">
                                                        <div>Notes</div>
                                                        <div>{{late.get('late_payment_response_notes').value}}</div>
                                                    </div>

                                                </div>
                                                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                                    <div class="grid-list">
                                                        <div>Created By</div>
                                                        <div>{{late.get('created_by_first_name').value}} {{late.get('created_by_last_name').value}}</div>
                                                    </div>
                                                    <div class="grid-list">
                                                        <div>Created On</div>
                                                        <div>{{late.get('createdAt').value | date:'MM-dd-yyyy'}}</div>
                                                    </div>
                                                    <div class="grid-list">
                                                        <div>Updated By</div>
                                                        <div>{{late.get('updated_by_first_name').value}} {{late.get('updated_by_last_name').value}}</div>
                                                    </div>
                                                    <div class="grid-list">
                                                        <div>Updated On</div>
                                                        <div *ngIf="late.get('updated_by_first_name').value">{{late.get('updatedAt').value | date:'MM-dd-yyyy'}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100"
                                                class="expand-details editable" *ngIf="late.get('showStatus').value">
                                                <div class="grid-list-form">
                                                    <div class="property">Status</div>
                                                    <div class="value">
                                                        <mat-form-field appearance="outline">
                                                            <mat-select formControlName="bill_status_id" (selectionChange)="changestatus(late,$event.value)">
                                                                <mat-option *ngFor="let list of billStatusList"
                                                                    [value]="list.id">
                                                                    {{list?.bill_status}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="grid-list-form"
                                                    *ngIf="late.get('bill_status_id').value == 51">
                                                    <div class="property">Other</div>
                                                    <div class="value">
                                                        <mat-form-field appearance="outline">
                                                            <input matInput formControlName="bill_other_status"
                                                                type="text" placeholder="Other Description"
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="grid-list-form" *ngIf="late.get('bill_status_id').value != 47">
                                                    <div class="property">Notes</div>
                                                    <div class="value">
                                                        <mat-form-field appearance="outline">
                                                            <input matInput
                                                                formControlName="late_payment_response_notes"
                                                                type="text" placeholder="Notes" autocomplete="off">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>


                                            <div fxFlex="100" *ngIf="late.get('bill_status_id').value == 47 && last">
                                                <div class="create-support m-t-10">
                                                    <div><b>Create Support Ticket</b></div>
                                                    <div>Click below link to create new ticket</div>
                                                    <div class="link"><a href="https://simplexam.freshdesk.com/support/tickets/new" target="_blank"><i class="fas fa-link p-r-10"></i>https://simplexam.freshdesk.com/support/tickets/new <span (click)="$event.stopPropagation();copyText('https://simplexam.freshdesk.com/support/tickets/new')" class="copy-link"><i ngxClipboard
                                                        cbContent="ssssss" class="far fa-copy"></i></span></a></div>
                                                </div>
                                            </div>
                                            <div class="w-100 text-center p-t-10" *ngIf="late.get('showStatus').value">
                                                <button type="button" class="outline-danger m-r-10"
                                                    mat-stroked-button (click)="removeResponse(lateindex)">Cancel</button>
                                                <button class="outline-success" mat-stroked-button
                                                    (click)="submitLateRes(late, lateindex)">Save</button>
                                            </div>
                                            <div fxFlex="100" *ngIf="last && !late.get('showStatus').value">
                                                <button type="button" mat-raised-button class="filled-gray"
                                                    (click)="copyedit(late ,lateindex)">Copy
                                                    & Edit Response</button>
                                                <button type="button" mat-raised-button class="filled-gray m-l-10"
                                                    (click)="addlateRes()">Add Response</button>    
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </td>

                    </tr>

                </thead>

            </table>
        </div>
    </form>
</mat-card-content>