<!-- <mat-card class="m-card m-t-20">
    <mat-card-header>
        <div class="content-wrapper-main-title">Payment Responses</div>
        <span class="spacer"></span>
    </mat-card-header> -->
    <mat-card-content class="m-b-10">
        <form fxLayout="row wrap">
            <div class="user-detail m-t-10">
                <table class="table res-table pay-response">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bill #</th>
                            <th>Submission</th>
                            <th>Date Sent</th>
                            <th>Due Date</th>
                            <th>Charge</th>
                            <th>Payment</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <td>
                                <mat-icon class="text-success">add_circle</mat-icon>
                            </td>
                            <td>SBR-1456312</td>
                            <td>SECOND</td>
                            <td></td>
                            <td></td>
                            <td>$ 8965</td>
                            <td>$ 8965</td>
                            <td class="text-danger">$ 8965</td>
                            <td></td>
                            <td><button type="button" mat-raised-button class="mini-btn filled-gray" >Add Response</button></td>
                        </tr>

                        <tr>
                            <td colspan="10">
                                <div class="detail bg-white">
                                    <div>
                                        <div class="expand-details-list list-level" fxLayout="row wrap">
                                            <div fxFlex="100">
                                                <div class="main-title p-l-0 p-b-10" fxFlex="100">Claims Administrator Information</div>
                                            </div>
                                            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                                <div class="grid-list">
                                                    <div>Insurance Name</div>
                                                    <div>ABC CDE LIMITED</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Phone Number</div>
                                                    <div>+4839 48389 3873</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Email Address</div>
                                                    <div>ABCD@EFG.HIJ</div>
                                                </div>
                                            </div>
                                            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                                <div class="grid-list">
                                                    <div>Adjuster Name</div>
                                                    <div>Sarath Selvaraj</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Fax Number</div>
                                                    <div>845 465 4454</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="detail">
                                    <div>
                                        <div class="expand-details-list list-level" fxLayout="row wrap">
                                            <div fxFlex="100">
                                                <div class="main-title p-l-0 p-b-10" fxFlex="100">Bill Status</div>
                                            </div>
                                            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                                <div class="grid-list">
                                                    <div>Status</div>
                                                    <div><a class="text-success">Status Comes Here</a></div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Other Reason</div>
                                                    <div>Other Reason Will Comes Here...</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Notes</div>
                                                    <div>Notes Comes Here</div>
                                                </div>
                                            </div>
                                            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="expand-details">
                                                <div class="grid-list">
                                                    <div>Created By</div>
                                                    <div>Sarath Selvaraj</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Created On</div>
                                                    <div>12-12-2020</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Updated By</div>
                                                    <div>Sarath Selvaraj</div>
                                                </div>
                                                <div class="grid-list">
                                                    <div>Updated On</div>
                                                    <div>12-12-2020</div>
                                                </div>
                                            </div>
                                            <div fxFlex="100">
                                                <button type="button" mat-raised-button class="filled-gray">Copy & Edit Response</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </thead>
                </table>
            </div>
        </form>
    </mat-card-content>