@import "variables";
@import "table";
@import "../payment-response/payment-response.component.scss";

.pay-response {
    .bg-white {
        background-color: $white !important;
        &::before {
            font-weight: 900;
            content: "" !important;
            position: absolute;
            font-size: 25px;
            left: -28px;
            top: 50%;
        }
    }

    .detail {
        // &:first-child {
        //     height: -moz-calc(67.5% - 0px) !important;
        //     height: -webkit-calc(67.5% - 0px) !important;
        //     height: calc(67.5% - 0px) !important;
        // }
        &:last-child {
            .expand-details-list.list {
                &::after {
                    content: "";
                    background-color: $black;
                    width: 3px;
                    position: absolute;
                    left: -30px;
                    top: -15px;
                    height: -moz-calc(68.3% - 0px) !important;
                    height: -webkit-calc(68.3% - 0px) !important;
                    height: calc(68.3% - 0px) !important;
                }
            }
        }
    }
}
.strike {
    .grid-list {
        div {
            &:last-child {
                text-decoration: line-through;
            }
        }
    }
}
.grid-list {
    div {
        a {
            color: $info;
            text-decoration: none;
        }
    }
}
.create-support {
    background-color: $white;
    padding: 20px;
    .link {
        width: fit-content;
        font-size: $font-size-1;
        margin-top: 10px;
        background-color: $info-bg;
        color: $info;
        padding: 10px;
        a {
            color: $info;
            text-decoration: none;
            .copy-link {
                float: right;
                margin-left: 50px;
                padding-right: 10px;
                cursor: pointer;
            }
        }
    }
}
