@import "variables";
@import "table";
@import "../payment-response/payment-response.component.scss";

.bg-white {
    background-color: $white !important;
}
.strike {
    .grid-list {
        div {
            &:last-child {
                text-decoration: line-through;
            }
        }
    }
}
.grid-list {
    div {
        a {
            color: $info;
            text-decoration: none;
        }
    }
}
.create-support {
    background-color: $white;
    padding: 20px;
    .link {
        width: fit-content;
        font-size: $font-size-1;
        margin-top: 10px;
        background-color: $info-bg;
        color: $info;
        padding: 10px;
        a {
            color: $info;
            text-decoration: none;
            .copy-link {
                float: right;
                margin-left: 50px;
                padding-right: 10px;
                cursor: pointer;
            }
        }
    }
}
