@import "variables";
@import "table";
@import "../../billing/billing.component.scss";

.bill-item {
    margin-top: 20px;
    mat-card {
        box-shadow: $shadow-style-one !important;
        &:hover {
            box-shadow: $shadow-style-one-hover;
        }
        mat-card-content {
            .table {
                overflow: hidden;
            }
        }
    }
    .custom-input {
        padding: 8px 3px;
        border: 1px solid $gray;
        width: 100px;
        border-radius: 3px;
        &:disabled {
            border: 1px solid $white;
            background-color: transparent;
            width: auto;
            border-radius: 3px;
        }
    }
}
