@import "variables";
@import "table";

.bill-item {
    margin-top: 20px;
    mat-card {
        box-shadow: $shadow-style-one !important;
        &:hover {
            box-shadow: $shadow-style-one-hover;
        }
        mat-card-content {
            .table {
                overflow: hidden;
            }
        }
    }
    .custom-input {
        padding: 8px 3px;
        border: 1px solid $gray;
        width: 100px;
        border-radius: 3px;
        &:disabled {
            border: 1px solid $white;
            background-color: transparent;
            width: auto;
            border-radius: 3px;
        }
    }
}
.bill-item.sbr_ {
    .sbr-billitem {
        min-height: auto !important;
        // overflow-x: hidden;
    }
}
.res-table {
    overflow: auto !important;
    thead {
        th {
            position: sticky ;
            top: 0; /* Don't forget this, required for the stickiness */
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
            z-index: 1;
        }
    }
}
.custom-select {
    padding-left: 25px;
    @media only screen and (max-width: 568px) {
        padding-left: 10px;
    }
    .select-1 {
        height: 0;
    }
    .mat-radio-group {
        float: right;
        @media only screen and (max-width: 568px) {
            float: left;
            margin-top:5px
        }
    }
}
.sbr_ {
    table {
        .reason {
            padding: 10px;
            .reason-for-request {
                margin-top: 15px;
                padding: 10px;
                @media only screen and (max-width: 568px) {
                    padding: 0px;
                }
                .checkbox {
                    background-color: $white;
                    padding: 10px;
                    margin-bottom: 10px;
                    width: max-content;
                    display: block;
                    float: left;
                }
            }
        }
    }
    table.supporting-docs {
        @media only screen and (max-width: 568px) {
        table-layout: auto !important;
        }
        th {
            border: 1px solid transparent !important;
            &:first-child {
                width: 80%;
            }

            &:last-child {
                text-align: center;
            }
        }
        tr {
            td {
                padding: 10px !important;
            }
            td.action {
                text-align: center;
                color: $lightgray;
                a {
                    display: contents !important;
                }
            }
        }
    }
}
.disableatag{
	pointer-events:none;
    cursor: not-allowed;
    opacity: 0.5;
}