@import "variables";

.profile {
  padding: 0px;
  border-radius: 2px;
  width: 100%;
  box-shadow: $box-shadow-5;
  mat-card-header {
    background-color: $ternary-color;
    position: relative;
    text-align: center !important;
    display: block;
    padding: 20px 0px 30px 0px;
    mat-card-title {
      font-size: $font-size-h6 !important;
      color: $white;
      margin-bottom: 5px !important;
    }
    mat-card-subtitle {
      color: $white;
      opacity: 0.8;
    }
  }
  .profile-upload {
    position: absolute;
    top: 115px;
    left: 42%;
    i {
      position: absolute;
      top: 38px;
      left: 84%;
      width: 12px;
      height: 12px;
      font-size: $font-size-7;
      vertical-align: middle;
      padding: 5px;
      background: $primarycolor;
      border: 2px solid transparent;
      box-shadow: $box-shadow-3;
      color: $white;
      border-radius: 50px;
      cursor: pointer;
    }
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      box-shadow: $box-shadow-3;
      padding: 2px;
    }
  }
  mat-card-content {
    @include text;
  }
}

mat-form-field {
  padding: 10px !important;
}

.shadow {
  box-shadow: $box-shadow-5;
}
