<mat-divider></mat-divider>
<div fxLayout="row wrap" *ngIf="!isEdit">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Office Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address1</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>City</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>State</div>
                    <div></div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">

                <div class="grid-list">
                    <div>Zip Code</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Phone</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Email</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Fax</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isEdit">
    <form fxLayout="row wrap" fxFlex="100" [formGroup]="DEU">
        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-label>Office Name</mat-label>
            <input matInput placeholder="Office Name" formControlName="name" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="street1"></textarea>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Address1</mat-label>
            <textarea matInput formControlName="street2"></textarea>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>City</mat-label>
            <input matInput type="text" placeholder="city" formControlName="city" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.state">{{state.state}}
                </mat-option>
            </mat-select>
            <mat-error>Enter valid state</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Zip Code</mat-label>
            <input matInput mask="00000" formControlName="zip_code" placeholder="Zip Code" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" mask="(000) 000-0000" placeholder="Phone Number" formControlName="phone"
                autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-label>Fax</mat-label>
            <input matInput placeholder="Fax" formControlName="fax" mask="000-000-0000" autocomplete="off">
            <mat-error>Enter valid fax number</mat-error>
        </mat-form-field>
    </form>
</div>