@import "variables";
mat-card {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
    .deu_info {
        mat-form-field {
            padding: 10px 10px 0px 10px !important;
        }
    }
}
