@import "variables";
@import "table";
mat-card {
  box-shadow: $shadow-style-one !important;
  padding-top: 10px;
  mat-card-header {
    .reference_no {
      .text-center {
        @media only screen and (max-width: 568px) {
          text-align: right;
        }
      }
    }
  }
  mat-card-content {
    mat-form-field {
      padding: 10px 10px 0px 10px !important;
    }
  }
}

.billable_item {
  min-height: auto;
  mat-card-content {
    .user-detail {
      min-height: 200px;
    }
  }
}
