@import "variables";
@import "table";
mat-card {
  padding-top: 10px;
  mat-card-content {
    mat-form-field {
      padding: 10px !important;
    }
  }
}

.billable_item {
  min-height: auto;
  mat-card-content {
      .user-detail {
          min-height: 200px;
      }
  }
}
