<mat-card class="m-card">
  <mat-card-header>
    <div class="m-0 content-wrapper-main-title">Claimant </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" *ngIf="!editStatus" class="m-b-5" (click)="edit()">
      Edit
    </button>
    <button mat-raised-button color="primary" *ngIf="editStatus" class="m-b-5" (click)="createClaimant()">
      Save
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <!-- <div fxLayout="row wrap" fxFlex="100" class="p-t-15"  *ngIf="!editStatus">
      <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
        <div class="grid-list">
          <div>First Name</div>
          <div>{{claimantForm?.value.first_name}}</div>
        </div>
        <div class="grid-list">
          <div>Middle Name</div>
          <div>{{claimantForm?.value.middle_name}}</div>
        </div>
        <div class="grid-list">
          <div>Last Name</div>
          <div>{{claimantForm?.value.last_name}}</div>
        </div>
        <div class="grid-list">
          <div>Suffix</div>
          <div>{{claimantForm?.value.suffix}}</div>
        </div>
        <div class="grid-list">
          <div>Salutation</div>
          <div>{{claimantForm?.value.salutation}}</div>
        </div>
        <div class="grid-list">
          <div>Date of Birth</div>
          <div>{{claimantForm?.value.date_of_birth | date:'MM-dd-yyyy'}}</div>
        </div>
        <div class="grid-list">
          <div>Email</div>
          <div>{{claimantForm?.value.email}}</div>
        </div>
        <div class="grid-list">
          <div>Gender</div>
          <div>{{gender(claimantForm?.value.gender)}}</div>
        </div>
        <div class="grid-list">
          <div>Handedness</div>
          <div>{{claimantForm?.value.handedness}}</div>
        </div>
        <div class="grid-list">
          <div>Certified Interpreter Required</div>
          <div>{{claimantForm?.value.certified_interpreter_required}}</div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
        <div class="grid-list">
          <div>Primary Language</div>
          <div>{{language(claimantForm?.value.primary_language_spoken)}}</div>
        </div>

        <div class="grid-list">
          <div>SSN</div>
          <div>{{claimantForm?.value.ssn | mask:'000-000-0000'}}</div>
        </div>

        <div class="grid-list">
          <div>Phone Number</div>
          <div>{{claimantForm?.value.phone_no_1 | mask:'(000) 000-0000'}}</div>
        </div>

        <div class="grid-list">
          <div>Alternate Phone Number</div>
          <div>{{claimantForm?.value.phone_no_2 | mask:'(000) 000-0000'}}</div>
        </div>

        <div class="grid-list">
          <div>Address 1</div>
          <div>{{claimantForm?.value.street1}}</div>
        </div>

        <div class="grid-list">
          <div>Address 2</div>
          <div>{{claimantForm?.value.street2}}</div>
        </div>

        <div class="grid-list">
          <div>Cite</div>
          <div>{{claimantForm?.value.city}}</div>
        </div>

        <div class="grid-list">
          <div>State</div>
          <div>{{state(claimantForm?.value.state)}}</div>
        </div>

        <div class="grid-list">
          <div>Zip Code</div>
          <div>{{claimantForm?.value.zip_code}}</div>
        </div>
      </div>
    </div> -->

    <div fxLayout="row wrap" fxFlex="100">
      <form fxLayout="row wrap" fxFlex="100" (keydown.enter)="$event.preventDefault()" [formGroup]="claimantForm">

        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>First Name*</mat-label>
          <input matInput placeholder="First name" formControlName="first_name" autocomplete="off">
          <mat-error *ngIf="isClaimantSubmited">{{errorMessages.entervalidfirstname}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="Middle Name" formControlName="middle_name" autocomplete="off">
          <mat-error *ngIf="isClaimantSubmited">{{errorMessages.entervalidmiddlename}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Last Name*</mat-label>
          <input matInput placeholder="Last name" formControlName="last_name" autocomplete="off">
          <mat-error *ngIf="isClaimantSubmited">{{errorMessages.entervalidlastname}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Suffix</mat-label>
          <input matInput placeholder="Suffix" formControlName="suffix" autocomplete="off">
          <mat-error *ngIf="isClaimantSubmited">Enter valid suffix</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Salutation</mat-label>
          <input matInput placeholder="Salutation" formControlName="salutation" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Date of Birth*</mat-label>
          <input matInput placeholder="Date of Birth" formControlName="date_of_birth" autocomplete="off" [max]="today"
            [matDatepicker]="date_of_birth" (click)="date_of_birth.open()">
          <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
          <mat-datepicker #date_of_birth disabled="false"></mat-datepicker>
          <mat-error *ngIf="isClaimantSubmited">Enter valid date of birth</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" autocomplete="off">
          <mat-error>Enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
            <!-- <mat-option value="O">Other</mat-option> -->
          </mat-select>
          <mat-error>Enter valid state</mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Handedness</mat-label>
          <mat-select formControlName="handedness">
            <mat-option value="R">Right</mat-option>
            <mat-option value="L">Left</mat-option>
            <mat-option value="A">Ambidextrous</mat-option>
          </mat-select>
          <mat-error>Enter valid handedness</mat-error>
        </mat-form-field>

        <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="checkbox">
          <div class="p-t-30 p-l-10">Certified Interpreter Required
            <mat-checkbox class="p-l-10" (change)="languageStatus = !languageStatus"
              formControlName="certified_interpreter_required"></mat-checkbox>
          </div>
        </div>

        <mat-form-field *ngIf="languageStatus" appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50"
          fxFlex.xs="100">
          <mat-label>Primary Language</mat-label>
          <mat-select formControlName="primary_language_spoken">
            <mat-option *ngFor="let language of languageList" [value]="language.id">
              {{language.language}}
            </mat-option>
          </mat-select>
          <mat-error>Select valid primary language</mat-error>
        </mat-form-field>



        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>SSN</mat-label>
          <input matInput mask="000-000-0000" placeholder="999-999-9999" formControlName="ssn" autocomplete="off">
          <mat-error>Enter valid SSN</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" mask="(000) 000-0000" formControlName="phone_no_1" placeholder="Phone Number"
            autocomplete="off">
          <mat-error>Enter valid phone number</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Alternate Phone Number</mat-label>
          <input matInput type="text" mask="(000) 000-0000" formControlName="phone_no_2"
            placeholder="Alternate Phone Number" autocomplete="off">
          <mat-error>Enter valid alternative phone number</mat-error>
        </mat-form-field>


        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Address 1</mat-label>
          <textarea matInput placeholder="Address 1" formControlName="street1" autocomplete="off"></textarea>
          <mat-error>Enter valid address</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Address 2</mat-label>
          <textarea matInput placeholder="Address 2" formControlName="street2" autocomplete="off"></textarea>
          <mat-error>Enter valid address</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" autocomplete="off">
          <mat-error>Enter valid city</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of states" [value]="state.id">{{state.state}}
            </mat-option>
          </mat-select>
          <mat-error>Enter valid state</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
          <mat-label>Zip Code</mat-label>
          <input matInput  placeholder="Zip" formControlName="zip_code" autocomplete="off">
          <mat-error>Enter valid zip code</mat-error>
        </mat-form-field>

        <div class="text-center w-100 m-t-10 m-b-50" *ngIf="editStatus">
          <button mat-raised-button color="primary" type="submit" (click)="createClaimant()"
            class="m-r-10 rounded-corner btn_success">
            Save </button>
          <button mat-raised-button (click)="cancel()" class="rounded-corner" color="warn">Cancel</button>

        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>