<mat-card class="m-card">
  <mat-card-header>
    <div class="m-0 content-wrapper-main-title">Create New Claimant</div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form fxLayout="row wrap" class="mat-grid-form" [formGroup]="claimantForm" (ngSubmit)="submitClaim()">

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last name" formControlName="last_name" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.entervalidlastname}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First name" formControlName="first_name" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.entervalidfirstname}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="Middle Name" formControlName="middle_name" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.entervalidmiddlename}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Suffix</mat-label>
        <input matInput placeholder="Suffix" formControlName="suffix" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.entervalidsuffix}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Date of Birth</mat-label>
        <input matInput placeholder="Date of Birth" formControlName="date_of_birth" autocomplete="off"
          [matDatepicker]="date_of_birth" (click)="date_of_birth.open()" disabled>
        <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
        <mat-datepicker #date_of_birth disabled="false"></mat-datepicker>
        <mat-error *ngIf="isSubmit">{{errorMessages.date_of_birth}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option value="0">Male</mat-option>
          <mat-option value="1">Female</mat-option>
          <mat-option value="2">Other</mat-option>
        </mat-select>
        <mat-error *ngIf="isSubmit">{{errorMessages.gender}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" autocomplete="off" formControlName="email">
        <mat-error *ngIf="isSubmit">{{errorMessages.email}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Handedness</mat-label>
        <mat-select>
          <mat-option value="0">Right</mat-option>
          <mat-option value="1">Left</mat-option>
          <mat-option value="2">Ambidexterity</mat-option>
        </mat-select>
        <mat-error *ngIf="isSubmit">{{errorMessages.handedness}}</mat-error>
      </mat-form-field>

      <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="checkbox">
        <div class="p-t-30"> Primary Language Not English<mat-checkbox class="p-l-10" checked></mat-checkbox>
        </div>
      </div>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Primary Language</mat-label>
        <mat-select>
          <mat-option value="0">Language List Here</mat-option>
        </mat-select>
        <mat-error *ngIf="isSubmit">{{errorMessages.handedness}}</mat-error>
      </mat-form-field>

      <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="checkbox">
        <div class="p-t-30">Certified Interpreter Required
          <mat-checkbox class="p-r-10 p-l-10">Yes</mat-checkbox>
          <mat-checkbox>No</mat-checkbox>
        </div>
      </div>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>SSN</mat-label>
        <input matInput type="number" placeholder="999-999-999" value="999-999-999" formControlName="ssn" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.ssn}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Phone Number</mat-label>
        <input matInput type="number" placeholder="Phone Number" formControlName="phone_no_1" autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.phone_no}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Alternate Phone Number</mat-label>
        <input matInput type="number" placeholder="Alternate Phone Number" formControlName="phone_no_2"
          autocomplete="off">
        <mat-error *ngIf="isSubmit">{{errorMessages.phone_no}}</mat-error>
      </mat-form-field>


      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Street Address</mat-label>
        <textarea matInput placeholder="Street Address" autocomplete="off" formControlName="street1"></textarea>
        <mat-error *ngIf="isSubmit">{{errorMessages.address}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Street Address 2</mat-label>
        <textarea matInput placeholder="Street Address 2" autocomplete="off" formControlName="street2"></textarea>
        <mat-error *ngIf="isSubmit">{{errorMessages.address}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" autocomplete="off" formControlName="city">
        <mat-error *ngIf="isSubmit">{{errorMessages.city}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" autocomplete="off" formControlName="state">
        <mat-error *ngIf="isSubmit">{{errorMessages.state}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Zip</mat-label>
        <input matInput placeholder="Zip" autocomplete="off" formControlName="zip_code">
        <mat-error *ngIf="isSubmit">{{errorMessages.zip_code}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Zip + 4</mat-label>
        <input matInput placeholder="Zip +4" autocomplete="off" formControlName="zip_4">
        <mat-error *ngIf="isSubmit">{{errorMessages.zip_4}}</mat-error>
      </mat-form-field>




      <div class="text-center w-100 m-t-10 m-b-50">
        <button mat-raised-button color="primary" type="submit" class="m-r-10 rounded-corner btn_success">
          Submit </button>
        <button mat-raised-button (click)="cancle()" type="button" class="rounded-corner" color="warn">Cancel</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>