@import "variables";
@import "table";
@import "../correspondance/correspondance.component.scss";


.billable-item-status {
    .upload-file {
        button {
            margin-top: 17px;
            vertical-align: top;
        }
        .mat-form-field {
            width: calc(100% - 125px);
            mat-hint {
                width: 100%;
                mat-error {
                    float: right;
                }
            }
        }
    }
    .basic-table {
        th {
            ::ng-deep .mat-checkbox .mat-checkbox-frame {
                border-color: $white;
            }
            #dropdown-list {
                vertical-align: middle;
                margin-top: 10px;
                line-height: 0.5;
                padding: 0 0 0 5px;
            }
        }
        .pages-count {
            display: flex;
            input {
                width: 65px;
                border: 1px solid $progres-light-gray;
                padding: 5px;
                margin-right: 5px;
                border-radius: 5px;
            }
            .action-buttons {
                display: flex;
                button {
                    min-width: 10px !important;
                }
            }
        }
    }
    .ondemand_request {
        .mat-form-field {
            min-width: 295px;
            max-width: 295px;
        }
        mat-checkbox {
            display: block;
            margin-bottom: 20px;
        }
        .outline-warning {
            float: right;
            margin-top: 45px;
            @media only screen and (max-width: 568px) {
                float: left;
                margin-top: 20px;
            }
        }
    }
}
