@import "variables";
@import "table";

.appointment-deatils {
    .status_tracker {
        background-color: $white;
        box-shadow: $box-shadow-2;
        padding: 15px;
        margin-bottom: 10px;
        &:hover {
            box-shadow: $box-shadow-1;
        }
        mat-card-content {
            @media only screen and (max-width: 1200px) {
                overflow: hidden;
                width: 100%;
                &:hover {
                    overflow: scroll;
                }
            }
            .status {
                min-width: 1024px;
                max-width: 1024px;
                width: 100%;
                .steps {
                    margin: 0px;
                }
            }
        }
    }
    .claim_details {
        div.p-5 {
            padding: 5px;
            mat-card {
                mat-card-content {
                    padding-top: 10px;
                    .claim_label {
                        width: $width-100;
                        div {
                            font-weight: $font-weight-bold;
                            font-size: $font-size-1;
                            padding-top: 10px;
                            color: $text-gray;
                            &::after {
                                content: ":";
                                display: inline-block;
                                float: right;
                                padding-right: 10px;
                            }
                        }
                    }
                    .claim_value {
                        width: $width-100;
                        div {
                            font-size: $font-size-1;
                            padding-top: 10px;
                            color: $text-gray;
                        }
                    }
                }
            }
        }
    }
    .examiner_details {
        padding: 5px;
        mat-card {
            box-shadow: $box-shadow-2;
            &:hover {
                box-shadow: $box-shadow-1;
            }
            mat-card-header {
                cursor: pointer;
            }
            mat-card-header {
                div {
                    .examiner {
                        span {
                            font-weight: $font-weight-bold;
                            min-width: 120px;
                            display: inline-block;
                            &::after {
                                content: ":";
                                display: inline-block;
                                float: right;
                                padding-right: 10px;
                            }
                        }
                    }
                    div {
                        font-size: $font-size-1;
                        color: $text-gray;
                        display: inherit;
                        .speality {
                            font-weight: $font-weight-bold;
                            font-size: $font-size-1;
                            min-width: 120px;
                            display: inline-block;
                            color: $text-gray;
                            &::after {
                                content: ":";
                                display: inline-block;
                                float: right;
                                padding-right: 10px;
                            }
                        }
                        .speality-list {
                            list-style: none;
                            display: inline;
                            li {
                                padding-top: 5px;
                                color: $text-gray;
                            }
                        }
                    }
                }
            }
            mat-card-content {
                div {
                    .speality {
                        font-weight: $font-weight-bold;
                        font-size: $font-size-1;
                        min-width: 120px;
                        display: inline-block;
                        color: $text-gray;
                        &::after {
                            content: ":";
                            display: inline-block;
                            float: right;
                            padding-right: 10px;
                        }
                    }
                    .speality-list {
                        list-style: none;
                        display: inline;
                        li {
                            padding-top: 0px;
                            color: $text-gray;
                        }
                    }
                }
            }
        }
    }
    .documents_section {
        div {
            padding: 5px;
            mat-card {
                box-shadow: $box-shadow-2;
                padding-bottom: 0px;
                &:hover {
                    box-shadow: $box-shadow-1;
                }
                mat-card-header {
                    cursor: pointer;
                }
                mat-card-content {
                    div {
                        .upload-doc {
                            padding: 5px;
                            mat-card-header {
                                button {
                                    margin-top: 5px;
                                    color: $primarydarkcolor;
                                    background-color: $btn-light-color;
                                    padding: 5px 10px;
                                    height: 40px;
                                    font-size: $font-size-7;
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
                                }
                            }
                            .file-upload {
                                padding: 50px;
                            }
                        }
                    }
                    .table-search {
                        padding: 0px;
                        .table-filter {
                            border: 1px solid transparent;
                            padding-left: 0px;
                        }
                    }
                    button.float-right {
                        float: right;
                        background-color: $btn-success;
                    }
                    .document_list {
                        width: 100%;
                        min-height: 300px;
                        max-height: 300px;
                        overflow: auto;
                    }
                }
            }
        }
    }
    .note_details {
        padding: 5px;
        mat-card {
            box-shadow: $box-shadow-2;
            padding-bottom: 0px;
            &:hover {
                box-shadow: $box-shadow-1;
            }
            mat-card-header {
                cursor: pointer;
            }
            mat-card-content {
                form {
                    div {
                        mat-form-field {
                            textarea {
                                line-height: 1.7;
                                color: $text-dark;

                                &:disabled {
                                    color: $text-dark;
                                }
                                &::-webkit-scrollbar {
                                    width: 7px;
                                }
                                // &::-webkit-scrollbar-thumb {
                                //     background-color: $text-gray;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
    .issues_details {
        padding: 5px;
        mat-card {
            box-shadow: $box-shadow-2;
            padding-bottom: 0px;
            &:hover {
                box-shadow: $box-shadow-1;
            }
        }
    }
}
.claimant-info {
    .empty-list {
        div {
            &:first-child {
                &::after {
                    content: "" !important;
                    display: inline-flex;
                }
            }
        }
    }
}

.action-info {
    padding: 10px 0 30px 0;
    .simple-card {
        margin-top: 30px !important;
        padding: 10px;
        width: 75%;
        margin: 0px auto;
        text-align: center;
        border: 1px solid $gray;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            background: $light-color;
            h4,
            i {
                color: $ternary;
            }
        }
        h4 {
            margin: 0px;
        }
    }
    .simple-card-one {
        @extend .simple-card;
        background-color: $light-color;
        text-align: center !important;
        &:hover {
            background: $light-color;
            h4,
            i {
                color: $btn_success;
            }
        }
        i {
            padding: 5px 0px;
            text-align: center;
            font-size: $font-size-17;
        }
        div {
            display: inline-block;
        }
    }
}
.exam-info {
    padding: 30px 0 30px 0;
    .calender_btn {
        .edit_btn {
            direction: ltr;
            vertical-align: text-top;
        }
        .calender_btn {
            direction: ltr;
            vertical-align: text-top;
        }
    }
}
.billable-item-info {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
    mat-card-content {
        .mat-check {
            padding-top: 25px;
            padding-left: 20px;
            display: block;
            @media only screen and (max-width: 568px) {
                padding-top: 0;
                padding-left: 7px;
            }
        }

        mat-form-field {
            padding: 10px 10px 0px 10px !important;
        }
    }
}
.document-info {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
    mat-form-field {
        padding: 10px 10px 0px 10px !important;
    }
    .document-file-upload {
        @media only screen and (max-width: 568px) {
            margin-bottom: 20px;
        }
        .Upload_ {
            button {
                width: 120px;
            }
            mat-form-field {
                width: calc(100% - 150px);
                @media only screen and (max-width: 568px) {
                    width: $width-100 !important;
                }
            }
        }
        div {
            .filled-gray {
                margin-top: 25px;
                @media only screen and (max-width: 568px) {
                    margin-top: 0px;
                }
            }
        }
    }
}
.notes-info {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
}
