<!-- <div class="appointment-deatils">
    <div class="status_tracker" fxLayout="row wrap">
        <div fxFlex="100" class="p-5">
            <mat-card-header>
                <div class="content-wrapper-main-title p-t-5">Billable Item category: Examination - Status </div>
            </mat-card-header>
            <mat-card-content class="">
                <div class="status">
                    <ul class="steps">
                        <li class="forms"><a href="#" title=""><i class="fa fa-calendar-week p-l-10"></i><em>Forms
                                    Status</em></a>
                        </li>
                        <li class="history"><a href="#" title=""><i class="fa fa-clipboard p-l-10"></i><em>History
                                    Status</em></a>
                        </li>
                        <li class="records"><a href="#" title=""><i class="fa fa-calendar-week p-l-10"></i><em>Records
                                    Status </em></a>
                        </li>
                        <li class="exam"><a href="#" title=""><i class="fa fa-sticky-note p-l-10"></i><em>Examination
                                    Status</em></a>
                        </li>
                        <li class="inprogress"><a href="#" title=""><i
                                    class="fa fa-exchange-alt p-l-10"></i><em>Transcription Status</em></a>
                        </li>
                        <li class="inprogress"><a href="#" title=""><i class="fa fa-notes-medical p-l-10"></i><em>Report
                                    Status</em></a>
                        </li>
                        <li class="inprogress"><a href="#" title=""><i class="fa fa-sticky-note p-l-10"></i><em>Billing
                                    Status</em></a>
                        </li>
                        <li class="inprogress"
                            style="border-top: 0;border-bottom: 0;border-right: 3px solid transparent;border-top:3px solid transparent;width: 0px !important;">
                        </li>
                    </ul>
                </div>
            </mat-card-content>
        </div>
    </div>

    <div fxLayout="row wrap" class="claim_details">
        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
            <mat-card>
                <mat-card-header>
                    <div class="content-wrapper-main-title p-t-5">Claimant</div>
                    <span class="spacer"></span>
                    <button (click)="openClaimant()" mat-icon-button>
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="p-b-20">
                    <div fxLayout="row wrap" fxFlex="100">
                        <div class="grid-list">
                            <div>Last Name</div>
                            <div>{{examinationDetails?.claimant_details?.last_name}}</div>
                        </div>
                        <div class="grid-list">
                            <div>First Name</div>
                            <div>{{examinationDetails?.claimant_details?.first_name}}</div>
                        </div>

                        <div class="grid-list">
                            <div>Middle Name</div>
                            <div>{{examinationDetails?.claimant_details?.middle_name}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Date of Birth</div>
                            <div>{{examinationDetails?.claimant_details?.date_of_birth | date:'MM-dd-yyyy'}}</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
            <mat-card>
                <mat-card-header>
                    <div class="content-wrapper-main-title p-t-5">Claim</div>
                    <span class="spacer"></span>
                    <button (click)="openClaim()" mat-icon-button>
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="p-b-20">
                    <div fxLayout="row wrap" fxFlex="100">
                        <div class="grid-list">
                            <div>Claim ID</div>
                            <div>{{examinationDetails?.claim_details?.claim_number}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Date of Injury</div>
                            <div>{{examinationDetails?.claim_injuries[0]?.date_of_injury | date:'MM-dd-yyyy'}}</div>
                        </div>

                        <div class="grid-list">
                            <div>Insurance</div>
                            <div></div>
                        </div>
                        <div class="grid-list">
                            <div>Injuries</div>
                            <div>{{examinationDetails?.claim_injuries[0]?.body_part_id}}</div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.0" fxFlex.lg="33.3" fxFlex.xl="33.3" class="p-5">
            <mat-card>
                <mat-card-header>
                    <div class="content-wrapper-main-title p-t-5">Examination</div>
                    <span class="spacer"></span>
                    <button (click)="openBillableItem()" mat-icon-button>
                        <mat-icon>fullscreen</mat-icon>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="p-b-20">
                    <div fxLayout="row wrap" fxFlex="100">
                        <div class="grid-list">
                            <div>Status</div>
                            <div>{{examinationDetails?.appointments?.status_of_appointment}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Address</div>
                            <div>
                                {{examinationDetails?.appointments?.appointment_location?.state}}
                                {{examinationDetails?.appointments?.appointment_location?.zip_code}}
                            </div>
                        </div>
                        <div class="grid-list">
                            <div>Date</div>
                            <div>
                                {{examinationDetails?.appointments?.appointment_scheduled_date_time | date:'MM-dd-yyyy'}}
                            </div>
                        </div>
                        <div class="grid-list">
                            <div>Time</div>
                            <div>{{examinationDetails?.appointments?.appointment_scheduled_date_time | date:'hh:mm a'}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="examiner_details" fxLayout="row wrap">
        <div fxFlex="100" class="p-5">
            <mat-card>
                <mat-card-header (click)="collapsed=!collapsed">
                    <div fxLayout="row wrap" fxFlex="100">
                        <div class="p-t-5 examiner">
                            <span>Examiner </span> {{examinationDetails?.examiner_name}}
                        </div>
                        <span class="spacer"></span>
                        <div class="p-r-5 p-t-5 hide-mobile" *ngIf="!collapsed">
                            <span class="speality">Specialty </span>
                            <ul class="m-t-0 p-l-0 speality-list">
                                <li class="p-t-0">{{examinationDetails?.specialty[0]?.name | ellipsis:30 }}</li>
                            </ul>
                        </div>
                        <button mat-icon-button class="float-right">
                            <mat-icon>
                                {{collapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content *ngIf="collapsed">
                    <div fxLayout="row wrap" fxFlex="50">
                        <span class="speality">Specialty </span>
                        <ul class="m-t-0 p-l-0 speality-list" *ngFor="let spec of examinationDetails?.specialty">
                            <li>{{spec?.name}} </li>
                        </ul>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="documents_section" fxLayout="row wrap">
        <div fxFlex="100" class="p-5">
            <mat-card>
                <mat-card-header (click)="docCollapsed=!docCollapsed">
                    <div class="content-wrapper-main-title p-t-5">Documents</div>
                    <span class="spacer"></span>
                    <button mat-icon-button>
                        <mat-icon>
                            {{docCollapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content *ngIf="docCollapsed">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="">
                            <mat-card-content class="m-b-0">
                                <div fxFlex="100" class="p-t-20" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30"
                                    fxFlex.xl="30">
                                    <mat-form-field class="doc_type" appearance="fill" color="primary" fxFlex="100">
                                        <mat-label>Select Document Type </mat-label>
                                        <mat-select [(ngModel)]="documentType">
                                            <mat-option *ngFor="let doc of documentList" [value]="doc.id">
                                                {{doc.document_category_name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
                                    <input type="file" #uploader hidden (change)="uploadFile($event)" id="uploadFile"
                                        accept=".pdf, .doc, .docx, .xls, .xlsx, .csv, .mp3">
                                    <button mat-stroked-button color="primary" (click)="uploader.click()"
                                        class="m-t-25 upload_btn"
                                        matTooltip="Supported file formats: .pdf, .doc, .docx, .excel, .csv, .mp3"
                                        matTooltipPosition="right">Upload <span class="fa fa-upload"></span></button>
                                </div>

                            </mat-card-content>
                        </div>

                        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="p-5">
                            <button mat-raised-button color="primary"
                                [ngClass]="{'hide-mobile': !isMobile, 'floating-btn': isMobile}" class="add-user m-t-5">
                                <mat-icon>receipt</mat-icon>View Billing
                            </button>
                            <mat-tab-group class="doc-list" (selectedTabChange)="tabChanges($event.index);">
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="p-r-5"> speaker_notes </mat-icon>
                                        <span> Forms <span
                                                class="record-count">({{documentTabData ? documentTabData[tabNames(0)]?.length || '0': '0'}})</span></span>
                                    </ng-template>

                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="p-r-5"> history </mat-icon>
                                        <span> History <span
                                                class="history-count">({{documentTabData ? documentTabData[tabNames(1)]?.length || '0': '0'}})</span></span>
                                    </ng-template>
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="p-r-5"> library_books </mat-icon>
                                        <span>Records <span
                                                class="record-count">({{documentTabData ? documentTabData[tabNames(2)]?.length || '0' : '0'}})</span></span>
                                    </ng-template>
                                </mat-tab>

                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="p-r-5"> assignment </mat-icon>
                                        <span>Reports <span
                                                class="record-count">({{documentTabData ? documentTabData[tabNames(3)]?.length || '0' : '0'}})</span></span>
                                    </ng-template>
                                </mat-tab>
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon class="p-r-5"> compare_arrows </mat-icon>
                                        <span>Transcription <span
                                                class="record-count">({{documentTabData ? documentTabData[tabNames(4)]?.length || '0' : '0'}})</span></span>
                                    </ng-template>
                                </mat-tab>
                            </mat-tab-group>


                            <div fxLayout="row wrap">
                                <div class="table-search" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.sm="100"
                                    fxFlex="100" fxFlex.xs="100">
                                    <div class="table-filter p-t-10 p-b-0 m-b-0">
                                        <input matInput (keyup)="applyFilter($event.target.value)"
                                            [(ngModel)]="filterValue" placeholder="Search by name, date">
                                        <mat-icon>search</mat-icon>
                                    </div>
                                </div>
                                <mat-form-field fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" fxFlex.sm="60" fxFlex="100"
                                    fxFlex.xs="60" class="m-t-10" appearance="fill">
                                    <mat-label>Select Form</mat-label>
                                    <mat-select [(ngModel)]="formId" placeholder="Select Form">
                                        <mat-option *ngFor="let form of forms" [value]="form.value">
                                            {{form.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20" fxFlex.sm="40" fxFlex.xs="40"
                                    fxFlex="100"> <button mat-raised-button color="warn" (click)="generateForm()"
                                        class="m-l-10 m-t-10 btn_success">Generate QME From</button></div>

                            </div>

                            <div class="basic-table document_list striped_">
                                <table mat-table [dataSource]="dataSource">

                                    <ng-container matColumnDef="doc_image">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element"> <img
                                                [src]="element?.file_name | fileType" alt="docx"></td>
                                    </ng-container>

                                    <ng-container matColumnDef="doc_name">
                                        <th mat-header-cell *matHeaderCellDef> Name</th>
                                        <td mat-cell *matCellDef="let element"> {{element.file_name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Uploaded On </th>
                                        <td mat-cell *matCellDef="let element" class="no-wrap-td  text-center">
                                            {{element.updatedAt |  date:'MM-dd-yyyy' }} <small class="p-l-10"><span
                                                    class="fa fa-clock-o"></span>
                                                {{element.updatedAt |  date:'hh:mm a' }} </small></td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                                        <td mat-cell *matCellDef="let element" class="text-center no-wrap-td">
                                            <a mat-icon-button color="primary" matTooltip="Download"
                                                matTooltipPosition="before" (click)="download(element)" target="_self">
                                                <span class="fa fa-download"></span>
                                            </a>
                                            <button mat-icon-button color="warn" matTooltip="Delete"
                                                matTooltipPosition="after" (click)="deleteDocument(element)">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                                <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
                            </div>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="note_details" fxLayout="row wrap">
        <div fxFlex="100" class="p-5">
            <mat-card>
                <mat-card-header (click)="noteCollapsed=!noteCollapsed">
                    <div class="content-wrapper-main-title p-t-5">Notes </div>
                    <span class="spacer"></span>
                    <button *ngIf="noteCollapsed && !saveButtonStatus"
                        (click)="$event.stopPropagation();saveButtonStatus = true" mat-raised-button color="primary"
                        class="m-b-5">
                        Edit
                    </button>
                    <button *ngIf="noteCollapsed && saveButtonStatus"
                        (click)="$event.stopPropagation();noteSubmit(notes)" mat-raised-button color="primary"
                        class="m-b-5">
                        Save
                    </button>
                    <button mat-icon-button>
                        <mat-icon>
                            {{noteCollapsed ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="p-b-20" *ngIf="noteCollapsed">
                    <form action="" class="m-t-20">
                        <div fxLayout="row wrap">
                            <mat-form-field fxFlex="100" appearance="outline">
                                <textarea matInput [disabled]="!saveButtonStatus" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="notes" cdkTextareaAutosize cdkAutosizeMinRows="10"
                                    cdkAutosizeMaxRows="10"></textarea>
                            </mat-form-field>
                            <div *ngIf="saveButtonStatus" class="text-center w-100 m-t-10" (click)="noteSubmit(notes)">
                                <button mat-raised-button class="m-r-10 rounded-corner btn_success">
                                    Save </button>
                                <button mat-raised-button type="button" (click)="saveButtonStatus = false" color="warn"
                                    class="rounded-corner">Cancel</button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div> -->

<div class="claimant-info" fxLayout="row wrap">
    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
        <div fxLayout="row wrap" fxFlex="100">
            <div class="grid-list">
                <div>Claimant</div>
                <div>{{examinationDetails?.claimant_name?.first_name}}
                    {{examinationDetails?.claimant_name?.middle_name}}
                    {{examinationDetails?.claimant_name?.last_name}} </div>
            </div>
            <div class="grid-list">
                <div>SSN</div>
                <div>{{examinationDetails?.ssn | mask: '999-99-9999'}}</div>
            </div>

            <div class="grid-list">
                <div>DOB</div>
                <div>{{examinationDetails?.dob | date:'MM-dd-yyyy'}}</div>
            </div>
            <div class="grid-list empty-list hide-mobile">
                <div>&nbsp;</div>
                <div></div>
            </div>
        </div>
    </div>

    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
        <div fxLayout="row wrap" fxFlex="100">
            <div class="grid-list">
                <div>Exam</div>
                <div>{{examinationDetails?.exam_type_code}} - {{examinationDetails?.exam_type_name}} </div>
            </div>
            <div class="grid-list">
                <div>Claim Number</div>
                <div>{{examinationDetails?.claim_details?.claim_number}}</div>
            </div>

            <div class="grid-list">
                <div>DOI</div>
                <div>{{examinationDetails?.doi | date:'MM-dd-yyyy'}}</div>
            </div>
            <div class="grid-list empty-list hide-mobile">
                <div>&nbsp;</div>
                <div></div>
            </div>
        </div>
    </div>

    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <div class="grid-list">
                    <div>Exam Procedure</div>
                    <div>
                        {{examinationDetails?.exam_procedure_name}}</div>
                </div>
                <div class="grid-list">
                    <div>Examiner</div>
                    <div>{{examinationDetails?.examiner_name?.first_name}}
                        {{examinationDetails?.examiner_name?.middle_name}}
                        {{examinationDetails?.examiner_name?.last_name}}</div>
                </div>

                <div class="grid-list">
                    <div>DOS</div>
                    <div>{{examinationDetails?.date_of_service  | date:'MM-dd-yyyy'}}</div>
                </div>
            </div>

            <div fxFlex="100">
                <div class="grid-list">
                    <div>Due Date</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-dashed-blue m-t-30"></div>


<div class="action-info w-100" fxLayout="row wrap p-t-0">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
        <div class="logo-caption text-left"> <span class="primary">Simple</span><span class="ternary">Service</span>™
            <span class="note p-l-10">This would be a brief description on the benefits of these services</span></div>
    </div>
    <div *ngFor="let status of procedureTypeList" fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
        <div class="simple-card" [ngClass]="{'billing-status-active bg_light': status.name === 'Billing'}"
            (click)="clickNav(status.url)">
            <i [class]="status.icon"></i>
            <div class="p-l-10 text-center">
                <h4>{{status.name}}</h4>
                <span *ngIf="progressStatus[status.progress_name]">{{progressStatus[status.progress_name]}}</span>
                <div *ngIf="!progressStatus[status.progress_name]"></div>
            </div>
        </div>
    </div>
    <!-- <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
        <div class="simple-card billing-status-active bg_light" (click)="billingNev()">
            <i class="fa fa-usd"></i>
            <div class="p-l-10 text-center">
                <h4>Billing</h4>
                <span *ngIf="progressStatus?.billing">{{progressStatus?.billing}}</span>
                <div *ngIf="!progressStatus?.billing"></div>
            </div>
        </div>
    </div> -->
</div>

<div class="border-dashed-blue m-t-20" *ngIf="isDisplayStatus.status"></div>
<mat-card class="exam-status">
    <div class="exam-info w-100" fxLayout="row wrap" *ngIf="isDisplayStatus.status">
        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="show-mobile">
            <span *ngIf="!isExamTypeChanged">
                <button *ngIf="!isExaminationStatusEdit"
                    [disabled]="disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)"
                    mat-raised-button (click)="changeEditStatus()" class="filled-gray edit_btn">Edit</button>
                <button *ngIf="isExaminationStatusEdit"
                    [disabled]="disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)"
                    type="submit" mat-raised-button (click)="examinationStatusSubmit()"
                    class="filled-success edit_btn">Save</button>
            </span>
        </div>
        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
            <form [formGroup]="examinationStatusForm">
                <div fxLayout="row wrap">
                    <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100" class="p-t-20">{{isDisplayStatus.name}}
                        Status</div>
                    <mat-form-field appearance="outline" fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-label>Choose an option</mat-label>
                        <mat-select formControlName="examination_status">
                            <mat-option *ngFor="let examination_status of examinationStatus"
                                [value]="examination_status.id">
                                {{examination_status[isDisplayStatus.isExaminar ? 'examination_status' : 'deposition_status']}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Note</mat-label>
                        <textarea formControlName="examination_notes" matInput placeholder="Note" cdkTextareaAutosize
                            cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="isExaminationStatusEdit" class="text-center w-100">
                    <button mat-stroked-button class="outline-danger" (click)="cancel()">Cancel</button>
                    <button mat-stroked-button class="m-l-10 outline-success" type="submit"
                        (click)="examinationStatusSubmit()">Save
                    </button>
                </div>
            </form>
        </div>

        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
            <span *ngIf="!isExamTypeChanged">
                <button *ngIf="!isExaminationStatusEdit" mat-raised-button (click)="changeEditStatus()"
                    class="filled-gray edit_btn hide-mobile"
                    [disabled]="disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)">Edit</button>
                <button *ngIf="isExaminationStatusEdit" mat-raised-button (click)="examinationStatusSubmit()"
                    class="filled-success edit_btn hide-mobile"
                    [disabled]="disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)">Save</button><br /><br />
            </span>
            <button mat-raised-button class="filled-gray calender_btn">View on Calendar</button>
        </div>
    </div>
</mat-card>

<div class="border-dashed-blue m-b-50"></div>

<mat-card class="billable-item-info m-b-20">
    <mat-card-header>
        <div class="sub-title p-l-10 w-100 p-t-10 p-b-10">Billable Item - Intake Call Information</div>
        <span class="spacer"></span>
        <span *ngIf="!isExamTypeChanged">
            <button class="filled-gray m-b-5"
                [disabled]="appointmentStatus || disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)"
                *ngIf="!isEditBillableItem" (click)="editBillable()" mat-raised-button>Edit</button>
            <button class="filled-success m-b-5"
                [disabled]="appointmentStatus || disableExaminationArr.includes(examinationDetails?.appointments?.examination_status)"
                *ngIf="isEditBillableItem" (click)="submitBillableItem()" mat-raised-button>Save</button>
        </span>
    </mat-card-header>
    <mat-divider> </mat-divider>
    <mat-card-content *ngIf="!isBillabbleItemLoading">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <form fxLayout="row wrap" fxFlex="100" [formGroup]="billable_item"
                (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
                    <div fxLayout="row wrap" fxFlex="100" formGroupName="exam_type">
                        <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                            fxFlex.xs="100">
                            <mat-label>Exam Procedure Type*</mat-label>
                            <mat-select formControlName="exam_procedure_type_id">
                                <mat-option *ngFor="let procuderalCode of procuderalCodes"
                                    [value]="procuderalCode.exam_procedure_type_id"
                                    (click)="procedure_type(procuderalCode)">
                                    {{procuderalCode.exam_procedure_name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Please select Exam Procedure Type</mat-error>
                        </mat-form-field>

                        <!-- <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <div fxLayout="row wrap">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Modifiers</mat-label>
                                    <mat-select formControlName="modifier_id" multiple
                                        (selectionChange)="modifyChange()">
                                        <mat-option *ngFor="let modifier of modifiers" [value]="modifier.id">
                                            {{modifier.modifier_code}} - {{modifier.modifier}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint *ngIf="billable_item.value.exam_type?.modifier_id?.includes(2)">
                                        <span *ngIf="!primary_language_spoken">Note: No language selected.
                                            Please
                                            select
                                            it from Claimant's section!</span>

                                    </mat-hint>
                                </mat-form-field>
                                <div fxFlex="100" *ngIf="billable_item.value.exam_type?.modifier_id?.includes(2)">
                                    <div class="selected_lang" *ngIf="primary_language_spoken">
                                        {{selectedLanguage?.language}}</div>
                                </div>
                            </div>

                        </div> -->
                    </div>
                    <div fxLayout="row wrap" fxFlex="100" formGroupName="appointment">
                        <!-- <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-checkbox class="mat-check m-b-20" [(ngModel)]="isChecked"
                                [disabled]="!isEditBillableItem" [ngModelOptions]="{standalone: true}"
                                (change)="psychiatric($event)" labelPosition="after">
                                Psych
                            </mat-checkbox>
                        </div> -->
                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Examiner</mat-label>
                            <mat-select formControlName="examiner_id">
                                <mat-option *ngFor="let examinar of examinarList" (click)="examinarChange(examinar)"
                                    [value]="examinar.id">
                                    {{examinar.first_name}} {{examinar.middle_name}} {{examinar.last_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" *ngIf="!isSuplimental">
                            <mat-label>Date & Time</mat-label>
                            <input matInput placeholder="MM-DD-YYYY HH:MM AM/PM" [min]="todayDate.appointment"
                                formControlName="appointment_scheduled_date_time"
                                [value]="changeDateType(billable_item?.value?.appointment?.appointment_scheduled_date_time)"
                                autocomplete="off" [owlDateTime]="appointment">
                            <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="appointment"
                                [disabled]="!isEditBillableItem">
                            </mat-datepicker-toggle>
                            <owl-date-time (afterPickerOpen)="pickerOpened('app')" [hour12Timer]="true" #appointment>
                            </owl-date-time>
                            <mat-error>Please enter valid date & time</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" *ngIf="!isSuplimental">
                            <mat-label>Duration</mat-label>
                            <input matInput placeholder="Minutes" maxlength="3" formControlName="duration"
                                autocomplete="off">
                            <span matSuffix>Minutes</span>
                            <mat-error>Please enter valid duration</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" *ngIf="!isSuplimental">
                            <mat-label>Location</mat-label>
                            <mat-select [disabled]="!isEditBillableItem" formControlName="examiner_service_location_id">
                                <mat-option *ngFor="let address of examinarAddress"
                                    (click)="changeExaminarAddress(address)" [value]="address.address_id">
                                    {{address.street1}} {{address.street2}} {{address.city}} {{address.state_name}}
                                    {{address.zip_code+(address.zip_code_plus_4 != null ? "-"+address.zip_code_plus_4 : "")}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxFlex="100" formGroupName="intake_call">
                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Intake Caller</mat-label>
                            <input matInput placeholder="Intake Caller" formControlName="caller_name"
                                autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Caller Affiliation</mat-label>
                            <mat-select formControlName="caller_affiliation">
                                <mat-option *ngFor="let caller of callerAffliation" [value]="caller.id">
                                    {{caller.agent_type_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Intake Call Date & Time</mat-label>
                            <input matInput placeholder="MM-DD-YYYY HH:MM AM/PM" [value]="changeDateType(billable_item?.value?.intake_call?.call_date)" formControlName="call_date"
                                autocomplete="off" [min]="minDate" [max]="todayDate.intake" [owlDateTime]="intake">
                            <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="intake"
                                [disabled]="!isEditBillableItem">
                            </mat-datepicker-toggle>
                            <owl-date-time (afterPickerOpen)="pickerOpened('intake')" [hour12Timer]="true" #intake>
                            </owl-date-time>
                            <mat-error>Please enter valid date & time</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Communication Type</mat-label>
                            <mat-select formControlName="call_type">
                                <mat-option *ngFor="let contactType of contactTypes" [value]="contactType.id">
                                    {{contactType.display_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Intake Call Notes</mat-label>
                            <input matInput placeholder="Intake Call Notes" formControlName="notes" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="text-center w-100 m-t-10 m-b-10 action-button" *ngIf="isEditBillableItem">
                        <button mat-stroked-button type="button" class="m-r-10 outline-danger"
                            (click)="billableCancel()">Cancel</button>
                        <button mat-stroked-button class="m-r-10 outline-success" (click)="submitBillableItem()">
                            Save </button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="document-info m-t-25">
    <mat-card-header>
        <div class="sub-title p-l-10 w-100 p-t-10 p-b-10">Documents</div>
    </mat-card-header>
    <mat-divider> </mat-divider>
    <mat-card-content>
        <div fxLayout="row wrap">
            <div fxLayout="row wrap" *ngIf="!isExamTypeChanged" fxFlex="100" class="document-file-upload w-100">
                <!-- <span *ngIf="!isExamTypeChanged"> -->
                <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                    appearance="outline" class="p-l-0">
                    <mat-label>Document Type</mat-label>
                    <mat-select [(ngModel)]="documentType" (selectionChange)="docChange($event.value)">
                        <mat-option *ngFor="let doc of documentList" [value]="doc.id">
                            {{doc.document_category_name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="errors.doc_type.isError">
                        <mat-error>
                            {{errors.doc_type.error}}
                        </mat-error>
                    </mat-hint>
                </mat-form-field>
                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="Upload_"
                    *ngIf="documentType == null || documentType != 7">
                    <button type="button" mat-stroked-button class="filled-gray" (click)="uploader.click()">Select
                        File
                        <!-- <i class="fa fa-upload p-l-5"></i> -->
                    </button>
                    <mat-form-field appearance="standard">
                        <input matInput [(ngModel)]="file" readonly placeholder="No file chosen">
                        <input type="file" #uploader hidden (change)="addFile($event)" hidden
                            accept=".pdf, .doc, .docx, .xls, .xlsx, .csv" required>
                        <mat-hint>Supported file formats: .pdf, .doc, .docx, .excel, .csv</mat-hint>
                        <mat-hint *ngIf="errors.file.isError">
                            <mat-error>{{errors.file.error}}</mat-error>
                        </mat-hint>
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="Upload_"
                    *ngIf="documentType == 7">
                    <button mat-raised-button class="filled-gray" (click)="uploader.click()">Select File</button>
                    <mat-form-field appearance="standard" class="p-l-10 w-100">
                        <input matInput value="{{file | ellipsis:30}}" readonly placeholder="No file chosen">
                        <input type="file" #uploader hidden (change)="addFile($event)" multiple
                            accept=".mp3, .wav, .m4a, .wma, .dss, .ds2, .dct" required>
                        <mat-hint>Supported file formats: .mp3, .wav, .m4a, .wma, .dss, .ds2, .dct</mat-hint>
                        <mat-hint *ngIf="errors.file.isError">
                            <mat-error>{{errors.file.error}}</mat-error>
                        </mat-hint>
                    </mat-form-field>
                </div>


                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <button mat-stroked-button type="button" (click)="uploadFile()"
                        class="filled-gray p-r-20 m-t-20">Add
                    </button>
                </div>
                <!-- </span> -->
            </div>
            <div fxLayout="row wrap" *ngIf="isExamTypeChanged" fxFlex="100" class="document-file-upload w-100">
                <span class="error">Exam type was changed in claim Unable to upload documents in this section</span>
            </div>
            <div *ngIf="!isExamTypeChanged" fxLayout="row wrap" fxFlex="100" class="m-t-20">
                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                </div>

                <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30"
                    appearance="outline" class="generate-doc">
                    <mat-label>Generate Document</mat-label>
                    <mat-select [(ngModel)]="formId" placeholder="Select Form">
                        <mat-option *ngFor="let form of forms" [value]="form.value">
                            {{form.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <button mat-stroked-button type="button" (click)="generateForm()"
                        class="filled-gray p-r-20 m-t-20">Generate
                    </button>
                </div>
            </div>
            <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
                <mat-tab-group fxFlex="100" (selectedTabChange)="tabChanges($event.index);">
                    <mat-tab label="Correspondence"></mat-tab>
                    <mat-tab label="History"> </mat-tab>
                    <mat-tab label="Records"> </mat-tab>
                    <mat-tab label="Examination"></mat-tab>
                    <mat-tab label="Transcription"></mat-tab>
                    <mat-tab label="Report"></mat-tab>
                </mat-tab-group>
                <div class="table-filter">
                    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterValue"
                        placeholder="Search by file name, date" autocomplete="off">
                    <mat-icon>search</mat-icon>
                </div>
                <!-- <div class="striped_ user-details w-100 vertical-fixed">
                    <table mat-table [dataSource]="documentsData" class="mat-elevation-z8 user-table" matSort>
                        <ng-container matColumnDef="doc_image">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let element" class="file_type_icon"> <img
                                    [src]="element?.file_name | fileType" alt=""></td>
                        </ng-container>
                        <ng-container matColumnDef="file_name">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef> File Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                        </ng-container>


                        <ng-container matColumnDef="updatedAt">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'MM-dd-yyyy hh:mm a'}}
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class=""> Action </th>
                            <td mat-cell *matCellDef="let element" class="">
                                <a target="_self" class="text-success" (click)="download(element)">Download</a>
                                <a class="text-danger m-l-10" *ngIf="!element?.isServiceRequested"
                                    (click)="deleteDocument(element)">Remove</a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForDocuments; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForDocuments;"></tr>
                    </table>
                    <app-nodata *ngIf="documentsData?.filteredData?.length == 0"></app-nodata>

                </div> -->
                <div class="user-detail  vertical-fixed">
                    <table mat-table [dataSource]="documentsData" multiTemplateDataRows
                        class="mat-elevation-z8 user-table" matSort>
                        <ng-container matColumnDef="{{column}}"
                            *ngFor="let column of displayedColumnsForDocuments; let i=index">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                [disabled]="columnName[i] == 'Action'">
                                {{columnName[i]}} </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="i == 0 && isMobile">
                                    <mat-icon mat-raised-button
                                        [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                        {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                                    </mat-icon>
                                </span>
                                <div>
                                    <span *ngIf="column == 'doc_image'" class="file_type_icon"><img
                                            [src]="element?.file_name | fileType" alt=""></span>
                                    <span *ngIf="column == 'file_name'"> {{element.file_name}} </span>
                                    <span
                                        *ngIf="column == 'updatedAt'">{{element.updatedAt | date:'MM-dd-yyyy hh:mm a'}}</span>
                                    <span *ngIf="column == 'action'" class="text-center">
                                        <a target="_self" class="text-success" (click)="download(element)">Download</a>
                                        <a class="text-danger m-l-10"
                                            *ngIf="!element?.isServiceRequested && !isExamTypeChanged"
                                            (click)="deleteDocument(element)">Remove</a>
                                    </span>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsForDocuments.length">
                                <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                                    <div class="responsive-table">
                                        <div><span>Uploaded on</span><span>
                                                {{element.updatedAt | date:'MM-dd-yyyy hh:mm a'}} </span></div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForDocuments; sticky: true"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumnsForDocuments;" class="row"
                            [class.row]="expandedElement === element" (click)="openElement(element)">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                    </table>
                    <app-nodata *ngIf="documentsData?.filteredData?.length == 0"></app-nodata>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="notes-info m-t-25">
    <mat-card-header>
        <div class="sub-title p-l-10 w-100 p-t-10 p-b-10">Notes</div>
        <span class="spacer"></span>
        <button class="filled-gray m-b-5" *ngIf="!isNotesEdit" (click)="notesEdit()" mat-raised-button>Edit</button>
        <button class="filled-success m-b-5" *ngIf="isNotesEdit" (click)="noteSubmit()" mat-raised-button>Save</button>
    </mat-card-header>
    <mat-divider> </mat-divider>
    <mat-card-content>
        <form [formGroup]="notesForm">
            <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
                <mat-form-field appearance="outline" fxFlex="100">
                    <textarea matInput formControlName="exam_notes" placeholder="Notes" cdkTextareaAutosize
                        cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
                <div class="text-center w-100 m-t-10 m-b-10 action-button" *ngIf="isNotesEdit">
                    <button mat-stroked-button type="button" class="m-r-10 outline-danger"
                        (click)="noteCancel()">Cancel</button>
                    <button mat-stroked-button class="m-r-10 outline-success" (click)="noteSubmit()">
                        Save </button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>