<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="row wrap">
                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="exam-dashboard">
                        <mat-card (click)="openLink('upcomming')">
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Upcoming Appointments</div>
                                <span class="spacer"></span>
                                <mat-icon>fullscreen
                                </mat-icon>
                            </mat-card-header>
                            <mat-card-content>
                                <div fxLayout="row wrap" class="flex_">
                                    <div class="heading-one separation" fxFlex="50" fxFlex.xs="100">
                                        Within the next 10 days
                                        <span
                                            class="text-primary">{{dashboardData?.upcoming_appointments?.next_10days_count}}</span>
                                    </div>
                                    <div class="heading-one" fxFlex="50" fxFlex.xs="100" >
                                        Total
                                        <span>{{dashboardData?.upcoming_appointments?.total}}</span>
                                    </div>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100">
                    <div class="exam-dashboard">
                        <mat-card (click)="openLink('billing')">
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Billing</div>
                                <span class="spacer"></span>
                                <mat-icon>fullscreen
                                </mat-icon>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="heading-one flex_">
                                    Pending Payment
                                    <span class="text-success">${{dashboardData?.billing?.pending_payment}}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100">
                    <div class="exam-dashboard">
                        <mat-card (click)="openLink('item')">
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Items Awaiting Reports</div>
                                <span class="spacer"></span>
                                <mat-icon>fullscreen
                                </mat-icon>
                            </mat-card-header>
                            <mat-card-content>
                                <div fxLayout="row wrap" class="flex_">
                                    <div class="heading-one separation" fxFlex="50" fxFlex.xs="100">
                                        Within the next 10 days
                                        <span
                                            class="text-primary">{{dashboardData?.items_awaiting_reports?.next_10days_count}}</span>
                                    </div>
                                    <div class="heading-one" fxFlex="50" fxFlex.xs="100">
                                        Total
                                        <span>{{dashboardData?.items_awaiting_reports?.total}}</span>
                                    </div>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <!-- <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="m-t-10">
                    <div class="exam-dashboard">
                        <mat-card>
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Items Awaiting Report / Dictation</div>
                                <span class="spacer"></span>
                                <mat-icon [routerLink]="['/subscriber/examiner/billable-item-awaiting']">fullscreen
                                </mat-icon>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="heading-one">
                                    Total
                                    <span>{{dashboardData?.items_awaiting_reports?.total}}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>


                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="m-t-10">
                    <div class="exam-dashboard">
                        <mat-card>
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Reports Awaiting Approval</div>
                                <span class="spacer"></span>
                                <mat-icon>fullscreen</mat-icon>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="heading-one">
                                    Total
                                    <span>{{dashboardData?.reports_awaiting_approval?.total}}</span>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div> -->
            </div>
        </div>
        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="row wrap">
                <div fxFlex="100">
                    <div class="exam-dashboard-calender">
                        <mat-card>
                            <mat-card-header>
                                <div class="content-wrapper-main-title">Calendar</div>
                                <span class="spacer"></span>
                                <mat-icon [routerLink]="['/subscriber/examiner/appointments']">fullscreen
                                </mat-icon>
                            </mat-card-header>
                            <mat-card-content style="padding: 0px 5px 10px 5px;">
                                <app-examination-calander-view [CalendarView]="true">
                                </app-examination-calander-view>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>