<span *ngIf="!isLoading">
    <app-claim-admin *ngIf="type == 'Insurance Company'" [state]="states" [fromPop]="true" [claim_admin]="userData">
    </app-claim-admin>
    <app-application-attorney *ngIf="type == 'Applicant Attorney'" [fromPop]="true" [aattorney]="userData"
        [state]="states">
    </app-application-attorney>
    <app-defense-attorney *ngIf="type == 'Defense Attorney'" [fromPop]="true" [state]="states" [dattroney]="userData">
    </app-defense-attorney>
    <app-deo *ngIf="type == 'DEU Office'" [fromPop]="true" [deu]="userData" [state]="states"></app-deo>
    <app-employer *ngIf="type == 'Employer'" [fromPop]="true" [employer]="userData" [state]="states"></app-employer>
    <!-- <app-new-claimant *ngIf="type == 'Claimant'" [fromPop]="true" [claimantId]="userData.id"></app-new-claimant> -->
    <div *ngIf="type == 'Claimant'" class="dialog fixed-dialog custom-dialog">
        <mat-card-header class="model-header">
            <div class="content-wrapper-main-title">Claimant</div>
            <span class="spacer"></span>
            <button class="close-model" color="warn" (click)="onNoClick()"> <i class="fa fa-close"></i> close </button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div fxLayout="row wrap" class="scroll_ m-t-10">
                <form fxLayout="row wrap" fxFlex="100" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
                    [formGroup]="claimantForm">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Claimant Name</mat-label>
                        <input matInput placeholder="Claimant Name" formControlName="name" autocomplete="off">
                        <!-- <mat-error>error message here</mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Street Address 1*</mat-label>
                        <input matInput placeholder="Street Address 1" formControlName="street1" autocomplete="off">
                        <mat-error>Please enter valid street address 1</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Street Address 2</mat-label>
                        <input matInput placeholder="Street Address 2" formControlName="street2" autocomplete="off">
                        <!-- <mat-error>error message here</mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>City*</mat-label>
                        <input matInput placeholder="City" formControlName="city" autocomplete="off">
                        <mat-error>Please enter valid city</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>State*</mat-label>
                        <mat-select formControlName="state" (selectionChange)="changeState($event.value)">
                            <mat-select-trigger>
                                {{corresState?.state_code}}
                            </mat-select-trigger>
                            <mat-option *ngFor="let state of states" [value]="state.id">{{state.state_code}} -
                                {{state.state}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Please enter valid state</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.lg="50" fxFlex.xl="" fxFlex.md="50"
                        fxFlex.sm="50" fxFlex.xs="100">
                        <mat-label>Zip Code*</mat-label>
                        <input matInput placeholder="Zip Code" mask="9{10}" [dropSpecialCharacters]="false"
                            formControlName="zip_code" autocomplete="off">
                        <mat-error>Please enter valid zip code</mat-error>
                    </mat-form-field>

                    <div fxFlex="100" class="m-t-20 text-center">
                        <button mat-stroked-button type="button" (click)="onNoClick()"
                            class="outline-danger">Cancel</button>
                        <button mat-stroked-button type="submit" class="outline-success text-center m-l-10"
                            (click)="saveClaimant()">Save</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </div>
</span>