<div class="billable-item-status">
  <div fxLayout="row wrap" class="ondemand-status">
    <div fxFlex="100">
      <div class="main-title">Correspondence Mail On Demand Status</div>
      <p class="description">View the Correspondence Mail On Demand’s progress here, from beginning to end.</p>
      <mat-progress-bar mode="determinate" value="50" class="not-sent"></mat-progress-bar>
      <div class="text-center">Not Sent</div>
    </div>
  </div>

  <div fxLayout="row wrap" class="p-t-25">
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
      <div class="main-title">Correspondence Mail On Demand Status</div>
      <p class="description">Use the checkboxes to select the documents you wish to perform actions
        <br />&nbsp;</p>
      <div class="basic-table striped_  m-l-10">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 user-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
              <mat-icon [matMenuTriggerFor]="mailondemand" id="dropdown-list">arrow_drop_down</mat-icon>
              <mat-menu #mailondemand="matMenu">
                <button mat-menu-item>
                  <span>All</span>
                </button>
                <button mat-menu-item>
                  <span>None</span>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let row" class="width-fixed">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
      <div class="main-title">Recipients</div>
      <p class="description">Select the parties who will receive the documents through the Mail On
        Demand Service. This selection only applies to the Mail On Demand service.</p>
      <div class="basic-table striped_  m-l-10">
        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8 w-100 user-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="width-fixed">
              <mat-checkbox (change)="$event ? masterToggle1() : null"
                [checked]="selection1.hasValue() && isAllSelected1()"
                [indeterminate]="selection1.hasValue() && !isAllSelected1()" [aria-label]="checkboxLabel1()">
              </mat-checkbox>
              <mat-icon [matMenuTriggerFor]="recipients" id="dropdown-list">arrow_drop_down</mat-icon>
              <mat-menu #recipients="matMenu">
                <button mat-menu-item>
                  <span>All</span>
                </button>
                <button mat-menu-item>
                  <span>None</span>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
                [checked]="selection1.isSelected(row)" [aria-label]="checkboxLabel1(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="selection1.toggle(row)">
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="border-dashed-blue m-t-30 m-b-30"></div>
  <div fxLayout="row wrap">
    <div fxFlex="50">
      <button mat-stroked-button class="outline-success">
        Mail On Demand
      </button>
    </div>
    <div fxFlex="50">
      <button mat-stroked-button class="outline-warning float-right">
        Download
      </button>
    </div>
  </div>

  <div class="border-dashed-blue m-t-30 m-b-30"></div>


  <div fxLayout="row wrap" class="send-document">
    <div fxFlex="100">
      <div class="main-title">Documents Sent</div>
      <p class="description">This table lists the documents, actions that were performed on the documents, the
        date<br />
        that the actions were performed and the document recipients.</p>
      <div class="user-detail">
        <table mat-table [dataSource]="dataSource2" multiTemplateDataRows class="mat-elevation-z8 user-table" matSort>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">
              {{columnName[i]}} </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="i == 0 && isMobile">
                <mat-icon mat-raised-button
                  [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                  {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                </mat-icon>
              </span>
              <div>
                <span *ngIf="column == 'file_name'">{{element?.file_name}}</span>
                <span *ngIf="column == 'action'" class="no-wrap-td">{{element?.action}}</span>
                <span *ngIf="column == 'date'" class="no-wrap-td">{{element?.date}}</span>
                <span *ngIf="column == 'recipients'">{{element?.recipients}}</span>
                <span *ngIf="column == 'download'">
                  <a class="text-success">Download</a>
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                <div class="resposive-table">
                  <div><span>File Name</span> {{element?.file_name}} </div>
                  <div class="no-wrap-td"><span>Action</span> {{element?.action}} </div>
                  <div class="no-wrap-td"><span>Date</span> {{element?.date}} </div>
                  <div><span>Recipients</span> {{element?.recipients}} </div>
                  <div><span>Download</span>
                    <a class="text-success">Download</a>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
            [class.row]="expandedElement === element" (click)="openElement(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>
    </div>
  </div>

  <div fxLayout="row wrap" class="proof-of-service m-t-50">
    <div fxFlex="100">
      <div class="main-title">Proof of Service</div>
      <p class="description">This table lists the proof of service documents that were created and sent back when the
        documents were printed and mailed.</p>
      <div class="user-detail">
        <table mat-table [dataSource]="dataSource2" multiTemplateDataRows class="mat-elevation-z8 user-table" matSort>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">
              {{columnName[i]}} </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="i == 0 && isMobile">
                <mat-icon mat-raised-button
                  [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                  {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                </mat-icon>
              </span>
              <div>
                <span *ngIf="column == 'file_name'">{{element?.file_name}}</span>
                <span *ngIf="column == 'action'" class="no-wrap-td">{{element?.action}}</span>
                <span *ngIf="column == 'date'" class="no-wrap-td">{{element?.date}}</span>
                <span *ngIf="column == 'recipients'">{{element?.recipients}}</span>
                <span *ngIf="column == 'download'">
                  <a class="text-success">Download</a>
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                <div class="resposive-table">
                  <div><span>File Name</span> {{element?.file_name}} </div>
                  <div class="no-wrap-td"><span>Action</span> {{element?.action}} </div>
                  <div class="no-wrap-td"><span>Date</span> {{element?.date}} </div>
                  <div><span>Recipients</span> {{element?.recipients}} </div>
                  <div><span>Download</span>
                    <a class="text-success">Download</a>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
            [class.row]="expandedElement === element" (click)="openElement(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
      </div>
    </div>
  </div>
</div>