@import "variables";
@import "table";

.not-sent ::ng-deep .mat-progress-bar-fill::after {
    background-color: $progres-light-gray;
}
.sent ::ng-deep .mat-progress-bar-fill::after {
    background-color: $warning-light;
}
.complete ::ng-deep .mat-progress-bar-fill::after {
    background-color: $btn_success;
}

::ng-deep .mat-progress-bar-buffer {
    background: $progres-light-gray;
}

.billable-item-status {
    .basic-table.vertical-fixed {
        min-height: 340px;
        height: 340px;
        overflow: auto;
        // table {
        //     min-height: 340px;
        // }
        .default-select {
            float: right;
            color: $ternary;
            font-weight: $font-weight-bold;
        }
        .custom-list {
            display: flex;
            float: right;
        }
    }
}

th {
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-color: $white;
    }
    #dropdown-list {
        vertical-align: middle;
        margin-top: 10px;
        line-height: 0.5;
        padding: 0 0 0 5px;
    }
}
.ondemand-status {
    padding: 10px 0px;
}
.float-right {
    float: right;
}
.address-not-found {
    @extend .float-right
}
.width-fixed {
    width: 25px !important;
    padding-right: 0px !important;
}
.action-btns {
    button {
        @media only screen and (max-width: 568px) {
            text-align: center !important;
            margin: 10px;
        }
    }
}


.info-alert {
    color: $info;
    background-color:$info-bg;
    border: 1px solid $info-border;
    font-size: $font-size-1;
    padding: 3px 8px;
    // font-style: italic;
    border-radius: 2px;
    width: auto;
    float: right;
    i {
        padding-right: 10px;
    }
}