@import "variables";
@import "table";


.billable-item-status {
    .recipient {
        padding-left: 20px;
        @media only screen and (max-width: 568px) {
            padding-left: 0px;
        }
        @media screen and (max-width: 1024px) and (min-width: 768px) {
            padding-top: 25px !important;
            padding-left: 0px;
        }
        .main-title {
            @media only screen and (max-width: 568px) {
                margin-top: 20px;
            }
        }
    }
    .basic-table.vertical-fixed {
        min-height: 290px;
        height: 290px;
        overflow: auto;
        .default-select {
            float: right;
            color: $ternary;
            font-weight: $font-weight-bold;
        }
        .custom-list {
            display: flex;
            float: right;
        }
    }
}

th {
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-color: $white;
    }
    #dropdown-list {
        vertical-align: middle;
        margin-top: 10px;
        line-height: 0.5;
        padding: 0 0 0 5px;
    }
}

.error-alert {
    background-color: $error-bg;
    border: 1px solid $error-border;
    color: $error;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 3px;
}
.float-right {
    float: right;
}
.width-fixed {
    width: 25px !important;
    padding-right: 0px !important;
}
.action-btns {
    button {
        @media only screen and (max-width: 568px) {
            text-align: center !important;
            margin: 10px auto;
            float: none;
            display: block;
        }
    }
}

.info-alert-a {
    color: $info;
    font-size: $font-size-1;
    padding: 3px 8px;
    border-radius: 2px;
    width: auto;
    float: right;

    @media only screen and (max-width: 568px) {
        float: left;
        margin: 5px 0;
        width: -webkit-fill-available;
        border-radius: 4px;
    }
    i {
        margin-right: 10px;
    }
}
.border-dashed-blue {
    @media only screen and (min-width: 1600px) and (max-width: 2560px) {
        margin-top: 15px !important;
    }
    @media only screen and (min-width: 320px) and (max-width: 560px) {
        margin-top: 5px !important;
    }
}

.white-btn {
    background-color: $ternary !important;
    color: $white;
    border: 1px solid $ternary;
}
