@import "variables";
::ng-deep .mat-progress-bar-fill::after {
    background-color: $gray;
}

::ng-deep .mat-progress-bar-buffer {
    background: $light-color;
}

.main-title {
    font-size: $font-size-10 !important;
    font-weight: $font-weight-medium;
    color: $black;
    padding-left: 10px;
}
.description {
    margin-top: 5px;
    padding-left: 10px;
}
.ondemand-status {
    padding: 10px 0px;
    mat-progress-bar {
        height: 20px;
        color: $light-color;
        padding-left: 10px;
    }
}
.float-right {
    float: right;
}

@import "table";
mat-card {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
}
.user-detail {
    min-height: auto !important;
}
th {
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-color: $white;
    }
}
