<div class="billable-item-status">
  <div fxLayout="row wrap" class="ondemand-status p-t-20">
    <div fxFlex="100">
      <div class="main-title">Mail On Demand</div>
      <p class="description">View the progress of Correspondence Mail On Demand service here.</p>
      <mat-progress-bar mode="determinate" value="{{statusBarValues?.value}}" [ngClass]="statusBarValues?.class">
      </mat-progress-bar>
      <div class="text-center">{{correspondData?.on_demand_status}}</div>
    </div>
  </div>

  <!-- ===== incomplete information ====
  <div fxLayout="row wrap" class="p-t-10" *ngIf="is_appointment_incomplete">
    <div fxFlex="100">
      <div class="error-alert m-b-10 m-t-10">
        <i class="fa fa-info-circle p-r-5"></i>{{error_message}} </div>
    </div>
  </div> -->

  <div fxLayout="row wrap" class="p-t-25" *ngIf="!isLoading">
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
          <div class="main-title">Documents <span class="info ondemand-info m-l-10"
              matTooltip="Documents which are labelled with the blue checkmark are required to be sent within 5 days of confirming the examination appointment date. Add Custom Mail On Demand Documents using the button at the top."
              matTooltipPosition="above"> <i class="fa fa-info" aria-hidden="true"></i></span></div>
          <p class="description m-b-3 m-r-10">Use the checkboxes to select the documents to be mailed.</p>
        </div>
        <!-- <div fxFlex="50" fxFlex.sm="100"  fxFlex.xs="100">
          <button mat-stroked-button class="outline-success float-right  m-t-30 m-b-5" (click)="openDialog()">
            <i class="fa fa-file-medical p-r-10"></i> Add Custom Document
          </button>
        </div> -->

      </div>
      <div class="basic-table striped_ vertical-fixed footer-fixed custom-documents">
        <table mat-table [dataSource]="documents" class="mat-elevation-z8 w-100 user-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
              <mat-icon [matMenuTriggerFor]="mailondemand" id="dropdown-list">arrow_drop_down</mat-icon>
              <mat-menu #mailondemand="matMenu">
                <button mat-menu-item (click)="allOrNone(true)">
                  <span>All</span>
                </button>
                <button mat-menu-item (click)="allOrNone(false)">
                  <span>None</span>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let row" class="width-fixed">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="form_name">
            <th mat-header-cell *matHeaderCellDef>
              <button *ngIf="!(correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled)"
                mat-stroked-button class="outline-success white-btn float-right m-t-5 m-b-5" (click)="openDialog()">
                <i class="fa fa-file-medical p-r-10"></i> Add Custom Document
              </button>
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">{{element.form_name}}
              <span class="default-select" *ngIf="element?.is_mandatory">
                <img [src]="default_select" alt="Default select">
              </span>
              <span class="custom-list" *ngIf="element.doc_type == 'custom'">
                <!-- <a  class="text-success" >Edit</a> -->
                <a class="text-danger m-l-10"
                  *ngIf="!(correspondData?.is_exam_type_changed ||correspondData?.isExaminerDisabled ) && !element?.isServiceRequested"
                  (click)="$event.stopPropagation();removeCustomDocument(element)">Remove</a>
              </span>
            </td>
          </ng-container>
          <!-- custom column -->
          <!-- <ng-container matColumnDef="custom">
            <td mat-footer-cell *matFooterCellDef colspan="2" class="text-center" (click)="openDialog()">
              <b class="add-custom"><i class="fa fa-file-medical p-r-10"></i> Add Custom Document</b>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          <!-- <tr mat-footer-row *matFooterRowDef="['custom']; sticky: true"></tr> -->
        </table>
        <app-nodata *ngIf="documents?.filteredData?.length == 0"></app-nodata>
      </div>
    </div>
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="recipient">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
          <div class="main-title">Recipients <span class="info ondemand-info" matTooltip="The selected parties will receive the documents through the Mail On
            Demand Service. Enter the name and address of custom recipients using the button at the top."
              matTooltipPosition="above"> <i class="fa fa-info" aria-hidden="true"></i></span></div>
          <p class="description m-b-3 m-r-10">Use the checkboxes to select the recipients of mailed documents.</p>
        </div>
        <!-- <div fxFlex="50" fxFlex.sm="100"  fxFlex.xs="100">
          <button mat-stroked-button class="outline-success float-right m-t-30 m-b-5" (click)="openCustomRecipient()">
            <i class="fa fa-user-plus p-r-10"></i> Add Custom Recipient
          </button>
        </div> -->
      </div>
      <div class="basic-table striped_ vertical-fixed footer-fixed">
        <table mat-table [dataSource]="recipients" class="mat-elevation-z8 w-100 user-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle1() : null"
                [checked]="selection1.hasValue() && isAllSelected1()"
                [indeterminate]="selection1.hasValue() && !isAllSelected1()" [aria-label]="checkboxLabel1()">
              </mat-checkbox>
              <mat-icon [matMenuTriggerFor]="recipients" id="dropdown-list">arrow_drop_down</mat-icon>
              <mat-menu #recipients="matMenu">
                <button mat-menu-item (click)="allOrNone1(true)">
                  <span>All</span>
                </button>
                <button mat-menu-item (click)="allOrNone1(false)">
                  <span>None</span>
                </button>
              </mat-menu>
            </th>
            <td mat-cell *matCellDef="let row" class="width-fixed">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection1.toggle(row) : null"
                [checked]="selection1.isSelected(row)" [aria-label]="checkboxLabel1(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="recipient_type">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-stroked-button class="outline-success white-btn float-right m-t-5  m-b-5"
                (click)="openCustomRecipient()"
                *ngIf="!(correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled)">
                <i class="fa fa-user-plus p-r-10"></i> Add Custom Recipient
              </button>
            </th>
            <td mat-cell *matCellDef="let element">{{element.type != 'custom' ? element.recipient_type : element.name}}
              <div class="info-alert-a" (click)="$event.stopPropagation();openAddAddress(element)"
                *ngIf="element?.message">
                <span *ngIf="!correspondData?.is_exam_type_changed && !correspondData?.isExaminerDisabled"><i
                    class="fas fa-info-circle"></i>Address
                  incomplete</span>
              </div>

              <span class="custom-list" *ngIf="element.type == 'custom'">
                <a class="text-success"
                  *ngIf="!correspondData?.is_exam_type_changed && !correspondData?.isExaminerDisabled"
                  (click)="$event.stopPropagation();editRecipient(element)">Edit</a>
                <a class="text-danger m-l-10"
                  *ngIf="!(correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled)"
                  (click)="$event.stopPropagation();deleteRecipient(element)">Remove</a>
              </span>
            </td>
          </ng-container>
          <!-- custom_recipient column -->
          <!-- <ng-container matColumnDef="custom_recipient">
            <td mat-footer-cell *matFooterCellDef colspan="2" class="text-center" (click)="openCustomRecipient()">
              <b class="add-custom"><i class="fa fa-user-plus p-r-10"></i> Add Custom Recipient</b>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;" (click)="selection1.toggle(row)"></tr>
          <!-- <tr mat-footer-row *matFooterRowDef="['custom_recipient']; sticky: true"></tr> -->
        </table>
        <app-nodata *ngIf="recipients?.filteredData?.length == 0"></app-nodata>
      </div>
    </div>
  </div>

  <div class="border-dashed-blue m-t-30 m-b-30"></div>

  <div fxLayout="row wrap" class="action-btns">
    <div fxFlex="33.3" fxFlex.sm="33,3" fxFlex.xs="100">
      <button [disabled]="correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled" mat-stroked-button
        class="outline-success huge-btn" (click)="onDemandSubmit()">
        Mail On Demand
      </button>
    </div>

    <div fxFlex="33.3" fxFlex.sm="33,3" fxFlex.xs="100" class="text-center">
      <button (click)="downloadForms(false)" mat-stroked-button class="outline-light_green huge-btn"
        [disabled]="correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled">
        E-Sign and Download
      </button>
    </div>
    <div fxFlex="33.3" fxFlex.sm="33,3" fxFlex.xs="100">
      <button (click)="downloadForms(true)" mat-stroked-button class="outline-warning float-right huge-btn"
        [disabled]="correspondData?.is_exam_type_changed || correspondData?.isExaminerDisabled">
        Download
      </button>
    </div>
  </div>

  <div class="border-dashed-blue m-t-30 m-b-30"></div>


  <div fxLayout="row wrap" class="send-document">
    <div fxFlex="100">
      <div class="main-title">Documents Sent <span class="info ondemand-info"
          matTooltip="This table lists the documents, actions that were performed on the documents, the date that the actions were performed and the document recipients."
          matTooltipPosition="above"> <i class="fa fa-info" aria-hidden="true"></i></span></div>
      <p class="description">Monitor the actions performed on this page.</p>
      <div class="user-detail vertical-fixed default-cursor fixed-column">
        <table mat-table [dataSource]="sentDocuments" multiTemplateDataRows class="mat-elevation-z8 user-table">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
            <th mat-header-cell *matHeaderCellDef>{{columnName[i]}}</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="i == 0 && isMobile">
                <mat-icon mat-raised-button
                  [ngClass]="{'table-expand': expandId == element.document_id, 'expand-close': !(expandId == element.document_id)}">
                  {{ expandId == element.document_id ? 'remove_circle' : 'add_circle'}}
                </mat-icon>
              </span>
              <div>
                <!-- <span *ngIf="column == 'doc_image'" class="file_type_icon">
                  <mat-icon *ngIf="element?.file_processing_status == 'FAIL'" class="text-danger">error</mat-icon>
                </span> -->
                <span *ngIf="column == 'request_reference_id'" class="no-wrap-td">{{element?.request_reference_id}}</span>
                <span *ngIf="column == 'file_name'">{{element?.file_name}}</span>
                <span *ngIf="column == 'action'" class="no-wrap-td" [ngSwitch]="element.action"><span
                    *ngSwitchCase="'MD'">Downloaded</span>
                  <span *ngSwitchCase="'MES'">E-Sign Downloaded</span>
                  <span *ngSwitchCase="'SFTP'">Mailed On Demand</span></span>
                <span *ngIf="column == 'date'" class="no-wrap-td">{{element?.date_of_request |
                  date:'MM-dd-yyyy'}}</span>
                <span *ngIf="column == 'recipients'"><span
                    *ngFor="let rec of element?.recipients;let last = last;">{{rec?.name}}{{!last ? ', ' :
                    ''}}</span></span>
                <span *ngIf="column == 'download' && element?.send">
                  <a class="text-success" (click)="inOutdownload(element?.send, element)">Download</a>
                </span>
                <span *ngIf="column == 'download1' && element?.proof_of_service_file_name">
                  <a class="text-success"
                    (click)="inOutdownload({file_url: element?.proof_of_service_file_url,file_name: element?.proof_of_service_file_name}, element)">Download</a>
                </span>
                <span *ngIf="column == 'further_info'">{{element?.file_processing_message}}</span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="detail" [@detailExpand]="expandId == element.document_id ? 'expanded' : 'collapsed'">
                <div class="responsive-table">
                  <ng-container matColumnDef="doc_image">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" class="file_type_icon"><img [src]="element?.file_name | fileType"
                alt=""></td>
          </ng-container>

          <!-- <div><span></span> <img [src]="element?.file_name | fileType" alt="docx"> </div> -->
          <!-- <div><span>File Name</span><span> {{element?.file_name}} </span></div> -->
           <div class="no-wrap-td"><span>Ref #</span><span> {{element?.request_reference_id}} </span></div>
          <div class="no-wrap-td"><span>Action</span>
            <span [ngSwitch]="element.action">
              <p *ngSwitchCase="'MD'" class="m-b-0">Downloaded</p>
              <p *ngSwitchCase="'MES'" class="m-b-0">E-Sign Downloaded</p>
              <p *ngSwitchCase="'SFTP'" class="m-b-0">Mailed On Demand</p>
            </span>
          </div>
          <div class="no-wrap-td"><span>Date</span><span>{{element?.date_of_request | date:'MM-dd-yyyy'}}</span></div>
          <div><span>Recipients</span><span>
              <p *ngFor="let rec of element?.recipients;let last = last;">{{rec?.name}}{{!last ? ', ' : ''}}</p>
            </span></div>
          <div><span>Download Generated Items</span><span *ngIf="element?.send">
              <a class="text-success" (click)="inOutdownload(element?.send, element, 'download')">Download</a>
            </span></div>
          <div><span>Download On Demand Proof of Service</span><span *ngIf="element?.received">
              <a class="text-success" (click)="inOutdownload(element?.received, element, 'pos')">Download</a>
            </span></div>
          <div><span>Further Information</span><span>{{element?.file_processing_message}}</span></div>
      </div>
    </div>
    </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
      [class.row]="expandedElement === element" (click)="openElement(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <app-nodata *ngIf="sentDocuments?.filteredData?.length == 0"></app-nodata>
  </div>
</div>
</div>

<!-- <div fxLayout="row wrap" class="proof-of-service m-t-50">
    <div fxFlex="100">
      <div class="main-title">Proof of Service <span class="info ondemand-info m-l-10"
          matTooltip="This table lists the proof of service documents that were created and sent back when the documents were printed and mailed."
          matTooltipPosition="above"> <i class="fa fa-info" aria-hidden="true"></i></span></div>
      <p class="description">Documents created and sent back by Mail On Demand service.</p>
      <div class="user-detail vertical-fixed">
        <table mat-table [dataSource]="dataSource3" multiTemplateDataRows class="mat-elevation-z8 user-table" matSort>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay1; let i=index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName1[i] == 'Action'">
              {{columnName1[i]}} </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="i == 0 && isMobile">
                <mat-icon mat-raised-button
                  [ngClass]="{'table-expand': expandId1 == element.id, 'expand-close': !(expandId1 == element.id)}">
                  {{ expandId1 == element.id ? 'remove_circle' : 'add_circle'}}
                </mat-icon>
              </span>
              <div>
                <span *ngIf="column == 'file_name'">{{element?.file_name}}</span>
                <span *ngIf="column == 'action'" class="no-wrap-td">{{element?.action}}</span>
                <span *ngIf="column == 'date'" class="no-wrap-td">{{element?.date}}</span>
                <span *ngIf="column == 'recipients'">{{element?.recipients}}</span>
                <span *ngIf="column == 'download'">
                  <a class="text-success">Download</a>
                </span>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedElement1">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay1.length">
              <div class="detail" [@detailExpand]="expandId1 == element.id ? 'expanded' : 'collapsed'">
                <div class="responsive-table">
                  <div><span>File Name</span> {{element?.file_name}} </div>
                  <div class="no-wrap-td"><span>Action</span> {{element?.action}} </div>
                  <div class="no-wrap-td"><span>Date</span> {{element?.date}} </div>
                  <div><span>Recipients</span> {{element?.recipients}} </div>
                  <div><span>Download</span>
                    <a class="text-success">Download</a>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay1; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay1;" class="row"
            [class.row]="expandedElement1 === element" (click)="openElement1(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedElement1']" class="detail-row"></tr>
        </table>
        <app-nodata *ngIf="dataSource3?.filteredData?.length == 0"></app-nodata>
      </div>
    </div>
  </div> -->
</div>