<mat-divider></mat-divider>
<div fxLayout="row wrap" fxFlex="100">
    <form fxFlex="100"  [formGroup]="correspondance">
        <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" appearance="standard"
            hideRequiredMarker="hideRequiredControl.auto" floatLabel="floatLabelControl.auto">
            <input matInput formControlName="file" readonly placeholder="No file chosen">
            <input type="file" formControlName="file" #uploader hidden id="uploadFile"
                accept=".pdf, .doc, .docx, .excel, .csv">
            <span matSuffix>File Upload</span>
        </mat-form-field>

        <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40" appearance="standard">
            <mat-label>Note</mat-label>
            <input matInput formControlName="note" placeholder="Note">

        </mat-form-field>
        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <button mat-stroked-button type="button" color="primary" class="m-t-15 upload_btn p-r-20">Add
            </button>
        </div>
    </form>
    <div fxFlex="100">
        <table mat-table [dataSource]="dataSource" class="user-table">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="uploaded_on">
                <th mat-header-cell *matHeaderCellDef> Uploaded On </th>
                <td mat-cell *matCellDef="let element"> {{element.uploaded_on}} </td>
            </ng-container>

            <ng-container matColumnDef="action" class="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a mat-icon-button color="primary" matTooltip="Download" matTooltipPosition="before" download>
                        <span class="fa fa-download"></span>
                    </a>
                    <button mat-icon-button color="warn" matTooltip="Delete" matTooltipPosition="after">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-nodata></app-nodata>
    </div>
</div>