<div fxLayout="row wrap" fxFlex="100">
    <div fxLayout="row wrap" fxFlex="100" (keydown.enter)="$event.target.tagName == 'TEXTAREA'"
        class="correspondence-file-upload">
        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" class="Upload_">
            <button type="button" (click)="uploader.click()" mat-stroked-button color="primary" class="outline-success">
                Select File<i class="fa fa-upload p-l-5"></i></button>
            <mat-form-field appearance="standard">
                <input matInput [title]="file" readonly [value]="file | ellipsis:30" placeholder="No file chosen">
                <input type="file" #uploader hidden (change)="uploadFile($event)" id="uploadFile"
                    accept=".pdf, .doc, .docx, .xls, .xlsx, .csv" required>
                <mat-hint>Supported file formats: .pdf, .doc, .docx, .excel, .csv</mat-hint>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100" fxFlex.sm="100" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30" appearance="standard">
            <mat-label>Note*</mat-label>
            <input matInput [(ngModel)]="note" placeholder="Note">
        </mat-form-field>
        <div fxFlex="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
            <button mat-stroked-button type="button" [disabled]="(file == null || note == null)"
                (click)="correspondFormSubmit();" color="primary" class="add-btn outline-success p-r-20">Add
            </button>
        </div>
    </div>
    <div fxFlex="100" class="striped_">
        <table mat-table [dataSource]="correspondenceSource" class="user-table title-center">
            <ng-container matColumnDef="doc_image">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" class="file_type_icon"> <img
                        [src]="element?.file_name | fileType" alt="docx"></td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let element"> <b class="p-t-5">{{element?.file_name}}</b><br />
                    <small>Note : {{element?.notes}}</small></td>
            </ng-container>

            <ng-container matColumnDef="uploaded_on">
                <th mat-header-cell *matHeaderCellDef> Uploaded On </th>
                <td mat-cell *matCellDef="let element" class="no-wrap-td text-center">
                    {{element?.updatedAt |  date:'MM-dd-yyyy' }} <small class="p-l-10"><span
                            class="fa fa-clock-o"></span>
                        {{element?.updatedAt |  date:'hh:mm a' }} </small></td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                <td mat-cell *matCellDef="let element" class="no-wrap-td text-center">
                    <a  target="_self" class="text-success m-r-20" (click)="download(element)">
                        Download
                    </a>
                    <a class="text-danger m-l-10" (click)="deletecorrespondence(element?.id)">
                        Remove
                    </a> </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-nodata *ngIf="correspondenceSource?.filteredData?.length == 0"></app-nodata>

    </div>
</div>