@import "variables";

mat-form-field {
    padding: 10px 10px 0px 10px !important;
}

.correspondence-file-upload {
    @media only screen and (max-width: 568px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Upload_ {
        button {
            width: 120px;
        }
        mat-form-field {
            width: calc(100% - 150px);
            @media only screen and (max-width: 568px) {
                width: $width-100 !important;
            }
        }
    }
    div {
        .add-btn {
            margin-top: 25px;
            @media only screen and (max-width: 568px) {
                margin-top: 0px;
            }
        }
    }
}
.upload-btn {
    background-color: $primarylightcolor;
    color: $white;
}

table {
    .file_type_icon {
        width: 20px;
        img {
            width: 20px;
        }
    }
}
