<mat-card-header>
    <div fxLayout="row wrap" class="w-100">
        <div fxFlex="50">
            <div class="content-wrapper-main-title p-t-10 m-b-10"> Applicant Attorney Information</div>
        </div>
        <div fxFlex="50">
            <div class="float-right">
                <span *ngIf="!fromPop">
                    <button *ngIf="!aaEdit" mat-stroked-button (click)="editAA()" class="m-b-5 outline-success">
                        Edit
                    </button>
                    <button *ngIf="aaEdit" mat-stroked-button (click)="updateAAttorney()" class="m-b-5 filled-success">
                        Save
                    </button>
                </span>
                <button class="close-model m-t-10" color="warn" *ngIf="fromPop" (click)="cancel();aaEdit = false"> <i
                        class="fa fa-close"></i> close </button>
            </div>
        </div>
    </div>
</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content class="p-b-15">
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxFlex="100" class="app_attorney_info m-t-15">
        <form fxLayout="row wrap" fxFlex="100" [formGroup]="ApplicantAttorney"
            (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Law Firm Name{{fromPop ? "*" : ""}}</mat-label>
                <input type="text" matInput placeholder="Law Firm Name" formControlName="company_name"
                    [matAutocomplete]="daAuto">
                <button mat-button *ngIf="ApplicantAttorney.value.company_name && aaEdit" matSuffix mat-icon-button
                    aria-label="Clear" (click)="clearAutoComplete()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #daAuto="matAutocomplete">
                    <mat-optgroup *ngFor="let group of (dattroneyGroupOptions | async)" [label]="group.name">
                        <mat-option (click)="appAttorney(attroney)" *ngFor="let attroney of group.data"
                            [value]="attroney.company_name">
                            {{attroney.company_name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
                <mat-error>Please enter valid attroney</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Attorney Name</mat-label>
                <input matInput formControlName="name" placeholder="Attorney Name" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Street Address 1{{fromPop ? "*" : ""}}</mat-label>
                <textarea matInput placeholder="Street Address 1" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="1" formControlName="street1"></textarea>
                <mat-error>Please enter valid street address 1</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Street Address 2</mat-label>
                <textarea matInput placeholder="Street Address 2" cdkTextareaAutosize cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="1" formControlName="street2"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>City{{fromPop ? "*" : ""}}</mat-label>
                <input matInput placeholder="City" formControlName="city" autocomplete="off">
                <mat-error>Please enter valid City</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>State{{fromPop ? "*" : ""}}</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state.state">{{state.state}}
                    </mat-option>
                </mat-select>
                <mat-error>Please enter valid state</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Zip Code{{fromPop ? "*" : ""}}</mat-label>
                <input matInput placeholder="Zip Code" mask="9{10}" [dropSpecialCharacters]="false"
                    formControlName="zip_code" autocomplete="off">
                <mat-error>Please enter valid zip code</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Phone</mat-label>
                <input matInput type="text" (keypress)="numberOnly($event)" mask="(000) 000-0000" placeholder="Phone"
                    formControlName="phone" autocomplete="off">
                <mat-error>Please enter valid phone number</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" autocomplete="off">
                <mat-error>Please enter valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Fax</mat-label>
                <input matInput placeholder="Fax" (keypress)="numberOnly($event)" mask="(000) 000-0000"
                    formControlName="fax" autocomplete="off">
                <mat-error>Please enter valid fax number</mat-error>
            </mat-form-field>
            <div *ngIf="aaEdit" class="text-center w-100 m-t-10">

                <button mat-stroked-button type="button" (click)="cancel();aaEdit = false"
                    class="m-r-10 outline-danger">Cancel</button>
                <button mat-stroked-button class="outline-success" (click)="updateAAttorney()">Save </button>
            </div>
        </form>
    </div>
</mat-card-content>