<mat-divider></mat-divider>
<div fxLayout="row wrap">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Law Firm Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Attorney Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Address1</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>City</div>
                    <div></div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>State</div>
                    <div></div>
                </div>  
                <div class="grid-list">
                    <div>Zip Code</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Phone</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Email</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Fax</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>