<ngx-spinner type="ball-clip-rotate" size="medium"></ngx-spinner>
<div class="dialog">
    <mat-card-header class="model-header">
        <div class="content-wrapper-main-title">Add Injury</div>
        <span class="spacer"></span>
        <button class="close-model" (click)="onNoClick()" color="warn"> <i class="fa fa-close"></i> close </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="!isLoding">
        <div fxLayout="row wrap" fxFlex="100" class="m-t-20">
            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Body Parts</mat-label>
                <mat-select [(ngModel)]="injuryInfo.body_part_id" placeholder="Body Part" [multiple]="true"
                    [disabled]="isEdit">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bodyPartCtrl" placeholderLabel="Find Body Part"
                            i18n-placeholderLabel noEntriesFoundLabel="No Matching Body Part Found"
                            i18n-noEntriesFoundLabel></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let body_part of filteredBodyParts | async" [value]="body_part.id">
                        {{body_part.body_part_code}} - {{body_part.body_part_name}}
                    </mat-option>
                </mat-select>
                <!-- <input matInput placeholder="Body Part" [value]="bodyPart(injuryInfo.body_part_id)" *ngIf="isEdit"
                    [disabled]="isEdit">
                <mat-select multiple [(ngModel)]="injuryInfo.body_part_id" *ngIf="!isEdit">
                    <mat-option *ngFor="let bodyParts of bodyPartsList" [value]="bodyParts.id">
                        {{bodyParts.body_part_code}} - {{bodyParts.body_part_name}}</mat-option>
                </mat-select> -->
                <!-- <mat-chip-list #bodypartList aria-label="Body part selection">
                    <mat-chip *ngFor="let body_part of bodyParts" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(body_part)" [disabled]="isEdit">
                        {{body_part}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Body Part" #fruitInput [formControl]="bodyPartCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="bodypartList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" [disabled]="isEdit">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let body_part of filteredBodyParts | async" (click)="selectBodypart(body_part)"
                        [value]="body_part.id">
                        {{body_part.body_part_code}} - {{body_part.body_part_name}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>Date of Injury </mat-label>
                <input matInput placeholder="MM-DD-YYYY" autocomplete="off" [min]="minDate" [max]="today"
                    [matDatepicker]="date_of_injury1" (click)="changeEvent()" [(ngModel)]="injuryInfo.date_of_injury">
                <mat-datepicker-toggle matSuffix [for]="date_of_injury1"></mat-datepicker-toggle>
                <mat-datepicker #date_of_injury1 disabled="false" (opened)="changeEvent()">
                </mat-datepicker>
                <mat-error>Please enter valid date of injury</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
                <mat-label>Injury Note</mat-label>
                <textarea matInput [(ngModel)]="injuryInfo.injury_notes" placeholder="Injury Note " autocomplete="off"
                    cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="4"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="33.3" fxFlex.md="33.3" fxFlex.lg="33.3" fxFlex.sm="50"
                fxFlex.xs="100">
                <mat-label>Continuous Trauma (CT)</mat-label>
                <mat-select [(ngModel)]="injuryInfo.continuous_trauma">
                    <mat-option [disabled]="injuryInfo.date_of_injury == null" (click)="ctChange()" [value]="true">
                        Yes</mat-option>
                    <mat-option (click)="ctChange()" [value]="false">No</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="injuryInfo.continuous_trauma" appearance="outline" fxFlex="33.3" fxFlex.md="33."
                fxFlex.lg="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>CT Start Date</mat-label>
                <input matInput placeholder="MM-DD-YYYY" autocomplete="off"
                    [matDatepicker]="continuous_trauma_start_date" [(ngModel)]="injuryInfo.continuous_trauma_start_date"
                    [min]="minDate" [max]="today" (click)="changeEvent()">
                <mat-datepicker-toggle matSuffix [for]="continuous_trauma_start_date">
                </mat-datepicker-toggle>
                <mat-datepicker #continuous_trauma_start_date disabled="false" (opened)="changeEvent()">
                </mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="injuryInfo.continuous_trauma" appearance="outline" fxFlex="33.3" fxFlex.md="33."
                fxFlex.lg="33.3" fxFlex.sm="50" fxFlex.xs="100">
                <mat-label>CT End Date</mat-label>
                <input matInput placeholder="MM-DD-YYYY" [(ngModel)]="injuryInfo.continuous_trauma_end_date"
                    autocomplete="off" [matDatepicker]="continuous_trauma_end_date"
                    [min]="injuryInfo.continuous_trauma_start_date" [max]="today">
                <mat-datepicker-toggle matSuffix [for]="continuous_trauma_end_date">
                </mat-datepicker-toggle>
                <mat-datepicker #continuous_trauma_end_date disabled="false"></mat-datepicker>
            </mat-form-field>

            <div fxFlex="100" class="p-t-10 text-center">
                <button mat-stroked-button (click)="onNoClick()" class="outline-danger m-r-10">Cancel</button>
                <button mat-stroked-button type="submit" class="outline-success text-center m-r-5"
                    (click)="addInjury()">Save</button>
            </div>
        </div>
    </mat-card-content>
</div>