@import "variables";

mat-card {
  mat-horizontal-stepper {
    .wc_search {
      width: $width-100;
      display: block !important;
      mat-form-field {
        width: $width-100;
        padding-left: 0px !important;
      }
    }
    .sub-title {
      color: $primarycolor;
      font-weight: $font-weight-bold;
      font-size: $font-size-1;
    }
    mat-form-field {
      padding: 10px !important;
    }

    button.btn_success {
      background-color: $btn_success;
    }
  }
}

.docs_list {
  padding: 20px;
  width: $width-100;
  margin-left: 10px;
  box-shadow: $box-shadow-1 !important;
  height: 100px;
  img {
    width: 25px !important ;
    height: auto;
    margin: 0px;
    display: inline-block;
  }
  div {
    padding-left: 5px;
    max-width: 85%;
    display: inline-block;
    h4 {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      padding-bottom: 0px !important;
      color: $primarycolor;
      font-size: $font-size-1;
    }
    p {
      margin-top: 0px !important;
      color: $light-gray;
    }
  }
  .delete-icon {
    mat-icon {
      color: $white;
      background-color: $bg-error-style-one;
    }
  }
}
