@import "variables";

mat-card {
  mat-horizontal-stepper {
    .wc_search {
      width: $width-100;
      display: block !important;
      mat-form-field {
        width: $width-100;
        padding-left: 0px !important;
      }
    }
    .add_new {
      border: 1px dashed $primarylightcolor;
      border-radius: 3px;
      background-color: $bg-light-blue;
      color: $primarycolor;
      font-size: $font-size-1;
      font-weight: $font-weight-medium;
      padding: 10px 5px;
      cursor: pointer;
      margin: 5px;
      width: 200px;
    }
    .sub-title {
      color: $primarycolor;
      font-size: $font-size-1;
      font-weight: $font-weight-medium;
     
    }
    mat-form-field {
      padding: 10px !important;
    }

    button.btn_success {
      background-color: $btn_success;
    }
  }
}

.docs_list {
  padding: 20px;
  width: $width-100;
  margin-left: 10px;
  box-shadow: $box-shadow-4 !important;
  height: 90px;
  img {
    width: 25px !important ;
    height: auto;
    margin: 0px;
    display: inline-block;
  }
  div {
    padding-left: 15px;
    max-width: 83%;
    display: inline-block;
    h4 {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      padding-bottom: 0px !important;
      color: $primarycolor;
    }
    p {
      margin-top: 0px !important;
      margin-bottom: 0;
      color: $light-gray;
      font-size: $font-size-1;
    }
  }
  .delete-icon {
    float: right;
    padding-top: 12px;
  }
}

.advanced_search {
  div {
    padding: 22px 12px 7px 12px;
    display: inline-flex;
    cursor: pointer;
    border-right: 1px solid $light-gray;
    background-color: $bg-light-blue;
    margin-right: 10px;
    mat-icon {
      margin-top: -4px !important;
    }
  }
  .search-icon {
    background-color: $primarycolor;
    color: $white;
    padding: 12px;
    display: block;
    cursor: pointer;
  }
}
