@import "variables";
@import "table";

.all_user_form {
  min-height: auto !important;
  .multiple-address {
    .search-container {
      .advanced_search {
        div {
          padding: 22px 12px 7px 12px;
          display: inline-flex;
          cursor: pointer;
          border-right: 1px solid $light-gray;
          background-color: $bg-light-blue;
          margin-right: 10px;
          mat-icon {
            margin-top: -4px !important;
          }
        }
        .search-icon {
          background-color: $primarycolor;
          color: $white;
          padding: 12px;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}

mat-card {
  padding: 10px;
  box-shadow: $shadow-style-one !important;
  &:hover {
    box-shadow: $shadow-style-one-hover;
  }
  mat-form-field {
    padding: 10px 10px 0px 10px !important;
  }
  mat-card-content {
    form {
      .checkbox_ {
        background-color: $light-color;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 10px;
        width: max-content;
        display: block;
        float: left;
        margin-right: 10px;
      }

      .sign-upload {
        mat-form-field {
          .upload_btn {
            padding: 0px 10px;
            height: 35px;
            font-size: $font-size-7;
            outline: none;
            cursor: pointer;
          }
        }

        .empty-image {
          background-color: #ececec;
          padding: 20px;
          width: 200px;
          float: left;
          text-align: center;
          color: $light-gray;
          border: 1px solid $light-gray;
          cursor: not-allowed;
        }

        .sign-img {
          button {
            margin-left: 155px;
            font-size: $font-size-22;
            cursor: pointer;
            border-radius: 50px;
            border-color: $text-gray;
            background-color: $light-color;
            padding: 0 10px;
            line-height: 2;
            i {
              // color: $danger;
              font-size: $font-size-7;
            }
          }
          .sign {
            padding: 3px;
            width: 200px;
            text-align: center;
            border: 1px solid $light-gray;
            cursor: not-allowed;
            float: left;
            img {
              min-width: 100%;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
      .add-license {
        button {
          float: right;
          margin-bottom: 5px;
        }
        .table {
          position: relative;
          max-height: 230px;
          overflow: auto;
          td {
            a {
              text-decoration: none;
            }
          }
        }
      }
      .display-block {
        display: block;
      }
    }
  }
}


.float-right {
  float: right;
}