<mat-card-header>
    <mat-card-title class="m-0">Users</mat-card-title>
    <span class="spacer"></span>
    <button (click)="navigate()" mat-mini-fab class="add-user">
        <mat-icon>add</mat-icon>
    </button>

</mat-card-header>
<mat-divider></mat-divider>
<mat-card-content class="p-t-3 m-b-0">
    <div class="table-filter">
        <input (keyup)="applyFilter($event.target.value)" placeholder="Search by name, email, role">
    </div>
    <span class="spacer"></span>
    <button mat-icon-button class="filter-icon p-t-0" [matMenuTriggerFor]="filter">
        <mat-icon mat-icon-button aria-hidden="false" material-icons aria-label="home icon">filter_list</mat-icon>
    </button>
    <button mat-icon-button class="filter-icon" (click)="exportData()" matTooltip="Export" matTooltipPosition="before">
        <img class="icon-16" [src]="xls" alt="export" />
    </button>
    <mat-menu #filter="matMenu">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let role of roles">
                <mat-checkbox (change)="filterByRole()" [(ngModel)]="role.checked">{{role.role_name}}</mat-checkbox>
            </mat-list-item>
        </mat-list>

    </mat-menu>
    <div class="user-detail">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>
            <ng-container matColumnDef="sign_in_email_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.sign_in_email_id}} </td>
            </ng-container>
            <ng-container matColumnDef="role_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" (click)="gotoEdit(element)">
                    <mat-icon class="edit-user" mat-raised-button matTooltip="Edit {{element.first_name}} Account"
                        matTooltipPosition="right">edit
                    </mat-icon>
                </td>ˀ
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-heading"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</mat-card-content>