<div class="lucy-login-form">
    <div class="p-t-100" fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row wrap">
        <div class="m-auto" fxFlex="25" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column">
          <mat-card class="p-5">
            <!--Form Title-->
            <mat-card-title>LUCY</mat-card-title>
            <!--Form subTitle-->
            <mat-card-subtitle class="m-t-5 m-b-50">Verifiaction</mat-card-subtitle>
            <mat-card-content>
              <!--Form start-->
              <form fxLayout="row wrap" [formGroup]="verificationForm" (ngSubmit)="verifySubmit()">
                <mat-form-field appearance="outline" fxFlex="100"
                  [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                  <mat-label>Email</mat-label>
                  <input matInput name="email" placeholder="Email" formControlName="email">
                  <mat-icon matSuffix>supervised_user_circle</mat-icon>
                </mat-form-field>
                <mat-form-field class="mt-20" appearance="outline" fxFlex="100"
                  [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                  <mat-label>Verification code</mat-label>
                  <input matInput name="VerificationCode"  placeholder="Verification code" formControlName="code">
                  <mat-icon matSuffix >verified_user</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Submit</button>
              </form>
              <!--Form end-->
            </mat-card-content>
          </mat-card>
        
      </div>
    </div>
  </div>