<div fxLayout="row wrap">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>First Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Middle Name</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Last Name</div>
                    <div></div>
                </div>
            </div>
            <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                <div class="grid-list">
                    <div>Date of Birth</div>
                    <div></div>
                </div>
                <div class="grid-list">
                    <div>Phone Number</div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>