<mat-card>
    <mat-card-header>
        <div class="content-wrapper-main-title p-t-10 m-b-10">Claimant </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-b-15">
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <div fxLayout="row wrap" fxFlex="100" class="p-t-15">
                    <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                        <div class="grid-list">
                            <div>First Name</div>
                            <div>{{claimantDetailsclaiman.first_name}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Middle Name</div>
                            <div>{{claimantDetailsclaiman.middle_name}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Last Name</div>
                            <div>{{claimantDetailsclaiman.last_name}}</div>
                        </div>
                    </div>
                    <div fxFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
                        <div class="grid-list">
                            <div>Date of Birth</div>
                            <div>{{claimantDetailsclaiman.date_of_birth | date:'MM-dd-yyyy'}}</div>
                        </div>
                        <div class="grid-list">
                            <div>Phone Number</div>
                            <div>{{claimantDetailsclaiman.phone_no_1 | mask:'(000) 000-0000'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>