<div fxFlex="row wrap">
    <div flFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
        <div fxLayout="row wrap">
            <div fxFlex="50" class="claimant_label">
                <div>First Name</div>
                <div>Middle Name</div>
                <div>Last Name</div>
            </div>
            <div fxFlex="50" class="claimant_value">
                <div>Ratrick</div>
                <div>Brian</div>
                <div>Murray</div>
            </div>
        </div>
    </div>

    <div flFlex="100" fxFlex.md="50" fxFlex.sm="50" fxFlex.lg="50" fxFlex.xl="50">
        <div fxLayout="row wrap">
            <div fxFlex="50" class="claimant_label">
                <div>Date of Birth</div>
                <div>Phone Number</div>
            </div>
            <div fxFlex="50" class="claimant_value">
                <div>24 March 1983</div>
                <div>9874563210</div>
            </div>
        </div>
    </div>
</div>