@import "variables";

.pdf-file {
    .card-header {
        background-color: $info-bg;
        border: 1px solid;
        border-color: $info-border;
        padding: 8px 10px;
        display: flex;
        .content-wrapper-main-title {
            color: $info;
            padding-top: 10px;
            margin-bottom: 0px;
        }
    }
    mat-card-content {
        pdf-viewer {
            background-color:$dark_gray_1;
            min-height: 80vh;
            max-height: 80vh;
            overflow: auto;
            padding: 20px 0;
        }
    }

}

.pdf-file {
    .mat-card-content {
      margin-bottom: 0px !important;
      position: relative;
      .actions {
          button {
            background-color: $light-color;
            color: $menu-active;
            right: 30px;
            position: absolute;
            z-index: 1;
            &:hover {
                color: $ternary;
            }
              &:first-child {
                  bottom:150px;
              }
              &:nth-child(2) {
                bottom:100px;
            }
            &:last-child {
                bottom:50px;
            }
          }
      }
    }

  }