<div class="auth-alert alert-danger m-b-5">
    <div class="icon"> <i class="fa fa-exclamation-circle"> </i></div>
    <div class="alert">{{data?.message}} <i class="fa fa-times-circle"></i></div>
</div>

<!-- <div class="auth-alert alert-danger m-b-5"> <i class="fa fa-exclamation-circle"> </i> {{data?.message}}</div> -->
<!-- <div class="auth-alert alert-danger m-b-5"> <i class="far fa-times-circle"> </i> alert-msg-here</div>
<div class="auth-alert alert-warning m-b-5"> <i class="fas fa-exclamation-triangle"></i> alert-msg-here</div> -->