<div class="m-t-10 striped_ vertical-fixed">
    <!-- <table mat-table [dataSource]="dataSource" class="user-table">

        <ng-container matColumnDef="billable_item">
            <th mat-header-cell *matHeaderCellDef> Exam Type </th>
            <td mat-cell *matCellDef="let element"> <a
                    [routerLink]="['/subscriber/appointment/appointment-details',this.claimId, element?.id]">{{element?.exam_type_code}}-{{element?.exam_type_name}}
                    {{element?.procedure_type_name}}</a></td>
        </ng-container>

        <ng-container matColumnDef="d_o_s">
            <th mat-header-cell *matHeaderCellDef>Date of Service /<br/>Date Item Received </th>
            <td mat-cell *matCellDef="let element"> {{element.appointment_scheduled_date_time | date:'MM-dd-yyyy'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="examiner">
            <th mat-header-cell *matHeaderCellDef> Examiner </th>
            <td mat-cell *matCellDef="let element"> {{element.examiner_name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky :true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata> -->
    <div class="user-detail vertical-fixed">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                <th mat-header-cell *matHeaderCellDef>{{columnName[i]}}</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="i == 0 && isMobile">
                        <mat-icon mat-raised-button
                            [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                            {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                        </mat-icon>
                    </span>
                    <div (click)="openrouteElement(element)">
                        <span *ngIf="column == 'procedure_type_name'">{{element?.exam_procedure_type}} -
                            {{element?.exam_procedure_name }}</span>
                        <span
                            *ngIf="column == 'appointment_scheduled_date_time'">{{element?.appointment_scheduled_date_time
                            | date:'MM-dd-yyyy'}}</span>
                        <span *ngIf="column == 'examiner_name'">{{element?.examiner_name}}</span>
                        <span *ngIf="column == 'examiner_name'">{{element?.status}}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                        <div class="responsive-table">
                            <!-- <div><span>Exam Type</span><span><a routerLink="" (click)="openrouteElement(element)"> {{element?.exam_type_code}} - {{element?.exam_type_name}}
                                {{element?.procedure_type_name}}</a> </span></div> -->
                            <div><span>Date of Service /<br />Date Item
                                    Received</span><span>{{element?.appointment_scheduled_date_time |
                                    date:'MM-dd-yyyy'}}</span></div>
                            <div><span>Examiner</span><span>{{element?.examiner_name}}</span></div>
                            <div><span>Status</span><span>{{element?.status}}</span></div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                [class.row]="expandedElement === element" (click)="openrouteElement(element)">
            </tr>
            <tr mat-row *matRowDef="let element;let row; columns: ['expandedDetail']" class="detail-row"
                (click)="openrouteMobileElement(element)">
            </tr>
        </table>
        <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
    </div>
</div>