<div class="dialog event-detail">
  <mat-card-header class="model-header">
    <div class="content-wrapper-main-title"> <span> <i class="fa fa-circle p-r-5"
          [ngStyle]="{'color': selectedEventColor}"></i>{{data?.event?.title}}</span></div>
    <span class="spacer"></span>
    <button class="close-model" (click)="onNoClick()" color="warn"> <i class="fa fa-close"></i> close </button>
  </mat-card-header>
  <mat-divider class="m-t-10"></mat-divider>
  <!-- <div class="small-value p-t-5"><strong> Date & Time </strong>: </div>
  <div class="small-value p-t-5"> <strong>Service </strong> : </div> -->
  <mat-card-content class="m-b-0">
    <div fxLayout="row wrap">
      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Examination</div>
        <div class="value">{{changeDateType(data?.event?.start)}}</div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Duration</div>
        <div class="value"> {{event?.duration ? event?.duration + " "+ 'minutes' : "" }}</div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Location</div>
        <div class="value"> {{event?.location}}</div>
      </div>

      <div class="divider"></div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Examiner</div>
        <div class="value">{{event?.examiner_name}}</div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Claimant</div>
        <div class="value">{{event?.claimant_name}}</div>
      </div>

      <div class="divider"></div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Exam Procedure Type</div>
        <div class="value">{{event?.exam_procedure_name}} - {{event?.exam_name}}</div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Claim Number</div>
        <div class="value">{{event?.claim_number}}</div>
      </div>

      <div class="divider"></div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Claimant Phone </div>
        <div class="value">{{event?.phone_no_1 | mask : "(000) 000-0000"}}</div>
      </div>


      <div class="grid-list-event m-b-10" fxFlex="100" fxFlex.xs="100">
        <div class="property">Claimant Email </div>
        <div class="value">{{event?.email | lowercase}}</div>
      </div>

      <div class="divider"></div>

      <!-- <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Examination Status</div>
        <div class="value" *ngIf="!isEdit">{{event?.status}} <i class="fa fa-pencil" (click)="isEdit = !isEdit "></i>
        </div>
        <div class="value" fxLayout="row wrap" *ngIf="isEdit">
          <mat-form-field appearance="outline" fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
            <mat-label>Choose an Status</mat-label>
            <mat-select [(ngModel)]="examination_status">
              <mat-option *ngFor="let examination_status of examinationStatus" [value]="examination_status.id">
                {{examination_status.examination_status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <div fxFlex="100">
        <button mat-raised-button *ngIf="textDisable" (click)="edit()" class="filled-gray float-right mini-btn">
          Edit</button>
        <button mat-raised-button *ngIf="!textDisable" (click)="updateStatus()"
          class="filled-success float-right mini-btn">
          Save</button>
        <button mat-stroked-button *ngIf="!textDisable" (click)="cancel()" type="button"
          class="outline-danger m-r-10 float-right mini-btn">Cancel</button>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">{{statusName.replace("_", " ") | titlecase}}</div>
        <div class="value m-b-10" *ngIf="!isEdit">{{eventStatus}}</div>
        <div class="value" fxLayout="row wrap" *ngIf="isEdit">
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
            <mat-label>Choose an Status</mat-label>
            <mat-select [(ngModel)]="examination_status">
              <mat-option *ngFor="let examination_status of examinationStatus"
                (click)="eventcolorChange(examination_status)" [value]="examination_status.id">
                {{examination_status[statusName]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="grid-list-event default-section" fxFlex="100" fxFlex.xs="100">
        <mat-form-field appearance="outline" fxFlex="100" class="w-100 default-section">
          <mat-label>Notes</mat-label>
          <textarea [disabled]="textDisable" matInput placeholder="Notes" [(ngModel)]="examination_notes"
            cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2"></textarea>
          <mat-error></mat-error>
        </mat-form-field>
        <!-- <div class="action">
          <mat-icon *ngIf="!textDisable" (click)="textDisable = true; isEdit = false" class="cancel">cancel</mat-icon>
          <mat-icon *ngIf="!textDisable" (click)="textDisable = true; isEdit = false; updateStatus()" class="save">
            check_circle
          </mat-icon>
           <mat-icon *ngIf="textDisable" (click)="textDisable = false; isEdit= true" class="save">edit_circle</mat-icon> 
        </div> -->

      </div>

      <!-- <div fxFlex="100" class="text-center" *ngIf="!textDisable" >
        <button mat-stroked-button (click)="cancel()" type="button"
          class="outline-danger m-r-10">Cancel</button>
        <button mat-stroked-button class="outline-success text-center m-r-5"
          (click)="updateStatus()">Save</button>
      </div> -->


      <!-- <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Exam </div>
        <div class="value"><a href="#">QME - Qualified Medical Examination</a></div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Examination Date & Time</div>
        <div class="value">10-20-2020 01:39 PM IST</div>
      </div>

      <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property">Duration</div>
        <div class="value">345 Minutes</div>
      </div> -->



      <!-- <div class="grid-list-event default-section" fxFlex="100" fxFlex.xs="100">
        <mat-form-field appearance="outline" fxFlex="100" class="w-100 default-section">
          <mat-label>Notes</mat-label>
          <textarea [disabled]="textDisable" matInput placeholder="Notes" [(ngModel)]="examination_notes"
            cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2"></textarea>
          <mat-error>Error msg here</mat-error>
        </mat-form-field>
        <div class="action">
          <mat-icon *ngIf="!textDisable" (click)="textDisable = true; isEdit = false" class="cancel">cancel</mat-icon>
          <mat-icon *ngIf="!textDisable" (click)="textDisable = true; isEdit = false; updateStatus()" class="save">
            check_circle
          </mat-icon>
          <mat-icon *ngIf="textDisable" (click)="textDisable = false; isEdit= true" class="save">edit_circle</mat-icon>
        </div>
      </div> -->

      <!-- <div class="grid-list-event" fxFlex="100" fxFlex.xs="100">
        <div class="property p-t-0">Service Location</div>
        <div class="value p-t-0">SALCEDO middle MONTEBELLO Colorado - 34532</div>
      </div> -->

    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="m-b-0 float-right" align="right">
    <button mat-stroked-button (click)="onNoClick()">Close</button>
    <button mat-raised-button mat-dialog-close
      (click)="viewDetails(event.claim_id, event.billable_item_id, event.claimant_id)" class="filled-ternary"> Go to
      Billable Item
    </button>
  </mat-card-actions>
</div>














<!-- <h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div class="details" *ngIf="!isEdit">
    <p>Event Name: {{data.title}}</p>
    <p>Start Date: {{data.start | date}}</p>
    <p>End Date: {{data.end | date}}</p>
    <button (click)="isEdit=true">Edit</button>
  </div> -->
<!-- <div class="edit-event" *ngIf="isEdit">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Event Name" name="title" [(ngModel)]="event.title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Event Location" name="location" [(ngModel)]="event.location">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="MM-DD-YYYY HH:MM AM/PM" name="start" autocomplete="off" [owlDateTime]="appointment"
          [(ngModel)]="event.start">
        <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="appointment"></mat-datepicker-toggle>
        <owl-date-time (afterPickerOpen)="pickerOpened('app')" [hour12Timer]="true" #appointment>
        </owl-date-time>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="MM-DD-YYYY HH:MM AM/PM" name="end" autocomplete="off" [owlDateTime]="appointment1" [(ngModel)]="event.end">
        <mat-datepicker-toggle matSuffix [owlDateTimeTrigger]="appointment1"></mat-datepicker-toggle>
        <owl-date-time (afterPickerOpen)="pickerOpened('app')" [hour12Timer]="true" #appointment1>
        </owl-date-time>
      </mat-form-field>
      <button type="submit" (click)="saveEvent()"> Save</button>
    </form>
  </div> -->
<!-- </div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  <button mat-button mat-dialog-close (click)="viewDetails()" cdkFocusInitial>View Details</button>
</div>-->