<div fxLayout="row wrap" class="fc_calender m-t-5">
    <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
        <mat-form-field *ngIf="roleId != 11">
            <mat-label>Select Examiner</mat-label>
            <mat-select [(value)]="examinerId">
                <mat-option (click)="selectExaminer()" [value]="0">
                    All
                </mat-option>
                <mat-option *ngFor="let examinar of examinars; let i=index" (click)="selectExaminer(examinar.id)"
                    value="{{examinar.id}}">
                    {{examinername(examinar)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="70" fxFlex.sm="100" fxFlex.xs="100">
        <div>
            <div class="exa_status">
                <p class="float-right m-b-0">
                    <span> <i class="fa fa-circle p-r-5 lv"></i> Left Voicemail</span>
                    <span class="p-l-10"> <i class="fa fa-circle p-r-5 con"></i> Confirmed</span>
                    <span class="p-l-10"> <i class="fa fa-circle p-r-5 not_con"></i> Not Confirmed</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="app-calendar">

    <input matInput [owlDateTime]="intake" [(ngModel)]="selectedDate" [min]="minimumDate" (dateChange)="dateChanged()"
        style="visibility: hidden;">
    <owl-date-time [hour12Timer]="true" [pickerMode]="'dialog'" [pickerType]="'calendar'"
        (afterPickerClosed)="dateChanged()" #intake>
    </owl-date-time>
    <div style="height:100%">
        <full-calendar #calendar *ngIf="options" [eventLimit]="options.eventLimit" [themeSystem]="'standard'"
            [bootstrapFontAwesome]="true" [slotEventOverlap]="false" [eventTimeFormat]="options.eventTimeFormat"
            [businessHours]="options.businessHours" [editable]="false" [events]="calendarEvents" [views]="options.views"
            [header]="options.header" [customButtons]="options.customButtons" [plugins]="options.plugins"
            (eventClick)="handleEventClick($event)">
        </full-calendar>
    </div>
</div>