@import "variables";

.fc_calender {
    padding: 0 5px;
    // box-shadow: $box-shadow-1;
    .exa_status {
        float: right;
        p {
            .lv {
                color: #F27120;
            }
            .con {
                color: #4FCC24;
            }
            .not_con {
                color: #F27120;
            }
        }
    }
}