<div class="app-calendar">
    <mat-form-field *ngIf="roleId != 11">
        <mat-label>Select Examiner</mat-label>
        <mat-select [(ngModel)]="examinerId">
            <mat-option (click)="selectExaminer()" [value]="0">
                All
            </mat-option>
            <mat-option *ngFor="let examinar of examinars; let i=index" (click)="selectExaminer(examinar.id)"
                [value]="examinar.id">
                {{examinar?.first_name + " " + examinar?.last_name + " "+ examinar?.middle_name}}, {{examinar?.suffix}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <input matInput [owlDateTime]="intake" [(ngModel)]="selectedDate" (dateChange)="dateChanged()"
        style="visibility: hidden;">
    <owl-date-time [hour12Timer]="true" [pickerMode]="'dialog'" [pickerType]="'calendar'"
        (afterPickerClosed)="dateChanged()" #intake>
    </owl-date-time>
    <div style="height:100%">
        <full-calendar #calendar *ngIf="options" [eventLimit]="options.eventLimit" [themeSystem]="'standard'"
            [bootstrapFontAwesome]="true" [eventTimeFormat]="options.eventTimeFormat"
            [businessHours]="options.businessHours" [editable]="false" [events]="calendarEvents" [views]="options.views"
            [header]="options.header" [customButtons]="options.customButtons" [plugins]="options.plugins"
            (eventClick)="handleEventClick($event)">
        </full-calendar>
    </div>
</div>