<mat-card class="shadow p-t-15">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon p-r-5"> security </mat-icon>
                Security Settings
            </ng-template>
            <!-- cards here -->
            <div class="edit-profile  m-t-10">
                <mat-card-content>
                    <!--Form start-->
                    <form fxLayout="row wrap" class="mat-form-space" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userPasswrdForm"
                        (ngSubmit)="changePassword()">
                        <mat-form-field class="m-t-5" appearance="standard" fxFlex="100">
                            <mat-label>Current Password*</mat-label>
                            <input type="password" matInput placeholder="Current Password" autocomplete="off"
                                formControlName="current_password">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                            <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.required">Password field does not empty</mat-error> -->
                            <!-- <mat-error *ngIf="userPasswrdForm.controls.current_password.errors.pattern">Password field does not valid</mat-error> -->
                        </mat-form-field>
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="50"
                            fxFlex.xl="50" class="m-t-5">
                            <mat-label>New Password*</mat-label>
                            <input [type]="isTypePassword ? 'password': 'text'" matInput placeholder="New Password"
                                autocomplete="off" formControlName="new_password">
                            <mat-icon matSuffix
                                matTooltip="Password must contain at least 8 characters, including UPPER, lowercase, special character and numbers."
                                matTooltipPosition="above">error_outline</mat-icon>
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>

                        </mat-form-field>
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="50"
                            fxFlex.xl="50" class="m-t-5">
                            <mat-label>Confirm New Password*</mat-label>
                            <input [type]="isTypePassword ? 'password': 'text'" matInput
                                placeholder="Confirm New Password" autocomplete="off" formControlName="confirmPassword">
                            <mat-icon matSuffix (click)="changeInputType()">
                                {{isTypePassword ? 'visibility' : 'visibility_off'}}</mat-icon>

                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidpassword}}</mat-error>
                        </mat-form-field>

                        <div class="text-center w-100 m-t-10 m-b-10">
                            <button mat-raised-button color="primary" class="m-r-10 rounded-corner btn_success">
                                Save </button>
                            <button mat-raised-button type="button" class="rounded-corner" color="warn">Cancel</button>
                        </div>
                        <!-- <button mat-raised-button color="primary" class="m-t-5">Save Changes </button> -->
                    </form>
                </mat-card-content>
            </div>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon p-r-5"> account_box </mat-icon>
                Account Settings
            </ng-template>
            <!-- Edit profile -->
            <div class="edit-profile m-t-10">
                <mat-card-content>
                    <!--Form start-->
                    <form fxLayout="row wrap" class="mat-form-space" (keydown.enter)="$event.target.tagName == 'TEXTAREA'" [formGroup]="userForm"
                        (ngSubmit)="userformSubmit()">

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                            fxFlex.sm="50" fxFlex.xl="100" class="m-t-5">
                            <mat-label>First Name*</mat-label>
                            <input matInput placeholder="First Name" formControlName="first_name" autocomplete="off">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidfirstname}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                            fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                            <mat-label>Middle Name</mat-label>
                            <input matInput placeholder="Middle Name" formControlName="middle_name" autocomplete="off">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidmiddlename}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="33.3" fxFlex.lg="33.3"
                            fxFlex.sm="50" fxFlex.xl="100" class=" m-t-5">
                            <mat-label>Last Name*</mat-label>
                            <input matInput placeholder="Last Name" formControlName="last_name" autocomplete="off">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidlastname}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" class=" m-t-5 p-r-10">
                            <mat-label>Company Name</mat-label>
                            <input matInput placeholder="Company Name" formControlName="company_name"
                                autocomplete="off">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidcompanyname}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100"
                            class=" m-t-5 p-r-10">
                            <mat-label>Account Number</mat-label>
                            <input matInput placeholder="Account Number"
                                value="{{this.user?.account_no | mask: '0000-0000-0000'}}" autocomplete="off" disabled>
                            <mat-error>error msg here</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="100"
                            class="m-t-5  p-r-10">
                            <mat-label>Signin Email ID*</mat-label>
                            <input matInput placeholder="Signin Email ID" formControlName="sign_in_email_id"
                                autocomplete="off">
                            <mat-error *ngIf="isSubmit">{{errorMessages?.entervalidemail}}</mat-error>
                        </mat-form-field>

                        <div fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-radio-group formControlName="w9_number_type" aria-label="Select an option"  fxFlex="40" fxFlex.md="30" fxFlex.lg="30"
                            fxFlex.sm="40" fxFlex.xl="30" fxFlex.xs="100" 
                                class="p-t-35 p-l-10" (change)="userForm.controls['w9_number'].setValue('')">
                                <mat-radio-button value="EIN">EIN</mat-radio-button>
                                <mat-radio-button value="SSN" class="p-l-10">SSN</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field appearance="standard"  fxFlex="60" fxFlex.md="70"
                            fxFlex.lg="70" fxFlex.sm="60" fxFlex.xs="100" fxFlex.xl="70">
                                <mat-label>Tax ID</mat-label>
                                <input matInput [dropSpecialCharacters]="false"
                                    [mask]="userForm.value.w9_number_type == 'SSN' ? '000-00-0000' : '00-0000000'"
                                    placeholder="Tax ID" formControlName="w9_number">
                                <mat-error *ngIf="isSubmit">Enter valid Tax ID</mat-error>
                            </mat-form-field>
                        </div>
    
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>National Provider Identifier (NPI) number</mat-label>
                            <input matInput type="number" formControlName="national_provider_identifier"
                                placeholder="National Provider Identifier (NPI) number">
                            <mat-error *ngIf="isSubmit">Enter valid NPI number</mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Specialty</mat-label>
                            <mat-select formControlName="specialty" multiple>
                                <mat-option *ngFor="let specialty of specialtyList" [value]="specialty.id">
                                    {{specialty?.specialty_code}}-{{specialty?.specialty}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="isSubmit">Error Message here</mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>License Number</mat-label>
                            <input matInput formControlName="state_license_number" placeholder="License Number">
                            <mat-error *ngIf="isSubmit">Enter valid License Number</mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>License State</mat-label>
                            <mat-select formControlName="state_of_license_id">
                                <mat-option *ngFor="let state of states" [value]="state.id">
                                    {{state.state}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="isSubmit">Select valid License State</mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Taxonomy code</mat-label>
                            <mat-select formControlName="taxonomy_id" multiple>
                                <!-- <mat-select-trigger>
                                    {{userExaminerForm?.value?.taxonomy_id ? userExaminerForm?.value?.taxonomy_id[0] : ''}}
                                    <span *ngIf="userExaminerForm?.value?.taxonomy_id?.length > 1" class="example-additional-selection">
                                      (+{{userExaminerForm?.value?.taxonomy_id?.length - 1}} {{userExaminerForm?.value?.taxonomy_id?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                  </mat-select-trigger> -->
                                <mat-option *ngFor="let taxonomy of taxonomyList" [value]="taxonomy.id">
                                    {{taxonomy.taxonomy_code}}-{{taxonomy.taxonomy_name}}
                                </mat-option>
    
                            </mat-select>
                            <mat-error *ngIf="isSubmit">Error Message here</mat-error>
                        </mat-form-field>

                        <div class="text-center w-100 m-t-10 m-b-10">
                            <button mat-raised-button color="primary" class="m-r-10 rounded-corner btn_success">
                                Save </button>
                            <button mat-raised-button type="button" class="rounded-corner" color="warn">Cancel</button>
                        </div>
                        <!-- <button mat-raised-button color="primary" class="m-t-5">Save Changes</button> -->
                    </form>
                </mat-card-content>
            </div>
        </mat-tab>

        <mat-tab *ngIf="user?.role_id == 2 || user?.role_id == 11">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon p-r-5"> gps_fixed </mat-icon>
                Primary Address
            </ng-template>
            <div class="primary-address">
                <form [formGroup]="addressForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                    <div fxLayout="row wrap" fxFlex="100">

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Address 1 </mat-label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1" placeholder="Address"></textarea>
                            <mat-error>Enter valid address</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Address 2</mat-label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2" placeholder="Address"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" placeholder="City" autocomplete="off">
                            <mat-error>Enter valid city</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state.state">
                                    {{state.state}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Enter valid state</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>Zip code</mat-label>
                            <input matInput formControlName="zip_code" placeholder="Zip code" autocomplete="off">
                            <mat-error>Enter valid zip code</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                            fxFlex.xs="100">
                            <mat-label>Location Contact Person</mat-label>
                            <input matInput formControlName="contact_person" placeholder="Location Contact Person"
                                autocomplete="off">
                            <mat-error>Enter valid notes</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Land Line 1</mat-label>
                            <input matInput formControlName="phone1" mask="(000) 000-0000" placeholder="Land Line 1"
                                autocomplete="off">
                            <mat-error>Enter valid land line number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Land Line 2</mat-label>
                            <input matInput formControlName="phone2" mask="(000) 000-0000" placeholder="Land Line 2"
                                autocomplete="off">
                            <mat-error>Enter valid land line number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Mobile 1</mat-label>
                            <input matInput formControlName="mobile1" mask="(000) 000-0000" placeholder="Mobile 1"
                                autocomplete="off">
                            <mat-error>Enter valid mobile number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Mobile 2</mat-label>
                            <input matInput formControlName="mobile2" mask="(000) 000-0000" placeholder="Mobile 2"
                                autocomplete="off">
                            <mat-error>Enter valid mobile number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Fax 1</mat-label>
                            <input matInput formControlName="fax1" mask="000-000-0000" placeholder="Fax 1"
                                autocomplete="off">
                            <mat-error>Enter valid fax number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Fax 2</mat-label>
                            <input matInput formControlName="fax2" mask="000-000-0000" placeholder="Fax 2"
                                autocomplete="off">
                            <mat-error>Enter valid fax number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Email ID 1</mat-label>
                            <input matInput formControlName="email1" placeholder="Email ID">
                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Email ID 2</mat-label>
                            <input matInput formControlName="email2" placeholder="Email ID">
                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                            fxFlex.xs="100">
                            <mat-label>Notes</mat-label>
                            <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
                            <mat-error>Enter valid notes</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>

            <div class="m-0 sub-title p-l-10 p-t-25">Billing Address</div>
            <div class="billing-address">
                <div fxLayout="row wrap">
                    <div fxFlex="100">
                        <mat-checkbox [(ngModel)]="isBillingStatus" (change)="primaryAsBill()" class="checkbox">Same as
                            primary address</mat-checkbox>
                        <!-- <button mat-stroked-button class="new-address m-t-10 m-l-10" color="primary"
                            (click)="billing_address = !billing_address ">
                            <mat-icon>add_circle</mat-icon> Add new billing address
                        </button> -->
                    </div>

                </div>
                <form [formGroup]="billingForm" (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
                    <div fxLayout="row wrap" fxFlex="100">

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Address 1</mat-label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street1" placeholder="Address"></textarea>
                            <mat-error>Enter valid address</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Address 2</mat-label>
                            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="2" formControlName="street2" placeholder="Address"></textarea>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" placeholder="City" autocomplete="off">
                            <mat-error>Enter valid city</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state.state">
                                    {{state.state}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Enter valid state</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="33.3" fxFlex.md="33.3" fxFlex.sm="33.3"
                            fxFlex.xs="100">
                            <mat-label>Zip code</mat-label>
                            <input matInput formControlName="zip_code" placeholder="Zip code" autocomplete="off">
                            <mat-error>Enter valid zip code</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                            fxFlex.xs="100">
                            <mat-label>Location Contact Person</mat-label>
                            <input matInput formControlName="contact_person" placeholder="Location Contact Person"
                                autocomplete="off">
                            <mat-error>Enter valid notes</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Land Line 1</mat-label>
                            <input matInput formControlName="phone1" mask="(000) 000-0000" placeholder="Land Line 1"
                                autocomplete="off">
                            <mat-error>Enter valid land line number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Land Line 2</mat-label>
                            <input matInput formControlName="phone2" mask="(000) 000-0000" placeholder="Land Line 2"
                                autocomplete="off">
                            <mat-error>Enter valid land line number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Mobile 1</mat-label>
                            <input matInput formControlName="mobile1" mask="(000) 000-0000" placeholder="Mobile 1"
                                autocomplete="off">
                            <mat-error>Enter valid mobile number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Mobile 2</mat-label>
                            <input matInput formControlName="mobile2" mask="(000) 000-0000" placeholder="Mobile 2"
                                autocomplete="off">
                            <mat-error>Enter valid mobile number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Fax 1</mat-label>
                            <input matInput formControlName="fax1" mask="000-000-0000" placeholder="Fax 1"
                                autocomplete="off">
                            <mat-error>Enter valid fax number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
                            <mat-label>Fax 2</mat-label>
                            <input matInput formControlName="fax2" mask="000-000-0000" placeholder="Fax 2"
                                autocomplete="off">
                            <mat-error>Enter valid fax number</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Email ID 1</mat-label>
                            <input matInput formControlName="email1" placeholder="Email ID">
                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50"
                            fxFlex.xs="100">
                            <mat-label>Email ID 2</mat-label>
                            <input matInput formControlName="email2" placeholder="Email ID">
                            <mat-error>{{errorMessages?.entervalidemail}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="standard" fxFlex="100" fxFlex.md="100" fxFlex.sm="100"
                            fxFlex.xs="100">
                            <mat-label>Notes</mat-label>
                            <textarea matInput formControlName="notes" placeholder="Notes"></textarea>
                            <mat-error>Enter valid notes</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="text-center w-100 m-t-30 m-b-10">
                <button mat-raised-button color="primary" class="m-r-10 btn_success rounded-corner"
                    (click)="addressFormSubmit()">Save</button>
                <button mat-raised-button color="warn" (click)="_location.back()" class="rounded-corner m-l-10">
                    Cancel </button>
            </div>
        </mat-tab>


    </mat-tab-group>
</mat-card>