@import "variables";

.edit-profile {
  .manage-btn {
    border: 1px dashed $primarylightcolor;
    border-radius: 3px;
    background-color: $bg-light-blue;
    color: $primarycolor;
    font-size: $font-size-1;
    font-size: $font-weight-medium;
    padding: 10px 5px;
    cursor: pointer;
  }
}

mat-form-field {
  padding: 10px !important;
}
