@import "variables";

.edit-profile {
  .manage-btn {
    border: 1px dashed $primarylightcolor;
    border-radius: 3px;
    background-color: $bg-light-blue;
    color: $primarycolor;
    font-size: $font-size-1;
    font-size: $font-weight-medium;
    padding: 10px 5px;
    cursor: pointer;
    margin: 5px;
  }
  .manage-address-form {
    padding: 10px;
    border-radius: 3px;
    margin: 10px 5px;
    box-shadow: $box-shadow-5;

    mat-form-field {
      padding: 10px !important;
    }

    button.btn_success {
      background-color: $btn_success;
    }
  }

  .manage-address {
    padding: 5px;
    mat-card.address-list {
      padding: 10px !important;
      margin: 10px 0;
      box-shadow: $box-shadow-5;
      mat-card-header {
        .label {
          padding: 3px 6px !important;
          color: $white;
          height: 15px;
          margin-top: 10px;
          border-radius: 2px;
          background-color: $primarycolor;
          font-size: $font-size-22;
          font-weight: $font-weight-medium;
        }
      }
      mat-card-content {
        .name {
          font-size: $font-size-1;
          font-size: $font-weight-medium;
          padding: 10px 5px 5px 5px;
        }
        .address {
          padding: 5px 5px 5px 5px;
        }
      }
    }
  }
}
