@import "variables";
@import "table";

.bill-item {
    margin-top: 20px;
    mat-card {
        box-shadow: $shadow-style-one !important;
        &:hover {
            box-shadow: $shadow-style-one-hover;
        }
    }
    .custom-input {
        padding: 8px 3px;
        border: 1px solid $gray;
        width: 100px;
        border-radius: 3px;
        &:disabled {
            border: 1px solid $white;
            background-color: transparent;
            width: auto;
            border-radius: 3px;
        }
    }
}
.payment-response {
    .vertical-fixed {
        overflow: inherit !important;
        // .pay-response {
        //     width: 2000px;
        //     thead {
        //             th {
        //                 &:first-child {
        //                     position: sticky;
        //                     left: 0;
        //                     z-index: 99999;
        //                 }
        //                 &:last-child {
        //                     position: sticky;
        //                     right: 0;
        //                     z-index: 99999;
        //                 }
        //             }
        //     }
        //     tbody {
        //         tr {
        //             th {
        //                 &:first-child {
        //                     position: sticky;
        //                     left: 0;
        //                     background-color: $white;
        //                     z-index: 99999;
        //                 }
        //                 &:last-child {
        //                     position: sticky;
        //                     right: 0;
        //                     z-index: 99999;
        //                 }
        //             }
        //             td {
        //                 &:first-child {
        //                     position: sticky;
        //                     left: 0;
        //                     background-color: $white;
        //                     z-index: 99999;
        //                 }
        //                 &:last-child {
        //                     position: sticky;
        //                     right: 0;
        //                     background-color: $white;
        //                     z-index: 99999;
        //                 }
        //             }
        //         }
        //     }
        //     tfoot {
        //         tr {
        //             td {
        //                 &:first-child {
        //                     position: sticky;
        //                     left: 0;
        //                     background-color: $white;
        //                     z-index: 99999;
        //                 }
        //                 &:last-child {
        //                     position: sticky;
        //                     right: 0;
        //                     background-color: $white;
        //                     z-index: 99999;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
// New design implementation
.m-card {
    margin-bottom: 20px;
    min-height: fit-content;
    mat-card-content {
        .user-detail {
            min-height: auto !important;
            overflow: hidden;
            .res-table {
                tr {
                    border-bottom: 1px solid $light-color;
                    td {
                        border-bottom: 1px solid $light-color;
                        padding: 5px 0 5px 10px;
                    }
                    th {
                        border: none !important;
                    }
                }
            }
            table {
                border: none;
                td {
                    .detail {
                        background-color: $white;
                        display: block;
                        // &::after {
                        //     content: "";
                        //     background-color: $black;
                        //     width: 20px;
                        //     position: absolute;
                        //     left: 10px;
                        //     top: 50%;
                        //     height: 3px;
                        // }
                        &:last-child {
                            .expand-details-list.list-level {
                                &::after {
                                    content: "";
                                    background-color: $black;
                                    width: 3px;
                                    position: absolute;
                                    left: -30px;
                                    top: -15px;
                                    height: -moz-calc(61.7% - 0px);
                                    height: -webkit-calc(61.7% - 0px);
                                    height: calc(61.7% - 0px);
                                }
                            }
                            .expand-details-list.form-level {
                                &::after {
                                    content: "";
                                    background-color: $black;
                                    width: 3px;
                                    position: absolute;
                                    left: -30px;
                                    top: -15px;
                                    height: -moz-calc(56.5% - 0px);
                                    height: -webkit-calc(56.5% - 0px);
                                    height: calc(56.5% - 0px);
                                }
                            }
                            .expand-details-list.void_ {
                                &::after {
                                    content: "";
                                    height: -moz-calc(63% - 0px) !important;
                                    height: -webkit-calc(63% - 0px) !important;
                                    height: calc(63% - 0px) !important;
                                }
                            }
                        }
                        .expand-details-list {
                            width: 92%;
                            margin: 10px auto;
                            padding: 20px;
                            border: 2px solid $light-gray;
                            border-radius: 5px;
                            background-color: $table-solid;
                            position: relative;
                            &::after {
                                content: "";
                                background-color: $black;
                                width: 3px;
                                position: absolute;
                                left: -30px;
                                top: -25px;
                                height: -moz-calc(100% + (28px + 10px));
                                height: -webkit-calc(100% + (28px + 10px));
                                height: calc(100% + (28px + 10px));
                            }
                            // &:last-child {
                            //     &::after {
                            //         content: "";
                            //         background-color: $black;
                            //         width: 3px;
                            //         position: absolute;
                            //         left: -30px;
                            //         top: 0;
                            //         height: -moz-calc(54.3% - 0px);
                            //         height: -webkit-calc(54.3% - 0px);
                            //         height: calc(54.3% - 0px);
                            //     }
                            // }
                            &::before {
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                content: "\f30b";
                                position: absolute;
                                font-size: 25px;
                                left: -28px;
                                top: 50%;
                            }

                            // &::after {
                            //     content: "";
                            //     background-color: $black;
                            //     width: 20px;
                            //     position: absolute;
                            //     left: -35px;
                            //     top: 50%;
                            //     height: 3px;
                            //     margin-top: 16px;
                            // }
                            // Error icon design
                            // &::after {
                            //     font-family: "Font Awesome 5 Free";
                            //     font-weight: 900;
                            //     content: "\f00d";
                            //     color: $danger;
                            //     position: absolute;
                            //     font-size: 25px;
                            //     left: 20px;
                            //     top: 41%;
                            // }
                            .main-title {
                                padding-bottom: 0;
                                border-bottom: 1px solid $light_color;
                                margin-bottom: 10px;
                                width: $width-100;
                            }
                            .expand-details {
                                div {
                                    padding: 5px 0;
                                    span.prp_ {
                                        min-width: 150px;
                                        display: -webkit-inline-box;
                                        position: relative;
                                        font-weight: $font-weight-bold;
                                        &::after {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            content: ":";
                                            padding-right: 5px;
                                        }
                                    }
                                }
                            }
                            .expand-details.editable {
                                div {
                                    display: flex;
                                    ::ng-deep {
                                        .mat-form-field {
                                            width: calc(100% - 20px);
                                        }
                                        .mat-form-field-wrapper {
                                            padding: 0 !important;
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-infix {
                                            padding: 0px 0 5px 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                        .expand-details-list.response_ {
                            &::after {
                                content: "";
                                height: -moz-calc(62.5% - 0px) !important;
                                height: -webkit-calc(62.5% - 0px) !important;
                                height: calc(62.5% - 0px) !important;
                            }
                        }
                        .expand-details.strike {
                            div {
                                .prv_ {
                                    text-decoration: line-through;
                                }
                                &:nth-child(5),
                                &:last-child {
                                    .prv_ {
                                        text-decoration: none;
                                    }
                                }
                            }
                            &:last-child {
                                div {
                                    &:last-child {
                                        .prv_ {
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
