@import "variables";
@import "table";

mat-card-content {
    .user-detail {
        min-height: auto !important;
        overflow: hidden;
        .res-table {
            tr {
                border-bottom: 1px solid $light-color;
                td {
                    border-bottom: 1px solid $light-color;
                    padding: 5px 0 5px 10px;
                }
                th {
                    border: none !important;
                }
            }
        }
        table {
            border: none;
            td {
                .detail {
                    background-color: $white;
                    display: block;
                    &:last-child {
                        // .expand-details-list.list-level {
                            .expand-details-list {
                            &::before {
                                content: "";
                                background-color: $black;
                                width: 3px;
                                position: absolute;
                                left: -30px;
                                top: -15px;
                                height: -moz-calc(50% + 15px);
                                height: -webkit-calc(50% + 15px);
                                height: calc(50% + 15px);
                            }
                        }
                        // .expand-details-list.form-level {
                        //     &::before {
                        //         content: "";
                        //         background-color: $black;
                        //         width: 3px;
                        //         position: absolute;
                        //         left: -30px;
                        //         top: -15px;
                        //         height: -moz-calc(50% + 15px) !important;
                        //         height: -webkit-calc(50% + 15px) !important;
                        //         height: calc(50% + 15px) !important;
                        //     }
                        // }
                        // .expand-details-list.void_ {
                        //     &::before {
                        //         content: "";
                        //         height: -moz-calc(50% - 0px) !important;
                        //         height: -webkit-calc(50% - 0px) !important;
                        //         height: calc(50% - 0px) !important;
                        //     }
                        // }
                    }
                    .expand-details-list {
                        width: 92%;
                        margin: 10px auto;
                        padding: 20px;
                        border: 2px solid $light-gray;
                        border-radius: 5px;
                        background-color: $table-solid;
                        position: relative;
                        &::before {
                            content: "";
                            background-color: $black;
                            width: 3px;
                            position: absolute;
                            left: -30px;
                            top: -25px;
                            height: -moz-calc(100% + (28px + 10px));
                            height: -webkit-calc(100% + (28px + 10px));
                            height: calc(100% + (28px + 10px));
                        }
                        &::after {
                            // font-family: "Font Awesome 5 Free";
                            // font-weight: 900;
                            // content: "\f30b";
                            // position: absolute;
                            // font-size: 25px;
                            // left: -28px;
                            // top: 47%;
                            content: url("../../../../../../assets/images/arrow-right.svg");
                            position: absolute;
                            left: -30px;
                            top: 50%;
                        }
                        .main-title {
                            padding-bottom: 0;
                            border-bottom: 1px solid $light_color;
                            margin-bottom: 10px;
                            width: $width-100;
                        }
                        .expand-details {
                            .grid-list {
                                div {
                                    align-self: auto;
                                    white-space: normal;
                                    word-break: break-word;
                                    &:first-child {
                                        position: relative;
                                        &::after {
                                            position: absolute;
                                            top: 4px !important;
                                            right: 0;
                                            content: ":";
                                            padding-right: 5px;
                                        }
                                    }
                                    a {
                                        cursor: pointer;
                                        word-break: break-all;
                                    }
                                }
                            }
                            div.grid-list-form {
                                width: 100%;
                                display: flex;
                                .property {
                                    min-width: 120px;
                                    width: 100%;
                                    padding: 5px;
                                    max-width: 120px;
                                    font-weight: $font-weight-bold;
                                    font-size: $font-size-1;
                                    color: $text-gray;
                                    position: relative;
                                    &::after {
                                        content: ":";
                                        position: absolute;
                                        top: 4px;
                                        right: 5px;
                                    }
                                }
                                .value {
                                    padding: 5px;
                                }
                                .deposit-date {
                                    width: calc(100% - 130px);
                                    ::ng-deep {
                                        .mat-form-field {
                                            width: calc(100% - 70px);
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-outline {
                                            color: $secondary;
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-outline-start,
                                        .mat-form-field-appearance-outline .mat-form-field-outline-end,
                                        .mat-form-field-appearance-outline .mat-form-field-outline-gap {
                                            border-width: 2px !important;
                                        }
                                        .mat-form-field-wrapper {
                                            padding: 0 !important;
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-infix {
                                            padding: 3px 0 10px 0 !important;
                                            word-break:break-all !important;
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-prefix {
                                            top: 0px !important;
                                        }
                                        .mat-form-field-appearance-outline .mat-form-field-suffix {
                                            top: 6px !important;
                                        }
                                        .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
                                            padding-top: 10px !important;
                                        }
                                    }
                                    .action-btn {
                                        mat-icon {
                                            cursor: pointer;
                                            margin: 0 5px;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                        .expand-details.editable {
                            div {
                                display: flex;
                                ::ng-deep {
                                    .mat-form-field {
                                        width: 100%;
                                        @media only screen and (min-width: 1450px) {
                                            width: calc(85% - 20px);
                                        }
                                        @media screen and (max-width: 1450px) and (min-width: 1200px) {
                                            width: calc(65% - 20px);
                                        }
                                        @media screen and (max-width: 1200px) and (min-width: 1160px) {
                                            width: calc(65% - 20px);
                                        }
                                        @media screen and (max-width: 1160px) and (min-width: 920px) {
                                            width: calc(55% - 20px);
                                        }
                                        @media screen and (max-width: 920px) and (min-width: 320px) {
                                            width: 100%;
                                        }
                                    }
                                    .mat-form-field.w-100 {
                                        width: 95% !important;
                                    }
                                    .mat-form-field.mat-date-picker {
                                        @media only screen and (min-width: 1450px) {
                                            width: 70%;
                                        }
                                        @media screen and (max-width: 1450px) and (min-width: 1200px) {
                                            width: calc(60% - 20px);
                                        }
                                        @media screen and (max-width: 1200px) and (min-width: 1160px) {
                                            width: calc(60% - 20px);
                                        }
                                        @media screen and (max-width: 1160px) and (min-width: 920px) {
                                            width: calc(50% - 20px);
                                        }
                                    }
                                    .mat-form-field-wrapper {
                                        padding: 0 !important;
                                    }
                                    .mat-form-field-appearance-outline .mat-form-field-infix {
                                        padding: 3px 0 10px 0 !important;
                                        word-break: break-all !important;
                                    }
                                    .mat-form-field-appearance-outline .mat-form-field-prefix {
                                        top: 0px !important;
                                    }
                                    .mat-form-field-appearance-outline .mat-form-field-suffix {
                                        top: 6px !important;
                                    }
                                    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
                                        padding-top: 10px !important;
                                    }
                                }
                            }
                            .grid-list-form {
                                width: 100%;
                                display: flex;
                                div.value {
                                    padding: 5px 0 0 5px;
                                    width: 100%;
                                    color: $text-light;
                                    white-space: normal;
                                    word-break: break-word;
                                }
                                div.value.eor {
                                    display: block !important;
                                    p {
                                        margin: 0 !important;
                                    }
                                }
                                div.property {
                                    padding-top: 15px;
                                    min-width: 150px;
                                    width: 100%;
                                    max-width: 150px;
                                    font-weight: $font-weight-bold;
                                    font-size: $font-size-1;
                                    color: $text-gray;
                                    position: relative;
                                    white-space: normal;
                                    word-break: break-word;
                                    @media only screen and (max-width: 568px) {
                                        min-width: 110px;
                                        width: 100%;
                                        max-width: 110px;
                                    }
                                    &::after {
                                        content: ":";
                                        display: inline-flex;
                                        float: right;
                                        position: absolute;
                                        top: 15px;
                                        right: 0;
                                    }
                                }
                            }
                            .grid-list-form.mh-66 {
                                min-height: 66px;
                            }
                        }
                    }
                    // .expand-details-list.response_ {
                    //     &::before {
                    //         content: "";
                    //         height: -moz-calc(56% - 0px) !important;
                    //         height: -webkit-calc(56% - 0px) !important;
                    //         height: calc(56% - 0px) !important;
                    //     }
                    // }
                    .expand-details.strike {
                        div {
                            .value {
                                text-decoration: line-through;
                            }
                            &:nth-child(5),
                            &:last-child {
                                .value {
                                    text-decoration: none;
                                }
                            }
                        }
                        &:last-child {
                            div {
                                &:last-child {
                                    .value {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.eor-response {
    box-shadow: $box-shadow;
    background-color: $white;
    max-height: 250px;
    overflow: auto !important;
    table {
        thead {
            box-shadow: $box-shadow;
            th {
                position: sticky;
                top: 0;
            }
        }
    }
    .eor-allowance {
        .bg-white {
            background-color: $white;
        }
        .custom-input {
            input {
                width: calc(100% - 20px);
                border: 1px solid $light-gray;
                border-radius: 5px;
                padding: 5px;
                &:hover,
                &:focus,
                &:focus-visible {
                    border: 1px solid #d5aed2;
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .eor-allowance.strike {
        tr {
            td {
                text-decoration: line-through !important;
            }
        }
    }
}
.eor-error-message {
    padding: 10px;
    margin: 20px 0 10px 0;
    color: $error;
    background-color: $error-bg;
    border: 1px solid $error-border;
    border-radius: 3px;
}
::ng-deep {
    .custom-input {
        input {
            width: calc(100% - 20px);
            border: 1px solid $light-gray;
            border-radius: 5px;
            padding: 5px;
            &:hover,
            &:focus,
            &:focus-visible {
                border: 1px solid #d5aed2;
                box-shadow: none;
                outline: none;
            }
        }
    }
}
.bill-response-mobile {
    .strike-mobile-line-item {
        .value {
            text-decoration: line-through;
        }
    }
}