<!-- ===== Payment Response ====
    <div class="bill-item payment-response">
        <mat-card>
            <mat-card-header>
                <div class="content-wrapper-main-title">Payment Responses</div>
                <span class="spacer"></span>
                <button mat-raised-button class="filled-gray m-b-5">
                    Add Payment
                </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="m-b-10">
                <div fxLayout="row wrap" class="p-t-10">
                    <div #scrollBottom class="user-detail vertical-fixed hide-mobile">
                        <form [formGroup]="userTable">
                            <table class="table table-border res-table pay-response" [ngClass]="{'table-dark': mode}">
                                <thead class="text-nowrap">
                                    <th>Submission</th>
                                    <th>Date Sent</th>
                                    <th>Due Date</th>
                                    <th>Charge</th>
                                    <th>Payment</th>
                                    <th>Balance</th>
                                    <th>Reference Number</th>
                                    <th>Post Date</th>
                                    <th>Post Type</th>
                                    <th>Explanation Of Review</th>
                                    <th>Status</th>
                                    <th>More</th>
                                </thead>
                                <tbody>
                                    <tr class="bill-value">
                                        <td>First</td>
                                        <td>12-07-2020</td>
                                        <td>02-05-2021</td>
                                        <td>$3516.00</td>
                                        <td>$3516.00</td>
                                        <td><span class="text-danger">$0.00</span></td>
                                        <td>666555777400</td>
                                        <td>01–22-2021</td>
                                        <td>Electronic</td>
                                        <td><a href="" class="text-ternary underline">EOR-12345678-person.pdf</a></td>
                                        <td><span class="text-success">Paid</span></td>
                                        <td class="more">
                                            <button mat-button [matMenuTriggerFor]="menu1">More <mat-icon>
                                                    arrow_drop_down
                                                </mat-icon> </button>
                                            <mat-menu #menu1="matMenu" class="custom-menu" [overlapTrigger]="false">
                                                <form (click)="$event.stopPropagation()">
                                                    <mat-card class="more-details">
                                                        <mat-card-content>
                                                            <div class="details">
                                                                <div class="Property">Effective Date</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="details">
                                                                <div class="Property">Deposited Date</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Payment Method</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Payer Claim Control Number</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Penalty Charged</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Penalty Paid</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Interest Charged</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Interest Paid</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Void</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </form>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-select>
                                                    <mat-option>First</mat-option>
                                                    <mat-option>Second</mat-option>
                                                    <mat-option>Independent</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput min="0" type="number" autocomplete="off">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput min="0" type="number" autocomplete="off">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <span class="text-danger">$3516.00</span>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline">
                                                <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                                                <mat-datepicker-toggle matSuffix [for]="picker2">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-select>
                                                    <mat-option>Electronic</mat-option>
                                                    <mat-option>Manual</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button mat-raised-button class="filled-lightgray mini-btn"
                                                style="min-width:60px">Upload</button>
                                        </td>
                                        <td>
                                            <span class="text-success">Paid</span>
                                        </td>
                                        <td class="more">
                                            <button mat-button [matMenuTriggerFor]="menu">More <mat-icon>arrow_drop_down
                                                </mat-icon> </button>
                                            <mat-menu #menu="matMenu" class="custom-menu" [overlapTrigger]="false">
                                                <form (click)="$event.stopPropagation()">
                                                    <mat-card class="more-details">
                                                        <mat-card-content>
                                                            <div class="details">
                                                                <div class="Property">Effective Date</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="details">
                                                                <div class="Property">Deposited Date</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Payment Method</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Payer Claim Control Number</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Penalty Charged</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Penalty Paid</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Interest Charged</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property">Interest Paid</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>

                                                            <div class="details">
                                                                <div class="Property text-danger">Void</div>
                                                                <div class="custom-value">
                                                                    <mat-form-field appearance="outline" class="w-100">
                                                                        <input matInput min="0" type="text"
                                                                            autocomplete="off">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </mat-card-content>
                                                    </mat-card>
                                                </form>
                                            </mat-menu>
                                        </td>
                                    </tr>


                                </tbody>
                                <tfoot>
                                    <tr class="bill-value" id="static-footer">
                                        <td><b>Bill Total</b></td>
                                        <td></td>
                                        <td></td>
                                        <td><b>$3516.00</b></td>
                                        <td><b>$3516.00</b></td>
                                        <td class="text-danger">$0.00</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
                   <div class="m-t-10">
                    <button mat-raised-button class="filled-gray m-r-10" (click)="openCloseBillDialog()">Close Bill</button>
                    <button mat-raised-button class="filled-gray" (click)="openSecondBillReviewDialog()">Second Bill Review</button>
                   </div>
            </mat-card-content>
        </mat-card>
    </div> -->
<mat-card class="m-card m-t-10">
    <mat-card-header>
        <div class="content-wrapper-main-title">Payment Responses</div>
        <span class="spacer"></span>
        <!-- <button mat-raised-button class="filled-gray m-b-5">
            Add Payment
        </button> -->
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-b-10">
        <div class="user-detail m-t-10">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table"
                matSort>
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">
                        {{columnName[i]}} </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="i == 0">
                            <mat-icon mat-raised-button
                                [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                            </mat-icon>
                        </span>
                        <div>
                            <span *ngIf="column == 'bill_id'">{{element?.bill_id}}</span>
                            <span *ngIf="column == 'submission'">{{element?.submission}}</span>
                            <span *ngIf="column == 'sent_date'">{{element?.sent_date}}</span>
                            <span *ngIf="column == 'due_date'">{{element?.due_date}}</span>
                            <span *ngIf="column == 'charge'">{{element?.charge}}</span>
                            <span *ngIf="column == 'payment'">{{element?.payment}}</span>
                            <span *ngIf="column == 'balance'" class="text-danger">{{element?.balance}}</span>
                            <span *ngIf="column == 'status'" class="text-success">{{element?.status}}</span>
                            <span *ngIf="column == 'action'"> <button class="mini-btn filled-gray"
                                    mat-raised-button>Add</button></span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                            <div class="expand-details-list" fxLayout="row wrap">
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details">
                                    <div><span class="prp_">Explanation of Review</span><span class="prv_"><a class="text-ternary">EOR-12345678-person.pdf</a></span></div>
                                    <div><span class="prp_">Post Date</span><span class="prv_">29-01-2021</span></div>
                                    <div><span class="prp_">Effective Date</span><span class="prv_">06-02-2021</span></div>
                                    <div><span class="prp_">Deposit Date</span><span class="prv_">30-01-2021</span></div>
                                </div>
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details">
                                    <div><span class="prp_">Payment Amount</span><span class="prv_">$100.00</span></div>
                                    <div><span class="prp_">Payment Method</span><span class="prv_">Check</span></div>
                                    <div><span class="prp_">Penalty Charged</span><span class="prv_">30-12-1899</span></div>
                                    <div><span class="prp_">Penalty Paid</span><span class="prv_">30-12-1899</span></div>
                                </div>
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details">
                                    <div><span class="prp_">Reference Number</span><span class="prv_">7863485435</span></div>
                                    <div><span class="prp_">Interest Charged</span><span class="prv_"></span></div>
                                    <div><span class="prp_">Interest Paid</span><span class="prv_"></span></div>
                                    <div><span class="prp_">Void,Void Reason</span><span class="prv_"></span></div>
                                </div>
                            </div>



                            <!-- <div class="expand-details-list" fxLayout="row wrap">
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details editable">
                                    <div>
                                        <span class="prp_">Explanation of Review</span>
                                        <span class="prv_">
                                            <button class="filled-gray mini-btn" mat-raised-button>Upload</button>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Post Date</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Effective Date</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Deposit Date</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                </div>
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details editable">
                                    <div>
                                        <span class="prp_">Payment Amount</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Payment Method</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Penalty Charged</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Penalty Paid</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                </div>
                                <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details editable">
                                    <div>
                                        <span class="prp_">Reference Number</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Interest Charged</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Interest Paid</span>
                                        <span class="prv_">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <input matInput type="text" placeholder="" autocomplete="off">
                                            </mat-form-field>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="prp_">Void</span>
                                        <mat-radio-group aria-label="Select an option">
                                            <mat-radio-button value="1" class="m-r-10">Yes</mat-radio-button>
                                            <mat-radio-button value="2">No</mat-radio-button>
                                        </mat-radio-group>
                                    </div>

                                    <div>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput type="text" placeholder="Void Reason" autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="w-100 text-center p-t-10">
                                    <button class="outline-danger m-r-10" mat-stroked-button>Cancel</button>
                                    <button class="outline-success" mat-stroked-button>Save</button>
                                </div>
                            </div> -->
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                    [class.row]="expandedElement === element" (click)="openElement(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <!-- <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata> -->
        </div>
    </mat-card-content>
</mat-card>