<mat-card class="m-card m-t-20">
    <mat-card-header>
        <div class="content-wrapper-main-title">Payment Responses</div>
        <span class="spacer"></span>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="m-b-10">
        <form [formGroup]="paymentForm" fxLayout="row wrap">
            <div class="user-detail m-t-10" formArrayName="payments">
                <table class="table res-table pay-response">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bill #</th>
                            <th>Submission</th>
                            <th>Date Sent</th>
                            <th>Due Date</th>
                            <th>Charge</th>
                            <th>Payment</th>
                            <th>Balance</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <thead *ngFor="let payemnt of payments().controls; let payIndex=index" [formGroupName]="payIndex">
                        <tr>
                            <td>
                                <mat-icon class="text-success" (click)="openElement(payemnt.get('id').value)">{{expandId
                                    == payemnt.get('id').value ? 'remove_circle' : 'add_circle'}}</mat-icon>
                            </td>
                            <td>{{payemnt.get('bill_id').value}}</td>
                            <td>First</td>
                            <td>12-07-2020</td>
                            <td>02-05-2021</td>
                            <td>$3516.00</td>
                            <td>$100.00</td>
                            <td class="text-danger">$3416.00</td>
                            <td class="text-success">Partially Paid</td>
                            <td><button mat-raised-button class="mini-btn filled-gray"
                                    (click)="paymentReviews(payIndex)?.controls?.length == 0 ? addReviews(payIndex) : ''">Add
                                    Response</button></td>
                        </tr>

                        <tr formArrayName="reviews" *ngIf="expandId == payemnt.get('id').value">
                            <td colspan="10">
                                <div class="detail"
                                    *ngFor="let review of paymentReviews(payIndex).controls; let reviewIndex=index">
                                    <div [formGroupName]="reviewIndex">
                                        <div class="expand-details-list" fxLayout="row wrap">
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details strike">
                                                <div><span class="prp_">Explanation of Review</span><span
                                                        class="prv_"><a class="text-ternary">EOR-12345678-person.pdf</a>
                                                    </span>
                                                </div>
                                                <div><span class="prp_">Post Date</span><span
                                                        class="prv_">29-01-2021</span></div>
                                                <div><span class="prp_">Effective Date</span><span
                                                        class="prv_">06-02-2021</span></div>
                                                <div><span class="prp_">Deposit Date</span><span
                                                        class="prv_">30-01-2021</span></div>
                                                <div><span class="prp_">Created By</span><span class="prv_">Venkatesan
                                                        Mariyappan</span></div>
                                                <div><span class="prp_">Created On</span><span
                                                        class="prv_">30-01-2021</span></div>
                                            </div>
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details strike">
                                                <div><span class="prp_">Payment Amount</span><span
                                                        class="prv_">$100.00</span></div>
                                                <div><span class="prp_">Payment Method</span><span
                                                        class="prv_">Check</span></div>
                                                <div><span class="prp_">Penalty Charged</span><span
                                                        class="prv_">30-12-1899</span></div>
                                                <div><span class="prp_">Penalty Paid</span><span
                                                        class="prv_">30-12-1899</span></div>
                                                <div><span class="prp_">Updated By</span><span class="prv_">Rajan
                                                        Mariyappan</span></div>
                                                <div><span class="prp_">Updated On</span><span
                                                        class="prv_">30-12-1899</span></div>
                                            </div>
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="expand-details strike">
                                                <div><span class="prp_">Reference Number</span><span
                                                        class="prv_">7863485435</span></div>
                                                <div><span class="prp_">Interest Charged</span><span
                                                        class="prv_"></span></div>
                                                <div><span class="prp_">Interest Paid</span><span class="prv_"></span>
                                                </div>
                                                <div><span class="prp_">Void Reason</span><span class="prv_">Void Reason Comes Here</span>
                                                </div>
                                            </div>
                                            <div fxFlex="100">
                                                <button mat-raised-button class="filled-gray m-t-15"
                                                    (click)="openDialog()">Edit Response</button>

                                            </div>
                                        </div>
                                        <div class="expand-details-list" fxLayout="row wrap">
                                            <div fxFlex="100">
                                                <div fxLayout="row wrap">
                                                    <div class="main-title p-l-0 p-b-10" fxFlex="100">First Bill Submission Edit
                                                        Reason</div>
                                                    <mat-radio-group aria-label="Select an option" fxFlex="100"
                                                        fxFlex.sm="100" fxFlex.xs="100">
                                                        <mat-radio-button value="1" class="m-r-15">Void Payment
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="m-r-15">Adjust Payment
                                                        </mat-radio-button>
                                                        <mat-radio-button value="3">Correction</mat-radio-button>
                                                    </mat-radio-group>
                                                    <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
                                                        <mat-form-field appearance="outline" class="w-100 m-t-10">
                                                            <mat-label>Reason</mat-label>
                                                            <input matInput placeholder="Reason">
                                                            <mat-error>Error message comes here...</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="main-title m-t-10 p-l-0 p-b-10">Add new response</div>
                                                </div>
                                            </div>
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100"
                                                class="expand-details editable">
                                                <div>
                                                    <span class="prp_">Explanation of Review *</span>
                                                    <span class="prv_">
                                                        <button class="filled-gray mini-btn"
                                                            mat-raised-button (click)="uploader.click()">Upload</button>
                                                            <input type="file" #uploader hidden
                                                            (change)="addEOR($event,reviews)"
                                                            accept=".pdf, .jpg, .jpeg, .png" required>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Post Date *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="post_date" matInput type="text"
                                                                placeholder="" autocomplete="off" [min]="minimumDate" [matDatepicker]="post_date">
                                                                <mat-datepicker-toggle matSuffix [for]="post_date"></mat-datepicker-toggle>
                                                                <mat-datepicker #post_date></mat-datepicker>    
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Effective Date *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="effective_date" matInput type="text"
                                                                autocomplete="off" placeholder="" [min]="minimumDate" [matDatepicker]="effective">
                                                                <mat-datepicker-toggle matSuffix [for]="effective"></mat-datepicker-toggle>
                                                                <mat-datepicker #effective></mat-datepicker>
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Deposit Date *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="deposit_date" matInput type="text" placeholder=""
                                                                autocomplete="off" [min]="minimumDate" [max]="currentDate" [matDatepicker]="deposited">
                                                                <mat-datepicker-toggle matSuffix [for]="deposited"></mat-datepicker-toggle>
                                                                <mat-datepicker #deposited></mat-datepicker>
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                            </div>
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100"
                                                class="expand-details editable">
                                                <div>
                                                    <span class="prp_">Payment Amount *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="payment_amount" matInput type="number" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Payment Method *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <mat-select formControlName="payment_method">
                                                                <mat-option *ngFor="let payment of paymentTypes" [value]="payment">
                                                                    {{payment}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Penalty Charged</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="penalty_charged" matInput type="number" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Penalty Paid</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="penalty_paid" matInput type="number" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                            </div>
                                            <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100"
                                                class="expand-details editable">
                                                <div>
                                                    <span class="prp_">Reference Number *</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="reference_no" matInput type="text" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Interest Charged</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="interest_charged" matInput type="number" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="prp_">Interest Paid</span>
                                                    <span class="prv_">
                                                        <mat-form-field appearance="outline" class="w-100">
                                                            <input formControlName="interest_paid" matInput type="number" placeholder=""
                                                                autocomplete="off">
                                                        </mat-form-field>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="w-100 text-center p-t-10">
                                                <button class="outline-danger m-r-10" mat-stroked-button>Cancel</button>
                                                <button class="outline-success" (click)="saveReview()"
                                                    mat-stroked-button>Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </thead>
                </table>
            </div>
        </form>
        <div fxLayout="row wrap" class="m-t-15">
            <button mat-raised-button class="filled-gray m-r-5" (click)="openCloseBillDialog()">Close Bill</button>
            <button mat-raised-button class="filled-gray m-r-5" (click)="openLateResponse()">Late Response</button>
            <button mat-raised-button class="filled-gray m-r-5" disabled>Second Bill Review</button>
            <button mat-raised-button class="filled-gray" disabled>Independent Bill Review</button>

        </div>
    </mat-card-content>
</mat-card>