@import "variables";
button {
   float: right;
   display: block;
   margin-bottom: 5px;
 }
div {
    table {
        .action {
            th {
                text-align: center !important;
                display: block;
            }
            td {
                .delete-user {
                    :hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
