<div class="m-t-10 p-b-30">
    <table mat-table [dataSource]="dataSource" class="user-table">

        <ng-container matColumnDef="body_part">
            <th mat-header-cell *matHeaderCellDef> Body parts </th>
            <td mat-cell *matCellDef="let element"> {{element.body_part}} </td>
        </ng-container>

        <ng-container matColumnDef="d_o_i">
            <th mat-header-cell *matHeaderCellDef> Date of injury </th>
            <td mat-cell *matCellDef="let element"> {{element.d_o_i}} </td>
        </ng-container>

        <ng-container matColumnDef="action" class="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="editInjury(element,i)" class="edit-user" mat-raised-button matTooltip="Edit"
                    matTooltipPosition="right">edit
                </mat-icon> |
                <mat-icon (click)="deleteInjury(element, i)" class="delete-user" mat-raised-button matTooltip="Delete"
                    matTooltipPosition="right" color="warn">delete
                </mat-icon>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>