@import "variables";
@import "table";
mat-card {
    padding: 10px;
    box-shadow: $shadow-style-one !important;
    &:hover {
        box-shadow: $shadow-style-one-hover;
    }
    &:hover {
        box-shadow: $box-shadow-1;
    }
}
button {
    float: right;
    display: block;
    margin-bottom: 5px;
    @media only screen and (max-width: 568px) {
        margin-top: 5px;
    }
}
// div {
//     table {
//         .action {
//             th {
//                 text-align: center !important;
//                 display: block;
//             }
//             td {
//                 .delete-user {
//                     :hover {
//                         color: $white;
//                     }
//                 }
//             }
//         }
//     }
// }
