@import "variables";

div {
    table {
        .action {
            th {
                text-align: center !important;
                display: block;
            }
            td {
                .delete-user {
                    :hover {
                        color: $white;
                    }
                }
            }
        }
    }
}
