<mat-card>
    <mat-card-header>
        <div class="content-wrapper-main-title p-t-10 m-b-10">Injury Information</div>
        <span class="spacer"></span>
        <button mat-stroked-button color="primary" (click)="addInjury()" class="m-b-5 outline-success">
            Add
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-b-15">
        <!-- <div class="m-t-10 striped_ vertical-fixed">
            <table mat-table [dataSource]="dataSource" class="user-table w-100">

                <ng-container matColumnDef="body_part">
                    <th mat-header-cell *matHeaderCellDef class="data-max-width"> Body parts </th>
                    <td mat-cell *matCellDef="let element"> {{element?.body_part}} </td>
                </ng-container>

                <ng-container matColumnDef="date_of_injury">
                    <th mat-header-cell *matHeaderCellDef class="no-wrap-td text-center"> Date of injury </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                        {{element?.date_of_injury | date:'MM-dd-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="action" class="action">
                    <th mat-header-cell *matHeaderCellDef class="no-wrap-td text-center"> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index" class=" text-center">
                        <a (click)="openDialog(element, i)" class="text-success m-r-20">Edit</a>
                        <a (click)="deleteInjury(element,i )" class="text-danger">Remove</a>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div> -->
        <div class="user-detail vertical-fixed default-cursor m-t-10">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                    <th mat-header-cell *matHeaderCellDef>
                        {{columnName[i]}} </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="i == 0 && isMobile">
                            <mat-icon mat-raised-button
                                [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                            </mat-icon>
                        </span>
                        <div>
                            <span *ngIf="column == 'body_part'">{{element?.body_part}}</span>
                            <span
                                *ngIf="column == 'date_of_injury'">{{element?.date_of_injury | date:'MM-dd-yyyy'}}</span>
                            <span *ngIf="column == 'action'" class="text-center no-wrap-td">
                                <a (click)="$event.stopPropagation();openDialog(element, i)" class="text-success m-r-20">Edit</a>
                                <a (click)="$event.stopPropagation();deleteInjury(element,i )" class="text-danger">Remove</a>
                            </span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                            <div class="responsive-table">
                                <div><span>Body parts</span><span>{{element?.body_part}}</span></div>
                                <div><span>Date of injury</span><span> {{element?.date_of_injury | date:'MM-dd-yyyy'}}
                                    </span></div>
                            </div>
                        </div> 
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                    [class.row]="expandedElement === element" (click)="openElement(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>

    </mat-card-content>
</mat-card>