<div class="billable-item-search text-left">
    <div class="container m-t-100">
        <div class="main-title">Search by Claimant Name or Claim number for create new billable item</div>
        <div class="searchable-dropdown">
            <form class="example-form">
                <mat-form-field appearance="outline" hideRequiredMarker="hideRequiredControl.auto"
                    floatLabel="floatLabelControl.auto">
                    <input matInput placeholder="Search by Claimant Name or Claim Number"
                        aria-label="Search by Claimant Name or Claim Number" [formControl]="claimCtrl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let claimant of filteredClaimants" (click)="searchClick(claimant); isSearch = false" [value]="claimant._source?.clmd_lname"
                                class="custom-option">
                                <ul>
                                    <li>
                                        <div class="cn">{{claimant?._source?.clmd_lname}} {{claimant?._source?.clmd_fname}}</div>
                                    </li>
                                    <li>
                                        <p>
                                           <span class="ex_na" title="{{claimant?._source?.ex_last_name}} {{claimant?._source?.ex_first_name}}{{claimant?._source?.suffix ? ', '+ claimant?._source?.suffix : ''}}">{{claimant?._source?.ex_last_name}} {{claimant?._source?.ex_first_name}}{{claimant?._source?.suffix ? ', '+ claimant?._source?.suffix : ''}}</span>
                                           <span>
                                            <strong class="mw" title="{{claimant?._source?.claim_number}}">Claim #</strong>: {{claimant?._source?.claim_number}}
                                          </span>
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            <span title="{{claimant?._source?.exam_procedure_name}}">{{claimant?._source?.exam_procedure_name}}</span>
                                            <span>
                                                <strong class="mw" title="{{claimant?._source?.date_of_service | date:'MM-dd-yyyy'}}">DOS</strong>: {{claimant?._source?.date_of_service | date:'MM-dd-yyyy'}}
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </mat-option>
                            <mat-option disabled *ngIf="claimCtrl?.value?.length > 1 && filteredClaimants?.length == 0">
                                Claim Data Not Available
                            </mat-option>
                        </mat-autocomplete>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>