
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "./sass/variables";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lucyfrontend-primary: mat-palette($mat-indigo);
$lucyfrontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lucyfrontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lucyfrontend-theme: mat-light-theme($lucyfrontend-primary, $lucyfrontend-accent, $lucyfrontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lucyfrontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {    
    font-family: Roboto,sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    color: #12263f;}

.spacer {flex: 1 1 auto;}

button:focus {
    outline:none !important;
}
.m-auto {
    margin: 0px auto;
}


// ==================================================
// SPACING
// ==================================================
 
$spaceamounts: (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
// .mat-form-field-appearance-outline .mat-form-field-wrapper {    
//     padding-bottom: 05px;
//     display: block;
//     .mat-form-field-subscript-wrapper {
//       position: inherit !important;
//     }
//   }


// ==================================================
// SNACKBAR STYLE
// ==================================================
 

  .mat-snack-bar-container  {
    background: #4CAF50;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    .alert-success {
       color: $black !important;
       padding: 10px;
    }
    .alert-error {
      color:$black !important;
      padding: 10px;
   }
    }

    .mat-form-field-wrapper {
      padding-bottom: 10px;
    }