// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "./sass/variables";
@import "./sass/table";
@import "./sass/tabs";
@import "./sass/progress";
@import "./sass/sidenav";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lucyfrontend-primary: mat-palette($mat-indigo);
$lucyfrontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lucyfrontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lucyfrontend-theme: mat-light-theme($lucyfrontend-primary, $lucyfrontend-accent, $lucyfrontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lucyfrontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
* {
  font-family: "Lato";
}
body {
  font-family: "Lato" !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}

.spacer {
  flex: 1 1 auto;
}

button:focus {
  outline: none !important;
}
.m-auto {
  margin: 0px auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  // border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  // -webkit-border-radius: 10px;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  // -webkit-border-radius: 10px;
  // border-radius: 10px;
  background: $light-gray;
  opacity: 0.5;
}

/* Scrollbar Styling */
textarea::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  // border-radius: 10px;
}
// ==================================================
// SPACING
// ==================================================

$spaceamounts: (
  0,
  1,
  2,
  3,
  4,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  65,
  75,
  80,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// ==================================================
// Error style
// ==================================================
.auth-alert {
  padding: 10px 10px;
  width: auto;
  text-align: left;
  opacity: 1;
  border-radius: 5px;
  display: flow-root;
  .icon {
    width: 6%;
    float: left;
  }
  .alert {
    width: 94%;
    float: left;
  }
  .fa-times-circle {
    float: right;
    padding: 5px 5px 0 0;
    cursor: pointer;
  }
}

.alert-success,
.success {
  background-color: $success-bg;
  color: $success;
  border-color: $success-border;
  border: 1px solid;
}
.error {
  background-color: $error-bg;
  color: $error;
  border-color: $error-border;
  border: 1px solid;
}
.alert-danger {
  background-color: $error-bg;
  color: $error;
  border-color: $error-border;
  border: 1px solid;
}
.alert-warning,
.warning {
  background-color: $warning-bg;
  color: $warning;
  border-color: $warning-border;
  border: 1px solid;
}

// ==================================================
// NOTIFICATION STYLE
// ==================================================

.notification {
  box-shadow: $box-shadow-none;
  min-width: 280px;
  mat-card-header {
    width: $width-100;
    display: block;
    mat-card-title {
      font-size: $font-size-1 !important;
      font-weight: $font-weight-medium;
      text-align: center;
      margin-bottom: 5px;
    }
  }
  mat-card-content {
    margin-bottom: 0px;
    display: block;
    max-height: 220px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    mat-list {
      mat-list-item {
        height: auto !important;
        .mat-list-item-content {
          padding: 10px !important;
          img {
            width: 40px !important;
            height: 40px !important;
            border-radius: 5px !important;
            box-shadow: $box-shadow-3;
            padding: 5px;
          }
          .mat-list-text {
            padding: 0 10px 0 10px !important;
            h4 {
              margin: 0;
              font-size: $font-size-7;
              color: $text-dark;
              float: left;
              width: $width-100;
              line-height: 1;
              font-weight: $font-weight-bold;
              small {
                color: $light-gray;
              }
            }
            p {
              margin: 0;
              font-size: $font-size-3 !important;
              color: $text-gray;
              float: left;
              width: $width-100;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  mat-card-footer {
    margin: 0px !important;
    div {
      font-size: $font-size-1 !important;
      font-weight: $font-weight-medium;
      text-align: center;
      padding: 10px 0 0 0;
      color: $ternary-color !important;
      cursor: pointer;
    }
  }
}

.hide-mobile {
  @media only screen and (max-width: 568px) {
    display: none !important;
  }
}
.show-mobile {
  @media only screen and (min-width: 568px) {
    display: none !important;
  }
}
.show-sm {
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    display: block !important;
  }
}
.hide-sm {
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    display: none !important;
  }
}
.amcharts-chart-div a {
  display: none !important;
}

// FIle Upload

.file-upload {
  margin-top: 10px;
  border: 1px dashed $primarycolor;
  padding: 30px 50px;
  background-color: $bg-light-blue;
  border-radius: 5px;
  color: $white;
  vertical-align: middle;
  box-shadow: $box-shadow-5;
  p {
    vertical-align: middle;
    color: $primarycolor;
    text-align: center;
  }
  .input {
    padding: 8px 25px;
    color: $white;
    background-color: $primarycolor;
    box-shadow: $box-shadow-5;
    border-radius: 3px;
    text-align: center;
    margin: 0px auto;
    max-width: 50px;
    display: block;
    &:focus {
      outline: none;
    }
  }
}
// @media not all and (min-resolution: 0.001dpcm) {
//   @supports (-webkit-appearance: none) and (stroke-color: transparent) {
//     .mat-form-field-outline-end {
//       border-radius: 0px !important;
//     }

//     .mat-form-field-outline-start {
//       border-radius: 0px !important;
//     }
//   }
// }
// .mat-form-field-outline-end {
//   border-radius: 0px !important;
// }

// .mat-form-field-outline-start {
//   border-radius: 0px !important;
// }

.create-claimant-stepper {
  .mat-horizontal-content-container {
    padding: 5px !important;
  }
}

// ADVANCE SEARCH CUSTOM SCSS

.advanced_search,
.adj_filter {
  .mat-form-field-flex {
    padding: 0px !important;
  }
}

// action buttons
.confirmed {
  border: 1px solid $secondaryarkcolor;
  box-shadow: $box-shadow-2;
  white-space: nowrap;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: $font-size-7;
}

.not_confirmed {
  border: 1px solid $danger;
  box-shadow: $box-shadow-2;
  white-space: nowrap;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: $font-size-7;
}
.left_voicemail {
  border: 1px solid $warning-light;
  box-shadow: $box-shadow-2;
  white-space: nowrap;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: $font-size-7;
}

.claimant_details_model,
.claim_details_model,
.billableiten_details_model {
  div {
    .scroll_ {
      max-height: 70vh;
      overflow: auto;
      .sub-title {
        border-bottom: 1px solid $light-color;
      }
      mat-divider {
        display: block;
      }
      div {
        .claim_popup {
          padding-top: 10px;
          .claim_label {
            width: $width-100;
            div {
              font-weight: $font-weight-bold;
              font-size: $font-size-1;
              padding-top: 10px;
              color: $text-gray;
              &::after {
                content: ":";
                display: inline-block;
                float: right;
                padding-right: 10px;
              }
            }
          }
          .claim_value {
            width: $width-100;
            div {
              font-size: $font-size-1;
              padding-top: 10px;
              color: $text-gray;
            }
          }
        }
      }
    }
    div {
      .des_ {
        font-size: $font-size-7;
        color: $text-gray;
      }
      .map {
        padding: 5px;
      }
    }
  }
  mat-card-footer {
    box-shadow: $box-shadow-1;
    .close_btn {
      float: right;
      border-radius: 50px;
      background-color: $btn_close;
      padding: 5px 20px !important;
      box-shadow: $box-shadow-4;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        background-color: $light-gray;
      }
    }
  }
}

.mat-step-label-selected {
  color: $btn_success !important;
  font-weight: bold !important;
}
.mat-step-icon-selected {
  background-color: $btn_success !important;
}

// Firefox allignments

@-moz-document url-prefix() {
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: inherit !important;
    // top: 5px;
    position: relative;
  }
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button.clear {
    top: 5px;
  }
  .mat-form-field.duration:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix {
    top: -3px;
  }
}
.mat-form-field.duration:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix {
  top: -2px;
}
// custom calender css
.fc-event,
.fc-event:hover {
  cursor: pointer;
}
.fc-button {
  border: 1px solid #d7dae3;
  text-transform: capitalize;
  @media only screen and (max-width: 568px) {
    font-size: $font-size-7 !important;
  }
}
.fc-button .fc-icon {
  @media only screen and (max-width: 568px) {
    font-size: 10px;
    width: 10px;
    height: 10px;
  }
}
.fc-header-toolbar {
  .fc-left {
    h2 {
      font-size: $font-size-9;
      font-weight: $font-weight-bold;
    }
  }
}
.fc-toolbar {
  button {
    background-color: $white;
    border: 1px solid $light-gray;
    color: $text-gray;
    &:hover {
      background-color: $white !important;
      border: 1px solid $light-gray !important;
      color: $primary !important;
    }
    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  button.fc-button-active {
    background-color: $white !important;
    border: 1px solid $light-gray !important;
    color: $primary !important;
  }
}
.fc-button-primary:disabled {
  background-color: $secondary;
  border-color: $secondary;
  &:hover {
    color: $secondary;
    background-color: $secondary;
    cursor: pointer;
  }
}
.fc-toolbar.fc-header-toolbar {
  @media only screen and (max-width: 568px) {
    min-height: 90px;
  }
  h2 {
    float: right;
    padding-top: 5px;
    font-size: $font-size-10;
    @media screen and (max-width: 1024px) and (min-width: 481px) {
      font-size: $font-size-1;
      padding-top: 10px;
    }
  }
  @media only screen and (max-width: 568px) {
    display: block;
  }
}
.fc-day-header.fc-widget-header {
  @media only screen and (max-width: 568px) {
    text-transform: capitalize !important;
    padding: 5px 0px;
  }
}
.fc-toolbar {
  .fc-right {
    @media only screen and (max-width: 568px) {
      float: left;
      padding: 18px 0 0 0;
      z-index: 99999;
      width: 100%;
    }
  }
  .fc-button-group {
    @media only screen and (max-width: 568px) {
      float: right;
    }
  }
}
.fc-head {
  background-color: $navbar-light;
  tr {
    th {
      padding: 10px 15px;
      font-size: $font-size-1;
      color: $text-dark;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}

// .fc-view th,
// .fc-view td,
// .fc-view thead,
// .fc-view tbody,
// .fc-view .fc-divider,
// .fc-view .fc-row,
// .fc-view .fc-content,
// .fc-view .fc-popover,
// .fc-view .fc-list-view,
// .fc-view .fc-list-heading td {
//   border-color: #eaf0f4;
// }
.fc-bgevent-skeleton {
  td {
    padding: 10px;
  }
}
.fc-today {
  background: #f5f6fa !important;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  padding: 5px;
}
.fc-event,
.fc-event:hover {
  border: none !important;
  padding: 1px 5px !important;
}

mat-horizontal-stepper {
  .mat-horizontal-stepper-header {
    .mat-step-icon-state-number,
    .mat-step-icon-state-edit {
      @media only screen and (max-width: 568px) {
        display: none;
      }
    }
    .mat-step-label {
      @media only screen and (max-width: 568px) {
        text-align: center;
      }
    }
    span {
      @media only screen and (max-width: 568px) {
        display: block;
      }
    }
  }
}
// date picker focus
mat-datepicker-toggle {
  &:focus {
    outline: none;
  }
}
// image cropper
image-cropper {
  min-width: 100%;
  width: 100%;
  height: 50vh;
}

// On-Demand pages common styles
mat-progress-bar {
  height: 20px !important;
  color: $light-color;
  .mat-progress-bar-buffer {
    background: $progres-light-gray;
  }
}
.billable-item-status,
.billing {
  .ondemand-status {
    .container {
      padding-left: 0px;
    }
  }
  .main-title {
    font-size: $font-size-10 !important;
    font-weight: $font-weight-medium;
    color: $black;
  }
  .description {
    margin-top: 2px;
  }
  .mh-auto {
    min-height: auto !important;
  }
  .info-alert {
    padding: 10px 15px;
    color: $info;
    background-color: $info-bg;
    border: 1px solid $info-border;
    width: fit-content;
    border-radius: 5px;
  }
}

// Correspondence and billing recipient custom css
.recipient {
  .content-wrapper-main-title {
    color: $text-dark;
  }
  .info-alert {
    color: $info;
    font-size: $font-size-1;
    padding: 3px 8px;
    border-radius: 2px;
    width: auto;
    float: right;

    @media only screen and (max-width: 568px) {
      float: left;
      margin: 5px 0;
      width: -webkit-fill-available;
      border-radius: 4px;
    }
    i {
      margin-right: 10px;
    }
  }
  .ondemand-info {
    @extend .ondemand-info;
    i {
      padding-top: 7px;
    }
  }

  th {
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
      border-color: $white;
    }
    #dropdown-list {
      vertical-align: middle;
      margin-top: 10px;
      line-height: 0.5;
      padding: 0 0 0 5px;
    }
    .mat-checkbox-frame {
      border-color: $white;
    }
  }
  .basic-table.vertical-fixed {
    min-height: 290px;
    height: 290px;
    overflow: auto;
    .default-select {
      float: right;
      color: $ternary;
      font-weight: $font-weight-bold;
    }
    .custom-list {
      display: flex;
      float: right;
    }

    .width-fixed {
      width: 25px !important;
      padding-right: 0px !important;
    }
    .white-btn {
      float: right;
      background-color: $ternary !important;
      color: $white;
      border: 1px solid $ternary;
    }
  }
  .ondamand-request {
    button {
      width: 98%;
      height: 60px !important;
      font-size: $font-size-10 !important;
      font-weight: $font-weight-base;
      white-space: break-spaces;
      overflow-wrap: break-word;
      line-height: inherit;
    }
    .align-left {
      text-align: left;
      @media only screen and (max-width: 568px) {
        text-align: center;
      }
      .outline-warning {
        @extend .outline-warning;
      }
      .note {
        font-size: $font-size-7;
        color: $ternary;
        padding-top: 4px;
      }
    }
    .align-center {
      text-align: center;
      @media only screen and (max-width: 568px) {
        text-align: center;
      }
      .filled-success {
        @extend .filled-success;
      }
      .note {
        font-size: $font-size-7;
        color: $warning;
        text-align: left;
        display: inline-flex;
        i {
          padding: 4px 5px 0 0;
        }
      }
      //   .info-alert {
      //     color: $info;
      //     background-color: $info-bg;
      //     border: 1px solid $info-border;
      //     padding: 8px 15px;
      //     width: -webkit-fill-available;
      //     margin: 0px auto;
      //     border-radius: 4px;
      // }
    }
    .align-right {
      text-align: right;
      @media only screen and (max-width: 568px) {
        text-align: center;
      }
      .outline-danger {
        @extend .outline-danger;
      }
    }
  }
}

// Confirm dialog common style
.confirm-dialog {
  .mat-card-title {
    border-radius: 5px;
    padding: 10px 15px;
    font-size: $font-size-10;
    font-weight: $font-weight-bold;
    // display: flex;
    display: -webkit-box;
    word-break: break-word;
    // height: inherit;
    img {
      max-width: 50px;
      // margin: 0px auto;
      padding-right: 10px;
      // height: 70px;
    }
    .inline {
      max-width: 85%;
      @media only screen and (max-width: 568px) {
        max-width: 75%;
      }
    }
  }
  .mat-card-description {
    font-size: $font-size-1;
    font-weight: $font-weight-medium;
    word-break: break-word;
    div {
      width: 100%;
    }
  }
  .disable-actions {
    text-align: center;
    .btn {
      border-radius: 50px;
      font-size: $font-size-1;
      box-shadow: $box-shadow-3;
      font-weight: $font-weight-bold;
      height: 35px;
      cursor: pointer;
      &:hover {
        box-shadow: $box-shadow-1;
      }
      &:focus {
        outline: none !important;
        border: none !important;
      }
      &::-moz-focus-inner {
        outline: none !important;
        border: none !important;
      }
    }
  }
}

.confirm-dialog.warning-alert {
  .mat-card-title {
    color: $warning;
    background-color: $warning-bg;
    border: 1px solid $warning-border;
  }
}
.confirm-dialog.info-alert {
  .mat-card-title {
    color: $info;
    background-color: $info-bg;
    border: 1px solid $info-border;
  }
}
.confirm-dialog.error-alert {
  .mat-card-title {
    color: $error;
    background-color: $error-bg;
    border: 1px solid $error-border;
  }
}

.confirm-dialog-popup {
  font-size: $font-size-1;
  width: $width-100;
  line-height: 1.8;
  .mat-card-title {
    width: 95%;
    padding: 10px;
    margin: 0 !important;
    img {
      max-width: 50px;
      margin: 0px;
      padding-right: 10px;
      // height: 70px;
    }
  }
  .mat-card-description {
    line-height: 1.8;
  }
  .no {
    border: 1px solid $danger;
  }
}
.supplemental-type {
  min-height: 80px;
  .supplemental-custom-check {
    padding-left: 20px;
    @media only screen and (max-width: 568px) {
      padding-left: 10px;
    }
    div.label {
      font-size: $font-size-7;
      color: $text-gray;
      .mat-checkbox {
        display: block;
        padding: 0 0 5px 0;
        color: $black;
      }
    }
  }
  .mat-form-field {
    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
  }
}

.confirm-dialog-on-demand {
  .mat-card-content {
    .main-title {
      padding: 10px 0;
      color: $info;
      width: $width-100;
      text-align: center;
      font-size: $font-size-9;
      font-weight: $font-weight-bold;
      background-color: $info-bg;
      border: 1px solid $info-border;
      box-shadow: $box-shadow-5;
    }
    div.main {
      // background-color: $info-bg;
      border: 1px solid $info-border;
      border-radius: 5px;
      color: $info;
      width: 100%;
      // padding: 5px;
      mat-list {
        max-height: 50vh;
        overflow-y: auto;
        h3 {
          color: $text-dark;
          font-size: $font-size-11;
          font-weight: $font-weight-bold;
        }
        mat-list-item {
          font-size: $font-size-1;
          min-height: 40px;
          height: auto;
          mat-icon {
            color: $info;
          }
          h4 {
            span {
              font-weight: $font-weight-bold;
            }
          }
          p {
            padding: 5px 0;
            color: $text-gray;
            font-size: $font-size-7 !important;
          }
        }
        mat-list-item.recipients {
          .mat-list-item-content {
            margin-bottom: 10px;
          }
        }
      }
    }
    .note {
      margin: 10px 0;
      background-color: $info-bg;
      border: 1px solid $info-border;
      border-radius: 5px;
      color: $info;
      padding: 5px;
      font-style: italic;
      font-weight: $font-weight-medium;
    }

    button.outline-danger {
      @extend.outline-danger;
    }
    button.outline-success {
      @extend.outline-success;
    }
  }
}

// Regulation info
.info-regulation-dialog {
  .mat-dialog-container {
    @media only screen and (min-width: 1024px) {
      margin-left: 160px;
    }
  }
}
//Mat-tab 
.mat-tab-label, .mat-tab-link {
  font-weight: 600;
}