// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "./sass/variables";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lucyfrontend-primary: mat-palette($mat-indigo);
$lucyfrontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lucyfrontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lucyfrontend-theme: mat-light-theme($lucyfrontend-primary, $lucyfrontend-accent, $lucyfrontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lucyfrontend-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
  color: #12263f;
}

.spacer {
  flex: 1 1 auto;
}

button:focus {
  outline: none !important;
}
.m-auto {
  margin: 0px auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  opacity: 0.5;
}

// ==================================================
// SPACING
// ==================================================

$spaceamounts: (
  0,
  1,
  2,
  3,
  4,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  65,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// ==================================================
// Error style
// ==================================================
.auth-alert {
  padding: 10px 10px;
  width: auto;
  text-align: left;
  opacity: 1;
  border-radius: 5px;
}

.alert-success,
.success {
  background-color: $bg-success;
  color: $text-success;
}
.alert-danger,
.error {
  background-color: $bg-error;
  color: $text-error;
}
.alert-warning,
.warning {
  background-color: $bg-warning;
  color: $text-warning;
}

.empty-data {
  top: 45%;
  width: 100%;
  text-align: center;
  position: absolute;
  h3 {
    color: $light-gray;
  }
}

.user-detail {
  min-height: 62vh; //table empty space
}

// ==================================================
// NOTIFICATION STYLE
// ==================================================

.notification {
  box-shadow: $box-shadow-none;
  min-width: 280px;
  mat-card-header {
    width: $width-100;
    display: block;
    mat-card-title {
      font-size: $font-size-1 !important;
      font-weight: $font-weight-medium;
      text-align: center;
      margin-bottom: 5px;
    }
  }
  mat-card-content {
    margin-bottom: 0px;
    display: block;
    max-height: 220px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    mat-list {
      mat-list-item {
        height: auto !important;
        .mat-list-item-content {
          padding: 10px !important;
          img {
            width: 40px !important;
            height: 40px !important;
            border-radius: 5px !important;
            box-shadow: $box-shadow-3;
            padding: 5px;
          }
          .mat-list-text {
            padding: 0 10px 0 10px !important;
            h4 {
              margin: 0;
              font-size: $font-size-7;
              color: $text-dark;
              float: left;
              width: $width-100;
              line-height: 1;
              font-weight: $font-weight-bold;
              small {
                color: $light-gray;
              }
            }
            p {
              margin: 0;
              font-size: $font-size-3 !important;
              color: $text-gray;
              float: left;
              width: $width-100;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
  mat-card-footer {
    margin: 0px !important;
    div {
      font-size: $font-size-1 !important;
      font-weight: $font-weight-medium;
      text-align: center;
      padding: 10px 0 0 0;
      color: $ternary-color !important;
      cursor: pointer;
    }
  }
}

.hide-mobile {
  @media only screen and (max-width: 568px) {
    display: none !important;
  }
}
.show-mobile {
  @media only screen and (min-width: 568px) {
    display: none !important;
  }
}
.amcharts-chart-div a {display:none !important;}