@import "variables";

.float-right {
    text-align: right;
    .close-model {
        color: $text-dark;
        border: 1px solid $light-gray;
        border-radius: 50px;
    }
}
.def_attorney_info {
    mat-form-field {
        padding: 10px 10px 0px 10px !important;
    }
}
