<div class="billable-item-status">
    <div fxLayout="row wrap" class="history-status p-t-20">
        <div fxFlex="100">
            <div class="main-title">Medical History Questionnaire On Demand Status <span class="info ondemand-info m-l-10" matTooltipPosition="above" matTooltip="Historian will call the Claimant and go through the Medical History Questionnaire over the phone. The status will be shown here."><i class="fa fa-info" aria-hidden="true"></i></span></div>
            <p class="description">View the progress of Medical History Questionnaire service here.</p>
            <mat-progress-bar mode="determinate" value="{{statusBarValues?.value}}" [ngClass]="statusBarValues?.class"></mat-progress-bar>
            <div class="text-center">{{historyData?.on_demand_status}}</div>
        </div>
        <!-- <div  fxFlex="100" class="m-t-20">
            <div class="main-title m-b-10">History Call Tracking</div>
            <div class="user-detail vertical-fixed mh-auto">
                  <table mat-table [dataSource]="dataSource1" multiTemplateDataRows class="mat-elevation-z8 user-table"
                      matSort>
                      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplays; let i=index">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnNames[i] == 'Action'">
                              {{columnNames[i]}} </th>
                          <td mat-cell *matCellDef="let element">
                              <span *ngIf="i == 0 && isMobile">
                                  <mat-icon mat-raised-button
                                      [ngClass]="{'table-expand': expandId1 == element.id, 'expand-close': !(expandId1 == element.id)}">
                                      {{ expandId1 == element.id ? 'remove_circle' : 'add_circle'}}
                                  </mat-icon>
                              </span>
                              <div>
                                  <span *ngIf="column == 'historian'">{{element?.historian}}</span>
                                  <span *ngIf="column == 'phone_number'">{{element?.phone_number ? (element?.phone_number |  mask:'(000) 000-0000') : '' }}</span>
                                  <span *ngIf="column == 'call_start_time'">{{element?.call_start_time | date:'MM-dd-yyyy hh:mm a'}}</span>
                                  <span *ngIf="column == 'call_end_time'">{{element?.call_end_time | date:'MM-dd-yyyy hh:mm a'}}</span>
                                  <span *ngIf="column == 'narration'">{{element?.narration}}</span>
                                  <span *ngIf="column == 'created_date_time'">{{element?.created_date_time | date:'MM-dd-yyyy hh:mm a'}}</span>
                                  <span *ngIf="column == 'cancel_reason'">{{element?.cancel_reason}}</span>
                                  <span *ngIf="column == 'cancel_notes'">{{element?.cancel_notes}}</span>
                              </div>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="expandedDetail">
                          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplays.length">
                              <div class="detail" [@detailExpand]="expandId1 == element.id ? 'expanded' : 'collapsed'">
                                  <div class="responsive-table">
                                      <div><span>Historian</span>{{element?.historian}}</div>
                                      <div><span>Phone Number</span>{{element?.phone_number ? (element?.phone_number |  mask:'(000) 000-0000') : '' }}</div>
                                      <div><span>Call Start Time</span>{{element?.call_start_time | date:'MM-dd-yyyy hh:mm a'}}</div>
                                      <div><span>Call End Time</span>{{element?.call_end_time | date:'MM-dd-yyyy hh:mm a'}}</div>
                                      <div><span>Narration</span>{{element?.narration}}</div>
                                      <div><span>Created Date Time</span>{{element?.created_date_time | date:'MM-dd-yyyy hh:mm a'}}</div>
                                      <div><span>Cancel Reason</span>{{element?.cancel_reason}}</div>
                                      <div><span>Cancel Notes</span>{{element?.cancel_notes}}</div>
                                  </div>
                              </div>
                          </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplays; sticky: true"></tr>
                      <tr mat-row *matRowDef="let element; columns: columnsToDisplays;" class="row"
                          [class.row]="expandedElement === element" (click)="openElement1(element)">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                  </table>
                  <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata> 
              </div>
        </div> -->
        <div fxFlex="100" class="text-center m-t-20 m-b-20" *ngIf="historyData?.on_demand_status == 'Unsent' || historyData?.on_demand_status == 'Completed' || historyData?.on_demand_status == 'Error' || historyData?.on_demand_status == 'Cancelled'">
          <mat-checkbox [disabled]="historyData?.is_exam_type_changed || historyData?.isExaminerDisabled " [(ngModel)]="rushRequest" >Rush Request?</mat-checkbox>
      </div>
      <div fxFlex="100" class="text-center m-t-20 m-b-20" *ngIf="historyData?.on_demand_status && historyData?.on_demand_status != 'Unsent' && historyData?.on_demand_status != 'Completed' && historyData?.on_demand_status != 'Error' && historyData?.on_demand_status != 'Cancelled'">
        <div class="info-alert"><strong>Date Requested :</strong> {{historyData?.date_of_request | date:'MM-dd-yyyy' }} <span class="p-l-20"><strong>Rush Request? :</strong> {{historyData?.is_rush_request ? 'Yes' : 'No'}}</span></div>
      </div>
        <div fxFlex="100"  *ngIf="historyData?.on_demand_status == 'Unsent' || historyData?.on_demand_status == 'Completed' || historyData?.on_demand_status == 'Error' || historyData?.on_demand_status == 'Cancelled'" class="text-center m-t-20 m-b-20 action-btns">
            <button [disabled]="historyData?.is_exam_type_changed || historyData?.isExaminerDisabled" mat-stroked-button class="outline-success huge-btn" (click)="onDemandSubmit()"> Click Here for Medical History Questionnaire On
                Demand</button>
        </div>
     
    </div>

    <div class="border-dashed-blue m-b-30"></div>

    <div fxLayout="row wrap">
        <div fxFlex="100">
          <div class="main-title">View Completed Medical History Questionnaire  <span class="info ondemand-info m-l-10" matTooltipPosition="above" matTooltip="The completed Medical History Questionnaire will be available for download from this table."><i class="fa fa-info" aria-hidden="true"></i></span></div>
          <p class="description">Completed document table. </p>
          <div class="user-detail vertical-fixed default-cursor">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table" matSort>
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">{{columnName[i]}}</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="i == 0 && isMobile">
                    <mat-icon mat-raised-button
                      [ngClass]="{'table-expand': expandId == element.document_id, 'expand-close': !(expandId == element.document_id)}">
                      {{ expandId == element.document_id ? 'remove_circle' : 'add_circle'}}
                    </mat-icon>
                  </span>
                  <div>
                    <span *ngIf="column == 'request_reference_id'" class="no-wrap-td">{{element?.request_reference_id}}</span>
                    <span *ngIf="column == 'date_of_request'" class="no-wrap-td">{{element?.date_of_request | date:'MM-dd-yyyy'}}</span>
                    <!-- <span *ngIf="column == 'doc_image'" class="file_type_icon"><img [src]="element?.file_name | fileType" alt=""></span> -->
                    <span *ngIf="column == 'file_name'">{{element?.file_name}}</span>
                    <span *ngIf="column == 'service_priority'" class="no-wrap-td">{{element?.service_priority == 'rush' ? 'Yes' : ''}} {{element?.service_priority == 'normal' ? 'No' : ''}}</span>
                    <span *ngIf="column == 'date_of_communication'">{{element?.date_of_communication | date:'MM-dd-yyyy' }}</span>
                    <span *ngIf="column == 'download'">
                      <a class="text-success" (click)="download(element)">Download</a>
                    </span>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="detail" [@detailExpand]="expandId == element.document_id ? 'expanded' : 'collapsed'">
                    <div class="responsive-table">
                      <div class="no-wrap-td"><span>Ref #</span><span> {{element?.request_reference_id}} </span></div>
                      <div class="no-wrap-td"><span>Date Requested</span><span> {{element?.request_date}}</span></div>
                      <div><span>File Name</span><span> {{element?.file_name}}</span></div>
                      <div class="no-wrap-td"><span>Rush Request?</span><span> {{element?.service_priority == 'rush' ? 'Yes' : ''}} {{element?.service_priority == 'normal' ? 'No' : ''}}</span></div>
                      <div><span>Date Received</span><span> {{element?.received_date}}</span></div>
                      <div><span>Download</span><span>
                        <a class="text-success" (click)="download(element)">Download</a>
                      </span></div>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                [class.row]="expandedElement === element" (click)="openElement(element)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
          </div>
        </div>
      </div>
</div>