@import "variables";
.forgot-password-form {
  background-color: $primary-dark;
  min-height: calc(100% - 55px);
  width: 100%;
  .p-t-50 {
    @media only screen and (max-width: 568px) {
      padding-top: 30px !important;
    }
  }
  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $shadow-style-one;
    border-radius: 10px ;
    .info-text {
      @include text;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
      }
      .p-r-m-0 {
        @media only screen and (max-width: 568px) {
          padding-right: 0 !important;
        }
      }
      .check-password {
        cursor: pointer;
        padding-top: 15px;
        padding-left: 5px;
      }
    }
    .switched-link {
      @include switched-link;
    }
  }
}
