<div class="forgot-password-form">
    <div class="p-t-50 p-b-15" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row wrap">
            <div class="m-auto" fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxFlex.xl="25"
                fxLayout="column">
                <mat-card class="p-5">
                    <!--Form Title-->
                    <img mat-card-image [src]="logo" alt="Simplexam logo" class="logo">
                    <div class="auth-header p-t-10">
                        <mat-card-title class="auth-tilte">Reset Password</mat-card-title>
                        <mat-card-subtitle class="text-center">Check your Registered Email ID for the Verification code!
                        </mat-card-subtitle>
                        <app-error *ngIf="error" [data]="error"></app-error>
                    </div>
                    <mat-card-content>
                        <!--Form start-->
                        <form fxLayout="row wrap" [formGroup]="forgotVerifyForm" (ngSubmit)="forgorVerifySubmit()">
                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Email ID*</mat-label>
                                <input matInput name="email" placeholder="Email ID*" formControlName="email"
                                    autocomplete="off">
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-20" appearance="outline" fxFlex="100">
                                <mat-label>Verification code*</mat-label>
                                <input matInput name="VerificationCode" placeholder="Verification code*"
                                    formControlName="code" autocomplete="off">
                                <mat-icon matSuffix>verified_user</mat-icon>
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.verifycode}}</mat-error>
                            </mat-form-field>
                            <mat-form-field class="p-r-5 p-r-m-0" appearance="outline" fxFlex="100" fxFlex.md="100"
                                fxFlex.lg="100" fxFlex.sm="100" fxFlex.xl="100">
                                <mat-label>Password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'" placeholder="Password*"
                                    formControlName="password" autocomplete="off">
                                <mat-icon matSuffix
                                    matTooltip="Password must contain at least 8 characters, including UPPER/lowercase, special character and numbers."
                                    matTooltipPosition="above">error_outline</mat-icon>
                                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidpassword}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="100" fxFlex.lg="100"
                                fxFlex.sm="100" fxFlex.xl="100">
                                <mat-label>Confirm password*</mat-label>
                                <input matInput [type]="passwordFieldType ? 'text' : 'password'"
                                    placeholder="Confirm password*" formControlName="confirmPassword"
                                    autocomplete="off">
                                <mat-icon matSuffix class="check-password" (click)="togglePasswordFieldType()">
                                    {{passwordFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </mat-form-field>

                            <button mat-raised-button color="primary" type="submit" class="authentication-btn"> Submit
                                <i class="fa fa-arrow-right"></i></button>
                        </form>
                        <div class="switched-link"><span routerLink="/login">Back to Login</span></div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>