<div fxLayout="column" fxLayoutGap="15px" class="footer"
    [ngClass]="{'dark':  footerFrom == 'full', 'light':   footerFrom == 'common'}">
    <div fxLayout="row wrap">
        <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column">
            <p>©{{date | date:'yyyy'}}, Simplexam<sup>®</sup>. All rights reserved.</p>
        </div>
        <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column">
            <p class="terms_policy"><a [href]="termsOfService" target="_blank">Terms of Service</a></p>
        </div>
    </div>
</div>