<div fxFlex="row wrap">
    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Mat label</mat-label>
        <input matInput placeholder="Mat placeholder" value="Mat Value" autocomplete="off">
        <mat-error>Err Msg Here</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <mat-label>Mat label</mat-label>
        <input matInput placeholder="Mat placeholder" value="Mat Value" autocomplete="off">
        <mat-error>Err Msg Here</mat-error>
    </mat-form-field>
</div>