@import "variables";
.float-right {
    text-align: right;
    button {
        @media only screen and (max-width: 568px) {
            margin-top: 12px;
        }
    }
    .close-model {
        color: $text-dark;
        border: 1px solid $light-gray;
        border-radius: 50px;
    }
}
.claim_admin {
    mat-form-field {
        padding: 10px 10px 0px 10px !important;
    }
}
