<mat-card class="m-card">
    <mat-card-content class="p-t-3  m-b-0">
        <div class="table-filter">
            <input (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterValue"
                placeholder="Search by name, email, role">
        </div>
        <span class="spacer"></span>
        <div class="user-detail">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table"
                matSort>
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">

                    <th mat-header-cell *matHeaderCellDef><span mat-sort-header>{{columnName[i]}}</span> </th>

                    <td mat-cell *matCellDef="let element">
                        <span>{{element[column] }}</span>
                        <!-- <span>
                           456 <button mat-icon-button [matMenuTriggerFor]="menu" >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <span>Cover Letter</span>
                            </button>
                            <button mat-menu-item disabled>
                                <span>History</span>
                            </button>
                            <button mat-menu-item>
                                <span>Record Summary</span>
                            </button>

                            <button mat-menu-item>
                                <span>Report Template</span>
                            </button>
                        </mat-menu>
                        </span> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                    (click)="openElement(element)">
                </tr>


            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>

        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

    </mat-card-content>
</mat-card>