<mat-card class="m-card appointments">
    <mat-card-header class="p-b-3">
        <div fxLayout="row wrap" fxFlex="100">
            <div fxFlex="50">
                <div class="m-0 content-wrapper-main-title p-t-3">Examinations</div>
            </div>
            <div fxFlex="50" class="floating-button">
                <span class="spacer"></span>
                <button (click)="isCalenderVIew = true" mat-icon-button [ngClass]="{'active': isCalenderVIew}">
                    <span class="fa fa-calendar-day"></span>
                </button>
                <button (click)="isCalenderVIew = false" mat-icon-button [ngClass]="{'active': !isCalenderVIew}">
                    <span class="fa fa-th-list"></span>
                </button>


            </div>
        </div>

    </mat-card-header>
    <mat-divider></mat-divider>
    <div *ngIf="!isCalenderVIew">

        <mat-card-content class="p-t-3  m-b-0">
            <div class="table-filter">
                <input (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterValue"
                    placeholder="Search by name, claim number, examiner, etc.">
                    <mat-icon >search</mat-icon>
            </div>
            <!-- <span class="spacer"></span>
            <button mat-icon-button class="filter-icon" (click)="exportData()">
                <img class="icon-16" [src]="xls" alt="export" />
            </button> -->
        </mat-card-content>
        <div class="user-detail">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table"
                matSort>
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                    <th mat-header-cell *matHeaderCellDef> <span mat-sort-header>{{columnName[i]}}</span> </th>
                    <td mat-cell *matCellDef="let element" (click)="navigate(element)">
                        <span *ngIf="i == 0 && isMobile">
                            <mat-icon mat-raised-button
                                [ngClass]="{'table-expand': expandId == element.id, 'expand-close': !(expandId == element.id)}">
                                {{ expandId == element.id ? 'remove_circle' : 'add_circle'}}
                            </mat-icon>
                        </span>
                        <span *ngIf="columnName[i] == 'Location'">{{element[column].street1 }} {{element[column].street2}}
                             {{element[column].city}} {{element[column].state}} {{element[column].zip_code}}</span>
                        <span *ngIf="columnName[i] != 'Location' && columnName[i] != 'Examiner'">{{element[column] }}</span>
                        
                        <span *ngIf="columnName[i] == 'Examiner'">{{element?.examiner_first_name}} {{element?.examiner_middle_name}} {{element?.examiner_last_name}}</span>
                        <!-- <span *ngIf="i == (columnsToDisplay.length-1)">
                            <span class="user-disable-enable" *ngIf="tabIndex != 1"> <button mat-icon-button
                                    [matMenuTriggerFor]="review_doc">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #review_doc="matMenu">
                                    <button mat-menu-item>
                                        <span>Cover Letter
                                        </span>
                                    </button>
                                    <button mat-menu-item>
                                        <span>History
                                        </span>
                                    </button>
                                    <button mat-menu-item>
                                        <span>Record Summary
                                        </span>
                                    </button>

                                    <button mat-menu-item>
                                        <span>Report Template</span>
                                    </button>
                                </mat-menu>
                            </span>
                        </span> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                        <div class="detail" [@detailExpand]="expandId == element.id ? 'expanded' : 'collapsed'">
                            <div class="resposive-table">
                                <div><span>Claim Numbers</span> {{element?.claim_number}} </div>
                                <div><span>Exam Type</span> {{element?.exam_type_code}} </div>
                                <div><span>Location</span> {{element?.location}} </div>
                                <div><span>Date</span> {{element?.appointment_scheduled_date_time }}
                                </div>
                                <div><span>Status</span> {{element?.status}} </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                    [class.row]="expandedElement === element" (click)="openElement(element)">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>

    <div flLayout="row wrap" class="fc_calender"  *ngIf="isCalenderVIew">
        <div fxFlex="100">
            <div>
                <div class="exa_status">
                    <p class="float-right">
                        <span> <i class="fa fa-circle p-r-5 lv"></i> Left Voicemail</span>
                        <span> <i class="fa fa-circle p-r-5 con"></i> Confirmed</span>
                        <span> <i class="fa fa-circle p-r-5 not_con"></i> Not Confirmed</span>
                    </p>
                </div>
                <app-examination-calander-view></app-examination-calander-view>
            </div>
        </div>
    </div>
</mat-card>