@import "variables";
@import "table";

// .time {
//     color: $text-gray;
//     font-size: $font-size-12;
//     padding-left: 1px;
//     font-weight: $font-weight-bold;
//     i {
//         @extend .time;
//         padding-right: 3px;
//         font-weight: $font-weight-medium !important;
//     }
// }
.appointments {
    .floating-button {
        button {
            float: right;
        }
        button.active {
            background-color: #e3fcec;
            color: $btn_success;
        }
    }
}
