@import "variables";
@import "table";

.appointments {
    .toggle-switch {
        float: left;
        width: auto;
        mat-icon {
            background-color: $light-color;
            // border: 1px solid $white;
            padding: 6px 8px;
            cursor: pointer;
            color: $text-gray;
            &:nth-child(2) {
                margin-right: 20px;
            }
            &:hover {
                background-color: $secondary;
                color: $white;
                opacity: 0.5;
            }
        }
        mat-icon.active {
            background-color: $secondary;
            color: $white;
        }
    }
    // .floating-button {
    //     button {
    //         float: right;
    //     }
    //     button.active {
    //         background-color: #e3fcec;
    //         color: $btn_success;
    //     }
    // }
    .fc_calender {
        padding: 5px;
        // box-shadow: $box-shadow-1;
        .exa_status {
            float: right;
            p {
                .lv {
                    color: #F27120;
                    padding-left: 10px;
                }
                .con {
                    color: #4FCC24;
                    padding-left: 10px;
                }
                .not_con {
                    color: #F27120;
                    padding-left: 10px;
                }
            }
        }
    }
}
