<div class="register-form">
  <div class="p-t-30 p-b-30" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row">
      <div class="m-auto" fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxFlex.xl="25" fxLayout="column"
        fxLayoutGap="15px">
        <mat-card class="p-5">
          <!--Form Title-->
          <img mat-card-image [src]="nav_logo" alt="Simplexam logo" class="logo">
          <div class="auth-header-1 p-t-10">
            <mat-card-title class="auth-tilte">Welcome</mat-card-title>
            <app-error *ngIf="error" [data]="error"></app-error>
          </div>
          <mat-card-content>
            <!--Form start-->
            <form fxLayout="row wrap" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>First name*</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidfirstname}}</mat-error>
              </mat-form-field>
              <mat-form-field class="p-r-5" appearance="outline" fxFlex="60">
                <mat-label>Last name*</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidlastname}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="40">
                <mat-label>Middle name/MI</mat-label>
                <input matInput placeholder="Middle name/MI" formControlName="middleInitial" autocomplete="off">
              </mat-form-field>
              <div fxFlex="100" class="m-b-20">
                <mat-radio-group class="">
                  <mat-radio-button value="1" checked>Organization</mat-radio-button>
                  <mat-radio-button value="2" class="p-l-30">Individual</mat-radio-button>
                </mat-radio-group>
              </div>
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Organization name</mat-label>
                <input matInput placeholder="Organization name" formControlName="companyName" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidcompanyname}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Email ID*</mat-label>
                <input matInput placeholder="Email ID" formControlName="email" autocomplete="off">
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidemail}}</mat-error>
              </mat-form-field>
              <mat-form-field class="p-r-5 p-r-m-0" appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50"
                fxFlex.sm="50" fxFlex.xl="50">
                <mat-label>Password*</mat-label>
                <input matInput [type]="passwordFieldType ? 'text' : 'password'" placeholder="Password"
                  formControlName="password">
                <mat-icon matSuffix
                  matTooltip="Password must contain at least 8 characters, including UPPER, lowercase, special character and numbers."
                  matTooltipPosition="above">error_outline</mat-icon>
                <mat-error *ngIf="isSubmitted">{{errorMessages?.entervalidpassword}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.sm="50"
                fxFlex.xl="50">
                <mat-label>Confirm password*</mat-label>
                <input matInput [type]="passwordFieldType ? 'text' : 'password'" placeholder="Confirm password"
                  formControlName="confirmPassword">
                <mat-icon matSuffix class="check-password" (click)="togglePasswordFieldType()">
                  {{passwordFieldType ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div class="re-captcha-error">
                <re-captcha formControlName="captcha" name="captcha" required></re-captcha>
                <mat-error class="note"
                  *ngIf="isSubmitted && (formControls.captcha.errors || !formControls.captcha.value)">
                  {{errorMessages?.imnotrobot}}</mat-error>
              </div>
              <div class="p-t-5 p-b-5 checkbox">
                <mat-checkbox name="policy" formControlName="policy"> I agree with the terms and conditions
                </mat-checkbox>
                <mat-error *ngIf="isSubmitted && (formControls.policy.errors || !formControls.policy.value)"
                  class="note">{{errorMessages?.agreeterms}}
                </mat-error>
              </div>

              <button mat-raised-button color="primary" type="submit" class="authentication-btn">Sign Up</button>
            </form>
            <div class="new-account">Already have an account? <span routerLink="/login">Sign In</span></div>
          </mat-card-content>
          <img mat-card-image [src]="icon_logo" alt="Simplexam logo" class="text-center bottom-icon">
        </mat-card>
      </div>
    </div>
  </div>
</div>