@import "variables";

.register-form {
  background-color: $primary-dark;
  min-height: calc(100% - 55px);
  width: 100%;

  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $shadow-style-one;
    border-radius: 10px ;

    mat-card-subtitle {
      text-align: center;
      color: $text-gray;
      font-size: $font-size-1;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
      }
      .p-r-m-0 {
        @media only screen and (max-width: 568px) {
          padding-right: 0 !important;
        }
      }
      .re-captcha-error {
        min-height: 95px;
        mat-error {
          font-size: 75%;
        }
      }
      .checkbox {
        min-height: 40px;
        mat-error {
          font-size: 75%;
        }
      }
      .note {
        font-size: $font-size-3;
        width: 100%;
        padding-left: 25px;
      }
      .agreeterms-info {
        a.terms-link {
          color: $ternary;
          cursor: pointer;
        }
      }
    }
    .new-account {
      @include switched-link;
    }
  }
}
