@import "variables";

.lucy-register-form {
  background-color: $bg-light-blue;
  min-height: calc(100% - 55px);
  width: 100%;

  mat-card {
    padding: 50px 25px 25px 25px;
    box-shadow: $box-shadow-1;

    mat-card-title {
      font-family: Source Sans Pro;
      letter-spacing: 0;
      color: $primarycolor;
      opacity: 1;
      font-size: $font-size-14;
      text-align: center;
    }
    mat-card-subtitle {
      text-align: center;
      color: $text-gray;
      font-size: $font-size-1;
    }
    form {
      mat-form-field {
        mat-icon {
          color: $text-gray !important;
        }
      }
      .p-r-m-0 {
        @media only screen and (max-width: 568px) {
          padding-right: 0 !important;
        }
      }
      .checkbox {
        min-height: 40px;
        mat-error {
          font-size: 75%;
        }
      }
      .note {
        font-size: $font-size-3;
        width: 100%;
        padding-left: 25px;
      }
    }
    .lucy-new-account {
      @include switched-link;
    }
  }
}
