<!-- <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap">
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card (click)="openMenu('intake')" matRipple class="br-top m-t-15 mat-card-details text-center">
                <mat-card-content>
                    <h4>Intake / Create New Claimant </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center"  [routerLink]="['/subscriber/staff/appointment']">
                <mat-card-content>
                    <h4>Calendar </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/claimant-awaiting']">
                <mat-card-content>
                    <h4>Claimants Awaiting Details</h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/upcomming-billable-item']">
                <mat-card-content>
                    <h4>Upcoming Appointments </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/claim-awaiting']">
                <mat-card-content>
                    <h4>Claims Awaiting Details </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/unfinished-reports']">
                <mat-card-content>
                    <h4>Unfinished Reports </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/billable-item-awaiting']">
                <mat-card-content>
                    <h4>Billable Items Awaiting Scheduling </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff//billing-collection']">
                <mat-card-content>
                    <h4>Billing and Collections </h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div> -->

<div fxLayout="column" fxLayoutGap="25px" class="dashboard-card">
    <div fxLayout="row wrap">
        <div fxFlex="25" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="m-t-15" (click)="openMenu('intake')">
                <mat-card-content class="simple-card">
                    <div><i class="fa fa-address-card"></i></div>
                    <h4 class="m-t-5">New Claim
                        Intake</h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="m-t-15" [routerLink]="['/subscriber/staff/users/new']">
                <mat-card-content class="simple-card">
                    <div><i class="fa fa-users"></i></div>
                    <h4 class="m-t-5">New Staff / Staff
                        Manager </h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="m-t-15" [routerLink]="['/subscriber/staff/users/new-examiner']">
                <mat-card-content class="simple-card">
                    <div><i class="fa fa-user-tie"></i></div>
                    <h4 class="m-t-5">New Examiner</h4>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="m-t-15" [routerLink]="['/subscriber/staff/location/add-location']">
                <mat-card-content class="simple-card">
                    <div><i class="fa fa-building"></i></div>
                    <h4 class="m-t-5">New Service
                        Location </h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>


<div fxLayout="column" fxLayoutGap="25px" class="dashboard-list">
    <div class="user-detail">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 user-table" matSort>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="columnName[i] == 'Action'">
                    {{columnName[i]}} </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="i == 0">
                        <mat-icon mat-raised-button
                            [ngClass]="{'table-expand': expandId == element.appointment_id, 'expand-close': !(expandId == element.appointment_id)}">
                            {{ expandId == element.appointment_id ? 'remove_circle' : 'add_circle'}}
                        </mat-icon>
                    </span>
                    <div>
                        <span *ngIf="column == 'claimant_name'">{{element?.claimant_first_name}}
                            {{element?.claimant_last_name}}</span>
                        <span *ngIf="column == 'examiner_name'">{{element?.examiner_first_name}}
                            {{element?.examiner_last_name}}</span>
                        <span *ngIf="column == 'exam_procedure_type'">{{element?.exam_procedure_type}}</span>
                        <span *ngIf="column == 'standing'">{{element?.standing}}</span>
                        <span *ngIf="column == 'date_of_service'">{{element?.date_of_service}}</span>
                        <span *ngIf="column == 'critical'"
                            [ngClass]="{'text-primary': element?.is_critical}">{{element?.is_critical ? "Critical" : "-"}}</span>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="detail" [@detailExpand]="expandId == element.appointment_id ? 'expanded' : 'collapsed'">
                        <div class="responsive-table">
                            <div (click)="openExtract(element, 'correspondence' )"><span>Correspondence</span>
                                {{element?.correspondence_status}}</div>
                            <div (click)="openExtract(element,'history')"><span>History</span>
                                {{element?.history_status}}</div>
                            <div (click)="openExtract(element,'records')"><span>Records</span>
                                {{element?.record_status}}</div>
                            <div (click)="openExtract(element, 'examination')"><span>Examination</span>
                                {{element?.examination_status}}</div>
                            <div (click)="openExtract(element, 'reports')"><span>Report</span>
                                {{element?.reports_status}}</div>
                            <!-- <div (click)="openExtract(element,'reports')"><span>Transcription</span>
                                {{element?.transcription_status}}
                            </div> -->
                            <div (click)="openExtract(element,'billing')"> <span>Billing</span>
                                {{element?.billing_status}}</div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="row"
                [class.row]="expandedElement === element" (click)="openElement(element)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
        <app-nodata *ngIf="dataSource?.filteredData?.length == 0"></app-nodata>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>