<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap">
        <div fxFlex="50" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="p-5">
            <mat-card matRipple class="br-top m-t-15 mat-card-details text-center" [routerLink]="['/subscriber/staff/examiner-list']">
                <mat-card-content>
                    <h4>Manage Examiner </h4>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>
