<div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row wrap">
        <!-- loop over the cardList and show the cards -->
        <div fxFlex="33.3" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" class="p-5">
            <mat-card matRipple class="br-top mat-card-details p-b-50 text-center"  [routerLink]="['/subscriber/staff/examiner-list']" >
                <mat-card-content>
                    <mat-icon>people</mat-icon>
                    <h4>Manage Examiner </h4>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>
