@import "variables";
@import "table";
@import "../../appointment-details.component.scss";

.bill-status {
    .progress {
        width: calc(100% - 165px);
        padding-right: 20px;
        float: left;
        @media only screen and (max-width: 568px) {
            width: 100%;
        }
    }
    .review-status {
        display: table;
        padding-top: 10px !important;
        @media only screen and (max-width: 568px) {
            text-align: center;
            margin: 0px auto;
        }
        div {
            width: 90px;
            height: 90px;
            margin: 0px auto;
            text-align: center;
            padding: 45px 25px 0 25px;
            border: 1px solid $light-gray;
            border-radius: 50%;
            font-weight: $font-weight-bold;
            color: $text-gray;
        }
    }
}
.bill-id {
    text-align: left;
    span {
        font-weight: $font-weight-bold;
    }
}
.submission-date {
    text-align: right;
    span {
        font-weight: $font-weight-bold;
    }
}
.incomplete-info {
    .incomplete-modules {
        .text-danger {
            color: $error !important;
        }
    }
}
.border-dashed-blue {
    margin: 30px 0px 30px 0;
}

.examiner-info {
    margin-top: 20px;
    mat-card {
        box-shadow: $shadow-style-one !important;
        &:hover {
            box-shadow: $shadow-style-one-hover;
        }
    }
    .grid-list {
        div {
            min-width: 140px !important;
        }
    }
}

th {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
